<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///com/tibco/cep/decision/tree/model/DecisionTree.ecore"
            class="com.tibco.cep.decision.tree.common.model.ModelPackage"
            genModel="model/DecisionTree.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///com/tibco/cep/decision/tree/model/DecisionTreeNode.ecore"
            class="com.tibco.cep.decision.tree.common.model.node.NodePackage"
            genModel="model/DecisionTree.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///com/tibco/cep/decision/tree/model/DecisionTreeCondition.ecore"
            class="com.tibco.cep.decision.tree.common.model.node.condition.ConditionPackage"
            genModel="model/DecisionTree.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///com/tibco/cep/decision/tree/model/DecisionTreeAction.ecore"
            class="com.tibco.cep.decision.tree.common.model.node.action.ActionPackage"
            genModel="model/DecisionTree.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///com/tibco/cep/decision/tree/model/DecisionTreeTerminal.ecore"
            class="com.tibco.cep.decision.tree.common.model.node.terminal.TerminalPackage"
            genModel="model/DecisionTree.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///com/tibco/cep/decision/tree/model/DecisionTreeEdge.ecore"
            class="com.tibco.cep.decision.tree.common.model.edge.EdgePackage"
            genModel="model/DecisionTree.genmodel"/>
   </extension>

</plugin>
