<?xml version="1.0"?>

<!DOCTYPE web-app PUBLIC
		  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
		  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Filters -->
	
	<!-- Filter Mappings -->
	
	<!-- Listeners -->
	
	<!-- Servlets -->

	<!-- The controller servlet  -->
	<servlet>
		<servlet-name>standalonecontroller</servlet-name>
		<display-name>Stand Alone Presentation Server Controller</display-name>
		<servlet-class>com.tibco.cep.dashboard.integration.standalone.ControllerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Servlet Mappings -->
	<servlet-mapping>
		<servlet-name>standalonecontroller</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>

	<!-- Session Configuration -->

	<!-- Welcome File List -->

	<!-- Error Page -->
</web-app>