<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.tibco.cep.decisionprojectmodel.DecisionProjectModelPackage"
            genModel="model/decisionproject.genmodel"
            uri="http:///com/tibco/cep/decisionproject/model/decisionproject.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="com.tibco.cep.decisionprojectmodel.util.DecisionProjectModelResourceFactoryImpl"
            type="dt">
      </parser>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///com/tibco/cep/decision/table/model/DomainModel.ecore" 
       class = "com.tibco.cep.decision.table.model.domainmodel.DomainModelPackage"
       genModel = "model/decisionproject.genmodel" /> 
  </extension>
    <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.tibco.cep.decisionproject.ontology.OntologyPackage"
            genModel="model/ontology.genmodel"
            uri="http:///com/tibco/cep/decisionproject/model/ontology.ecore">
      </package>
   </extension>
    <extension
          point="org.eclipse.emf.ecore.generated_package">
       <package
             class="com.tibco.cep.buisettingmodel.BUISettingModelPackage"
             genModel="model/BUISetting.genmodel"
             uri="http:///com/tibco/cep/bui/setting/model/BUISetting.ecore">
       </package>
    </extension>
    <extension
          point="org.eclipse.emf.ecore.generated_package">
       <package
             class="com.tibco.cep.serversettingsmodel.ServersettingsmodelPackage"
             genModel="model/serversettings.genmodel"
             uri="http:///com/tibco/cep/bui/setting/model/serversettings.ecore">
       </package>
	</extension>
</plugin>

