<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="staticViewerFilter" name="Static Studio Explorer Filter" schema="schema/staticViewerFilter.exsd"/>
 <extension
         point="org.eclipse.ui.views">
      <view
            category="com.tibco.cep.studio.ui.category"
            class="com.tibco.cep.studio.ui.navigator.view.ProjectExplorer"
            icon="icons/navigation.gif"
            id="com.tibco.cep.studio.projectexplorer.view"
            name="Studio Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.tibco.cep.studio.projectexplorer.view">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
            <actionExtension
                  pattern="com.tibco.cep.studio.ui.navigator.providers.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.tibco.cep.studio.projectexplorer.view">
         <includes>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.linkHelper"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.workingSets"/>
            <contentExtension
                  pattern="com.tibco.cep.studio.projectexplorer.conceptContent">
            </contentExtension>
            <contentExtension
                  pattern="com.tibco.cep.studio.projectexplorer.stateMachineContent">
            </contentExtension>
            <contentExtension
                  pattern="com.tibco.cep.studio.projectexplorer.ruleSetContent">
            </contentExtension>
            <contentExtension
                  pattern="com.tibco.cep.studio.projectexplorer.channelContent">
            </contentExtension>
            <contentExtension
                  pattern="com.tibco.cep.studio.projectexplorer.eventNavigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="com.tibco.cep.studio.projectexplorer.earContent">
            </contentExtension>
            <contentExtension
                  pattern="com.tibco.cep.studio.ui.navigator.propertyNavigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="com.tibco.cep.studio.ui.navigator.eventPropertyNavigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="com.tibco.cep.studio.ui.navigator.NRContent">
            </contentExtension>
            <contentExtension
                  pattern="com.tibco.cep.studio.ui.navigator.StateEntitynavigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="com.tibco.cep.studio.projectexplorer.vrfnavigatorcontent">
            </contentExtension>
            <contentExtension
                  pattern="com.tibco.cep.studio.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension pattern="org.eclipse.ui.navigator.resourceContent"/>
            <contentExtension
                  pattern="com.tibco.cep.studio.projectexplorer.globalvarfilter">
            </contentExtension>
            <contentExtension
                  pattern="com.tibco.cep.studio.projectexplorer.linkedprojlibresourcefilter">
            </contentExtension>
            <contentExtension
                  pattern="com.tibco.cep.decision.table.navigator.content">
            </contentExtension>
            <contentExtension
                  pattern="com.tibco.cep.decision.table.arguments.navigator.content">
            </contentExtension>
            <contentExtension
                  pattern="com.tibco.cep.studio.projectexplorer.dashboard.metrictContent">
            </contentExtension>
            <contentExtension
                  pattern="com.tibco.cep.studio.projectexplorer.projectlib.globalvarfilter">
            </contentExtension>
            <contentExtension
                  pattern="com.tibco.cep.studio.projectexplorer.javaelementfilter">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewer
            viewerId="com.tibco.cep.studio.projectexplorer.view">
         <popupMenu
               allowsPlatformContributions="true"
               id="com.tibco.cep.studio.projectexplorer.view#PopupMenu">
             <insertionPoint
                   name="group.new"
                   separator="true"/>
             <insertionPoint
                   name="group.open"
                   separator="true"/>
             <insertionPoint name="group.openWith"/>
             <insertionPoint
                   name="group.edit"
                   separator="true">
             </insertionPoint>
             <insertionPoint
                   name="group.refactor"
                   separator="true">
             </insertionPoint>
             <insertionPoint
                   name="group.port"
                   separator="true"/>
             <insertionPoint
                   name="group.rms"
                   separator="true">
             </insertionPoint>
             <insertionPoint
                   name="group.process"
                   separator="true">
             </insertionPoint>
             <!--
             <insertionPoint
                   name="group.reorganize"
                   separator="true">
             </insertionPoint>             
             -->
             <insertionPoint
                   name="group.search"
                   separator="true">
             </insertionPoint> 
             <insertionPoint
                   name="group.build"
                   separator="true">
             </insertionPoint> 
             <insertionPoint
                   name="additions"
                   separator="true"/>              
             <insertionPoint
                   name="group.properties"
                   separator="true"/>
         </popupMenu>
      </viewer>
      <dragAssistant
            class="com.tibco.cep.studio.ui.navigator.dnd.StudioNavigatorDragAdapterAssistant"
            viewerId="com.tibco.cep.studio.projectexplorer.view">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            description="Hide Non Studio projects"
            id="com.tibco.cep.studio.projectexplorer.commonFilter2"
            name="Non Studio Projects">
         <filterExpression>
            <not>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="com.tibco.cep.studio.project.nature">
                  </test>
               </adapt>
            </not>
         </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            description="Hide Global Variables"
            id="com.tibco.cep.studio.projectexplorer.globalvarfilter"
            name="Global Variables">
         <filterExpression>
            <or>
               <adapt type="org.eclipse.core.resources.IResource">
                  <test property="org.eclipse.core.resources.name"
                        value="*.substvar">
                  </test>
               </adapt>
			   <adapt type="org.eclipse.core.resources.IFolder">
                  <test property="org.eclipse.core.resources.name"
                        value="defaultVars">
                  </test>
               </adapt>
            </or>
         </filterExpression>
      </commonFilter>      
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.tibco.cep.studio.ui.navigator.providers.StateMachineContentProvider"
            id="com.tibco.cep.studio.projectexplorer.stateMachineContent"
            labelProvider="com.tibco.cep.studio.ui.navigator.providers.StateMachineLabelProvider"
            name="State Machine attributes"
            priority="normal">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
            <test
                  forcePluginActivation="true"
                  property="org.eclipse.core.resources.extension"
                  value="statemachine">
            </test>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.tibco.cep.studio.ui.navigator.providers.RuleSetContentProvider"
            id="com.tibco.cep.studio.projectexplorer.ruleSetContent"
            labelProvider="com.tibco.cep.studio.ui.navigator.providers.RuleSetRulesLabelProvider"
            name="RuleSet Rules"
            priority="normal">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
            <test
                  forcePluginActivation="true"
                  property="org.eclipse.core.resources.extension"
                  value="ruleset">
            </test>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.tibco.cep.studio.ui.navigator.providers.ChannelContentProvider"
            id="com.tibco.cep.studio.projectexplorer.channelContent"
            labelProvider="com.tibco.cep.studio.ui.navigator.providers.ChannelDestinationsLabelProvider"
            name="Channel Destinations"
            priority="normal">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
            <test
                  forcePluginActivation="true"
                  property="org.eclipse.core.resources.extension"
                  value="channel">
            </test>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.tibco.cep.studio.ui.navigator.providers.EnterpriseArchiveContentProvider"
            id="com.tibco.cep.studio.projectexplorer.earContent"
            labelProvider="com.tibco.cep.studio.ui.navigator.providers.ArchiveResourceLabelProvider"
            name="Enterprise Archive attributes"
            priority="normal">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
            <or>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.extension"
                     value="archive">
               </test>
            </or>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.tibco.cep.studio.ui.navigator.providers.PropertiesContentProvider"
            id="com.tibco.cep.studio.ui.navigator.propertyNavigatorContent"
            labelProvider="com.tibco.cep.studio.ui.navigator.providers.EventPropertiesLabelProvider"
            name="PropertiesDomainAssociation"
            priority="normal">
         <triggerPoints>
            <instanceof
                  value="com.tibco.cep.studio.ui.navigator.model.PropertyNode">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.tibco.cep.studio.ui.navigator.providers.EventPropertiesContentProvider"
            id="com.tibco.cep.studio.ui.navigator.eventPropertyNavigatorContent"
            labelProvider="com.tibco.cep.studio.ui.navigator.providers.PropertiesLabelProvider"
            name="EventPropertiesDomainAssociation"
            priority="normal">
         <triggerPoints>
            <instanceof
                  value="com.tibco.cep.studio.ui.navigator.model.EventPropertyNode">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.tibco.cep.studio.ui.navigator.providers.ProjectLibraryContentProvider"
            id="com.tibco.cep.studio.ui.navigator.NRContent"
            labelProvider="com.tibco.cep.studio.ui.navigator.providers.ProjectLibraryLabelProvider"
            name="NR Content"
            priority="lowest">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="com.tibco.cep.studio.ui.navigator.view.ProjectLibraryGVFilter"
            description="Hide Global Vars from project library heirarchy in Project Explorer"
            id="com.tibco.cep.studio.projectexplorer.projectlib.globalvarfilter"
            name="Project Library GV">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="com.tibco.cep.studio.ui.navigator.view.LinkedProjectLibraryResourceFilter"
            description="Hide Linked Project Library Resources"
            id="com.tibco.cep.studio.projectexplorer.linkedprojlibresourcefilter"
            name="Linked Project Library Resources">
      </commonFilter>
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.studio.ui.newChannelWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.studio.ui.newClusterConfigurationWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.studio.ui.newConceptWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or>
         </enablement>
      </commonWizard>		<!-- Test Data -->
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.studio.ui.newTestDataWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.studio.ui.newTestDataWizard">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
            <or>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.extension"
                     value="concept">
               </test>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.extension"
                     value="event">
               </test>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.extension"
                     value="scorecard">
               </test>
            </or>
         </enablement>
      </commonWizard> <!-- Test Data -->
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.studio.decision.table.ui.wizard.NewDecisionTableWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.studio.decision.table.ui.wizard.NewDecisionTableWizard">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
            <test
                  forcePluginActivation="true"
                  property="org.eclipse.core.resources.extension"
                  value="rulefunction">
            </test>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.studio.ui.newRulewizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
            </or>
             
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.studio.ui.newRuleFunctionWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.studio.ui.newEventwizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.studio.ui.statemachine.wizards.newStateMachinewizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="concept">
                  </test>
               </and>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.addProject"
            type="new"
            wizardId="com.tibco.cep.studio.ui.newstudioprojectwizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.bpmn.ui.newBPMNProcess">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
            </or></enablement>
      </commonWizard>
<!--
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.studio.ui.newstudioprojectwizard">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.studio.ui.newScorecardWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.studio.dashboard.ui.metricwizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.studio.ui.newDomainModelWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.decision.query.composer.newWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.studio.ui.newTimeEventwizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.decision.process.newWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.addNew"
            type="new"
            wizardId="com.tibco.cep.decision.graph.newWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or>
         </enablement>
      </commonWizard>
-->
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.tibco.cep.studio.ui.navigator.providers.StateCompositeContentProvider"
            id="com.tibco.cep.studio.ui.navigator.StateEntitynavigatorContent"
            labelProvider="com.tibco.cep.studio.ui.navigator.providers.StateMachineLabelProvider"
            name="StateEntity"
            priority="normal">
         <triggerPoints>
            <instanceof
                  value="com.tibco.cep.studio.ui.navigator.model.StateEntityNode">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.tibco.cep.studio.ui.navigator.model.VirtualRuleFunctionContentProvider"
            id="com.tibco.cep.studio.projectexplorer.vrfnavigatorcontent"
            labelProvider="com.tibco.cep.studio.ui.navigator.model.VirtualRuleFunctionLableProvider"
            name="VRF Implementations"
            priority="normal">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
            <test
                  property="org.eclipse.core.resources.extension"
                  value="rulefunction">
            </test>
         </triggerPoints>
      </navigatorContent>
      <actionProvider
            class="com.tibco.cep.studio.ui.navigator.providers.StudioNavigatorEditActionProvider"
            id="com.tibco.cep.studio.ui.navigator.providers.edit"
            overrides="org.eclipse.ui.navigator.resources.actions.EditActions"
            priority="highest">
		<enablement>
			<or>
				<adapt type="org.eclipse.core.resources.IFile" />	
				<adapt type="org.eclipse.core.resources.IFolder" />
     			<adapt type="org.eclipse.core.resources.IProject" /> 
           		<adapt type="org.eclipse.core.resources.IWorkspaceRoot" />
             <instanceof
                   value="com.tibco.cep.studio.ui.StudioNavigatorNode">
             </instanceof>
             <instanceof
                   value="com.tibco.cep.studio.ui.navigator.model.DomainInstanceNode">
             </instanceof>	
			</or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.tibco.cep.studio.ui.navigator.providers.StudioNavigatorRefactorActionProvider"
            id="com.tibco.cep.studio.ui.navigator.providers.refactor"
            overrides="org.eclipse.ui.navigator.resources.actions.RefactorActions"
            priority="highest">
		<enablement>
			<or>
				<adapt type="org.eclipse.core.resources.IFile" />	
				<adapt type="org.eclipse.core.resources.IFolder" />
     			<adapt type="org.eclipse.core.resources.IProject" /> 
           		<adapt type="org.eclipse.core.resources.IWorkspaceRoot" />
             <instanceof
                   value="com.tibco.cep.studio.ui.StudioNavigatorNode">
             </instanceof>	
			</or>
         </enablement>
      </actionProvider>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.ui.model.WorkbenchContentProvider"
            id="com.tibco.cep.studio.ui.navigator.resourceContent"
            labelProvider="com.tibco.cep.studio.ui.navigator.providers.StudioNavigatorLabelProvider"
            name="Resource Content"
            priority="highest">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </enablement>
         <dropAssistant
               class="com.tibco.cep.studio.ui.navigator.dnd.NavigatorRefactoringDropAdapterAssistant"
               id="com.tibco.cep.studio.ui.navigator.resource.dropAssistant">
            <possibleDropTargets>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof></possibleDropTargets>
         </dropAssistant>
         <commonSorter
               class="com.tibco.cep.studio.ui.navigator.view.StudioNavigatorViewerSorter">
            <parentExpression>
               <instanceof
                     value="org.eclipse.core.resources.IContainer">
               </instanceof>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="com.tibco.cep.studio.ui.navigator.view.StudioProjectJavaElementFilter"
            description="Hide Java Output Folders"
            id="com.tibco.cep.studio.projectexplorer.javaelementfilter"
            name="Java Output Folders">
      </commonFilter>
      <commonWizard
            menuGroupId="group.newJava"
            type="new"
            wizardId="org.eclipse.jdt.ui.wizards.NewClassCreationWizard">
        <enablement>
		        <or>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
		           <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
             <and>
                <instanceof
                      value="org.eclipse.core.resources.IFolder">
                </instanceof>
                <not>
                   <instanceof
                         value="org.eclipse.core.resources.IProject">
                   </instanceof>
                </not>
             </and>
		        </or>
		     </enablement>
      </commonWizard>
       <commonWizard
		        menuGroupId="group.newJava"
		        type="new"
		        wizardId="org.eclipse.jdt.ui.wizards.NewInterfaceCreationWizard">
		     <enablement>
		        <or>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
		           <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
             <and>
                <instanceof
                      value="org.eclipse.core.resources.IFolder">
                </instanceof>
                <not>
                   <instanceof
                         value="org.eclipse.core.resources.IProject">
                   </instanceof>
                </not>
             </and>
		        </or>
		     </enablement>
		  </commonWizard>
 	  <commonWizard
		        menuGroupId="group.newJava"
		        type="new"
		        wizardId="org.eclipse.jdt.ui.wizards.NewPackageCreationWizard">
		     <enablement>
		        <or>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
		           <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
             <and>
                <instanceof
                      value="org.eclipse.core.resources.IFolder">
                </instanceof>
                <not>
                   <instanceof
                         value="org.eclipse.core.resources.IProject">
                   </instanceof>
                </not>
             </and>
             <adapt
                   type="org.eclipse.core.resources.IProject">
                <test
                      property="org.eclipse.core.resources.projectNature"
                      value="org.eclipse.jdt.core.javanature">
                </test>
             </adapt>
		        </or>
		     </enablement>
	  </commonWizard>
      <commonWizard
		          menuGroupId="group.newJava"
		          type="new"
		          wizardId="org.eclipse.jdt.ui.wizards.NewSourceFolderCreationWizard">
				<enablement>
					<or> 
						<instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/> 
						<adapt type="org.eclipse.core.resources.IProject">
							<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
						</adapt>
					</or>
				</enablement>
			</commonWizard>
	 <commonWizard
		          menuGroupId="group.newJava"
		          type="new"
		          wizardId="com.tibco.cep.studio.ui.newCatalogCustomFunctionWizard">
				 <enablement>
		        <or>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
		           <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
             <and>
                <instanceof
                      value="org.eclipse.core.resources.IFolder">
                </instanceof>
                <not>
                   <instanceof
                         value="org.eclipse.core.resources.IProject">
                   </instanceof>
                </not>
             </and>
		        </or>
		     </enablement>
			</commonWizard>		
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="com.tibco.cep.studio.ui.navigator.providers.RuleFunctionLabelDecorator"
            id="com.tibco.cep.studio.projectexplorer.rulefunctiondecorator"
            label="Virtual Rule Function Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            class="com.tibco.cep.studio.ui.navigator.providers.RuleSetLabelDecorator"
            id="com.tibco.cep.studio.projectexplorer.ruleSetdecorator"
            label="RuleSet Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFolder">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.tibco.cep.studio.projectexplorer.view"
            labelProvider="com.tibco.cep.studio.ui.navigator.providers.TabbedPropertySheetProvider">
         <propertyCategory
               category="General"></propertyCategory>
         <propertyCategory
               category="Core">
         </propertyCategory>
         <propertyCategory
               category="Appearance">
         </propertyCategory>
         <propertyCategory
               category="Advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.tibco.cep.studio.ui.search.references"
            objectClass="com.tibco.cep.studio.ui.StudioNavigatorNode">
         <action
               class="com.tibco.cep.studio.ui.actions.SearchForReferencesAction"
               enablesFor="1"
               icon="icons/search.gif"
               id="com.tibco.cep.studio.ui.navigator.search.reference"
               label="Search for references"
               menubarPath="group.search"
               tooltip="Search for references of this element">
         </action>
      </objectContribution>
      <!--
      <objectContribution
            adaptable="false"
            id="com.tibco.cep.studio.ui.refactor.rename"
            objectClass="com.tibco.cep.studio.ui.navigator.model.StudioNavigatorNode">
         <action
               class="com.tibco.cep.studio.ui.actions.RenameElementAction"
               definitionId="com.tibco.cep.studio.ui.refactor.rename"
               enablesFor="1"
               icon="icons/search.gif"
               id="com.tibco.cep.studio.ui.refactor.rename"
               label="Rename element"
               menubarPath="group.edit"
               tooltip="Rename resource">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.tibco.cep.studio.ui.refactor.move"
            objectClass="com.tibco.cep.studio.ui.navigator.model.StudioNavigatorNode">
         <action
               class="com.tibco.cep.studio.ui.actions.MoveResourceAction"
               definitionId="com.tibco.cep.studio.ui.refactor.move"
               enablesFor="1"
               icon="icons/search.gif"
               id="com.tibco.cep.studio.ui.refactor.move"
               label="Move element"
               menubarPath="group.edit"
               tooltip="Move resource">
         </action>
      </objectContribution>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.tibco.cep.studio.projectexplorer.view">
         <propertyTab
               category="General"
               id="CommonNavigator.tab.general"
               label="General">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.cep.studio.projectexplorer.view">
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               id="CommonNavigator.section.general"
               tab="CommonNavigator.tab.general">
            <input
                  type="org.eclipse.core.resources.IResource">
            </input>
         </propertySection>
      </propertySections>
   </extension>
<extension
      point="org.eclipse.ui.decorators">
   <decorator
         adaptable="false"
         class="com.tibco.cep.studio.ui.navigator.providers.ProjectLibraryLabelProvider"
         id="com.tibco.cep.studio.ui.navigator.providers.ProjectLibraryLabelProvider"
         label="Project Library Decorator"
         lightweight="true"
         state="true">
      <enablement>
        <objectClass
              name="com.tibco.cep.studio.core.index.model.SharedElement">
        </objectClass>
      </enablement>
   </decorator>
</extension>

</plugin>
