<div>
	<span class="clearfix" style="padding: 5px">{{message}}</span>
	<!-- Could configure this to show only when details are available --> 
	<button style="float: right;margin-bottom: 5px" class="btn btn-{{toast.data.severity}} btn-sm"
		type="button" data-toggle="collapse" data-target="#details"
		aria-expanded="false" aria-controls="details">
		<span i18n>{{i18n('Click for details')}}</span> 
	</button>
</div>
<notification-detail [notification]='toast.data' class="collapse" id="details">
</notification-detail>