<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="sharedResourcePropertyProvider" name="Shared Resource Property Provider" schema="schema/sharedResourcePropertyProvider.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tibco.cep.sharedresource.httpconfig.HttpConfigEditor"
            default="true"
            extensions="sharedhttp"
            icon="icons/httpconnection.gif"
            id="com.tibco.cep.sharedresource.httpconfig.HttpConfigEditor"
            name="HTTP Configuration Editor">
      </editor>
      <editor
            class="com.tibco.cep.sharedresource.identity.IdentityConfigEditor"
            default="true"
            extensions="id"
            icon="icons/identity.gif"
            id="com.tibco.cep.sharedresource.identity.IdentityConfigEditor"
            name="Identity Configuration Editor">
      </editor>
	  <editor
            class="com.tibco.cep.sharedresource.jdbc.JdbcConfigEditor"
            default="true"
            extensions="sharedjdbc"
            icon="icons/jdbcconnection.gif"
            id="com.tibco.cep.sharedresource.jdbc.JdbcConfigEditor"
            name="JDBC Shared Resource Editor">
      </editor>
	  <editor
            class="com.tibco.cep.sharedresource.jms.JmsAppEditor"
            default="true"
            extensions="sharedjmsapp"
            icon="icons/jmsapplication.gif"
            id="com.tibco.cep.sharedresource.jms.JmsAppEditor"
            name="JMS Application Properties Editor">
      </editor>
	  <editor
            class="com.tibco.cep.sharedresource.jms.JmsConEditor"
            default="true"
            extensions="sharedjmscon"
            icon="icons/jmsconfiguration.gif"
            id="com.tibco.cep.sharedresource.jms.JmsConEditor"
            name="JMS Connection Editor">
      </editor>
      <editor
            class="com.tibco.cep.sharedresource.jndi.JndiConfigEditor"
            default="true"
            extensions="sharedjndiconfig"
            icon="icons/jndiconfiguration.gif"
            id="com.tibco.cep.sharedresource.jndi.JndiConfigEditor"
            name="JNDI Shared Resource Editor">
      </editor>
	  <editor
            class="com.tibco.cep.sharedresource.rvtransport.RvTransportEditor"
            default="true"
            extensions="rvtransport"
            icon="icons/rvtransport.gif"
            id="com.tibco.cep.sharedresource.rvtransport.RvTransportEditor"
            name="Rendezvous Shared Resource Editor">
      </editor>
	  <!--editor
            class="com.tibco.cep.sharedresource.ui.editors.TcpConfigEditor"
            default="true"
            extensions="sharedtcp"
            icon="icons/TCPCommonConfiguration.gif"
            id="com.tibco.cep.sharedresource.ui.editors.TcpConfigEditor"
            name="TCP Shared Resource Editor">
      </editor-->
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
		<category
	         id="com.tibco.cep.sharedresource.ui.category"
	         name="TIBCO Shared Resources">
		</category>
		<wizard
	           canFinishEarly="false"
	           category="com.tibco.cep.sharedresource.ui.category"
	           class="com.tibco.cep.sharedresource.ui.wizards.NewHttpConfigWizard"
	           finalPerspective="com.tibco.cep.studio.application.perspective"
	           icon="icons/httpconnection.gif"
	           id="com.tibco.cep.studio.ui.newHttpConfigWizard"
	           name="HTTP Connection">
	        <description>
	           Create a new HTTP Connection resource
	        </description>
		</wizard>
		<wizard
	           canFinishEarly="false"
	           category="com.tibco.cep.sharedresource.ui.category"
	           class="com.tibco.cep.sharedresource.ui.wizards.NewIdentityConfigWizard"
	           finalPerspective="com.tibco.cep.studio.application.perspective"
	           icon="icons/identity.gif"
	           id="com.tibco.cep.studio.ui.newIdentityConfigWizard"
	           name="Identity Resource">
	        <description>
	           Create a new Identity resource
	        </description>
		</wizard>
		<wizard
	           canFinishEarly="false"
	           category="com.tibco.cep.sharedresource.ui.category"
	           class="com.tibco.cep.sharedresource.ui.wizards.NewJdbcConfigWizard"
	           finalPerspective="com.tibco.cep.studio.application.perspective"
	           icon="icons/jdbcconnection.gif"
	           id="com.tibco.cep.studio.ui.newJdbcConfigWizard"
	           name="JDBC Connection">
	        <description>
	           Create a new JDBC Connection resource
	        </description>
		</wizard>
		<wizard
	           canFinishEarly="false"
	           category="com.tibco.cep.sharedresource.ui.category"
	           class="com.tibco.cep.sharedresource.ui.wizards.NewJmsApplicationWizard"
	           finalPerspective="com.tibco.cep.studio.application.perspective"
	           icon="icons/jmsapplication.gif"
	           id="com.tibco.cep.studio.ui.newJmsApplicationWizard"
	           name="JMS Application Properties">
	        <description>
	           Create a new JMS Application Properties resource
	        </description>
		</wizard>		
		<wizard
	           canFinishEarly="false"
	           category="com.tibco.cep.sharedresource.ui.category"
	           class="com.tibco.cep.sharedresource.ui.wizards.NewJmsConnectionWizard"
	           finalPerspective="com.tibco.cep.studio.application.perspective"
	           icon="icons/jmsconfiguration.gif"
	           id="com.tibco.cep.studio.ui.newJmsConnectionWizard"
	           name="JMS Connection">
	        <description>
	           Create a new JMS Connection resource
	        </description>
		</wizard>
		<wizard
	           canFinishEarly="false"
	           category="com.tibco.cep.sharedresource.ui.category"
	           class="com.tibco.cep.sharedresource.ui.wizards.NewJndiConfigWizard"
	           finalPerspective="com.tibco.cep.studio.application.perspective"
	           icon="icons/jndiconfiguration.gif"
	           id="com.tibco.cep.studio.ui.newJndiConfigWizard"
	           name="JNDI Configuration">
	        <description>
	           Create a new JNDI Configuration resource
	        </description>
		</wizard>
		<wizard
	           canFinishEarly="false"
	           category="com.tibco.cep.sharedresource.ui.category"
	           class="com.tibco.cep.sharedresource.ui.wizards.NewRvTransportWizard"
	           finalPerspective="com.tibco.cep.studio.application.perspective"
	           icon="icons/rvtransport.gif"
	           id="com.tibco.cep.studio.ui.newRvTransportWizard"
	           name="RendezVous Transport">
	        <description>
	           Create a new RendezVous Transport Connection resource
	        </description>
		</wizard>
   </extension>
   <extension
         point="com.tibco.cep.studio.core.projectResourceValidator">
      <validator
            Validator="com.tibco.cep.sharedresource.validation.HttpSharedResourceValidator"
            extensions="sharedhttp">
      </validator>
      <validator
            Validator="com.tibco.cep.sharedresource.validation.IdentitySharedResourceValidator"
            extensions="id">
      </validator>
      <validator
            Validator="com.tibco.cep.sharedresource.validation.JDBCSharedResourceValidator"
            extensions="sharedjdbc">
      </validator>
      <validator
            Validator="com.tibco.cep.sharedresource.validation.JMSAppSharedResourceValidator"
            extensions="sharedjmsapp">
      </validator>
      <validator
            Validator="com.tibco.cep.sharedresource.validation.JMSConSharedResourceValidator"
            extensions="sharedjmscon">
      </validator>
      <validator
            Validator="com.tibco.cep.sharedresource.validation.JNDIConfigSharedResourceValidator"
            extensions="sharedjndiconfig">
      </validator>
      <validator
            Validator="com.tibco.cep.sharedresource.validation.RSPConfigSharedResourceValidator"
            extensions="sharedrsp">
      </validator>
      <validator
            Validator="com.tibco.cep.sharedresource.validation.RVTransportSharedResourceValidator"
            extensions="rvtransport">
      </validator>
   </extension>
   <extension
         point="com.tibco.cep.studio.core.refactoringParticipant">
      <refactoringParticipant
            participant="com.tibco.cep.sharedresource.refactor.HttpRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.sharedresource.refactor.JMSConRefactoringParticipant">
      </refactoringParticipant>
   </extension>
   <extension
         id="jdbcConfigurationUi"
         point="com.tibco.cep.studio.ui.sharedResourceContributor">
      <sharedresource
            class="com.tibco.cep.sharedresource.jdbc.JdbcConfigurationUi">
      </sharedresource>
   </extension>
   <extension
         point="com.tibco.cep.sharedresource.sharedResourcePropertyProvider">
      <SharedResource
            sharedResourcePropertyProvider="com.tibco.cep.sharedresource.model.DefaultSharedResourcePropertyProvider">
      </SharedResource>
   </extension>
</plugin>
