<div ng-controller='IndexCtrl' class="appManagementPage tea-theme wrapper row-offcanvas row-offcanvas-left">
   	<div ng-include src="'partials/templates/header.html'"></div>
    <aside class="left-side sidebar-offcanvas" ng-class="">
        <div ng-include src="'partials/templates/leftNav.html'"></div>
    </aside> 
     <div class="adminView">
        <h3 class="adminViewTitle">{{appObject[0].name}}</h3>
       <ul class="appBox clearfix" style="padding-bottom: 10px">        
        	<li class="button pull-left" >                
                 <button class="btn tbt-btn btn-primary" title="Deploy Application" ng-click="" style="padding: 4px 20px 4px 20px;line-height: 20px;font-size: 12px;">
                   Deploy
      	  		 </button>  
            </li>
            <li class="button pull-left">                	          
                 <button class="btn tbt-btn btn-primary" title="Undeploy Application" ng-click="" style="padding: 4px 20px 4px 20px;line-height: 20px;font-size: 12px;">
                    Undeploy
      	  		 </button>  
            </li>
            <li class="button pull-left" >                
                 <button class="btn tbt-btn btn-primary" title="ReDeploy Application" ng-click="" style="padding: 4px 20px 4px 20px;line-height: 20px;font-size: 12px;">
                    ReDeploy
      	  		 </button>  
            </li>
            <li class="button pull-left" >                	          
                 <button class="btn tbt-btn btn-primary" title="Start Application" ng-click="" style="padding: 4px 20px 4px 20px;line-height: 20px;font-size: 12px;">
                   Start
      	  		 </button>  
            </li>
            <li class="button pull-left" >                	          
                 <button class="btn tbt-btn btn-primary" title="Stop Application" ng-click="" style="padding: 4px 20px 4px 20px;line-height: 20px;font-size: 12px;">
                   Stop
      	  		 </button>  
            </li>
        </ul>       
     </div>   
</div>    