 <div class="modal fade box-sizing" id="jvmProperties">
       <div class="modal-header box-sizing">
       	 	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<span class="lead"><h4>{{$parent.groupType}}</h4></span>
	   </div>
	   
	   <div class="modal-body box-sizing">
			<div class="be_VariablesContainer">
				<section>
       				<ul class="navTable">
            			<li ng-click="$parent.showEqualInstances()" ng-class="{active:$parent.isSetVariablesValueType('equals')}"><a>{{$parent.equalTabTitle}}</a></li>
           				<li  ng-click="$parent.showDifferentInstances()" ng-class="{active:$parent.isSetVariablesValueType('different')}"><a>{{$parent.differentTabTitle}}</a></li>          		
        			</ul>
        		</section>				
				<div ng-show="$parent.isSetVariablesValueType('equals')" class="be_groupVariablesPanel">
					<table ng-show="$parent.equalVariables!=null && $parent.equalVariables.length > 0" class="be-table">
                		<thead>
   		 					<tr>
      							<th>Name</th>
      							<th>Effective/Deployed Value</th>
      							<th>Value</th>
    						</tr>
  						</thead>
  						<tbody>
    						<tr ng-repeat = "gv in $parent.equalVariables">
      							<td title="{{gv.description}}">{{gv.description}}</td>
      							<td title="{{gv.defaultValue}}">{{gv.defaultValue}}</td>
        					    <td>
        					    	<div class="row">
        					      	 	<input class = "inputStyle" name="newValue" type="text" placeholder="value"
                               				ng-model="gv.value" ng-change="$parent.configurationChangesFlags.isJVMPropChanged = true">
                               		</div>
								</td>
    						</tr>
  					   </tbody>
        		    </table>					
				</div>
				<div ng-show="$parent.isSetVariablesValueType('different')" class="be_groupVariablesPanel">
					<table ng-show="$parent.diffVariables!=null && $parent.diffVariables.length > 0" class="be-table">
                		<thead>
   		 					<tr>
      							<th>Name</th>
      							<th>Value</th>
      							<th>Change Value</th>
    						</tr>
  						</thead>
  						<tbody>
    						<tr ng-repeat = "gv in $parent.diffVariables">
      							<td title="{{gv.description}}">{{gv.description}}</td>
        					    <td>
        					       <input ng-disabled="!gv.hasEqualValue" class = "inputStyle" name="newValue" type="text" placeholder="value"
                               			ng-model="gv.value">
								</td>
								<td><input type="checkbox" ng-model="gv.hasEqualValue" ng-change="$parent.configurationChangesFlags.isJVMPropChanged = true"></td>   
    						</tr>
  					   </tbody>
        		    </table>					
				</div>
			</div>
	  	</div>	
	  	<div class="modal-footer box-sizing">
	    	<button type="button" ng-click="$parent.configurationChangesFlags.isJVMPropChanged?$parent.saveGroupJVMProperties():null"               
                ng-class="{'tbt-btn':true, 'primary-btn':true,'button_disabled':!$parent.configurationChangesFlags.isJVMPropChanged}"  ng-if="$parent.hasPermission(15) && $parent.groupType == 'JVM Properties'">Save</button>
	    	<button type="button" data-dismiss="modal" aria-hidden="true" class="btn tbt-btn secondary-btn" ng-click="close()">
		   		 Cancel
	    	</button>
    	</div>
 </div>