<div ng-controller='IndexCtrl' class="appManagementPage tea-theme wrapper row-offcanvas row-offcanvas-left">
	<div ng-include src="'partials/templates/header.html'"></div>
	<div class="beTeaAgentView">
    	<aside class="left-side sidebar-offcanvas" ng-class="">
       	 <div ng-include src="'partials/templates/leftNav.html'"></div>
    	</aside>
    	<div ng-controller='instanceAgentController' >
    		<div ng-show="notification.show">
      			<div ng-include="'partials/templates/directive/showNotification.html'"></div>
     		</div>
     		<div class="adminView">
     			<div id="loaderdiv" style="display: none;">
					<img src="images/icons/loader.gif" class="ajax-loader" />
				</div>
     	 		<div class="instanceViewPanel1">
         			<div class="row">
         				<div class="pull-left be_breadCrumbs_div">
         					<ul>
         						<li class="be_breadCrumbs pull-left">
         							<div title="{{instance.status.state}}"   ng-show="agent.config.status=='Stopped' || agent.config.status=='Running'" ng-class="{'instanceStateIndicator_stopped' : agent.config.status=='Stopped','instanceStateIndicator_ok':agent.config.status=='Running' && agent.config.healthStatus == 'ok','instanceStateIndicator_warning':agent.config.status=='Running' && agent.config.healthStatus == 'warning','instanceStateIndicator_critical':agent.config.status=='Running' && agent.config.healthStatus == 'critical'}"></div>
         							<span ng-show="agent.config.status=='Resuming' || agent.config.status=='Stopping'">
		        						<i title="{{agent.config.status}}" class="be_startingSpinner fa fa-spinner fa-spin fa-2x"></i>
		        					</span>
         						</li>
         						<li class="be_breadCrumbs pull-left" ng-repeat = "b in breadCrumbs.slice(0,breadCrumbs.length-1)"><a ng-click="breadCrumbsRouting(b)">{{b.name}}</a> > </li>
         						<li ng-show="agent.config.status=='Running'" class="pull-left"> {{breadCrumbs[breadCrumbs.length -1].name}}#{{agent.config.agentId}} </li>
         						<li ng-show="agent.config.status=='Stopped' || agent.config.status=='Resuming' || agent.config.status=='Stopping' " class="pull-left"> {{breadCrumbs[breadCrumbs.length -1].name}}</li>
         					</ul>
         				</div>
         			</div>
         			<div ng-include="'partials/templates/aboutBETeaView.html'"></div> 
         			<div class="row">
         				<ul class="appBox clearfix">        
        					<li class="firstButton pull-left" ng-if="hasPermission(21)">  
        						<div ng-class=" agent.config.status=='Running' || agent.config.status=='Stopped' || agent.config.status=='Stopping'? 'disableOperation' :'operation'" ng-click="agent.config.status=='Running' || agent.config.status=='Stopped' ? null :resume()">                  	
      	  		  					<i  class="fa fa-play"></i>
				  					<span>Resume</span> 
				  				</div>   
            				</li> 
            				<li class="button pull-left"  ng-if="hasPermission(20)">    
            					<div ng-class="agent.config.status=='Stopped' || agent.config.status=='Stopping' || agent.config.status=='Suspended' ? 'disableOperation' :'operation'" ng-click="agent.config.status=='Suspended' || agent.config.status=='Stopped' ? null :suspend()">               	
      	  		  					<i  class="fa fa-stop"></i>
				  					<span>Suspend</span>
				  				</div> 
            				</li> 
            				<li class="button pull-right"> 
            					<div class="operation" ng-click="reloadPage()">
      	  		  					<i class="fa fa-refresh"></i>
				  					<span>Refresh</span> 
				  				</div>
            				</li>
        				</ul>    
         			</div>
        		</div>
        		<div class="container">
    				<section>
       					<ul class="navTable">
           					<li ng-click="setViewType('operations')" ng-class="{active:isSet('operations')}"><a>Operations</a></li>            		
        				</ul>
        				<div ng-show="isSet('operations')">
        				  <div class="be_operationsPanel">
        					<div class="be_operations_methods_col">
	            				<div class="be_operations_title" style="padding-left: 4px;">
	            					Methods
	            				</div>
        						<ul class="be_operations_method_list" >
									<li  ng-repeat="methodGroup in inferenceAgentMethods.methodgroup">	
										<div class="be_operationsTree" ng-click="showChildren=!showChildren">            	
     	  		  							<i  ng-class="showChildren?'fa fa-chevron-down':'fa fa-chevron-right'"></i>
			  								<span class="groupName">{{methodGroup.group}}</span> 
			  							</div> 								
										<ul>
											<li ng-show="showChildren" ng-click="getOperationInfo(method,methodGroup.group)" style="padding-left:20px;padding-bottom:5px" ng-repeat="method in methodGroup.method">
												<i class="fa fa-cog"></i>
													{{method.name}}
											</li>
										</ul>								
									</li>
								</ul>
	            			</div>
	            			<div class="be_operations_results_col" >
	            				<div class="be_operations_title" style="padding-left:4px;">
	            					Name : {{operation.name}} 
	            				</div>
	            				<div  style="padding-left:15px">
									<div class="form-horizontal" ng-hide="operation.name==undefined||operation.name==''||operation.name==null">
										<div class="control-group">
											<table>
												<tr style="vertical-align:top">
													<td style="white-space: nowrap;">
														<strong>Description :</strong>
													</td>
													<td>
														{{operation.annotation}}
													</td>
												</tr>
											</table>
											<br/>
											<div class="be_horizontal_seperator"></div>
											<br/>
			 								<form name="paramForm" novalidate>
			 									<div style="padding-top:10px;" ng-repeat="param in parameters" title="{{param.desc}}" data-toggle="tooltip" data-placement="top" be-tooltip>
			 										<div ng-show="param.name !=null && param.type!='boolean'" class="be_method_form_element" colspan=1>
			 											{{param.name}}&nbsp; <div ng-show="param.required" style="color:red">*</div>:
			 										</div>
			 										<div ng-show="param.name !=null && param.type!='boolean'" colspan=6>
			 											<input type="text" ng-model="param.defaultvalue" style="width:275px;" ng-required="param.required">
			 										</div>
			 										<div ng-show="param.name !=null && param.type=='boolean'" class="be_method_form_element" colspan=1>
			 											{{param.name}}&nbsp; <div ng-show="param.required" style="color:red">*</div>:
			 										</div>
			 										<div ng-show="param.name !=null && param.type=='boolean'" colspan=6>
			 											<input class="controls" type="checkbox" ng-model="param.defaultvalue" style="margin-left: 0px;margin-top: -8px;">
			 										</div>
			 									</div>
			 									<div style="padding-top:10px;">
			 										<div colspan=1 class="be_method_form_element">
			 											<button  ng-click="invokeOperation(operation)" ng-disabled="paramForm.$invalid" class="tbt-btn primary-btn" ng-class="{'button_disabled':paramForm.$invalid}">Invoke</button>
			 										</div>
			 									</div>
			 								</form>
										</div>
									</div>					
									<div ng-show="operation.name==undefined||operation.name==''||operation.name==null">
										<strong>Select a method from the left tree to perform operation.</strong>
									</div>
								</div>
								<div ng-show="showResultPanel" class="be_operations_result_panel">
									<h3 class="invokePanelTitles">Result</h3>
									<div ng-show="result == undefined">
										{{failResult.message}}
									</div>
									<div ng-show="result.rows.row.length == 0" class="">
										<span style="position: relative;left: 38%;font-weight: bold;color: gray;">
        					  			 	  No Records Found
        					  			</span>
									</div>
									<div class="resultTable" ng-show="result != undefined && result.rows.row.length != 0">
										<table tea-table class="tea-table">
       										<thead>
       				  		 					<tr>
       				  		 		 				<th ng-repeat="header in result.headers.header">
       				  		 		 					{{header.value}}
       				  		 		 				</th>
       				  		 					</tr>
       				  		 				</thead>
       				  		 				<tbody>
       				  		 					<tr ng-repeat="rows in result.rows.row">  
       												<td ng-repeat = "column in rows.columns.column">
       													{{column.value}}
       												</td>    
       				  		 					</tr>
       				  		 				</tbody>
       				  		 				<tfoot>
                       							<tr>
                           							<td colspan="7">- END OF DATA -</td>
                       							</tr>
                       						</tfoot>
       				  		 			</table>	
									</div>
								</div>
	            			</div>
	            		   </div>
        				</div>
    				</section>
				</div>
    		 </div>
     	</div>
     </div>
</div>    