 <div class="modal fade box-sizing" id="invokeOperations">
       <div class="modal-header box-sizing">
       	 	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<span class="lead"><h4>{{$parent.operation.name}}</h4></span>
	   </div>
	   
	   <div class="modal-body box-sizing">
			<div class="form-horizontal">
				<div class="control-group">
					<div ng-repeat="param in $parent.parameters">
					 	<label class="control-label">{{param.name}}</label>
                   		<div class="controls">
                        	<input type="text" ng-model="param.defaultvalue" >
                    	</div>  
					</div>
				</div>
			</div>
	  	</div>	
	  	<div class="modal-footer box-sizing">
	    	<button type="button" ng-click="$parent.invokeOperation($parent.operation)"               
                ng-class="{'tbt-btn':true, 'primary-btn':true}">Invoke</button>
	    </div>
 </div>