<section class="tbt-sidebar sidebar">
    <ul class="sidebar-menu" >            
        <li ng-class="{'active' : leftNavObject=='instances'}">
            <a ng-click="$parent.showAppInstancesPage()">
                <i class="fa fa-cubes"></i>
                <span>All Instances</span>
            </a>
        </li>
        <li ng-class="{'active' : leftNavObject=='machines'}">
            <a ng-click="$parent.showMachinesPage()">
                <i class="fa fa-desktop"></i>
                <span>Machines</span>
            </a>
        </li>
        <li ng-class="{'active' : leftNavObject=='processing units'}">
            <a ng-click="$parent.showAppProcessingUnitsPage()">
                <i class="fa fa-cogs"></i>
                <span>Processing Units</span>
            </a>
        </li>
        <li ng-class="{'active' : leftNavObject=='agent classes'}">
            <a ng-click="$parent.showAppAgentClassePage()">
                <i class="fa fa-users"></i>
                <span>Agent Classes</span>
            </a>
        </li>
        <li ng-class="{'active' : leftNavObject=='health rules'}">
            <a ng-click="$parent.showHealthRulesPage()">
                <i class="fa fa-book"></i>
                <span>Rules</span>
            </a>
        </li>
        <li ng-class="{'active' : leftNavObject=='alert management'}">
            <div id="alertCount" style="color: white; font-weight: bold; padding-left:60px; font-size: 12px; padding-top: 10px;"></div>
            <a ng-click="$parent.showAlertsPage()" style="padding-top: 0px;">
                <i class="fa fa-bell-o"></i>
                <span>Alerts</span>
            </a>            
        </li>
        <!-- <li ng-class="{'active' : leftNavObject=='profile management'}">
            <a ng-click="$parent.showProfilesPage()">
                <i class="fa fa-user"></i>
                <span>Profiles</span>
            </a>
        </li> -->
    </ul>
</section>