<div class="modal fade box-sizing" id="tailLogPanel">
	<div class="modal-header box-sizing">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">x</button>
		<span class="lead"><h4>Log Details</h4></span>
	</div>

	<div class="modal-body box-sizing">
		<pre
			infinite-scroll="showLogDetails($parent.numberOfLines + 10,$parent.isASLog)"
			class="threadDumpPanel">{{$parent.logDetails}}</pre>
	</div>
	<div class="modal-footer box-sizing">
		<div>
			<div class="operation pull-left">
				<a style="color: black" ng-click="downloadLog($parent.isASLog)">
					<i class="fa fa-download"></i> <span>Download</span>
				</a>
			</div>
		</div>
		<button type="button" data-dismiss="modal" aria-hidden="true"
			class="btn tbt-btn secondary-btn" ng-click="close()">Cancel
		</button>
	</div>
</div>