<div class="modal fade box-sizing" id="uploadExternalJarsModal">
	<form enctype="multipart/form-data" method="post" name="paramForm"
		novalidate>
		
		<div class="modal-header box-sizing">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">x</button>
			<span class="lead">
				<h4>Upload External Classes</h4>
			</span>
		</div>
		<div>
			<div class="modal-body box-sizing">
				<div class="form-horizontal">
					<div class="control-group">
						<label class="control-label">BE Home:</label>
						<div class="controls"
							style="width: 100%; padding-bottom: 30px; padding-top: 5px;">
							<select ng-model="$parent.extrenalJars.beId" required>
								<option ng-repeat="beDetail in $parent.masterHost.config.be"
									value="{{beDetail.id}}">{{beDetail.beHome}}</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">JAR File/s: </label>
						<div class="controls">
							<input type="text" id="jarFiles"
								ng-model="$parent.extrenalJars.zipFileName" disabled="disabled" />
							<button type="button"
								ng-class="{'tbt-btn':true,'primary-btn':true}"
								ng-click="$parent.browseFile('selectedFile')">Browse</button>
							<span ng-show="$parent.extrenalJars.isErrorWhileUploading"
								class="fileuploadError">
								*{{$parent.extrenalJars.errorMessage}}</span> <input type="file"
								id="selectedFile" accept=".jar"
								ng-file-model="$parent.extrenalJars.files"
								style="visibility: hidden;" multiple/>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer box-sizing">
				<button type="button" ng-disabled="paramForm.$invalid"
					ng-click="$parent.finishUpload()" class="tbt-btn primary-btn"
					ng-class="{'button_disabled':paramForm.$invalid}">Finish</button>
				<button type="button" data-dismiss="modal" aria-hidden="true"
					class="btn tbt-btn secondary-btn" ng-click="close()">
					Cancel</button>
			</div>
		</div>

	</form>
</div>