<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>   
      <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="TIBCO Channel Wizards"
            id="com.tibco.cep.studio.wizard">
      </category>
      <wizard
            name="Hawk Destination and Event"
            icon="icons/hawk.png"
            category="com.tibco.cep.studio.wizard"
            class="com.tibco.cep.studio.wizard.hawk.HawkNewWizard"
            id="com.tibco.cep.studio.wizard.hawk.HawkNewWizard">
         <description>
            Create Destination and SimpleEvent for Hawk Channel.
         </description>
      </wizard>
   </extension>
</plugin>
