.inputtypepanel {
    background-color: #4D4D4D; /* for non-css3 browsers */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4E4E4E', endColorstr='#868281'); for IE */
    /*background: -webkit-gradient(linear, left top, left bottom, from(#4E4E4E), to(#868281));  for webkit browsers */
    /*background: -moz-linear-gradient(top,  #4E4E4E,  #868281); for firefox 3.6+ */
}

.iframebackgrd {
    background-color: #FFFFFF;
}

.fieldssection{
    background-color: #FFFFFF;
    overflow: auto;
    height: 100%;
    border-top: 2px solid #ADADAD;
    border-bottom: 1px solid #ADADAD;
}

.fieldlabel {
    font-family:Arial, Verdana, Geneva, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
    background-color: #FFFFFF;
    overflow-x:hidden;
    text-overflow:ellipsis;
    padding-left:10px;
    padding-top:3px;
    padding-bottom:3px;
    width:40%;
    cursor: hand;
}

.unsupportedfieldlabel {
    font-family:Arial, Verdana, Geneva, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
    background-color: #FFFFFF;
    overflow-x:hidden;
    text-overflow:ellipsis;
    padding-left:10px;
    padding-top:3px;
    padding-bottom:3px;
    width:40%;
    cursor: pointer;
}

.conditionlabel {
    font-family: Arial,Verdana,Geneva,Helvetica, sans-serif;
    font-size: 11px;
    color: #4062B1;
    background-color: #FFFFFF;
    overflow-x:hidden;
    text-overflow:ellipsis;
    padding-right:10px;
    padding-top:3px;
    padding-bottom:3px;
    width:60%;
    cursor: hand;
}

.unsupportedconditionlabel {
    font-family: Arial,Verdana,Geneva,Helvetica, sans-serif;
    font-size: 11px;
    color: #4062B1;
    background-color: #FFFFFF;
    overflow-x:hidden;
    text-overflow:ellipsis;
    padding-right:10px;
    padding-top:3px;
    padding-bottom:3px;
    width:60%;
    cursor: pointer;
}
    
.conditionlabelnonrep {
    font-family: Arial,Verdana,Geneva,Helvetica, sans-serif;
    font-size: 11px;
    font-style:italic;
    color: #4062B1;
    background-color: #FFFFFF;
    overflow-x:hidden;
    text-overflow:ellipsis;
    padding-right:3px;
    padding-top:3px;
    padding-bottom:3px;
    width:60%;    
}

.rowseparator {
    background-color: #ADADAD;
}

.dropshadow {
    background-color: #ADADAD;
}
    
.querymgrbuttonpanel {
    background-color: #4D4D4D; /* for non-css3 browsers */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4E4E4E', endColorstr='#868281'); for IE */
    /*background: -webkit-gradient(linear, left top, left bottom, from(#4E4E4E), to(#868281)); for webkit browsers */
    /*background: -moz-linear-gradient(top,  #4E4E4E,  #868281); for firefox 3.6+ */
    height : 30px;
    /*padding-left : 5px;*/
    text-align : center; /* needed for the hyperlinks emulated as buttons */
}

.fieldconditionmenu {
    border: 1px solid #9FAAAA;
    background-color: #FFFFFF;
}

.fieldconditionmenuitem {
    font-family: Arial,Verdana,Geneva,Helvetica, sans-serif;
    font-size: 10px;
    color: #484848;
    cursor: hand;
    padding: 3px;
}

.conditionpnl {
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#4D4D4D');*/
    background-color: #FFFFFF;
}

.conditionbtnpnl {
    padding: 5px;
    background-color: #FFFFFF;
    height: 30px;
    text-align : center; /* needed for the hyperlinks emulated as buttons */
}