RCPAuthenticator {
    com.tibco.cep.security.authen.AuthenticationLoginModule required debug=true;
};
JMXAuthenticator {
    com.tibco.cep.bemm.security.authen.JMXAuthenticationLoginModule required debug=true;
};

KafkaClient {
  com.tibco.cep.driver.kafka.security.BEPlainLoginModule required
//BEPlainLoginModule is a wrapper over Kafka's PlainLoginModule with added support of TIBCO encrypted passwords.
  username=admin
  password="#!8McplDveXbBUsDBnPWzGvAfwlNhVIYS/";
};