<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.newWizards">
      <category
            name="TIBCO Channel Wizards"
            id="com.tibco.cep.studio.wizard">
      </category>
      <wizard
      		category="com.tibco.cep.studio.wizard"
            class="com.tibco.cep.studio.wizard.as.internal.wizard.NewASWizard"
            icon="icons/newas_16x16.png"
            id="com.tibco.cep.studio.wizard.as.internal.wizard.NewASWizard"
            name="ActiveSpaces Destination and Event">
         <description>
            Create a Destination and SimpleEvent of ActiveSpaces.
         </description>
      </wizard>
   </extension>
</plugin>
