div {
  font-family: 'Source Sans Pro';
}
div.tabbed-section {
  height: 400px;
  overflow: auto auto;
}
div.workitem-list {
  padding-top: 1em;
}
div.dashboard-body {
  padding: 42px;
  background-color: #f8f8f8;
  display: flex;
  margin-top: 6px;
  padding-top: 18px;
}
.dashboard-left {
  width: 50%;
  height: calc(100vh - 40px - 44px - 96px - 34px - 42px); /* navbar, tabs, title area, footer, padding */
  padding-right: 42px;
  overflow: hidden;
}
.dashboard-right {
  width: 50%;
  height: calc(100vh - 40px - 44px - 96px - 34px - 42px); /* navbar, tabs, title area, footer, padding */
  padding-left: 42px;
}

.dashboard-right-rtl {
  width: 50%;
  height: calc(100vh - 40px - 44px - 96px - 34px - 42px); /* navbar, tabs, title area, footer, padding */
  padding-right: 42px;
}
.full {
	width: 100%;
	height: 100%;
}

.grid-card {
  margin: 24px;
}

.welcome-back {
  width: 142px;
  height: 108px;
}

.welcome-app-create.dashboard {
  /* position: absolute; */
  text-align:center;
  width: 142px;
  height: 108px;
  /* left: 15vw; */
  /* margin-right: 48px; */
  margin-bottom: -24px;
}

.app-empty-label.dashboard {
  font-size: 48px;
  margin-top: 0px;
}

.mat-card-content.project-summary {
  max-height: 25vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.mat-card-content.scrollable-content {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 84px - 48px - 370px);
  margin: -24px; /* equal to the container margin to keep the scrollbar on the right side of the card */
  margin-top: 0px;
  margin-bottom: 0px;
}

.button-primary {
  color: white;
  background-color: #fd7821;
}

.button-secondary {
  margin-top: 0px;
}

.button-disabled {
  color: white;
  background: #a9a9a9;
  opacity: .5;
}

.opt-icon {
  float: right; 
  margin-left:6px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.opt-icon-rtl {
  float: left; 
  margin-left:6px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.read-only {
  opacity: .7;
  transition: all 200ms ease-in;
}

.read-only:hover {
  opacity: 1;
  transition: all 200ms ease-in;
}

.snapshot-container {
  height: calc(100% - 103px);
  overflow-x: hidden;
  overflow-y: hidden;
  padding-right: 15px;
}

.snapshot-container:hover {
  overflow-y: scroll;
  padding-right: 0px;
}

.snapshot-container-rtl:hover {
  overflow-y: scroll;
  padding-left: 8px;
}

.title-area {
  display: flex;
  width: 100%;
  height: 96px;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(114, 114, 114, 0.33);
  background-color: #ffffff;
}

.title-search {
  padding-top: 26px;
  height: 24px;
  width: 50%;
  padding-bottom: 24px;
  padding-left: 48px;
}

.title-actions {
  padding: 24px;
  padding-top: 26px;
  padding-right: 48px;
  height: 24px;
  width: 50%;
  text-align: right;
}

header {
  position: absolute;
  height: 80vh;
  overflow: hidden;
  left: 0px;
}

.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: url('../../assets/img/emptylist.png'); */
  background-image: linear-gradient(#ff9d2f, #ff6126);
  transform: skewY(-20deg);
  transform-origin: top left;
}

.header-img {
  width: 24px;
  height: 24px;
  float: left;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 9px;
}

.header-img-rtl {
  width: 24px;
  height: 24px;
  float: right;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 9px;
}

.header {
  font-size: 24px;
  font-weight: 600;
}

h1 {
  margin: 0;
  padding: 100px;
  font: 44px "SourceSansPro";
}

.card-button {
  color: #007bff !important;
  text-decoration: none;
  background-color: transparent;
}

.snapshot-search {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 36px;
  height: 26px;
  padding-right: 30px;
}

.snapshot-header-button {
  font-size: 14px;
  font-weight: normal;
  color: #212121;
  padding-top: 8px;
}

.snapshot-header {
  width: 100%;
  font-family: SourceSansPro;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #727272;
  line-height: 1.5;
}