<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="debugInputTab" name="Studio Rule Debug Input Tab" schema="schema/debugInputTab.exsd"/>
   <extension-point id="debugPresentationProvider" name="Provider for debugger presentation for different addons" schema="schema/debugPresentationProvider.exsd"/>
   <extension
         point="org.eclipse.core.runtime.adapters">
	  <factory
            adaptableType="com.tibco.cep.studio.ui.editors.rules.RulesEditor"
            class="com.tibco.cep.studio.debug.ui.adapter.RuleBreakpointAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   <factory
         adaptableType="com.tibco.cep.studio.ui.editors.AbstractRuleFormEditor"
         class="com.tibco.cep.studio.debug.ui.adapter.RuleBreakpointAdapterFactory">
      <adapter
            type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
      </adapter>
   </factory>
   <factory
         adaptableType="com.tibco.cep.studio.ui.editors.rules.RulesEditor"
         class="com.tibco.cep.studio.debug.ui.adapter.RetargettableActionAdapterFactory">
      <adapter
            type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
      </adapter>
   </factory>
   <factory
         adaptableType="org.eclipse.debug.core.model.IVariable"
         class="com.tibco.cep.studio.debug.ui.variables.RuleDebugElementAdapterFactory">
      <adapter
            type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider">
      </adapter>
      <adapter
            type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementLabelProvider">
      </adapter>
   </factory>
   <factory
         adaptableType="com.tibco.cep.studio.debug.core.model.RuleDebugStackFrame"
         class="com.tibco.cep.studio.debug.ui.variables.RuleDebugElementAdapterFactory">
      <adapter
            type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider">
      </adapter>
      <adapter
            type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementLabelProvider">
      </adapter>
   </factory>
   <factory
         adaptableType="com.tibco.cep.studio.debug.core.model.RuleDebugThread"
         class="com.tibco.cep.studio.debug.ui.variables.RuleDebugElementAdapterFactory">
      <adapter
            type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider">
      </adapter>
   </factory>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.tibco.cep.studio.debug.ui.launch.ApplicationTabGroup"
            description="Run or Debug a BusinessEvents application"
            id="com.tibco.cep.studio.debug.ui.ApplicationTabGroup"
            type="com.tibco.cep.studio.debug.core.ApplicationLaunch">
         <launchMode
               description="Run BusinessEvents Application"
               mode="run">
         </launchMode>
         <launchMode
               description="Debug BusinessEvents Application"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.tibco.cep.studio.debug.ui.launch.RemoteApplicationTabGroup"
            description="Debug a remote BusinessEvents application"
            id="com.tibco.cep.studio.debug.ui.RemoteApplicationTabGroup"
            type="com.tibco.cep.studio.debug.core.RemoteApplicationLaunch">
         <launchMode
               description="Debug Remote BusinessEvents Application"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
      <!--
      <launchConfigurationTabGroup
            class="com.tibco.cep.studio.debug.ui.launch.RuleTabGroup"
            description="Run or Debug a selected set of BusinessEvents rules"
            id="com.tibco.cep.studio.debug.ui.RuleTabGroup"
            type="com.tibco.cep.studio.debug.core.RuleLaunch">
         <launchMode
               description="Run Selected BusinessEvent Rule"
               mode="run"
               perspective="com.tibco.cep.studio.debug.ui.perspective">
         </launchMode>
         <launchMode
               description="Debug Selected BusinessEvent Rule"
               mode="debug"
               perspective="com.tibco.cep.studio.debug.ui.perspective">
         </launchMode>
      </launchConfigurationTabGroup>
      -->
   </extension>

   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	  <launchConfigurationTypeImage
	     id="com.tibco.cep.studio.debug.ui.ApplicationLaunchImage"
	     configTypeID="com.tibco.cep.studio.debug.core.ApplicationLaunch"
	     icon="icons/launch_application.gif">
	  </launchConfigurationTypeImage>
   <launchConfigurationTypeImage
         configTypeID="com.tibco.cep.studio.debug.core.RemoteApplicationLaunch"
         icon="icons/remote_app_debug.gif"
         id="com.tibco.cep.studio.debug.ui.RemoteApplicationLaunchImage">
   </launchConfigurationTypeImage>
	  <!--
  	  <launchConfigurationTypeImage
	     id="com.tibco.cep.studio.debug.ui.RuleLaunchImage"
	     configTypeID="com.tibco.cep.studio.debug.core.RuleLaunch"
	     icon="icons/launch_rule.gif">
	  </launchConfigurationTypeImage>
	  -->
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="com.tibco.cep.studio.debug.ui.model.RuleDebugModelPresentation"
            id="com.tibco.cep.studio.debug.ui.ruleDebugModel">
      </debugModelPresentation>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.tibco.cep.studio.debug.ui.perspective.DebugPerspective"
            icon="icons/debug.png"
            id="com.tibco.cep.studio.debug.ui.perspective"
            name="BusinessEvents Studio Debug">
      </perspective>
   </extension>
   -->
	<extension
         point="org.eclipse.ui.views">
		<category
			id="com.tibco.cep.studio.ui.category"
			name="TIBCO BusinessEvents"/>
		<view
            category="com.tibco.cep.studio.ui.category"
            class="com.tibco.cep.studio.debug.ui.views.RuleDebugAgendaView"
            icon="icons/rule_agenda_view.png"
            id="com.tibco.cep.studio.debug.ui.views.ruleagendaview"
            name="Rule Agenda">
		</view>
  <view
        category="com.tibco.cep.studio.ui.category"
        class="com.tibco.cep.studio.debug.ui.views.RuleDebugInputView"
        icon="icons/starttest.gif"
        id="com.tibco.cep.studio.debug.ui.inputView"
        name="Rule Input">
     <description>
        Debugger Input View
     </description>
  </view>
	</extension>
	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution id="com.tibco.cep.studio.debug.ui.RulerPopupActions"
			targetID="#BERuleRulerContext">
			<action
				id="com.tibco.cep.studio.debug.ui.actions.RulerToggleRuleBreakpointAction" 
				helpContextId="breakpoint_toggle_action_context"
				label="Toggle &amp;Breakpoint"
				icon="icons/brkp_obj.gif"
				class="com.tibco.cep.studio.debug.ui.actions.RulerToggleRuleBreakpointActionDelegate"
				menubarPath="debug">
			</action>
			<action
         class="com.tibco.cep.studio.debug.ui.actions.RuleBreakpointPropertiesRulerActionDelegate"
         helpContextId="breakpoint_properties_action_context"
         id="com.tibco.cep.studio.debug.ui.actions.RuleBreakpointPropertiesRulerActionDelegate"
         label="Breakpoint Properties..."
         menubarPath="group.properties">
         </action>
		 <action
         class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
         helpContextId="enable_disable_breakpoint_action_context"
         id="com.tibco.cep.studio.debug.ui.actions.EnableDisableBreakpointRulerActionDelegate"
         label="Toggl&amp;e Enablement"
         menubarPath="debug">
         </action>
		</viewerContribution>
		<objectContribution id="com.tibco.cep.studio.debug.ui.RuleBreakpointActions"
            objectClass="com.tibco.cep.studio.debug.core.model.RuleBreakpoint">
	         <action
	               label="Hit Count"
	               icon="icons/hitcount.gif"
	               class="com.tibco.cep.studio.debug.ui.actions.RuleBreakpointHitCountAction"
	               menubarPath="emptyBreakpointGroup"
	               enablesFor="1"
	               id="com.tibco.cep.studio.debug.ui.actions.RuleBreakpointHitCountAction">
	         </action>
		</objectContribution>
	</extension>
	<extension point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="com.tibco.cep.editors.ui.rulesEditor"
            id="com.tibco.cep.studio.debug.ui.editors.breakpointRulerActions">
         <action
               actionID="RulerDoubleClick"
               class="com.tibco.cep.studio.debug.ui.actions.RulerToggleRuleBreakpointActionDelegate"
               disabledIcon="icons/brkpd_obj.gif"
               icon="icons/brkp_obj.gif"
               id="com.tibco.cep.studio.debug.ui.actions.doubleClickRuleBreakpointAction"
               label="Toggle Breakpoint">
         </action>
      </editorContribution>
      <editorContribution
            id="com.tibco.cep.studio.debug.ui.editors.breakpointRulerActions"
            targetID="com.tibco.cep.editors.ui.rulefunctionEditor">
         <action
               actionID="RulerDoubleClick"
               class="com.tibco.cep.studio.debug.ui.actions.RulerToggleRuleBreakpointActionDelegate"
               disabledIcon="icons/brkpd_obj.gif"
               icon="icons/brkp_obj.gif"
               id="com.tibco.cep.studio.debug.ui.actions.doubleClickRuleBreakpointAction"
               label="Toggle Breakpoint">
         </action>
      </editorContribution>
	</extension>

   <extension
         point="org.eclipse.ui.editors.annotationTypes">
		<type
	        markerType="com.tibco.cep.studio.debug.core.RuleBreakpointMarker"
	        name="com.tibco.cep.studio.debug.core.RuleBreakpointMarkerAnnotation">
		</type>
	</extension>

   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
	      <specification
             annotationImageProvider="com.tibco.cep.studio.debug.ui.editors.BreakpointImageProvider"
             annotationType="com.tibco.cep.studio.debug.core.RuleBreakpointMarkerAnnotation"
             colorPreferenceKey="RuleIndicationColor"
             colorPreferenceValue="0,0,255"
             contributesToHeader="true"
             highlightPreferenceKey="RuleHighlighting"
             highlightPreferenceValue="false"
             icon="icons/brkp_obj.gif"
             includeOnPreferencePage="true"
             isGoToNextNavigationTarget="true"
             isGoToNextNavigationTargetKey="isRuleRecordGoToNextNavigationTarget"
             isGoToPreviousNavigationTarget="true"
             isGoToPreviousNavigationTargetKey="isRuleGoToPreviousNavigationTarget"
             label="Rule Breakpoint Marker"
             overviewRulerPreferenceKey="RuleIndicationInOverviewRuler"
             overviewRulerPreferenceValue="true"
             presentationLayer="3"
             showInNextPrevDropdownToolbarAction="false"
             showInNextPrevDropdownToolbarActionKey="showRuleInNextPrevDropdownToolbarAction"
             symbolicIcon="bookmark"
             textPreferenceKey="RuleIndication"
             textPreferenceValue="true"
             verticalRulerPreferenceKey="RuleIndicationInVerticalRuler"
             verticalRulerPreferenceValue="true">
	      </specification>
	</extension>
	
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Debugging Rules"
            id="com.tibco.cep.studio.debug.ui.debugging"
            name="Debugging Rules"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            contextId="com.tibco.cep.studio.debug.ui.debugging"
            debugModelId="com.tibco.cep.studio.debug.ui.modelContextBinding">
      </modelContextBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            autoOpen="true"
            contextId="org.eclipse.debug.ui.debugging"
            viewId="com.tibco.cep.studio.debug.ui.views.ruleagendaview">
      </contextViewBinding>
      <contextViewBinding
            autoOpen="true"
            contextId="org.eclipse.debug.ui.debugging"
            viewId="com.tibco.cep.studio.debug.ui.inputView">
      </contextViewBinding>
      <contextViewBinding
            autoOpen="true"
            contextId="org.eclipse.debug.ui.debugging"
            viewId="com.tibco.cep.studio.projectexplorer.view">
      </contextViewBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               closeable="true"
               id="com.tibco.cep.studio.debug.ui.inputView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <viewShortcut
               id="com.tibco.cep.studio.debug.ui.inputView">
         </viewShortcut>
         <view
               id="org.eclipse.pde.runtime.LogView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true">
         </view>
         <viewShortcut
               id="org.eclipse.pde.runtime.LogView">
         </viewShortcut>
         <view
               id="com.tibco.cep.studio.projectexplorer.view"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true">
         </view>
         <viewShortcut
               id="com.tibco.cep.studio.projectexplorer.view">
         </viewShortcut>
         <view
               id="com.tibco.cep.studio.debug.ui.views.ruleagendaview"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.debug.ui.BreakpointView">
         </view>
         <viewShortcut
               id="com.tibco.cep.studio.debug.ui.views.ruleagendaview">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.tibco.cep.studio.debug.ui.propertypages.RuleLineBreakpointPage"
            id="com.tibco.cep.studio.debug.ui.propertypages.RuleLineBreakpoints"
            name="Breakpoint Properties">
         <enabledWhen>
            <or>
               <instanceof
                     value="com.tibco.cep.studio.debug.core.model.RuleBreakpoint">
               </instanceof>
               <adapt
                     type="com.tibco.cep.studio.debug.core.model.RuleBreakpoint">
               </adapt>
            </or>
         </enabledWhen>
      </page>
      <page
            class="com.tibco.cep.studio.debug.ui.propertypages.RuleBreakpointAdvancedPage"
            id="com.tibco.cep.studio.debug.ui.propertypages.RuleBreakpointFilter"
            name="Filtering">
            <enabledWhen>
            <or>
               <instanceof
                     value="com.tibco.cep.studio.debug.core.model.RuleBreakpoint">
               </instanceof>
               <adapt
                     type="com.tibco.cep.studio.debug.core.model.RuleBreakpoint">
               </adapt>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerUpdaters">
      <updater
            class="com.tibco.cep.studio.debug.ui.editors.RuleBreakpointMarkerUpdater"
            id="com.tibco.cep.studio.debug.ui.breakpointMarkerUpdater"
            markerType="com.tibco.cep.studio.debug.core.RuleBreakpointMarker">
      </updater>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.tibco.cep.studio.debug.ui.prefs.StudioDebugUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.tibco.cep.studio.ui.editors.preference.rules"
            class="com.tibco.cep.studio.debug.ui.prefs.StudioDebugPreferencePage"
            id="com.tibco.cep.studio.debug.ui.RuleDebug"
            name="Rule Debug">
      </page>
   </extension>
   <extension
         point="com.tibco.cep.studio.debug.ui.debugPresentationProvider">
      <presentationProvider
            provider="com.tibco.cep.studio.debug.ui.model.RuleDebugModelPresentation">
      </presentationProvider>
   </extension>
</plugin>
