<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>  
      <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="TIBCO Channel Wizards"
            id="com.tibco.cep.studio.wizard">
      </category>
      <wizard
            name="FTL Destination and Event"
            icon="icons/newftl.png"
            category="com.tibco.cep.studio.wizard"
            class="com.tibco.cep.studio.wizard.ftl.FTLNewWizard"
            id="com.tibco.cep.studio.wizard.ftl.FTLNewWizard">
         <description>
            Create Destination and SimpleEvent for FTL Channel.
         </description>
      </wizard>
   </extension>
</plugin>