<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="agentExtension" name="Studio UI Agent Extension" schema="schema/uiAgentExtension.exsd"/>
   <extension-point id="buildParticipant" name="Studio Project Build Participant" schema="schema/buildParticipant.exsd"/>
   <extension-point id="importProjectNotification" name="Imported Designer Project Notification" schema="schema/importProjectNotification.exsd"/>
   <extension-point id="studioProjectMigrator" name="Studio Project Migrator" schema="schema/studioProjectMigrator.exsd"/>
   <extension-point id="dependencyCalculationParticipant" name="Studio Dependency Calculator" schema="schema/dependencyCalculationParticipant.exsd"/>
   <extension-point id="projectResourceValidator" name="Studio Resource Validator" schema="schema/projectResourceValidator.exsd"/>
   <extension-point id="quickFixProvider" name="Studio Quick Fix Provider" schema="schema/quickFixProvider.exsd"/>
   <extension-point id="searchParticipant" name="Studio Search Participant" schema="schema/searchParticipant.exsd"/>
   <extension-point id="refactoringParticipant" name="Studio Refactoring Participant" schema="schema/refactoringParticipant.exsd"/>
   <extension-point id="moduleCodeGenerator" name="ModuleCode Generation" schema="schema/moduleCodeGenerator.exsd"/>
   <extension-point id="eventCodeGenerator" name="BE Event Code Generation" schema="schema/eventCodeGenerator.exsd"/>
   <extension-point id="conceptCodeGenerator" name="BE Concept Code Generator" schema="schema/conceptCodeGenerator.exsd"/>
   <extension-point id="pojoConceptCodeGenerator" name="POJO Concept Code Generation" schema="schema/pojoConceptCodeGenerator.exsd"/>
   <extension-point id="dbConceptCodeGenerator" name="DBConcept Code Generation" schema="schema/dbConceptGenerator.exsd"/>
   <extension-point id="metricConceptCodeGenerator" name="Metric Concept Code Generation" schema="schema/metricConceptCodeGenerator.exsd"/>
   <extension-point id="ruleCodeGenerator" name="RuleCodeGenerator" schema="schema/ruleCodeGenerator.exsd"/>
   <extension-point id="ruleFunctionCodeGenerator" name="RuleFunction Code Generation" schema="schema/ruleFunctionCodeGenerator.exsd"/>
   <extension-point id="decisionTableCodeGenerator" name="Decision Table Code Generation" schema="schema/decisionTableCodeGenerator.exsd"/>
   <extension-point id="displayFrameProvider" name="Display Frame Provider" schema="schema/displayFrameProvider.exsd"/>
   <extension-point id="sharedArchiveResourceProvider" name="Shared Archive Resource Provider" schema="schema/sharedArchiveResourceProvider.exsd"/>
   <extension-point id="ignoreSharedArchiveResourcePatterns" name="Ignored Shared Archive Resource patterns" schema="schema/ignoreSharedArchiveResourcePatterns.exsd"/>
   <extension-point id="pathVariableInitializer" name="%pathVariableInitializerName" schema="schema/pathVariableInitializer.exsd"/>
   <extension-point id="documentationGenerator" name="com.tibco.cep.studio.core.docgen" schema="schema/documentationGenerator.exsd"/>
   <extension-point id="elementResolutionProvider" name="Element Resolution Provider" schema="schema/elementResolutionProvider.exsd"/>
   <extension-point id="bpmnProcessExtension" name="Bpmn Process Extension" schema="schema/bpmnProcessExtension.exsd"/>
   <extension-point id="studioProjectContributor" name="Studio Project Contributor" schema="schema/studioProjectContributor.exsd"/>
   <extension-point id="javaCodeGenerator" name="BE Java CodeGenerator" schema="schema/javaCodeGenerator.exsd"/>
   <extension-point id="javaResourceGenerator" name="BE Java Resource Generator" schema="schema/javaResourceGenerator.exsd"/>
   <extension-point id="lvProjectGenerator" name="LiveView Project Generation" schema="schema/lvProjectGenerator.exsd"/>
   
  <extension
         id="studioNature"
         name="Studio Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.tibco.cep.studio.core.nature.StudioProjectNature">
         </run>
      </runtime>
      <builder
            id="com.tibco.cep.studio.core.studioProjectBuilder">
      </builder>
  </extension>
   <extension
         id="studioProjectBuilder"
         name="Studio Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.tibco.cep.studio.core.builder.StudioProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="validationProblem"
         name="Resource Validation Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="com.tibco.cep.statemodel.stategraph.path">
      </attribute>
      <attribute
            name="com.tibco.cep.statemodel.isTransitionState">
      </attribute>
   </extension>
   <extension
         id="buildPathProblem"
         name="Build Validation Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="com.tibco.cep.statemodel.stategraph.path">
      </attribute>
      <attribute
            name="com.tibco.cep.statemodel.isTransitionState">
      </attribute>
   </extension>
   <extension
         id="namespaceProblem"
         name="Resource Namespace/Folder Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="com.tibco.cep.studio.core.validationProblem">
      </super>
   </extension>
   <extension
         id="projectLibraryProblem"
         name="Project Library Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="com.tibco.cep.studio.core.validationProblem">
      </super>
   </extension>
   <extension
         id="ownerStateMachineProblem"
         name="State Machine Owner Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="com.tibco.cep.studio.core.namespaceProblem">
      </super>
   </extension>
   <extension
         id="propertyOwnerProblem"
         name="Property Owner Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="com.tibco.cep.studio.core.namespaceProblem">
      </super>
   </extension>
   <extension
         point="com.tibco.cep.tra.tnsFlavorDelegate">
      <tnsFlavorClass
            tnsFlavorClass="com.tibco.cep.studio.core.rdf.EMFRDFTnsFlavor">
      </tnsFlavorClass>
   </extension>
   <extension
         point="com.tibco.cep.studio.core.searchParticipant">
      <searchParticipant
            participant="com.tibco.cep.studio.core.search.RuleTemplateViewSearchParticipant">
      </searchParticipant>
      <searchParticipant
            participant="com.tibco.cep.studio.core.search.ChannelSearchParticipant">
      </searchParticipant>
      <searchParticipant
            participant="com.tibco.cep.studio.core.search.ConceptSearchParticipant">
      </searchParticipant>
      <searchParticipant
            participant="com.tibco.cep.studio.core.search.DomainModelSearchParticipant">
      </searchParticipant>
      <searchParticipant
            participant="com.tibco.cep.studio.core.search.DisplayModelSearchParticipant">
      </searchParticipant>
      <searchParticipant
            participant="com.tibco.cep.studio.core.search.ElementContainerSearchParticipant">
      </searchParticipant>
      <searchParticipant
            participant="com.tibco.cep.studio.core.search.EventSearchParticipant">
      </searchParticipant>
      <searchParticipant
            participant="com.tibco.cep.studio.core.search.RuleSearchParticipant">
      </searchParticipant>
      <searchParticipant
            participant="com.tibco.cep.studio.core.search.RuleTemplateSearchParticipant">
      </searchParticipant>
      <searchParticipant
            participant="com.tibco.cep.studio.core.search.DecisionTableSearchParticipant">
      </searchParticipant>
      <searchParticipant
            participant="com.tibco.cep.studio.core.search.StateMachineSearchParticipant">
      </searchParticipant>
   </extension>

   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="com.tibco.cep.studio.core.refactoring.StudioRenameParticipantWrapper"
            id="com.tibco.cep.studio.ui.refactoring.entityRenameParticipant"
            name="Entity Rename Participant">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFile">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="com.tibco.cep.studio.core.refactoring.EntityMoveParticipant"
            id="com.tibco.cep.studio.ui.refactoring.entityMoveParticipant"
            name="Entity Move Participant">
         <enablement></enablement>
      </moveParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.copyParticipants">
      <copyParticipant
            class="com.tibco.cep.studio.core.refactoring.EntityCopyParticipant"
            id="com.tibco.cep.studio.ui.refactoring.entityCopyParticipant"
            name="Entity Copy Participant">
         <enablement></enablement>
      </copyParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.createParticipants">
      <createParticipant
            class="com.tibco.cep.studio.core.refactoring.EntityCreateParticipant"
            id="com.tibco.cep.studio.ui.refactoring.entityCreateParticipant"
            name="Entity Create Participant">
         <enablement></enablement>
      </createParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.deleteParticipants">
      <deleteParticipant
            class="com.tibco.cep.studio.core.refactoring.StudioDeleteParticipantWrapper"
            id="com.tibco.cep.studio.core.refactoring.elementDeleteParticipant"
            name="Studio Element Delete Participant">
         <enablement></enablement>
      </deleteParticipant>
   </extension>
   <extension
         point="com.tibco.cep.studio.core.refactoringParticipant">
      <refactoringParticipant
            participant="com.tibco.cep.studio.core.refactoring.ConceptRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.core.refactoring.RuleRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.core.refactoring.StateMachineRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.core.refactoring.EventRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.core.refactoring.ChannelRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.core.refactoring.RuleTemplateViewRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.core.refactoring.DecisionTableRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.core.refactoring.DomainRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.core.refactoring.DisplayRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.core.refactoring.TestDataRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.core.refactoring.StudioProjectRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.core.clusterconfig.ClusterConfigRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.core.refactoring.StudioJavaSourceRefactoringParticipant">
      </refactoringParticipant>
   </extension>
   <extension
         id="defaultDestinationValidationProblem"
         name="Default Destination Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="com.tibco.cep.studio.core.eventCodeGenerator">
      <event
            generator="com.tibco.cep.studio.codegen.EventCodeGenerator">
      </event>
   </extension>
   <extension
         point="com.tibco.cep.studio.core.conceptCodeGenerator">
      <concept
            generator="com.tibco.cep.studio.codegen.ConceptCodeGenerator">
      </concept>
   </extension>
   <extension
         point="com.tibco.cep.studio.core.pojoConceptCodeGenerator">
      <pojoConcept
            generator="com.tibco.cep.studio.codegen.PojoConceptCodeGenerator">
      </pojoConcept>
   </extension>
   <extension
         point="com.tibco.cep.studio.core.ruleCodeGenerator">
      <Rule
            generator="com.tibco.cep.studio.codegen.RuleCodeGenerator">
      </Rule>
   </extension>
   <extension
         point="com.tibco.cep.studio.core.ruleFunctionCodeGenerator">
      <ruleFunction
            generator="com.tibco.cep.studio.codegen.RuleFunctionCodeGenerator">
      </ruleFunction>
   </extension>
   <extension
         point="com.tibco.cep.studio.core.dependencyCalculationParticipant">
      <dependencyCalculationParticipant
            extensions="rule, rulefunction, ruletemplate"
            participant="com.tibco.cep.studio.core.dependency.RulesDependencyCalculator">
      </dependencyCalculationParticipant>
      <dependencyCalculationParticipant
            extensions="concept, scorecard, metric"
            participant="com.tibco.cep.studio.core.dependency.ConceptDependencyCalculator">
      </dependencyCalculationParticipant>
      <dependencyCalculationParticipant
            extensions="event, time"
            participant="com.tibco.cep.studio.core.dependency.EventDependencyCalculator">
      </dependencyCalculationParticipant>
      <dependencyCalculationParticipant
            extensions="statemachine"
            participant="com.tibco.cep.studio.core.dependency.StateMachineDependencyCalculator">
      </dependencyCalculationParticipant>
      <dependencyCalculationParticipant
            extensions="channel"
            participant="com.tibco.cep.studio.core.dependency.ChannelDependencyCalculator">
      </dependencyCalculationParticipant>
      <dependencyCalculationParticipant
            extensions="ruletemplateview"
            participant="com.tibco.cep.studio.core.dependency.RuleTemplateViewDependencyCalculator">
      </dependencyCalculationParticipant>
      <dependencyCalculationParticipant
            extensions="domain"
            participant="com.tibco.cep.studio.core.dependency.DomainDependencyCalculator">
      </dependencyCalculationParticipant>
      <dependencyCalculationParticipant
            extensions="rulefunctionimpl"
            participant="com.tibco.cep.studio.core.dependency.DecisionTableDependencyCalculator">
      </dependencyCalculationParticipant>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            default-charset="UTF-8"
            file-extensions="rule, rulefunction, ruletemplate, ruletemplateview, rulefunctionimpl, archive, time, statemachine, concept, event, scorecard, aeschema, xsd, dtd, wsdl, domain, channel, metric, cdd, display, dtree"
            id="com.tibco.cep.studio.core.be.content-type"
            name="BusinessEvents resource"
            priority="high">
      </content-type>
      <content-type
            base-type="com.tibco.cep.studio.core.be.content-type"
            default-charset="UTF-8"
            file-extensions="concepttestdata, eventtestdata, scorecardtestdata"
            id="com.tibco.cep.studio.core.be.test-content-type"
            name="BusinessEvents test data resource"
            priority="high">
      </content-type>
      <content-type
            default-charset="UTF-8"
            file-extensions="sharedhttp, id, sharedjdbc, sharedjmsapp, sharedjmscon,sharedjndiconfig,sharedrsp,rvtransport, substvar,sharedascon,hawk,sharedsb,sharedmqttcon"
            id="com.tibco.cep.studio.core.sharedresource.content-type"
            name="BusinessEvents shared resource"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="projlib">
         <run
               class="com.tibco.cep.studio.core.resources.JarFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="com.tibco.cep.studio.core.sharedArchiveResourceProvider">
      <sharedArchiveResource
            provider="com.tibco.cep.studio.core.util.packaging.impl.CoreSharedArchiveResourcesProviderImpl">
      </sharedArchiveResource>
   </extension>
   <extension
         point="com.tibco.cep.studio.core.ignoreSharedArchiveResourcePatterns">
      <ignore
            enabled="true"
            pattern="RCS">
      </ignore>
      <ignore
            enabled="true"
            pattern="RCSLOG">
      </ignore>
      <ignore
            enabled="true"
            pattern="SCCS">
      </ignore>
      <ignore
            enabled="true"
            pattern="CVS.adm">
      </ignore>
      <ignore
            enabled="true"
            pattern="tags">
      </ignore>
      <ignore
            enabled="true"
            pattern="TAGS">
      </ignore>
      <ignore
            enabled="true"
            pattern=".make.state">
      </ignore>
      <ignore
            enabled="true"
            pattern=".nse_depinfo">
      </ignore>
      <ignore
            enabled="true"
            pattern="*~">
      </ignore>
      <ignore
            enabled="true"
            pattern="#*">
      </ignore>
      <ignore
            enabled="true"
            pattern=".#*">
      </ignore>
      <ignore
            enabled="true"
            pattern=",*">
      </ignore>
      <ignore
            enabled="true"
            pattern="_$*">
      </ignore>
      <ignore
            enabled="true"
            pattern="*$">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.old">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.bak">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.BAK">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.orig">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.rej">
      </ignore>
      <ignore
            enabled="true"
            pattern=".del-*">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.a">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.olb">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.obj">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.o">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.so">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.exe">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.Z">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.elc">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.ln">
      </ignore>
      <ignore
            enabled="true"
            pattern=".DS_Store">
      </ignore>
      <ignore
            enabled="false"
            pattern="core">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.jnilib"/>
      <ignore
            enabled="true"
            pattern="*.sl"/>
      <ignore
            enabled="true"
            pattern="*.dll"/>
      <ignore
            enabled="true"
            pattern="*.bat"/>
      <ignore
            enabled="true"
            pattern="*.com"/>
      <ignore
            enabled="true"
            pattern="*.log"/>
      <ignore
            enabled="true"
            pattern="*.zip"/>
      <ignore
            enabled="true"
            pattern="*.gz"/>
      <ignore
      		enabled="true"
            pattern=".svn">
      </ignore>
      <ignore
      		enabled="true"
            pattern=".scc">
      </ignore>
      <ignore
      		enabled="true"
            pattern="*.copyarea.dat">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.copyarea.db">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.taf">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.tjf">
      </ignore>
      <ignore
      		enabled="true"
            pattern="*~">
      </ignore>
      <ignore
      		enabled="true"
            pattern="#*#">
      </ignore>
      <ignore
      		enabled="true"
            pattern=".#*">
      </ignore>
      <ignore
      		enabled="true"
            pattern="%*%">
      </ignore>
      <ignore
      		enabled="true"
            pattern="._*">
      </ignore>
      <ignore
      		enabled="true"
            pattern="CVS">
      </ignore>
      <ignore
      		enabled="true"
            pattern=".cvsignore">
      </ignore>
      <ignore
      		enabled="true"
            pattern="SCCS">
      </ignore>
      <ignore
      		enabled="true"
            pattern=".svn">
      </ignore>
       <ignore
               enabled="true"
               pattern=".settings">
       </ignore>
       <ignore
               enabled="true"
               pattern="*.substvar">
       </ignore>

   </extension>
   <extension
         point="com.tibco.cep.studio.core.studioProjectMigrator">
      <studioProjectMigrator
            studioProjectMigrator="com.tibco.cep.studio.core.migration.BEProjectConfigurationMigrator">
      </studioProjectMigrator>
      <studioProjectMigrator
            studioProjectMigrator="com.tibco.cep.studio.core.migration.CddMigrator">
      </studioProjectMigrator>
      <studioProjectMigrator
            studioProjectMigrator="com.tibco.cep.studio.core.tools.ChannelMigrator">
      </studioProjectMigrator>
      <studioProjectMigrator
            studioProjectMigrator="com.tibco.cep.studio.core.util.CoherenceFunctionMigrator">
      </studioProjectMigrator>
  <!--    <studioProjectMigrator
            studioProjectMigrator="com.tibco.cep.studio.core.util.MapperFunctionMigrator">
      </studioProjectMigrator> -->
      <studioProjectMigrator
            studioProjectMigrator="com.tibco.cep.studio.core.util.HTTPFunctionMigrator">
      </studioProjectMigrator>
       <studioProjectMigrator
            studioProjectMigrator="com.tibco.cep.studio.core.util.TerrFunctionMigrator">
      </studioProjectMigrator>
      <studioProjectMigrator
            studioProjectMigrator="com.tibco.cep.studio.core.migration.ConceptMigrator">
      </studioProjectMigrator>
      <studioProjectMigrator
            studioProjectMigrator="com.tibco.cep.studio.core.migration.DecisionTableColumnOrderMigrator">
      </studioProjectMigrator>
      <studioProjectMigrator
            studioProjectMigrator="com.tibco.cep.studio.core.migration.EventMigrator">
      </studioProjectMigrator>
      <studioProjectMigrator
            studioProjectMigrator="com.tibco.cep.studio.core.migration.ScorecardMigrator">
      </studioProjectMigrator>
      <studioProjectMigrator
            studioProjectMigrator="com.tibco.cep.studio.core.migration.TimeEventMigrator">
      </studioProjectMigrator>
      <studioProjectMigrator
            studioProjectMigrator="com.tibco.cep.studio.core.migration.DecisionTableArrayColumnsMigrator">
      </studioProjectMigrator>
      <studioProjectMigrator
            studioProjectMigrator="com.tibco.cep.studio.core.migration.DomainModelMigrator">
      </studioProjectMigrator>
<!--       <studioProjectMigrator
            studioProjectMigrator="com.tibco.cep.studio.cluster.topology.migration.ClusterTopologyFileMigrator">
      </studioProjectMigrator>-->
       <studioProjectMigrator
             studioProjectMigrator="com.tibco.cep.studio.core.migration.RuleTemplateInstanceMigrator">
       </studioProjectMigrator>
        <studioProjectMigrator
             studioProjectMigrator="com.tibco.cep.studio.core.migration.PomFileMigrator">     
       </studioProjectMigrator>
   </extension>
   <extension
         point="com.tibco.cep.studio.core.projectResourceValidator">
		<validator
			Validator="com.tibco.cep.studio.core.clusterconfig.ClusterConfigModelValidator"
			extensions="cdd">
		</validator>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            class="com.tibco.cep.studio.core.jdt.BEHomeInitializer"
            readOnly="true"
            variable="BE_HOME">
      </classpathVariableInitializer>
   </extension>
   <extension
         point="com.tibco.cep.studio.core.pathVariableInitializer">
      <pathVariableInitializer
            class="com.tibco.cep.studio.core.configuration.BEHomeInitializer"
            readOnly="true"
            variable="JUNIT_HOME">
      </pathVariableInitializer>
   </extension>
   <extension
         point="com.tibco.cep.studio.core.pathVariableInitializer">
      <pathVariableInitializer
            class="com.tibco.cep.studio.core.configuration.BEHomeInitializer"
            readOnly="true"
            variable="BE_HOME">
      </pathVariableInitializer>
   </extension>
     <extension
        point="com.tibco.cep.rt.addonContributor">
     <addon
           class="com.tibco.cep.studio.core.addon.CoreAddOnLoader"></addon>
  </extension>
      <extension
          point="org.eclipse.emf.ecore.extension_parser">
       <parser
             class="com.tibco.cep.studio.core.compare.handler.ResourceFactory"
             type="entity">
       </parser>
       <parser
             class="com.tibco.cep.studio.core.compare.handler.TableResourceFactory"
             type="rulefunctionimpl">
       </parser>
   </extension>
      <extension
            point="org.eclipse.core.filesystem.filesystems">
         <filesystem
               scheme="projlib">
            <run
                  class="com.tibco.cep.studio.core.projlib.ProjectLibraryFileSystem">
            </run>
         </filesystem>
      </extension>
      <extension
            point="com.tibco.cep.studio.core.javaCodeGenerator">
         <source
               generator="com.tibco.cep.studio.codegen.JavaSourceCodeGenerator">
         </source>
      </extension>
      <extension
          	point="com.tibco.cep.studio.core.studioProjectContributor">
	      <ProjectContributor
	            studioProjectContributor="com.tibco.cep.studio.core.nature.StudioJavaProject">
	      </ProjectContributor>
   	  </extension>
	  <extension
	         id="com.tibco.cep.studio.core.BE_CONTAINERS"
	         point="org.eclipse.jdt.core.classpathContainerInitializer">
	      <classpathContainerInitializer
	            class="com.tibco.cep.studio.core.jdt.BEThirdPartyLibraryContainerInitializer"
	            id="BE_THIRD_PARTY_LIBRARY_CONTAINER">
	      </classpathContainerInitializer>
	      <classpathContainerInitializer
	            class="com.tibco.cep.studio.core.jdt.BEClasspathContainerInitializer"
	            id="BE_CLASSPATH_CONTAINER">
	      </classpathContainerInitializer>
	      <classpathContainerInitializer
	            class="com.tibco.cep.studio.core.jdt.TibExtClasspathContainerInitializer"
	            id="TIB_EXT_CLASSPATH_CONTAINER">
	      </classpathContainerInitializer>
	  </extension>  	  
      <extension
            id="gvproblem"
            point="org.eclipse.core.resources.markers">
         <super
               type="org.eclipse.core.resources.problemmarker">
         </super>
         <super
               type="com.tibco.cep.studio.core.gvmarker">
         </super>
      </extension>
      <extension
            id="gvmarker"
            point="org.eclipse.core.resources.markers">
      </extension>
      <extension
            point="com.tibco.cep.studio.core.javaResourceGenerator">
         <source
               generator="com.tibco.cep.studio.codegen.JavaResourceGenerator">
         </source>
      </extension>
      <extension
            point="com.tibco.cep.studio.core.projectResourceValidator">
         <validator
               Validator="com.tibco.cep.studio.core.validation.StudioJavaSourceValidator"
               extensions="java">
         </validator>
      </extension>
       <extension
            id="studioJavaSourceProblem"
            name="Java Problem"
            point="org.eclipse.core.resources.markers">
         <persistent
               value="true">
         </persistent>
         <super
               type="com.tibco.cep.studio.core.validationProblem">
         </super>
      </extension>
      <extension
            id="studioJavaSourceAnnotationProblem"
            name="Java Problem"
            point="org.eclipse.core.resources.markers">
         <persistent
               value="true">
         </persistent>
         <super
               type="com.tibco.cep.studio.core.validationProblem">
         </super>
      </extension>
      
      
     <extension
          point="com.tibco.cep.studio.core.projectResourceValidator">
       <validator
             Validator="com.tibco.cep.studio.core.validation.StudioJavaCustomFunctionSourceValidator"
             extensions="java">
       </validator>
    </extension>
    
    <extension
       point="org.eclipse.jdt.apt.core.annotationProcessorFactory">
    <java6processors
          enableDefault="true">
       <java6processor
             class="com.tibco.cep.studio.core.validation.CustomBEFunctionProcessor">
       </java6processor>
    </java6processors>
 </extension>
    <extension
            point="com.tibco.cep.studio.core.studioProjectContributor">
         <ProjectContributor
               studioProjectContributor="com.tibco.cep.studio.core.resources.DefaultStudioProjectContributor">
         </ProjectContributor>
    </extension>
      <!--
      <extension
            point="org.eclipse.jdt.apt.core.annotationProcessorFactory">
         <java6processors
               enableDefault="true">
            <java6processor
                  class="com.tibco.cep.studio.core.functions.annotations.BEFunctionAnnotationProcessor">
            </java6processor>
         </java6processors>
      </extension>
      -->
</plugin>
