p {
  font-weight: 300;
}

.preference-container {
  padding: 1em;
  height: calc(100vh - 185px);
  overflow-x: hidden;
  overflow-y: auto;
}

.preference-entry {
  padding: 10px 0 20px 0;
}

mat-list-item.active {
  background-color: #6c757d26;
}

.mat-nav-list .mat-list-item {
  outline: 0;
  font-family: inherit;
}

.mat-subheader {
  font-family: inherit;
  color: #34495e !important;
  padding-bottom: 0px !important;
}

.mat-raised-button.custom-save-button {
  background-color: #337ab7;
  color: white;
  margin-top: 0.3em;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: deepskyblue;
}

::ng-deep .mat-checkbox-label-before .mat-checkbox-inner-container {
  position: absolute;
  right: 5%;
}

::ng-deep .mat-checkbox {
  font-family: inherit;
}

::ng-deep label.mat-checkbox-layout {
  color: #6c757d;
  margin-bottom: 0% !important;
}

::ng-deep mat-checkbox.unlock-all > label.mat-checkbox-layout {
  color: #6c757d;
  margin-bottom: 0% !important;
}

.mat-grid-tile .mat-grid-tile-footer {
  background-color: white;
  border-top: 1px solid rgba(0,0,0,.12);
}

.mat-form-field {
  padding-left: 2%;
  width: 98% !important;
  padding-right: 2%;
}

::ng-deep .mat-checkbox {
  padding-left: 2%;
  width: 98% !important;
  padding-right: 2%;
}

.ng-invalid:not(form) {
  border-left: none;
}

.custom-list-item.mat-list-item {
  margin-bottom: 1%;
}

.mat-divider.custom-divider {
  margin-bottom: 1%;
}
