<form (ngSubmit)='onChangePassword(changePasswordForm.value, changePasswordForm.valid)' #changePasswordForm='ngForm'>
        <div class="card panel-sm">
          <div class="card-header" [innerHTML]="getMessage()">
          </div>
          <div class="card-body">
            <div class='row'>
              <div class='col-sm-12'>
                <div class='row justify-content-center'>
                  <div class="form-group col-sm-6">
                    <input 
                     type="password"
                     class="form-control" 
                     name="password" 
                     [ngModel]="user.password" 
                     validateEqual="passwordRepeat"
                     reverse="true"
                     required 
                     placeholder="{{i18n('Password')}}" 
                     i18n-placeholder
                     #password="ngModel"
                     >
                    <small [hidden]="password.valid || (password.pristine && !changePasswordForm.submitted)" class="text-danger">
                      <ng-container i18n>{{i18n('Password is required')}}</ng-container>
                    </small>
                  </div>
                </div>
                <div class='row justify-content-center'>
                  <div class="form-group col-sm-6">
                    <input type="password"
                      class="form-control"
                      name="passwordRepeat"
                      [ngModel]="user.passwordRepeat"
                      required
                      validateEqual="password"
                      #passwordRepeat="ngModel"
                      placeholder="{{i18n('Confirm password')}}"
                      i18n-placeholder
                    >
                        <small [hidden]="passwordRepeat.valid || (passwordRepeat.pristine && !changePasswordForm.submitted)" class="text-danger">
                          <ng-container i18n>{{i18n('Passwords must match')}}</ng-container>
                        </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row left-pad right-pad bottom-pad top-pad">
          <div class="col-sm-12">
            <button type="button" class='btn btn-outline-primary btn-sm btn-narrow' (click)='cancel()' i18n>{{i18n('Cancel')}}</button>
            <button type="submit" class='btn btn-primary btn-sm pull-right' [disabled]='!changePasswordForm.valid || changePasswordForm.submitted || changePasswordForm.pristine' i18n>{{i18n('Change password')}}</button>
          </div>
        </div>
      </form>