<content-tree [eventEmitter]='eventEmitter' [navMode]='navMode' [input]='input'></content-tree>
<!-- <ul class="menu__level--current">
	<li draggable *ngFor="let item of input" [@stateChanged]='item.state' 
		class="menu__item" [dragData]="item"
		(click)="toggleState(item, $event)"
		(contextmenu)='rightClick(item, $event)'>
		<span *ngIf="item.container; else artifactItem" [class.expanded]='item.state==="expanded"' class="{{item.icon}} menu__link menu__link_icon"
			data-submenu="submenu">
			<span style="font-family: 'Helvetica'">{{item.label}}</span>
		</span>
		<content-pane [@expansionChanged]='item.state' class="content-pane" *ngIf='item.resources' [input]='item.resources'>
		</content-pane>
		<ng-template #artifactItem>
			<span [class.itemActivated]='item.selected' class="{{item.icon}} menu__link menu__link_icon">
				<span style="font-family: 'Helvetica'">{{item.label}}</span>
			</span> 
		 </ng-template>
	</li>
</ul>
 -->