.content-pane {
	display: block;
}

.collapsed {
	display: none;
}

/* .content-pane ul li span {
	border-left: 2px solid transparent;
}
.content-pane ul li span:hover {
	border-left: 2px solid #2f79b9;
} */

.expanded {
	display: block;
	border-left: 2px solid #062f79;
	background: #062f79;
	color: white;
}

.selected {
	border-left: 2px solid #062f79;
}

.menu__item {
	display: block;
	width: calc(100% - 10px);
}

.menu__link_label {
 	font-size: 'Source Sans Pro';
  	font-family: 'Source Sans Pro';
 	font-stretch: ultra-condensed;
}

.menu__link {
	font-weight: 500;
	font-size: calc(8px + .5vh);
	position: relative;
	display: block;
	padding: .65em;
	/* 	padding: 1em 1.25em 1em 1.25em; */
	text-decoration: none;
	border-left: 2px solid transparent;
}

.menu__link_icon {
	/* float: left; */
	position: relative;
	padding-right: 1em;
	padding-left: 1em;
}

.menu__link[data-submenu]::after {
	content: '...';
	position: absolute;
	right: .25em;
	padding-right: 1.5em;
}

.menu__link_submenu {
	content: '...';
	position: absolute;
	right: .25em;
	padding: .25em;
	margin-right: .5em;
	/* color: white; */
}

.menu__link:hover {
 	border-left: 2px solid #062f79; 
 	/* background: #E0F0F9; */
}

.menu__link:hover, .menu__link[data-submenu]:hover::after {
	/* background: #4f4b5c; */
	/* color: #2f79b9; */
	transform: scale(1.00);
}

.itemActivated {
	/* border-left: 2px solid #2f79b9; */
	border-left: 2px solid #80c780;
	font-weight: bold;
}

