.animated {
   padding:5px;
   -webkit-animation-duration: .3s;
   animation-duration: .3s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
   0% {opacity: 0;}
   75% {opacity: 0;}
   100% {opacity: .8;}
}

@keyframes fadeIn {
   0% {opacity: 0;}
   75% {opacity: 0;}
   100% {opacity: .8;}
}

.fadeIn {
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}
/* Overlay icons */
.fa-stack-small {
    height: 1.5em;
}
.overlayIconBase {
    font-size: 1.15em;
    line-height: 1.15em;
    height: 1.15em;
    width: 1.15em;
    margin-right: .75em;
/*     text-shadow: -1px 0 black, 0 1px 1px black, 1px 0 1px black, 0 -1px black; */
}
.overlayIcon {
    font-size: .6em;
    text-shadow: -1px 0 black, 0 1px 1px black, 1px 0 1px black, 0 -1px black;
    line-height: 1.5em;
}
.overlay-clean {
    color: #66ccff;
}
.overlay-warning {
    color: #ffff33;
}
.overlay-error {
    color: #a94442;
}
.overlay-info {
    color: #33cc33;
}
.overlayLock {
    color: orange;
}
.bottomRight {        
    margin: 40% 0px 0px 15%;
}
.bottomLeft {        
    margin: 40% 0px 0px -50%;
}
.topRight {        
    margin: -25% 0px 0px 15%
}
.topLeft {        
    margin: -25% 0px 0px -50%
}
    