<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="runtimeBundleClasspathProvider" name="Runtime Bundle Classpath Provider" schema="schema/RuntimeBundleClasspathProvider.exsd"/>
   <extension-point id="runtimeBundleClasspathProviderDelegate" name="Runtime Bundle Classpath Provider Delegate" schema="schema/RuntimeBundleClasspathProviderDelegate.exsd"/>
   <extension-point id="driverXmlProvider" name="Driver XML Provider" schema="schema/driverXmlProvider.exsd"/>
   <extension
         point="com.tibco.cep.tpcl.runtimeBundleClasspathProvider">
      <RuntimeBundle
            classpathProvider="com.tibco.cep.tpcl.TpclBundleClasspathProvider">
      </RuntimeBundle>
   </extension>
   <!--
      <extension
         point="com.tibco.cep.tpcl.runtimeBundleClasspathProviderDelegate">
      <RuntimeBundle
            classpathProvider="com.tibco.cep.tpcl.CompatibilityBundleClasspathProvider">
      </RuntimeBundle>
   </extension>
   -->
      <extension
         point="com.tibco.cep.tpcl.runtimeBundleClasspathProviderDelegate">
      <RuntimeBundle
            classpathProvider="com.tibco.cep.tpcl.DelegateBundleClasspathProvider">
      </RuntimeBundle>
   </extension>

</plugin>
