<div class="card panel-sm">
  <div class="card-header" i18n>
    {{i18n('Column Field Setting')}}
    </div>
  <div class="card-body">
    <div class='row'>
      <div class='col-sm-12'>
        <form #newColumn="ngForm">
            <div class="form-group">
                <label for="columnName" class='control-label control-label-normal' i18n>{{i18n('Column Name')}}</label>
                <input type="text" name="columnName" #columnNameInput required class='form-control' autocomplete="false" [(ngModel)]="form.columnName" #columnName="ngModel" disabled>
            </div>
            <div class="form-group">
                <label for="columnAlias" class='control-label control-label-normal' i18n>{{i18n('Column Alias')}}</label>
                <input type="text" name="columnAlias" #columnNameInput class='form-control' autocomplete="false" [(ngModel)]="form.columnAlias" #columnName="ngModel">
            </div>
            <div class="form-group">
                <label for="columnId" class='control-label control-label-normal' i18n>{{i18n('Column Id')}}</label>
                <input type="text" name="columnId" #columnNameInput required class='form-control' autocomplete="false" [(ngModel)]="form.columnId" #columnName="ngModel" disabled>
            </div>
            <div class="form-group">
                <label for="columnDText" class='control-label control-label-normal' i18n>{{i18n('Default Text')}}</label>
                <input *ngIf='!this.isDMAssociated' type="text" name="columnDText" #columnNameInput class='form-control' autocomplete="false" [(ngModel)]="form.columnDText" #columnName="ngModel">
                <div class="form-group">
                    <div #container class="ag-popup-editorCustom" *ngIf='this.isDMAssociated'>
                        <input style="width: 100%;" type="text" [(ngModel)]="this.customString" [disabled]="this.isCustomAllow()" name="customString">
                        <table style="width: 100%;">
                            <tr style="background-color: lightgray;">
                                <td class="selectField">
                                </td>
                                <td class="valueField"><input type="text" [(ngModel)]="this.valueFilter" name="valueFilter"></td>
                                <td class="valueField"><input type="text" [(ngModel)]="this.descriptionFilter" name="descriptionFilter"></td>
                            </tr>
                            <tr style="background-color: lightgray;">
                                <td class="selectField">
                                </td>
                                <td class="valueField" i18n>{{i18n('Value')}}</td>
                                <td class="valueField" i18n>{{i18n('Description')}}</td>
                            </tr>
                            <tr *ngFor="let entry of this.getFilteredEntries()">
                                <td class="selectField">
                                    <input type="checkbox" [checked]="this.getIsChecked(entry)" (change)="updateList(entry)">
                                </td>
                                <td class="valueField">{{entry.value}}</td>
                                <td class="valueField">{{entry.description}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

              </div>
              <div class="form-group">
                    <mat-slide-toggle [(ngModel)]="form.includeExistingRules" color="primary" name="includeRules">
                            {{i18n('Include existing rules')}}
                    </mat-slide-toggle> 
                  <!-- <label for="includeExists" class='control-label control-label-normal' i18n>{{i18n('Include existing rules')}}</label>
                  <toggle-switch [size]='"mini"' [value]='form.includeExistingRules' (valueChange)='setIncludingRulesValue($event)'></toggle-switch> -->
              </div>
          </form>
         </div>
     </div>
  </div>
</div>
<div class="row left-pad right-pad bottom-pad top-pad">
    <div class="col-sm-12">
        <button type="button" class='btn btn-outline-primary btn-sm btn-narrow' (click)='onCancel()' i18n>{{i18n('Cancel')}}</button>
        <button class='btn btn-primary btn-sm btn-narrow pull-right' [disabled]='! newColumn.valid' (click)='onSubmit()' i18n>{{i18n('Confirm')}}</button>
    </div>
</div>