div.editor-container {
  height: 100%;
  overflow: auto;
  padding: 15px;
}

.buttonDiv{
  display: flex;
  justify-content: flex-end;
}

.customButton{
  border: none !important;
}

div.table-area {
  height: calc(100% - 64px);
  border-top: 1px solid lightgray;
  padding-top: 0.5em;
}

div.property-area {
  height: auto;/* 64px; */
}

span.property-label {
  padding-left: 0.5em;
  font-size: 13px;
}

div.table-edit-control {
  height: 2em;
}

div.ag-grid-table {
  height: 350px;
}

.paginationDiv {
  text-align: end;
  margin-top: 5px;
}

.paginationElement {
	background-color: #fff;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.DTAccordion {
  padding-bottom: 10px !important;
}

.ETAccordion {
	
}