div.editor-container {
  height: 100%;
  overflow: hidden;
  padding: 15px;
}

div.table-area {
	height: calc(100% - 5.5em);
  border-top: 1px solid lightgray;
  padding-top: 0.5em;
}

div.property-area {
  height: 5em; 
}

span.property-label {
  padding-left: 0.5em;
  font-size: 13px;
}

div.table-edit-control {
  height: 2em;
}

div.ag-grid-table {
  height: calc(100% - 2.5em);
}
