<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
       point="org.eclipse.ui.actionSets">
      <actionSet
            description="RMS main menu"
            id="com.tibco.cep.studio.rms.rmsActionSet"
            label="RMS Action Set"
            visible="true">
         <menu
         	id="com.tibco.cep.studio.rms.mainMenu"
         	label="RMS"
         	path="additions">
         	<separator name="RmsSeparator"/>
         	<separator name="RmsSeparator1"/>
         	<separator name="RmsSeparator2"/>
          <separator
                name="RmsSeparator3">
          </separator>
          <separator
                name="RmsSeparator4">
          </separator>
          <separator
                name="RmsSeparator5">
          </separator>
          <separator
                name="RMSSeparator6">
          </separator>
         </menu>
         <action
         	id="com.tibco.cep.studio.rms.loginAction"
         	menubarPath="com.tibco.cep.studio.rms.mainMenu/RmsSeparator"
         	label="Login"
         	tooltip="Login with a valid username/password"
         	icon="icons/connect_to_server_16x16.png"
         	class="com.tibco.cep.studio.rms.ui.LoginActionDelegate">
         </action>
         <action
         	id="com.tibco.cep.studio.rms.updateAction"
         	menubarPath="com.tibco.cep.studio.rms.mainMenu/RmsSeparator1"
         	label="Update"
         	tooltip="Update selected resources from RMS"
         	icon="icons/update.gif"
         	class="com.tibco.cep.studio.rms.ui.actions.UpdateResourceAction">
         </action>
         <action
               class="com.tibco.cep.studio.rms.ui.actions.CommitResourceAction"
               icon="icons/commit.gif"
               id="com.tibco.cep.studio.rms.commitAction"
               label="Commit"
               menubarPath="com.tibco.cep.studio.rms.mainMenu/RmsSeparator1"
               style="push"
               tooltip="Commit selected resources to RMS">
         </action>
         <action
         	id="com.tibco.cep.studio.rms.checkoutAction"
         	menubarPath="com.tibco.cep.studio.rms.mainMenu/RmsSeparator1"
         	label="Checkout"
         	tooltip="Checkout selected resources of project from RMS"
         	icon="icons/checkout.gif"
         	class="com.tibco.cep.studio.rms.ui.actions.CheckoutActionDelegate">
         </action>
         <action
               class="com.tibco.cep.studio.rms.ui.actions.RMSRevertAction"
               id="com.tibco.cep.studio.rms.revertAction"
               label="Revert..."
               menubarPath="com.tibco.cep.studio.rms.mainMenu/RmsSeparator2"
               style="push">
         </action>
         <action
               class="com.tibco.cep.studio.rms.ui.actions.GenerateDeployableAction"
               icon="icons/enterpriseArchive16x16.gif"
               id="com.tibco.cep.studio.rms.menu.deployable.action"
               label="Generate Deployable"
               menubarPath="com.tibco.cep.studio.rms.mainMenu/RmsSeparator3"
               tooltip="Build archive">
         </action>
         <!--action
               class="com.tibco.cep.studio.rms.ui.actions.ShowWorklistAction"
               icon="icons/worklist_editor.png"
               id="com.tibco.cep.studio.rms.menu.worklist.action"
               label="Show Worklist"
               menubarPath="com.tibco.cep.studio.rms.mainMenu/RmsSeparator3"
               tooltip="Show worklist">
         </action-->
         <action
               class="com.tibco.cep.studio.rms.history.actions.ShowHistoryAction"
               id="com.tibco.cep.studio.rms.show.history.action"
               label="Show History"
               menubarPath="com.tibco.cep.studio.rms.mainMenu/RmsSeparator4"
               style="push">
         </action>
         <action
         	id="com.tibco.cep.studio.rms.logoutAction"
         	menubarPath="com.tibco.cep.studio.rms.mainMenu/RmsSeparator5"
         	label="Logout"
         	icon="icons/connect_to_server_16x16.png"
         	class="com.tibco.cep.studio.rms.ui.LogoutActionDelegate">
         </action>
         <!--action
               class="com.tibco.cep.studio.rms.ui.SetupRMSProjectAction"
               id="com.tibco.cep.studio.rms.setuprmsproject"
               label="Setup RMS Project"
               menubarPath="com.tibco.cep.studio.rms.mainMenu/RMSSeparator6">
         </action-->
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.tibco.cep.rms.artifacts.startup.RMSPluginStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.tibco.cep.studio.rms.mainRMSMenu"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="com.tibco.cep.studio.rms.menu"
               label="RMS"
               path="group.rms">
            <separator
                  name="RMSSeperator1">
            </separator>
            <separator
                  name="RMSSeperator2">
            </separator>
            <separator
                  name="RMSSeperator3">
            </separator>
            <separator
                  name="RMSSeperator4">
            </separator>
         </menu>
         <action
               class="com.tibco.cep.studio.rms.ui.actions.UpdateResourceAction"
               enablesFor="1"
               icon="icons/update.gif"
               id="com.tibco.cep.studio.rms.updateResourceAction"
               label="Update"
               menubarPath="com.tibco.cep.studio.rms.menu/RMSSeperator1"
               tooltip="Update selected resources from RMS">
         </action>
         <action
               class="com.tibco.cep.studio.rms.ui.actions.CommitResourceAction"
               enablesFor="1"
               icon="icons/commit.gif"
               id="com.tibco.cep.studio.rms.commitResourceAction"
               label="Commit"
               menubarPath="com.tibco.cep.studio.rms.menu/RMSSeperator1"
               tooltip="Commit selected resources to RMS">
         </action>
         <action
               class="com.tibco.cep.studio.rms.ui.actions.CheckoutActionDelegate"
               enablesFor="1"
               icon="icons/checkout.gif"
               id="com.tibco.cep.studio.rms.checkoutProjectAction"
               label="Checkout"
               menubarPath="com.tibco.cep.studio.rms.menu/RMSSeperator1"
               tooltip="Checkout selected resources of project from RMS">
         </action>
          <!--action
                class="com.tibco.cep.studio.rms.ui.actions.ShowWorklistAction"
                enablesFor="1"
                icon="icons/worklist_editor.png"
                id="com.tibco.cep.studio.rms.worklist.action"
                label="Worklist"
                menubarPath="com.tibco.cep.studio.rms.menu/RMSSeperator3"
                tooltip="Show worklist">
         </action>
         <action
               class="com.tibco.cep.studio.rms.history.actions.DiffAction"
               definitionId="com.tibco.cep.studio.rms.actions.compare"
               enablesFor="2"
               id="com.tibco.cep.studio.rms.actions.compare"
               label="Compare"
               menubarPath="com.tibco.cep.studio.rms.menu/additions"
               style="push">
         </action-->
         <action
               class="com.tibco.cep.studio.rms.ui.actions.RMSRevertAction"
               id="com.tibco.cep.studio.rms.action.revert"
               label="Revert..."
               menubarPath="com.tibco.cep.studio.rms.menu/RMSSeperator2"
               style="push">
         </action>
         <action
               class="com.tibco.cep.studio.rms.history.actions.ShowHistoryAction"
               id="com.tibco.cep.studio.rms.ui.action.showhistory"
               label="Show History"
               menubarPath="com.tibco.cep.studio.rms.menu/RMSSeperator4"
               style="push">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tibco.cep.studio.rms.client.ui.RMSClientWorklistEditor"
            default="false"
            icon="icons/worklist_editor.png"
            id="com.tibco.cep.studio.rms.worklist.editor"
            name="Worklist">
      </editor>
      <editor
            class="com.tibco.cep.studio.rms.history.RMSHistoryEditor"
            default="false"
            icon="icons/rms_his.png"
            id="com.tibco.cep.studio.rms.history.editor"
            name="History">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="com.tibco.cep.studio.rms.auth.toolbar">
            <control
                  class="com.tibco.cep.studio.rms.ui.StatusLineControlContribution"
                  id="com.tibco.cep.studio.rms.ui.auth.statusline">
               <visibleWhen
                     checkEnabled="false">
               </visibleWhen>
            </control>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.tibco.cep.studio.rms.ui.preferences.RMSPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.tibco.cep.studio.ui.preference.page.designer"
            class="com.tibco.cep.studio.rms.ui.preferences.RMSPreferencePage"
            id="com.tibco.cep.decision.table.checkoutPreferencepage"
            name="Rules Management Server">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="com.tibco.cep.rms.development"
            name="BRMS Development">
      </activity>
      <categoryActivityBinding
            activityId="com.tibco.cep.rms.development"
            categoryId="com.tibco.cep.standard.category">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.rms.development"
            pattern="com\.tibco\.cep\.studio\.rms\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.rms.development"
            pattern="com\.tibco\.cep\.rms/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.rms.development"
            pattern="com\.tibco\.cep\.studio\.rms/.*">
      </activityPatternBinding>
      <activityRequirementBinding
            activityId="com.tibco.cep.rms.development"
            requiredActivityId="com.tibco.cep.standard.development">
      </activityRequirementBinding>
      <defaultEnablement
            id="com.tibco.cep.rms.development">
      </defaultEnablement>
   </extension>
</plugin>