<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
	      point="org.eclipse.ui.startup">
	   <startup
	         class="com.tibco.cep.decision.table.capabilities.DecisionManagerCapabilitiesStartup">
	   </startup>
	</extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
             description="Develop decision table applications"
             id="com.tibco.cep.decision.table.development"
             name="Decision Table Development">
		<!--
			<enabledWhen>
            <systemTest
                  property="ACTIVATE_BUSINESS_USER"
                  value="false">
            </systemTest>
         </enabledWhen>
         -->             
      </activity>
      <activityRequirementBinding
             activityId="com.tibco.cep.decision.table.development"
             requiredActivityId="com.tibco.cep.standard.development">
      </activityRequirementBinding>
      <categoryActivityBinding
            activityId="com.tibco.cep.decision.table.development"
            categoryId="com.tibco.cep.standard.category">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.decision\.graph/.*">
      </activityPatternBinding>
      <!--activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui/.*">
      </activityPatternBinding-->
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui/com\.tibco\.cep\.studio\.ui\.newstudioprojectwizard">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui/com\.tibco\.cep\.studio\.ui\.newConceptWizard">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui/com\.tibco\.cep\.studio\.ui\.newEventwizard">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui/com\.tibco\.cep\.studio\.ui\.newRulewizard">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui/com\.tibco\.cep\.studio\.ui\.newScorecardWizard">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui/com\.tibco\.cep\.studio\.ui\.newRuleFunctionWizard">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui/com\.tibco\.cep\.studio\.ui\.newTimeEventwizard">
      </activityPatternBinding>            
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.ui\.newChannelWizard">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.ui\.newClusterConfigurationWizard">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.statemachine/com\.tibco\.cep\.studio\.ui\.statemachine\.wizards\.newStateMachinewizard">
      </activityPatternBinding>      
      <!--activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/.*">
      </activityPatternBinding-->
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.query\.composer\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.module/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.sharedresource/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.statemachine/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ws/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ws/com\.tibco\.cep\.wsdl\.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.decision\.process">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.application/com\.tibco\.cep\.studio\.application\.perspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.diagramming/com\.tibco\.cep\.diagramming\.diagram\.perspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.debug\.ui/com\.tibco\.cep\.studio\.debug\.ui\.perspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="org\.eclipse\.ant\.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.*">
      </activityPatternBinding> 
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="org\.eclipse\.ecf\.*">
      </activityPatternBinding> 
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="org\.eclipse\.jdt\.*">
      </activityPatternBinding> 
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="org\.eclipse\.pde\.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="org\.eclipse\.search/org\.eclipse\.*">
      </activityPatternBinding> 
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="org\.eclipse\.ui\.externaltools\.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.project\.buildAutomatically">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.navigate\.back">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="org\.eclipse\.ui/org\.eclipse\.ui\.perspectives\.showPerspective\.perspectiveId">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="org\.eclipse\.ui/org\.eclipse\.ui\.perspectives\.showPerspective\.newWindow">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.editors\.ui\.rulesEditor">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco.cep.concept\.editors\.formeditor">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.editors\.ui\.rulefunctionEditor">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.scorecard\.editors\.formeditor">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.event\.editors\.formeditor">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.entities\.editor\.timeevent">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.project\.editors\.ProjectDiagramEditor">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.ui\.editors\.editor\.channel">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.project\.editors\.SequenceDiagramEditor">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.project\.editors\.DependencyDiagramEditor">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.ui\.editor\.ClusterConfigEditor">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.ui\.editor\.GlobalVariablesEditor">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.event\.editors\.EventDiagramEditor">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.concept\.editors\.ConceptDiagramEditor">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.retegraph\.editors\.ReteGraphDiagram">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.projectexplorer\.showProjectViewaction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.projectexplorer\.showConceptViewaction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.ui\.editors\.showEventViewAction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.ui\.editors\.analyzeProjectViewaction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com.tibco\.cep\.studio\.projectexplorer\.event\.createDependencyDiagram\.objectContribution">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.projectexplorer\.concept\.createDependencyDiagram\.objectContribution">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.projectexplorer\.channel\.createDependencyDiagram\.objectContribution">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.projectexplorer\.rulefunction\.createDependencyDiagram\.objectContribution">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.projectexplorer\.rule\.createDependencyDiagram\.objectContribution">
      </activityPatternBinding>
        <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.projectexplorer\.domain\.createDependencyDiagram\.objectContribution">
      </activityPatternBinding>
        <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.projectexplorer\.scorecard\.createDependencyDiagram\.objectContribution">
      </activityPatternBinding>
        <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.projectexplorer\.statemachine\.createDependencyDiagram\.objectContribution">
      </activityPatternBinding>
           <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.ui\.generateProjectView">
      </activityPatternBinding>
        <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.ui\.analyzeProject">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui/com\.tibco\.cep\.studio\.ui\.search\.references\.IResource">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui/com\.tibco\.cep\.studio\.ui\.search\.references\.Entity">
      </activityPatternBinding>
       <!--activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui/com\.tibco\.cep\.studio\.ui\.editors\.validateProjectViewaction">
      </activityPatternBinding-->
        <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui/com\.tibco\.cep\.studio\.ui\.opentypeaction">
      </activityPatternBinding>
        <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui/com\.tibco\.cep\.studio\.ui\.build\.earaction">
      </activityPatternBinding>
        <!--activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui/com\.tibco\.cep\.studio\.ui\.validate">
      </activityPatternBinding-->
        <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui/com\.tibco\.cep\.studio\.ui\.edit\.globalvar\.action">
      </activityPatternBinding>
        <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.navigator/com\.tibco\.cep\.studio\.ui\.navigator\.search\.reference">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.diagramming/com\.tibco\.cep\.studio\.ui\.editors\.preference\.page\.diagram">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.ui\.editors\.preference\.page\.printing">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui\.editors/com\.tibco\.cep\.studio\.ui\.editors\.preference\.rules">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui/com\.tibco\.cep\.studio\.ui\.wizards\.imports\.ProjectLibraryImportWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui/com\.tibco\.cep\.studio\.ui\.wizards\.DesignerImportWizard">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="com.tibco.cep.decision.table.development"
            pattern="com\.tibco\.cep\.studio\.ui/com\.tibco\.cep\.studio\.ui\.wizards\.export\.ProjectLibraryExportWizard">
      </activityPatternBinding>
       <activityPatternBinding
             activityId="com.tibco.cep.decision.table.development"
             pattern="com\.tibco\.cep\.decision\.table\.ui/.*">
       </activityPatternBinding>
       <defaultEnablement
             id="com.tibco.cep.decision.table.development">
       </defaultEnablement>
   </extension>
</plugin>
