div.strategy-selection {
  padding-bottom:1em;
}

div.editor-area {
  border-left: 1px solid lightgray;
  height: 65vh;
}

div.btn-area {
  padding: 0 1em 1em 1em;
}

div.scrollable-body {
  max-height: 80vh;
  overflow: auto;
}

div.strategy-explanation {
  margin-top: 0.5em;
  margin-bottom: 0em;
  border: none;
}

div.diff-lengend-explanation {
  margin-top: 1em;
  margin-bottom: 0em;
  display: block !important;
}

.symbolCustom {
  margin-left: 10% !important;
}

.rowCustom {
  margin-left: 0px;
}

.buttonCustom {
  background-color: #007bff;
  border-color: #007bff;
}
