<div class="legend-well" *ngIf="this.getShowDiff()">
  <div class="pull-right-legends">
    <span class="ws-diff-legend ws-diff-background-add"></span><span class="ws-diff-legend-descrip" i18n>{{i18n(' Added ')}}</span>
    <span class="ws-diff-legend ws-diff-background-delete"></span><span class="ws-diff-legend-descrip" i18n>{{i18n(' Deleted ')}}</span>
    <span class="ws-diff-legend ws-diff-background-modify"></span><span class="ws-diff-legend-descrip" i18n>{{i18n(' Modified ')}}</span>
  </div>
</div>
<div #RTIView class="RTIView" id={{this.rtiName}}>

</div>
<div style='margin-top: 100px'>
 <accordion>
    <accordion-group *ngIf='this.showProperties' heading="{{i18n('Properties')}}" i18n-heading>
      <div><review-properties [artifact]='this.initializationObject'></review-properties></div>
    </accordion-group>
 </accordion>
</div>
