<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="tnsFlavorDelegate" name="tnsFlavorDelegate" schema="schema/tnsFlavorDelegate.exsd"/>
   <extension
         point="com.tibco.cep.tpcl.runtimeBundleClasspathProvider">
      <RuntimeBundle
            classpathProvider="com.tibco.cep.tra.TraBundleClasspathProvider">
      </RuntimeBundle>
   </extension>

</plugin>
