<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tibco.cep.tpcl.runtimeBundleClasspathProvider">
      <RuntimeBundle
            classpathProvider="com.tibco.cep.bpmn.rt.BpmnRuntimeClasspathProvider">
      </RuntimeBundle>
   </extension>

   <extension
         point="com.tibco.cep.rt.functionCatalogProvider">
      <functionCatalog
            provider="com.tibco.cep.bpmn.rt.BpmnFunctionCatalogProvider">
      </functionCatalog>
   </extension>
</plugin>
