.slide {
    color: rgb(0, 162, 255);
    top: 50% !important;
    float: left;
    position: absolute;
    z-index: inherit;
}

.slide-rtl {
    color: rgb(0, 162, 255);
    top: 50% !important;
    float: right;
    padding-top: 25%;
    z-index: inherit;
}

.slide-content {
    margin-left: 1% !important;
    height: 100%;
}

.mat-subheader {
    font-family: inherit;
    padding-bottom: 0px !important;
    padding-top: 12px !important;
    color: #34495e !important;
}

mat-list-item.active {
    background-color: #6c757d26;
}

.active {
    border-left: 5px rgb(0, 162, 255) solid;
}
