<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BE/runtime/core/container/src/com/tibco/cep/container/standalone/BEMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="LD_LIBRARY_PATH" value="/usr/lib:${RV_HOME}/lib/:${AS_HOME}/lib:${EMS_HOME}/lib"/>
<mapEntry key="PATH" value="${RV_HOME}/bin:/usr/java/default/bin:"/>
</mapAttribute>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;sourceLookupDirector&gt;&#10;&lt;sourceContainers duplicates=&quot;false&quot;&gt;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#10;&amp;lt;directory nest=&amp;quot;false&amp;quot; path=&amp;quot;/home/pdhar/workingdir/codegen&amp;quot;/&amp;gt;&amp;#10;&quot; typeId=&quot;org.eclipse.debug.core.containerType.directory&quot;/&gt;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#10;&amp;lt;default/&amp;gt;&amp;#10;&quot; typeId=&quot;org.eclipse.debug.core.containerType.default&quot;/&gt;&#10;&lt;/sourceContainers&gt;&#10;&lt;/sourceLookupDirector&gt;&#10;"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.tibco.cep.container.standalone.BEMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-c /OOCL.cdd -u default   /mnt/hgfs/workingdir/OOCL-IB.ear"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BE"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-server &#10;-Xms1024m &#10;-Xmx1024m &#10;-javaagent:/home/pdhar/opt/tibco51_101/be/5.1/lib/cep-base.jar &#10;-XX:MaxPermSize=256m &#10;-XX:+UseParNewGC -XX:+UseConcMarkSweepGC &#10;-Dbe.engine.cluster.as.discover.url=tibpgm://34534/192.168.0.196&#10;-Dbe.engine.cluster.isSeeder=true&#10;-Dbe.gen.process.dir=/mnt/hgfs/workingdir/codegen"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/home/pdhar/workingdir"/>
</launchConfiguration>
