<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="TargetPlatform_4.4_win_x86_64" sequenceNumber="143">
<locations>
<location path="${TSI-ROOT}/external/eclipse/epf/richtext/1.5.1.6/win/x86_64/eclipse" type="Profile"/>
<location path="${TSI-ROOT}/external/eclipse/nattable/1.1.0/eclipse" type="Directory"/>
<location path="${TSI-ROOT}/external/glazedlists/1.9.0/eclipse" type="Directory"/>
<location path="${TSI-ROOT}/tibco/bw/6.2.0/V25.1-GA/win/x86/lib" type="Directory"/>
<location path="${TSI-ROOT}/external/eclipse/mdt/uml/sdk/5.0.0/eclipse" type="Profile"/>
<location path="${TSI-ROOT}/external/eclipse/jee/4.4.1/win/x86_64" type="Profile"/>
</locations>
<environment>
<os>win32</os>
<arch>x86_64</arch>
</environment>
</target>
