<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="TargetPlatform_3.7.2_macosx_x86_64" sequenceNumber="73">
<locations>
<location path="/tsi/root/external/eclipse/mdt/uml/sdk/3.2.1/eclipse" type="Profile"/>
<location path="/tsi/root/external/eclipse/wtp/3.3.2/eclipse" type="Profile"/>
<location path="/tsi/root/external/eclipse/gef/3.7.2/eclipse" type="Profile"/>
<location path="/tsi/root/external/eclipse/epf/richtext/1.5.1.4/macosx/x86_64/eclipse" type="Profile"/>
<location path="/tsi/root/external/eclipse/3.7.2/macosx/x86_64" type="Profile"/>
<location path="/tsi/root/external/eclipse/emf/sdk/2.7.2/eclipse" type="Profile"/>
<location path="/tsi/root/external/eclipse/deltapack/3.7.2/eclipse" type="Profile"/>
<location path="/tsi/root/external/eclipse/nattable/1.0.0/eclipse" type="Profile"/>
<location path="/tsi/root/external/glazedlists/1.8.0/eclipse" type="Profile"/>
<location path="/tsi/root/tibco/bwmapper/eclipse" type="Profile"/>
</locations>
<environment>
<os>macosx</os>
<arch>x86_64</arch>
</environment>
<launcherArgs>
<vmArgs>-XX:PermSize=128M -XX:MaxPermSize=256M -Xms1024m -Xmx2048m -XstartOnFirstThread -d64&#13;
-DACTIVATE_BUSINESS_USER=false&#13;
-DBE_HOME=${BE_HOME}&#13;
-Dtibco.env.BE_HOME=${BE_HOME}&#13;
-DTRACE_TERM_SYSOUT_REDIRECT=false&#13;
-DTRACE_TERM_SYSERR_REDIRECT=false&#13;
-DTIBCO.BE.function.catalog.coherence=true&#13;
-Duser.name=studiodevuser&#13;
-Dcom.tibco.xml.parsers.disabled=true&#13;
-DTIBCO.BE.edition.cacheEnabled=true</vmArgs>
<programArgs>-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -debug -clean</programArgs>
</launcherArgs>
</target>
