<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="TargetPlatform_3.7.0_linux26gl25_x86_64" sequenceNumber="25">
<locations>
<location path="/mnt/builder/external/eclipse/gef/3.7.2/eclipse" type="Profile"/>
<location path="/mnt/builder/external/eclipse/epf/richtext/1.5.1.4/linux26gl25/x86_64/eclipse" type="Profile"/>
<location path="/mnt/builder/external/eclipse/wtp/3.3.2/eclipse" type="Profile"/>
<location path="/mnt/builder/external/eclipse/mdt/uml/sdk/3.2.1/eclipse" type="Profile"/>
<location path="/mnt/builder/external/eclipse/emf/sdk/2.7.2/eclipse" type="Profile"/>
<location path="/mnt/builder/external/eclipse/3.7.2/linux26gl25/x86_64" type="Profile"/>
<location path="/mnt/builder/external/eclipse/deltapack/3.7.2/eclipse" type="Profile"/>
<location path="/mnt/builder/external/eclipse/nattable/1.1.0/eclipse" type="Profile"/>
<location path="/mnt/builder/external/glazedlists/1.8.0/eclipse" type="Profile"/>
<location path="/mnt/builder/tibco/bw/6.2.0/V25.1-GA/linux26gl25/x86_64/lib" type="Profile"/>
<location path="${eclipse_home}" type="Profile"/>
</locations>
</target>
