<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="TargetPlatform_4.5.1_win_x86_64" sequenceNumber="157">
<locations>
<location path="R:/external/glazedlists/1.9.0/eclipse" type="Directory"/>
<location path="R:/external/eclipse/nattable/1.3.0/eclipse" type="Directory"/>
<location path="R:/external/eclipse/4.5.1/win/x86_64" type="Profile"/>
<location path="R:/external/eclipse/epf/richtext/1.5.1.6/win/x86/eclipse" type="Profile"/>
<location path="R:/external/eclipse/mdt/uml/sdk/5.1.0/eclipse" type="Profile"/>
<location path="R:/tibco/bw/6.3.2/V31.0.2-GA/win/x86_64/lib" type="Directory"/>
</locations>
<environment>
<os>win32</os>
<arch>x86_64</arch>
</environment>
</target>
