<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="TargetPlatform_4.12_win_x86_64" sequenceNumber="159">
<locations>
<location path="R:/external/glazedlists/1.9.1/eclipse" type="Directory"/>
<location path="R:/external/eclipse/nattable/1.6.0/eclipse" type="Directory"/>
<location path="R:/external/eclipse/epf/richtext/1.5.1.8/win/x86_64/eclipse" type="Profile"/>
<location path="R:/tibco/bw/6.5.1/V9.4-GA/win/x86_64/lib" type="Directory"/>
<location path="R:/external/eclipse/4.12/win/x86_64" type="Profile"/>
<location path="R:/external/eclipse/mdt/uml/sdk/5.2.4/eclipse" type="Profile"/>
</locations>
<environment>
<os>win32</os>
<arch>x86_64</arch>
</environment>
</target>
