<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="TargetPlatform_4.5.1_linux26gl25_x86_64" sequenceNumber="178">
<locations>
<location path="/mnt/builder/tibco/bw/6.3.2/V31.0.2-GA/linux26gl25/x86_64/lib" type="Directory"/>
<location path="/mnt/builder/external/glazedlists/1.9.0/eclipse" type="Directory"/>
<location path="/mnt/builder/external/eclipse/nattable/1.3.0/eclipse" type="Directory"/>
<location path="/mnt/builder/external/eclipse/4.5.1/linux26gl25/x86_64" type="Profile"/>
<location path="/mnt/builder/external/eclipse/epf/richtext/1.5.1.6/linux26gl25/x86_64/eclipse" type="Profile"/>
<location path="/mnt/builder/external/eclipse/mdt/uml/sdk/5.1.0/eclipse" type="Profile"/>
</locations>
</target>
