<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="TargetPlatform_3.7.2_win_x86_32" sequenceNumber="34">
<locations>
<location path="R:\external\eclipse\gef\3.7.2\eclipse" type="Profile"/>
<location path="R:\external\eclipse\epf\richText\1.5.1.4\win\x86\eclipse" type="Profile"/>
<location path="R:\external\eclipse\wtp\3.3.2\eclipse" type="Profile"/>
<location path="R:\external\eclipse\emf\sdk\2.7.2\eclipse" type="Profile"/>
<location path="R:\external\eclipse\mdt\uml\sdk\3.2.1\eclipse" type="Profile"/>
<location path="R:\external\eclipse\3.7.2\win\x86" type="Profile"/>
<location path="R:\external\eclipse\deltapack\3.7.2\eclipse" type="Profile"/>
<location path="R:\external\eclipse\nattable\1.0.0\eclipse" type="Profile"/>
<location path="R:\external\glazedlists\1.8.0\eclipse" type="Profile"/>
<location path="R:\tibco\bwmapper\eclipse" type="Profile"/>
</locations>
</target>
