<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="TargetPlatform_4.4.1_linux26gl25_x86_64" sequenceNumber="171">
<locations>
<location path="/mnt/builder/external/eclipse/mdt/uml/sdk/5.0.0/eclipse" type="Directory"/>
<location path="/mnt/builder/external/eclipse/emf/validation/sdk/1.8.0/eclipse" type="Directory"/>
<location path="/mnt/builder/external/eclipse/emf/transaction/sdk/1.8.0/eclipse" type="Directory"/>
<location path="/mnt/builder/tibco/bw/6.2.0/V25.1-GA/linux26gl25/x86_64/lib" type="Directory"/>
<location path="/mnt/builder/external/eclipse/epf/richtext/1.5.1.6/linux26gl25/x86_64/eclipse" type="Directory"/>
<location path="/mnt/builder/external/eclipse/nattable/1.1.0/eclipse" type="Directory"/>
<location path="/mnt/builder/external/eclipse/emf/sdk/2.10.1/eclipse" type="Directory"/>
<location path="/mnt/builder/external/glazedlists/1.9.0/eclipse" type="Directory"/>
<location path="${eclipse_home}" type="Profile"/>
</locations>
</target>
