<div class="row">
  <div class="col-sm-12">
    <div class="card penal-sm">
      <div class="card-header" i18n>{{i18n('
        Account Information
        ')}}</div>
      <div class="card-body">
        <div class="">
          <password-button [user]="user" [buttonText]="'Change password'"></password-button>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div *ngIf="!identities">
              <i class="fa fa-refresh fa-spin"></i><ng-container i18n>{{i18n(' Loading ')}}</ng-container>
            </div>
            <p *ngIf="identities" i18n>{{i18n('Connected Identities')}}</p>
            <div *ngIf="identities && identities.length === 0">
              <div class="card" i18n>{{i18n('
                No Identity Provider Account is connected.
                ')}}</div>
            </div>
            <div class="identities bottom-pad top-pad divider-bottom" *ngIf="identities && identities.length > 0">
              <div class="row justify-content-center" *ngFor="let id of identities">
                <div class="col-sm-5">
                  <span class="btn btn-block btn-social btn-{{getUIClass(id.providerName)}} btn-sm">
                    <span class="fa fa-{{getUIClass(id.providerName)}}"></span>{{id.providerName}} - {{id.identity}}
                  </span>
                </div>
                <div class="col-sm-4">
                  <button type="button" class="btn btn-danger btn-sm btn-wide" (click)="onDelete(id)">
                    <span class="fa fa-trash-o fa-lg"></span><ng-container i18n>{{i18n('Delete')}}</ng-container>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>