.outDiv {
    position: relative;
    margin-left:10px;
    margin-right:20px;
}

.masterOut {
  height: 100%;
	background-color: #ffffff;
}

.buttonDiv{
  margin-left: 550px;
}

.entryTable{
	border: 1px;
	display: block;
}

.entryTableHeader{
	border: 1px;
}

.tbody{
	display: inline-block;
    overflow-x: auto;
}

td {
  height: 30px;
  padding: 4px;
  font-weight: italic;
  border-bottom: 0px solid #ddd;
}

/*th {
  height: 30px;
  font-weight: italic;
  text-align: center;
  background-color: #e9e9e9;
}
*/

.entryTableFields {
  height: 30px;
  background-color: #C0C0C0;
  font-weight: normal;
  vertical-align: bottom;
  text-align: center;
}

.mainTable{
  border-radius: 25px;
    background: #e9e9e9;
    padding: 20px;
}

tr.spaceUnder > td
{
  padding-bottom: 1em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 22px;
}

label.switch{
	margin-bottom: 0px !important;
	margin-top: 4.5px;
	
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #808080;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 30px;
}

select {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 30px;
} */

.mat-nav-list .mat-list-item {
  outline: 0;
  font-family: inherit;
}

.mat-subheader {
  font-family: inherit;
  color: #34495e !important;
  padding-bottom: 0px !important;
}

.custom-list-item.mat-list-item {
  margin-bottom: 4%;
}

.mat-form-field {
  width: 200% !important;
}

.mat-divider.custom-divider {
  margin-bottom: 1.5%;
}

.mat-icon-button.custom-button {
  border: none;
  margin-top: 5%;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 35px;
}

.material-icons.duplicate.active {
  color: deepskyblue;
}

.material-icons.add.active {
  color: green;
}

.material-icons.delete.active {
  color: red;
}
