.panel{
	margin-bottom: 5px !important;
}

.panel-body{
	padding-top: 0px !important;
}

.custom{
	margin-left: 2.5%;
    margin-right: 2.5%;
    padding-top: 10px;
}

.form-group{
   width: 80% !important;	
}

.ng-valid[required], .ng-valid.required {
    border-left: none;
}
.ng-invalid:not(form) {
    border-left: none;
}

.material-icons.custom-check {
    color: green;
}

.material-icons.custom-check-disabled {
    color: grey;
}

.material-icons.custom-clear {
    color: red;
}

.container {
    display: inline-block;
}

.mat-icon-button.custom-button {
    border: none;
}

.mat-dialog-title {
    text-align: center;
}

.form {
    width: 390px !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: deepskyblue !important;
}