/* CSS file */
/*This style set to the application makes sure that all the child components are rendered in Verdana font. 
However, in some cases where a component is build on a class higher than the DisplayObject, the style font-size
might not get affected, in such case, the font-size needs to be declared in that component's sepcific style
*/
Application {
	font-family: "Arial";
}

ToolTip {
   backgroundAlpha: 0.9;
   backgroundColor: #ffffff;
   color: #333333;
   fontFamily: Arial;
   fontSize: 10;
}

VScrollBar {
   themeColor: #333333;
}

HScrollBar {
   themeColor: #333333;
}

LoginDialog{
	paddingTop: 23;
	paddingBottom: 24;
	paddingLeft: 26;
	paddingRight: 25;
}

ButtonScrollList{
	paddingTop: "0";
	paddingBottom: "0";
	paddingLeft: "0";
	paddingRight: "0";
	verticalGap: "0";
}

ButtonScrollList.scrollContainer{
	borderStyle: "solid";
	borderSides: "top";
	backgroundColor: "0xC8C8C8";
}

ButtonScrollList.itemList{
	borderStyle: "none";
	backgroundColor: "0xE8E8E8";
	paddingLeft: "0";
	paddingRight: "0";
	paddingTop: "0";
	paddingBottom: "0";
	rollOverColor: "0x5EC3F4";
	selectionColor: "0xC0E5F7";
}

ScrollListButton{
	upArrowColor: "0xA8A8A8";
	upArrowWeight: "1";
	overArrowColor: "0x666666";
	overArrowWeight: "1";
	downArrowColor: "0x666666";
	downArrowWeight: "2";
}

BEVIconMenuButton{
	skin: Embed("assets/images/button/component_menu/default.png");
	downSkin: Embed("assets/images/button/component_menu/down.png");
	overSkin: Embed("assets/images/button/component_menu/over.png");
}

BEVChartComponent{
	paddingTop: 0px;
	paddingBottom: 0px;
	paddingRight: 0px;
	paddingLeft: 0px;
	chartLegendPaddingTop: 0px;
	chartLegendPaddingBottom: 0px;
	chartLegendPaddingLeft: 5px;
	chartLegendPaddingRight: 5px;
}

BEVLegend{
	font-family: "Arial";
	horizontalGap:2px;
	verticalGap:2px;
	paddingTop:2px;
	paddingBottom:2px;
	paddingLeft:3px;
	paddingRight:3px;	
}

.globalStyle{
	font-family: "Arial";
	font-size: 10px;
	backgroundGradientColors: #FFFFFF, #FFFFFF;
}

.commonLink{
	color:#59A2CD;
	selection-color:#FFFFFF;
	roll-over-color:#FFFFFF;
	text-roll-over-color:#F8B866;
	text-selected-color:#496EC7;
	font-weight:normal;
	label-placement: left;
	horizontalGap: 0;
	padding-left:0;
}

.disabledLink{
	color:#000000;
	selection-color:#FFFFFF;
	roll-over-color:#FFFFFF;
	text-roll-over-color:#000000;
	text-selected-color:#000000;
	font-weight:normal;
	label-placement: left;
	horizontalGap: 0;
	padding-left:0;
}

.commonButton{
	color: black;
	font-family: "Arial";
	font-weight: "bold";
	font-size: "10";
	skin: Embed(
        "assets/images/button/common/default.jpg", 
        scaleGridTop=2, 
        scaleGridLeft=2, 
        scaleGridBottom=16, 
        scaleGridRight=10
    );
    overSkin: Embed(
        "assets/images/button/common/over.jpg", 
        scaleGridTop=3, 
        scaleGridLeft=3, 
        scaleGridBottom=15, 
        scaleGridRight=9
    );
    downSkin: Embed(
        "assets/images/button/common/down.jpg", 
        scaleGridTop=3, 
        scaleGridLeft=3, 
        scaleGridBottom=15, 
        scaleGridRight=9
    );
}

.maximizeButton{
	skin: Embed("assets/images/button/maximize/default.png");
	overSkin: Embed("assets/images/button/maximize/over.png");
	selectedOverSkin: Embed("assets/images/button/maximize/over.png");
	downSkin: Embed("assets/images/button/maximize/down.png");
	selectedDownSkin: Embed("assets/images/button/maximize/down.png");
}

.minimizeButton{
	skin: Embed("assets/images/button/minimize/default.png");
}

.loginFormLabel{
	fontFamily: "Arial";
	fontWeight: "bold";
	fontSize: "9";
	color: "0x6AABF8";
}

.loginButton{
	font-family: "Arial";
	font-weight: "bold";
	fontSize: "10";
	skin: Embed(
        "assets/images/button/common/default.jpg", 
        scaleGridTop=2, 
        scaleGridLeft=2, 
        scaleGridBottom=16, 
        scaleGridRight=10
    );
    overSkin: Embed(
        "assets/images/button/common/over.jpg", 
        scaleGridTop=2, 
        scaleGridLeft=2, 
        scaleGridBottom=16, 
        scaleGridRight=10
    );
    downSkin: Embed(
        "assets/images/button/common/down.jpg", 
        scaleGridTop=2, 
        scaleGridLeft=2, 
        scaleGridBottom=16, 
        scaleGridRight=10
    );
}

.abstractBEVPanel{
	borderStyle: "none";
	borderThicknessBottom: "0";
	borderThicknessLeft: "0";
	borderThicknessRight: "0";
	borderThicknessTop: "0";
	dropShadowEnabled: "false";
	headerHeight: "22";
	backgroundColor: "0xE8E8E8";
}

.headerDisabledPanel{
	borderStyle: "none";
	borderThicknessBottom: "0";
	borderThicknessLeft: "0";
	borderThicknessRight: "0";
	borderThicknessTop: "0";
	dropShadowEnabled: "false";
	headerHeight: "0";
	backgroundColor: "0xE8E8E8";
}

.headerEnabledPanel{
	borderStyle: "solid";
	borderColor: "0xD3D3D3";
	borderAlpha: "1";
	borderThickness: "1";
	backgroundColor: "0xFFFFFF";
	backgroundAlpha: "1";
	dropShadowEnabled: "false";
	headerHeight: "22";
	borderThicknessLeft: 0;
	borderThicknessTop: 0;
	borderThicknessBottom: 0;
	borderThicknessRight: 0;
	cornerRadius: "0";
	titleBackgroundSkin: ClassReference("com.tibco.be.views.ui.skin.CommonPanelHeaderSkin");	
	titleStyleName: "commonPanelHeaderTitle";
}

.floatingBEVPanel{
	borderStyle: "solid";
	borderColor: "0xD3D3D3";
	borderAlpha: "1";
	borderThickness: "1";
	borderThicknessBottom: "0";
	borderThicknessLeft: "0";
	borderThicknessRight: "0";
	borderThicknessTop: "0";
	backgroundColor: "0xFFFFFF";
	backgroundAlpha: "1";
	dropShadowEnabled: "true";
	shadowDirection: "right";
	roundedBottomCorners: "false";
	cornerRadius: "0";
	titleBackgroundSkin: ClassReference("com.tibco.be.views.ui.skin.CommonPanelHeaderSkin");
	titleStyleName: "componentGalleryTitle";
}

.filterEditor{
	borderStyle: "solid";
	borderColor: "0xD3D3D3";
	borderAlpha: "1";
	borderThickness: "1";
	backgroundColor: "0xFFFFFF";
	backgroundAlpha: "1";
	dropShadowEnabled: "true";
	shadowDirection: "right";
	roundedBottomCorners: "false";
	cornerRadius: "0";
	titleBackgroundSkin: ClassReference("com.tibco.be.views.ui.skin.CommonPanelHeaderSkin");
	titleStyleName: "componentGalleryTitle";
}

.galleryWindow{
	borderStyle: "solid";
	borderColor: "0xD3D3D3";
	borderAlpha: "1";
	borderThickness: "1";
	borderThicknessBottom: "0";
	borderThicknessLeft: "0";
	borderThicknessRight: "0";
	borderThicknessTop: "0";
	backgroundColor: "0xFFFFFF";
	backgroundAlpha: "1";
	dropShadowEnabled: "true";
	shadowDirection: "right";
	roundedBottomCorners: "false";
	cornerRadius: "0";
	titleBackgroundSkin: ClassReference("com.tibco.be.views.ui.skin.CommonPanelHeaderSkin");
	titleStyleName: "componentGalleryTitle";
}

.progressDialogPanel{
	fontFamily: "Arial";
	borderThicknessBottom: "0";
	borderThicknessLeft: "0";
	borderThicknessRight: "0";
	borderThicknessTop: "0";
	backgroundColor: "0xFFFFFF";
	headerColors: #CACACA, #808080;
	highlightAlphas: 0.16, 0.0;
	horizontalGap: "0";
	paddingLeft: "0";
	paddingRight: "0";
	paddingBottom: "20";
	headerHeight: "20";
	dropShadowEnabled: "true";
	verticalAlign: "middle";
	titleStyleName: "commonPanelHeaderTitle";
}

.messageBoxPanel{
	borderStyle: "solid";
	borderColor: "0xD3D3D3";
	borderAlpha: "1";
	borderThickness: "1";
	backgroundColor: "0xFFFFFF";
	backgroundAlpha: "1";
	dropShadowEnabled: "true";
	shadowDirection: "right";
	roundedBottomCorners: "false";
	cornerRadius: "0";
	borderThicknessBottom: "0";
	borderThicknessLeft: "0";
	borderThicknessRight: "0";
	borderThicknessTop: "0";
	titleBackgroundSkin: ClassReference("com.tibco.be.views.ui.skin.CommonPanelHeaderSkin");
	titleStyleName: "componentGalleryTitle";
}

.metricHolderStyle{
	font-family: "Arial";
	font-size: 10px;
	color:#FFFFFF;		
}
.pageSetSelectorStyle{
	font-family: "Arial";
	font-size: 10px;	
	textAlign:"left";
	verticalGridLines:false;
	horizontalGridLines:true;
	horizontalGridLineColor:#8C8C8C;
	rollOverColor:#f3f3f3;
	selectionColor:#D1E2F1;
	alternatingItemColors:#f3f3f3, #f3f3f3;
}

.commonPanelHeaderTitle{
	color: "black";
	font-family: "Arial";
	font-size: "11";
	font-weight: "bold";
}

/***************** Drill Down Components *****************/
.queryManagerPanel{
	header-height: 0;
	vertical-gap: 0;
	padding-top: 0;
	border-style: none;
	border-thickness-top: 0;
	border-thickness-bottom: 0;
	border-thickness-left: 0;
	border-thickness-right: 0;
	drop-shadow-enabled: false;
}
.queryManagerConditionEditorList{
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}
.queryManagerConditionEditorListItem{
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}
.queryManagerConditionEditorHeader{
	vertical-align: top;
	padding-top: 5;
	padding-bottom: 0;
	padding-left: 5;
	padding-right: 5;
	border-style: "solid";
	border-thickness: 1;
	border-sides: "bottom";
	border-color: "0xADADAD";
	background-color: "0xFFFFFF";
	vertical-gap: 0;
}
.queryManagerConditionEditorFieldName{
	color: "0x232323";
	font-size: 12px;
}
.queryManagerConditionEditorFieldValue{
	color: "0x747272";
	font-size: 11px;
}
.queryManagerConditionEditorContainer{
	vertical-gap: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-style: solid;
	border-thickness: 2;
	border-color: "0x7F7D7E";
	background-color: "0xD9D9DB";
}
.queryManagerEditButton{
	skin: Embed("assets/images/button/edit/default.png");
    over-skin: Embed("assets/images/button/edit/over.jpg");
    down-skin: Embed("assets/images/button/edit/down.jpg");
}
.queryManagerEditButtonActive{
	skin: Embed("assets/images/button/edit/selected.jpg");
    over-skin: Embed("assets/images/button/edit/over.jpg");
    down-skin: Embed("assets/images/button/edit/down.jpg");
}
.queryManagerResetButton{
	skin: Embed("assets/images/button/reset/default.png");
    over-skin: Embed("assets/images/button/reset/over.jpg");
    down-skin: Embed("assets/images/button/reset/down.jpg");
}
.queryManagerClearButton{
	skin: Embed("assets/images/button/clear/default.png");
    over-skin: Embed("assets/images/button/clear/over.jpg");
    down-skin: Embed("assets/images/button/clear/down.jpg");
}
.queryManagerConditionEditor{
	
}
.queryManagerMetricBrowser{
	border-style: "solid";
	border-color: "0x0";
	borderThickness: "0";
	backgroundColor: "0xFFFFFF";
	backgroundAlpha: "1";
	cornerRadius: "0";
	dropShadowEnabled: "true";
	headerHeight: "22";
	modalTransparencyColor: "0xA0A0A0";
	borderThicknessLeft: 0;
	borderThicknessTop: 0;
	borderThicknessBottom: 0;
	borderThicknessRight: 0;
	titleBackgroundSkin: ClassReference("com.tibco.be.views.ui.skin.CommonPanelHeaderSkin");	
	titleStyleName: "commonPanelHeaderTitle";
}
.queryManagerMetricBrowserList{
	rollOverColor: "0x76C0FF";
}
.queryManagerMetricBrowserSearchTextBox{
	color: "0x747272";
	font-size: 12px;
	font-family: "Arial";
	focus-alpha: 0;
}
.queryExportDialog{
	borderStyle: "solid";
	borderColor: "0xD3D3D3";
	borderAlpha: "1";
	borderThickness: "1";
	borderThicknessBottom: "0";
	borderThicknessLeft: "0";
	borderThicknessRight: "0";
	borderThicknessTop: "0";
	backgroundColor: "0xFFFFFF";
	backgroundAlpha: "1";
	horizontal-align: left;
	vertical-align: middle;
	dropShadowEnabled: "true";
	shadowDirection: "right";
	roundedBottomCorners: "false";
	cornerRadius: "0";
	titleBackgroundSkin: ClassReference("com.tibco.be.views.ui.skin.CommonPanelHeaderSkin");
	titleStyleName: "componentGalleryTitle";
}
.tableTreeComponent{
	font-family: "Arial";
	background-color: "0xFFFFFF";
}
.tableTreeRowContainer{
	background-color: "0xFFFFFF";
	vertical-gap: 0;
}
.tableTreeRow{
	padding-top: 0;
	padding-bottom: 0;
}
.tableTreeRowContent{
	padding-left: 8;
	padding-right: 8;
	vertical-align: middle;
	border-style: none;
	font-size: 12px;
}
.tableTreeTypeRowContent{
	horizontal-gap: 10;
	vertical-align: middle;
	padding-left: 8;
	padding-right: 8;
	backgroundGradientStart: "0xD4D2D3";
	backgroundGradientEnd: "0xAEACAD";
	showSecondaryTopBorder: false;
}
.tableTreeGroupByContent{
	horizontal-gap: 0;
	vertical-align: middle;
	padding-left: 8;
	padding-right: 8;
	backgroundGradientStart: "0xD4D2D3";
	backgroundGradientEnd: "0xAEACAD";
	showSecondaryTopBorder: false;
}
.tableTreeDataHeaderContent{
	color: "0x535252";
	backgroundGradientStart: "0xEFEFEF";
	backgroundGradientEnd: "0xDCDCDC";
	border-style: solid;
	border-color: "0x9F9F9F";
	border-sides: "top bottom left";
	border-thickness: 1;
}
.tableTreeDataRowContent{
	horizontal-gap: 0;
	background-color: "0xFFFFFF";
	border-style: solid;
	border-color: "0x9F9F9F";
	border-sides: "bottom left";
	border-thickness: 1;
	font-size: 12px;
}
.tableTreeDataRowContentAlt{
	horizontal-gap: 0;
	background-color: "0xEFF4F5";
	border-style: solid;
	border-color: "0x9F9F9F";
	border-sides: "bottom left";
	border-thickness: 1;
	font-size: 12px;
	
}
.tableTreeDataRowContentOver{
	horizontal-gap: 0;
	background-color: "0x76C0FF";
	border-style: solid;
	border-color: "0x9F9F9F";
	border-sides: "bottom left";
	border-thickness: 1;
	font-size: 12px;
}
.tableTreeDataRowButtonContainer{
	vertical-align: middle;
	paddingLeft: 0;
	paddingRight: 0;
	horizontal-gap: 0;
	background-color: "0xFFFFFF";
	border-style: solid;
	border-color: "0x9F9F9F";
	border-sides: "bottom right";
	border-thickness: 1;
}
.tableTreeDataRowButtonContainerAlt{
	vertical-align: middle;
	paddingLeft: 0;
	paddingRight: 0;
	horizontal-gap: 0;
	background-color: "0xEFF4F5";
	border-style: solid;
	border-color: "0x9F9F9F";
	border-sides: "bottom right";
	border-thickness: 1;
	
}
.tableTreeDataRowButtonContainerOver{
	vertical-align: middle;
	paddingLeft: 0;
	paddingRight: 0;
	horizontal-gap: 0;
	background-color: "0x76C0FF";
	border-style: solid;
	border-color: "0x9F9F9F";
	border-sides: "bottom right";
	border-thickness: 1;
}
.tableTreeDataRowButton{
	skin: Embed("assets/images/button/table_row/default.jpg");
	downSkin: Embed("assets/images/button/table_row/down.jpg");
	overSkin: Embed("assets/images/button/table_row/over.jpg");
}
.tableScrollerContent{
	horizontal-align: "center";
	vertical-align: "middle";
	background-color: "0xD4D2D3";
}
.tableTreeTableColumnScrollBar{
	up-arrow-skin: ClassReference(null);
	down-arrow-skin: ClassReference(null);
	trackSkin: Embed(
		source="assets/images/scrollbar/tabletree/scrollTrack.png"
	);
	thumbUpSkin: Embed(
		source="assets/images/scrollbar/tabletree/scrollThumb.png",
		scaleGridTop=2, 
        scaleGridLeft=2, 
        scaleGridBottom=38, 
        scaleGridRight=3
	);
	thumbOverSkin: Embed(
		source="assets/images/scrollbar/tabletree/scrollThumb_Over.png",
		scaleGridTop=2, 
        scaleGridLeft=2, 
        scaleGridBottom=38, 
        scaleGridRight=3
	);
	thumbDownSkin: Embed(
		source="assets/images/scrollbar/tabletree/scrollThumb_Down.png",
		scaleGridTop=2, 
        scaleGridLeft=2, 
        scaleGridBottom=38, 
        scaleGridRight=3
	);
}
.tableTreeTableHeaderCell{
	vertical-align: middle;
	horizontal-gap: 1;
	padding-left: 5;
	padding-right: 5;
	border-style: solid;
	border-sides: "left";
	border-color: "0x9F9F9F";
}
.tableTreeTableHeaderCellText{
	color: "0x535252";
	font-size: 12px;
	paddingTop: 2;
}
.tableTreeDataCell{
	vertical-align: middle;
	horizontal-gap: 1;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 5;
	padding-right: 5;
	border-style: solid;
	border-sides: "left";
	border-color: "0x9F9F9F";
}
.tableTreeDataCellText{
	color: "0x747272";
	font-size: 12px;
}
.tableTreeDataCellLink{
	color: "0x4062CD";
	font-size: 12px;
}
.tableTreeDataCellLinkOver{
	color: "0x4062CD";
	font-size: 12px;
	text-decoration: underline;
}
.tableTreeDataCellLinkDown{
	color: "0xFFFFFF";
	font-size: 12px;
	text-decoration: underline;
}
.tableTreeTypeHeaderRowTitle{
	color: "0x232323";
	font-size: 12px;
	vertical-align: middle;
}
.tableTreeTypeHeaderGroupByPrompt{
	color: "0x232323";
	font-size: 11px;
}
.tableTreeTypeHeaderGroupBySelector{
	dropdown-style-name: "tableTreeGroupBySelectorList";
	corner-radius: 0;
	fill-alphas: 1, 1;
	fill-colors: #FFFFFF, #FFFFFF;
}
.tableTreeTypeHeaderGroupBySelectorList{
	color: "0x535252";
	font-size: 11px;
	corner-radius: 0;
	fill-alphas: 1, 1;
	fill-colors: #FFFFFF, #FFFFFF;
}
.tableTreeGroupByRowTitle{
	color: "0x232323";
	font-size: 12px;
	vertical-align: middle;
}
.tableTreeGroupByRowGroupByPrompt{
	color: "0x232323";
	font-size: 11px;
}
/*************** End Drill Down Component ***************/

/*****************************************/

/*Dashboard header's style [Start]*/
.panelTitleStyle{
	font-family: "mainNormal";
	font-size: 10px;
	color:#FFFFFF;	
	paddingTop:0px;
}

.headerTitleStyle{
   	color : "0xFFFFFF";
	font-family : "Verdana";
	fontSize : 10px;
	disabledColor : "0x999999";
	fontWeight : "normal"
}

.headerLinkBar{
	horizontalGap : "5";
    separatorColor : "0xFFFFFF";
    separatorWidth : "1"; 
    textRollOverColor : "0xFFCC99";
    textSelectedColor : "0xFFCC99";
    color : "0xFFFFFF";
	font-family : "Verdana";
	fontSize : 10px;
	disabledColor : "0x999999";
	fontWeight : "normal";
	upSkin: ClassReference(null);	
	downSkin: ClassReference(null);
	overSkin: ClassReference(null);
	disabledSkin: ClassReference(null);
}

.signOutBtnStyle{
    textRollOverColor : "0xFFCC99";
    textSelectedColor : "0xFFCC99";
    color : "0xFFFFFF";
	font-family : "Verdana";
	fontSize : 10px;
	fontWeight : "normal";
	upSkin: ClassReference(null);
	downSkin: ClassReference(null);
	overSkin: ClassReference(null);
	disabledSkin: ClassReference(null);
}

/*
.roleSwitcherStyle{
	font-family: "mainNormal";
	font-size:10px;
	fontWeight:normal;
	color:#FFFFFF;
	upSkin:ClassReference("com.syndera.insight.core.ui.skins.RoleSwitcherSkin");
	overSkin:ClassReference("com.syndera.insight.core.ui.skins.RoleSwitcherSkin");
	downSkin:ClassReference("com.syndera.insight.core.ui.skins.RoleSwitcherSkin");
	dropDownStyleName:roleSwitcherDropDownStyle;
}
*/

.roleSwitcherDropDownStyle{
	font-family: "mainNormal";
	color:#000000;
}
/*End of Dashboard header's style [End]*/


/*****************************************/
/*Chart Styles [Start]*/
.BEVChartComponentHolderContentHolderDefault{
	backgroundColor: "0xFFFFFF";
	borderStyle: "solid";
	borderColor: "0xD3D3D3";
	borderThickness: "1";
	borderSides: "left right bottom";
	verticalGap: "0";
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 0;
	paddingBottom: 0;
}

.BEVChartComponentHolderContentHolderRelated{
	backgroundColor: "0xFFFFFF";
	borderStyle: "solid";
	borderColor: "0xD3D3D3";
	borderThickness: "1";
	borderSides: "left right bottom";
	verticalGap: "0";
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 0;
	paddingBottom: 0;
}

.BEVChartComponentHolderContentHolderDragOver{
	borderStyle: "solid";
	borderThickness: 2;
	borderColor: "black";
}

.componentHolderHeader{
	backgroundColor: #556699; /*#85819D*/
	headerPadding: 1;
	paddingBottom: 1;
	paddingTop: 1;
	horizontalGap: 0;
}

.componentHolderTitle{
	horizontalAlign: "left";
	verticalAlign: "middle";
	color: #333333;
	rollOverColor: #555555;
	font-family: "Arial";
	font-size: 11px;
	font-weight: bold;
}

.partitionDivider{
	divider-affordance: 5;
	divider-thickness: 10;
	divider-color: #BB0000;
	horizontal-gap: 2;
	/*divider-skin: Embed(source="../images/dashboard/splitter_horizontal.jpg");*/
}

.panelDivider{
	divider-affordance: 5;
	divider-thickness: 10;
	divider-color: #00BB00;
	vertical-gap: 2;
}

.captionButtonHolder{
	horizontalGap: 0;
	paddingRight: 2;
	verticalAlign: "middle";
}

.legendLblStyle{
	font-family: "Arial";
	font-size: 10px;		
	markerHeight:6px;
	markerWidth:6px;
	horizontalGap:2px;
	verticalGap:2px;
}

.dataLabel{
	fontFamily: "Arial";
	textAlign: "left";
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 0;
	paddingBottom: 0;	
}

.axisLabel{
	font-family: "Arial";
	/* color, fontSize, fontStyle, and fontWeight all set programmatically */
}

/*End of Chart Styles [End]*/


.processModelMenu{
	/*color: #FFFFFF;
	
	font-family: "Arial";
	fontSize: 8;*/
	color: #4A4747;
	rollOverColor: #000000;
	font-family: "Arial";
	font-weight: "bold";
	fontSize: 10;
}

.processModelTitle{
	horizontalAlign: "left";
	verticalAlign: "top";
	color: #4A4747;
	font-family: "Arial";
	font-weight: "bold";
	fontSize: 10;
}

/*****************************************/

/*Progress dialog style [Start]*/
.progressDialogStyle{
	backgroundImage : "assets/progressdialog/Progress_background.png";
	cornerRadius : "1";
	borderStyle : "solid";
	dropShadowEnabled : true;
	dropShadowColor : #000000;
	color : #858585;
}
.progressDialogTitleBarStyle{
	backgroundImage : "assets/progressdialog/Progress_title_background.png";
	cornerRadius : "1";
	color : #FFFFFF;
}
/*End of Progress dialog style [End]*/

/*****************************************/

/*SynIdentity style [Start]*/
.synIdentityTextW{
	fontSize: 10;
	font-family: Verdana;
	color: #ffffff;
}

.synIdentityTextG{
	fontSize: 11;
	font-family: Arial;
	color: #686a6c;
}
/*End of SynIdentity style [End]*/

.BEVHeader{
	vertical-align:middle;
	horizontal-gap:0;
	padding-top:0;
	padding-bottom:0;
	padding-left:2;
	padding-right:2;
}

.BEVHeaderTitle{
	color:#FFFFFF;
	font-size: 16px;
	padding-left:2;
	padding-right:2;
}

.BEVHeaderLabel{
	color:#FFFFFF;
	padding-left:2;
	padding-right:2;
}

.BEVHeaderSeparator{
	stroke-color:#FFFFFF;
}

.BEVHeaderLinkBtn{
	/*set skin to null to get transparent button; Modified to fix BE-22726 & BE-22044*/ 
	skin: ClassReference(null);
	color:#FFFFFF;
	text-roll-over-color:#F8B866;
	text-selected-color:#FFFFFF;
	padding-left:2;
	padding-right:2;
	/*padding-top:0;*/
	font-weight:normal;
}

.BEVHeaderLinkBar{
	separator-width:1;
	separator-color:#FFFFFF;
	link-button-style-name:"BEVHeaderLinkBtn";
	horizontal-gap:2;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
	padding-top:0;
}

.componentGallery{
	backgroundColor: #FFFFFF;
	verticalGap: 0;
	paddingTop: 0;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
	/*backgroundColor: #000000; */
}

.componentGalleryTitle{
	color: "black";
	font-family: "Arial";
	font-size: "11";
	font-weight: "bold";
}

.breadcrumbsButton{
	color: #44AACC;
	text-roll-over-color: #005599;
	skin: ClassReference(null);
}
	