/* CSS file */

Label{
	fontFamily: "Verdana";
	fontSize: 10px;
	disabledColor: #999999;
}
ComboBox{
	fontFamily: "Verdana";
	fontSize: 10px;
	disabledColor: #999999;
}
DataGrid{
	fontFamily: "Verdana";
	fontSize: 10px;
}
CheckBox{
/*	fontFamily: "Verdana";
	fontSize: 10px;
	disabledColor: #999999;
	borderStyle:"solid";
	borderColor: #000000;
	borderThickness: 0;*/
}
List{
	fontFamily: "Verdana";
	fontSize: 10px;
	disabledColor: #999999;
}
Button{
	fontFamily: "Verdana";
	fontSize: 10px;
	disabledColor: #999999;
}
TextInput{
	fontFamily: "Verdana";
	fontSize: 10px;
	disabledColor: #999999;
}
TextArea{
	fontFamily: "Verdana";
	fontSize: 10px;
	disabledColor: #999999;
}
Panel{
	fontFamily: "Verdana";
	fontSize: 10px;
}
/*
Tab {
	fillColors: #E2E4E3, #C4D5DF;
	background-color: #E2E4E3;
	upSkin: ClassReference("CustomSkinClass");
	overSkin: ClassReference("CustomSkinClass");
	downSkin: ClassReference("CustomSkinClass");
} */ 