/* CSS file */
/* making any change may required to compile this file in swf */
.DBHeader{
	horizontalAlign: "right";
	horizontalGap: 5;
	verticalAlign: "middle";
	color: #FFFFFF;
	fontFamily: "Verdana";
	fontSize: 10px;
	paddingRight: 10px;
	paddingLeft: 10px;
}
.DBHeaderRightItemContainer{
	horizontalGap: 5;
	verticalAlign: "middle";
	left: 0px;
}

.DBHeaderLeftItemContainer{
	verticalAlign: "middle";
	left: 0px;
}
	
.DBHeaderComboBox{
	fillAlphas: 0, 0;
	borderColor: #FFFFFF;
	borderThickness: 2;
	cornerRadius: 0;
	textAlign: "left";
	fontWeight: "normal";
	labelPlacement: "top";
}