.audit-trail-container {
    height: 100%;
    background-color: white;
}

::ng-deep .mat-select-panel {
  position: relative;
  top: calc(10vh - 31px);
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: deepskyblue;
  }
  
  ::ng-deep .mat-checkbox-label-before .mat-checkbox-inner-container {
    position: absolute;
    right: 5%;
  }
  
  ::ng-deep .mat-checkbox {
    font-family: inherit;
  }
  
  ::ng-deep label.mat-checkbox-layout {
    color: #6c757d;
    margin-bottom: 0% !important;
  }
  
  ::ng-deep mat-checkbox.unlock-all > label.mat-checkbox-layout {
    color: #6c757d;
    margin-bottom: 0% !important;
  }

  .form-group.col-sm-3.log-file-checkbox {
    margin-top: 1.1rem;  
  }

  .mat-raised-button.custom-save-button {
    background-color: #337ab7;
    color: white;
  }
  