<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.tibco.cep.studio.cli" name="Studio Command Line Extension." schema="schema/com.tibco.cep.studio.cli.exsd"/>
   <extension
         id="studio-tools"
         name="Studio Tools"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/tibco16.ico"
            thread="main"
            visible="true">
         <run
               class="com.tibco.cep.studio.cli.studiotools.StudioToolsApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.tibco.cep.studio.cli.studio-tools"
            name="TIBCO BusinessEvents Studio Tools">
         <property
               name="appName"
               value="TIBCO BusinessEvents Studio Tools">
         </property>
      </product>
   </extension>
   <extension
         point="com.tibco.cep.studio.cli">
      <commandLineInterpreter
            class="com.tibco.cep.studio.cli.studiotools.ImportDesignerCLI">
      </commandLineInterpreter>
   </extension>
   <extension
         point="com.tibco.cep.studio.cli">
      <commandLineInterpreter
            class="com.tibco.cep.studio.cli.studiotools.MigrateCoherenceCallsCLI">
      </commandLineInterpreter>
   </extension>
   <extension
         point="com.tibco.cep.studio.cli">
      <commandLineInterpreter
            class="com.tibco.cep.studio.cli.studiotools.MigrateMapperFunctionsCLI">
      </commandLineInterpreter>
   </extension>
   <extension
         point="com.tibco.cep.studio.cli">
      <commandLineInterpreter
            class="com.tibco.cep.studio.cli.studiotools.ImportExistingStudioProjectCLI">
      </commandLineInterpreter>
   </extension>
   <extension
         point="com.tibco.cep.studio.cli">
      <commandLineInterpreter
            class="com.tibco.cep.studio.cli.studiotools.BuildProjectLibraryCLI">
      </commandLineInterpreter>
   </extension>
   <extension
         point="com.tibco.cep.studio.cli">
      <commandLineInterpreter
            class="com.tibco.cep.studio.cli.studiotools.BuildEarCLI">
      </commandLineInterpreter>
   </extension>
   <extension
         point="com.tibco.cep.studio.cli">
      <commandLineInterpreter
            class="com.tibco.cep.studio.cli.studiotools.GenerateClassCLI">
      </commandLineInterpreter>
   </extension>
   <extension
         point="com.tibco.cep.studio.cli">
      <commandLineInterpreter
            class="com.tibco.cep.studio.cli.studiotools.EncryptCLI">
      </commandLineInterpreter>
   </extension>
   <extension
         point="com.tibco.cep.studio.cli">
      <commandLineInterpreter
            class="com.tibco.cep.studio.cli.studiotools.SNFileHandlerCLI">
      </commandLineInterpreter>
   </extension>
</plugin>
