<div class="card panel-sm page">
        <div class="card-header" i18n>{{i18n('
          Select repository to reference in AMS
          ')}}</div>
        <div class="card-body page-body">
          <div class="row">
            <div class="col-sm-2 page-col divider-right">
              <tabset
                [vertical]='true'
                [type]='"pills"'
                >
                <tab
                    *ngFor='let repo of getRepos()'
                  (select)='setInRepo(repo)'
                  [active]='repository === repo'
                  >
                  <ng-template tabHeading>
                    <small>{{repo.name}}</small>
                  </ng-template>
                </tab>
              </tabset>
            </div>
            <div class="col-sm-10">
              <div *ngIf='getRepo()'>
                <span i18n>{{i18n('
                  Select directory to be the root of the AMS project.
                  ')}}</span>
                <sandbox-artifact-importer [repository]='getRepo()' (root)='handleRoot($event)'>
                </sandbox-artifact-importer>
              </div>
            </div>
          </div>
        </div>
      </div>
