/* CSS file */
@font-face {
	src:url("fonts/verdana.ttf");
	fontFamily: "mainNormal";
}
@font-face {
	src:url("fonts/verdanab.ttf");
	fontFamily: "mainBold";
	fontWeight:bold;
}
.globalStyle{
	fontFamily: "mainNormal";
	fontSize:12px;
}
.appStyle{
	backgroundAlpha: 1;
	backgroundColor: #778ea1;
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #778EA1, #778EA1;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 0;
	verticalGap: 5;
}

.genScrollStyle{
    downArrowUpSkin: Embed(source="assets/images/scrollDownBtn.png");
    downArrowOverSkin: Embed(source="assets/images/scrollDownBtn.png");
    downArrowDownSkin: Embed(source="assets/images/scrollDownBtn.png");
    upArrowUpSkin: Embed(source="assets/images/scrollUpBtn.png");
    upArrowOverSkin: Embed(source="assets/images/scrollUpBtn.png");
    upArrowDownSkin: Embed(source="assets/images/scrollUpBtn.png");
    trackSkin:ClassReference("com.tibco.cep.ui.monitor.skins.ScrollTrackSkin");
    thumbDownSkin:ClassReference("com.tibco.cep.ui.monitor.skins.ScrollThumbSkin");
    thumbOverSkin:ClassReference("com.tibco.cep.ui.monitor.skins.ScrollThumbSkin");
    thumbUpSkin:ClassReference("com.tibco.cep.ui.monitor.skins.ScrollThumbSkin");		 
}

/*Login Screen Styles*/
.loginDialogTitleStyle{
	fontFamily: "mainNormal";
	fontSize:14px;	
	color:#FFFFFF;	
}

.loginDialogStyle, .bttnPanelDialogStyle{
	fontFamily: "mainNormal";
	fontSize:11px;	
	borderColor:#FFFFFF;
	borderAlpha:1;
	backgroundColor: #315468;
	borderThicknessBottom: 0;
	borderThicknessLeft: 1;
	borderThicknessRight: 1;
	borderThicknessTop: 0;
	cornerRadius: 0;
	dropShadowEnabled: false;
	footerColors: #315468, #315468;
	headerColors: #315468, #315468;
	headerHeight: 32;
	horizontalAlign: center;
	horizontalGap: 0;
	paddingLeft: 0;
	shadowDirection: right;
	verticalAlign: middle;
	titleBackgroundSkin:ClassReference("com.tibco.cep.ui.monitor.skins.HeaderBackgroundSkin");
	titleStyleName:loginDialogTitleStyle;
}

.bttnPanelDialogStyle{
	padding-top:5;
}

.loginPromptStyle{
	fontFamily: "mainNormal";
	fontSize:10px;
	color:#FFFFFF;	
}

.formLblStyle{
	fontFamily: "mainNormal";
	fontSize:11px;	
	borderColor:#FFFFFF;	
}

.formElementStyle{
	fontFamily: "mainNormal";
	fontSize:11px;	
	borderColor:#FFFFFF;	
}

.labelStyle{
	fontFamily: "mainNormal";
	fontSize:11px;	
	borderColor:#a8b3b5;		
	borderStyle:solid;
}

.textInputStyle{
	fontFamily: "Arial";
	fontSize:11px;	
	borderColor:#a8b3b5;		
	borderStyle:solid;
}

.loginBtnStyle{
	fontFamily: "mainNormal";
	fontSize:11px;
	fontWeight:normal;
	color:#FFFFFF;
	upSkin:ClassReference("com.tibco.cep.ui.monitor.skins.BtnSkin");
	overSkin:ClassReference("com.tibco.cep.ui.monitor.skins.BtnSkin");
	downSkin:ClassReference("com.tibco.cep.ui.monitor.skins.BtnSkin");
}
.loginControlBarStyle, .bttnPanelControlBarStyle{
	backgroundAlpha: 0;
	horizontalAlign: right;
	verticalAlign:top;
	paddingBottom: 0;
	paddingLeft: 5;
	paddingRight: 9;
	paddingTop: 1;
	borderSkin:ClassReference("com.tibco.cep.ui.monitor.skins.LoginControlBarSkin");
}

.bttnPanelControlBarStyle{
	padding-bottom:10;
	padding-top:10;
}

.loginFormStyle,.bttnPanelFormStyle{
	backgroundColor: #EDF1F3;
	borderColor: #FFFFFF;
	borderStyle: solid;
	borderThickness: 3;
	cornerRadius: 6;
	paddingBottom: 0;
	paddingLeft: 5;
	paddingRight: 5;
	paddingTop: 0;
}

.bttnPanelFormStyle{
	padding-top:5;
	padding-bottom:5;
}
/*End of Login Screen Styles*/

/*Header styles*/
.headerLabelStyle{
	fontFamily: "mainNormal";
	fontSize:18px;
	fontWeight:normal;
	color:#FFFFFF;	
}

.signOutBtnStyle{
	fontFamily: "mainNormal";
	fontSize:10px;
	fontWeight:normal;
	color:#FFFFFF;	
	textRollOverColor:#FFFFFF;	
	rollOverColor:#315468;	
}
/*End of Header styles*/

/*Topology Menu Styles*/
.topologyMenuHeaderLblStyle{
	fontFamily: "mainNormal";
	fontSize:12px;
	fontWeight:normal;
	color:#FFFFFF;
	paddingLeft: 3;		
}
.topologyTabBtnStyle{
	fontFamily: "mainNormal";
	fontSize:12px;
	fontWeight:normal;
	color:#FFFFFF;
	paddingLeft: 3;		
	upSkin:ClassReference("com.tibco.cep.ui.monitor.skins.TopologyMenuTabBtnSkin");
	overSkin:ClassReference("com.tibco.cep.ui.monitor.skins.TopologyMenuTabBtnSkin");
	downSkin:ClassReference("com.tibco.cep.ui.monitor.skins.TopologyMenuTabBtnSkin");
}
.toggleBtnStyle{
	upSkin:ClassReference("com.tibco.cep.ui.monitor.skins.TopologyMenuToggleBtnSkin");
	overSkin:ClassReference("com.tibco.cep.ui.monitor.skins.TopologyMenuToggleBtnSkin");
	downSkin:ClassReference("com.tibco.cep.ui.monitor.skins.TopologyMenuToggleBtnSkin");
	paddingTop:0px;
}
.topologyNavbarStyle{
	backgroundColor:#EDF1F3;
	borderStyle:solid;
	borderColor:#437381;
	borderThickness:1;
	borderSides:"bottom";
	horizontalAlign:"right";
	verticalAlign:"middle";	
}
.topologyNavBtnStyle{
	fontFamily: "mainNormal";
	fontSize:10px;
	fontWeight:normal;
	color:#315468;		
	paddingTop:4px;
	paddingBottom:0px;
	paddingLeft:1px;
	paddingRight:1px;
	verticalGap:0px;
	upSkin:ClassReference("com.tibco.cep.ui.monitor.skins.TopologyMenuNavBtnSkin");
	overSkin:ClassReference("com.tibco.cep.ui.monitor.skins.TopologyMenuNavBtnSkin");
	downSkin:ClassReference("com.tibco.cep.ui.monitor.skins.TopologyMenuNavBtnSkin");	
}
.topologyMenuStyle{
	backgroundColor: #437381;
}
.topologyTreeStyle{
	fontFamily: "mainNormal";
	fontSize:10px;
	fontWeight:normal;
	color:#486779;		
	borderStyle:solid;
	backgroundColor:#EDF1F3;
	borderSides:"top";
	borderThickness:1;
	borderColor:#FFFFFF;	
}
/*End of Toplogy menu Styles*/

/*Container Styles*/
.tabBtnStyle{
	fontFamily: "mainNormal";
	fontSize:12px;
	fontWeight:normal;
	color:#FFFFFF;	
	upSkin:ClassReference("com.tibco.cep.ui.monitor.skins.DBPanelNavTabBtnSkin");
	overSkin:ClassReference("com.tibco.cep.ui.monitor.skins.DBPanelNavTabBtnSkin");
	downSkin:ClassReference("com.tibco.cep.ui.monitor.skins.DBPanelNavTabBtnSkin");
	selectedUpSkin:ClassReference("com.tibco.cep.ui.monitor.skins.DBPanelNavTabBtnSkin");
	selectedOverSkin:ClassReference("com.tibco.cep.ui.monitor.skins.DBPanelNavTabBtnSkin");
	selectedDownSkin:ClassReference("com.tibco.cep.ui.monitor.skins.DBPanelNavTabBtnSkin");
	paddingTop:3;	
}
.selTabTxtStyle{
	fontFamily: "mainNormal";
	fontSize:12px;
	fontWeight:normal;
	color:#283d56;		
	paddingTop:3;	
}
.DBPanelNavigatorStyle{
	tabStyleName:tabBtnStyle;
	selectedTabTextStyleName:selTabTxtStyle;
	tabHeight:30;
 	horizontalGap:4;
	paddingTop:7px;
	paddingLeft:3px;
	paddingBottom:7px; /**/
	borderStyle:solid;
	borderColor:#FFFFFF;
	borderThickness:2;
	backgroundColor:#ced8e4;
}
.headerStyle{
	backgroundColor: #315468;
	paddingLeft: 5;
	paddingRight: 5;
	verticalAlign: middle;
}
.BESystemMonitorStyle{
	backgroundColor: #778EA1;
	horizontalGap: 5;
	paddingBottom: 5;
	paddingLeft: 5;
	paddingRight: 5;
}
/*End of Container Styles*/

/*Metric Panel Styles*/
.metricPaneTitleStyle{
	fontFamily: "mainNormal";
	fontSize:12px;
	fontWeight:normal;
	color:#FFFFFF;		
}

.metricPaneStyle{
	borderStyle:solid;
	borderColor:#FFFFFF;
	borderThickness:1;
	backgroundColor:#315468;
}

.metricBGStyle{
	backgroundColor:#edf1f3;
	borderStyle:solid;
	borderColor:#FFFFFF;
	borderThickness: 2;
	cornerRadius: 6;	
}

.metricPaneHeaderBtnStyle{
	upSkin:ClassReference("com.tibco.cep.ui.monitor.panes.table.skins.MetricPaneHeaderBtnSkin");
	downSkin:ClassReference("com.tibco.cep.ui.monitor.panes.table.skins.MetricPaneHeaderBtnSkin");
	overSkin:ClassReference("com.tibco.cep.ui.monitor.panes.table.skins.MetricPaneHeaderBtnSkin");
	selectedUpSkin:ClassReference("com.tibco.cep.ui.monitor.panes.table.skins.MetricPaneHeaderBtnSkin");
	selectedDownSkin:ClassReference("com.tibco.cep.ui.monitor.panes.table.skins.MetricPaneHeaderBtnSkin");
	selectedOverSkin:ClassReference("com.tibco.cep.ui.monitor.panes.table.skins.MetricPaneHeaderBtnSkin");	
}

.panelPageStyle{
	borderStyle:none;
	paddingTop:0;
	backgroundColor:#ced8e4;
}
.metricPaneHeaderStyle{
	backgroundColor: #315468;
	borderSkin:ClassReference("com.tibco.cep.ui.monitor.panes.skins.MetricHeaderBackgroundSkin");
}

.generalChartStyle{
	fontFamily: "mainNormal";
	fontSize:10px;
	fontWeight:normal;	
}


.dataGridMetricStyle{
	fontFamily: "mainNormal";
	fontSize:10px;
	fontWeight:normal;		
	color:#315468;
	textAlign:center;
	paddingTop:4;
	backgroundAlpha:0;
	borderStyle:solid;
	borderThickness:0;
	horizontalGridLines:true;
	horizontalGridLineColor:#bdc2cf;
	verticalGridLineColor:#bdc2cf;
	headerBackgroundSkin:ClassReference("com.tibco.cep.ui.monitor.panes.table.skins.DgSkin");
	headerStyleName:dataGridMetricHeaderStyle;
}

.hBoxMetricStyle{
	fontFamily: "mainNormal";
	fontSize:10px;
	fontWeight:normal;		
	color:#315468;
	textAlign:center;
	paddingTop:0;
	backgroundAlpha:0;
	borderStyle:solid;
	borderThickness:0;
	horizontalGridLines:true;
	horizontalGridLineColor:#bdc2cf;
	verticalGridLineColor:#bdc2cf;
	headerBackgroundSkin:ClassReference("com.tibco.cep.ui.monitor.panes.table.skins.DgSkin");
	headerStyleName:dataGridMetricHeaderStyle;
}
	
.dataGridMetricHeaderStyle{
	fontFamily: "mainNormal";
	fontSize:10px;
	fontWeight:normal;	
	color:#edf1f3;
	
}
/*end of Metric Panel Styles*/
/*Metric Gallery Styles*/
.galleryItemHolderStyle{
	borderStyle:solid;
	borderThickness:1;
	borderColor:#647e90;
	backgroundColor:#FAFAFA;
	verticalAlign:middle;
	paddingLeft:10;
	horizontalGap:10;
}

.metricGalleryHolderBtnStyle{
	fontFamily: "mainNormal";
	fontSize:12px;	
	color:#315468;	
	fontWeight:normal;
	icon:	Embed(source="assets/images/galleryIcon.png");
	upSkin:ClassReference("com.tibco.cep.ui.monitor.metricGallery.skins.MetricGalleryHolderBtnSkin");
	overSkin:ClassReference("com.tibco.cep.ui.monitor.metricGallery.skins.MetricGalleryHolderBtnSkin");
	downSkin:ClassReference("com.tibco.cep.ui.monitor.metricGallery.skins.MetricGalleryHolderBtnSkin");
}

.restoreBtnStyle{
	fontFamily: "mainNormal";
	fontSize:10px;	
	color:#315468;	
	fontWeight:normal;
	textAlign:left;
	paddingLeft:2px;
	icon:	Embed(source="assets/images/restoreMetricIcon.png");
	upSkin:ClassReference("com.tibco.cep.ui.monitor.metricGallery.skins.RestoreBtnSkin");
	overSkin:ClassReference("com.tibco.cep.ui.monitor.metricGallery.skins.RestoreBtnSkin");
	downSkin:ClassReference("com.tibco.cep.ui.monitor.metricGallery.skins.RestoreBtnSkin");	
}
/*End of Metric Gallery Styles*/
