.ag-grid-table {
    margin: 5px;
}

th {
    padding: 5px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: small;
    background-color: ghostwhite;
}

td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: small;
}