p {
  font-size: 13px;
  padding: 3px 0 3px 15px;
  margin: 0;
}

p.problem-entry:hover {
  background-color: #e2e2e2;
}

.properties-container {
  padding-top: 5px;
  background-color: white;
  display: flow-root;
}

i.fa {
  font-size: 12px;
}

div.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 30px;
}

.btn-default {
	width: 80px !important;
}

.comments {
	border-radius: 8px;
}

.button {
    background-color: rgba(88, 86, 86, 0.38);
    color: #1a1a20;
    padding: 7px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    width: 80%;
}

.tabSection {
	width: 8% !important;
	float:left !important;
	padding-left: 4px !important;
  padding-top: 8px !important;

}

.tabSection-rtl {
	width: 8% !important;
	float:right !important;
	padding-right: 4px !important;
  padding-top: 8px !important;

}

.contentSection {
  padding: 14px;
	width: 91.5% !important;
	height: 140px !important;
	float:right !important;
	border-width:thin !important;
    border-style:solid !important;
    border-color:rgba(0, 0, 0, 0.2) !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    margin-top: 8px !important;
    border-radius: 8px !important;


}

.contentClass {
	margin: 10px 10px;
}

input.rtiName {
  width: 50% !important;
  height: auto;
}

.rtiLabels {
  padding-left: 10px !important;
  padding-right: 37px !important;
}

.rtiLabels-rtl {
  padding-right: 10px !important;
  padding-left: 37px !important;
}

.rtiDescriptionLabel {
  padding-left: 10px !important;
  padding-right: 10px !important;
  position: relative;
  bottom: 50px;
}

.contentSectionTD{
  padding-left : 10px;
}

.contentSectionTD-rtl{
  padding-left : 10px;
}