div.console {
  padding: 0.5em 0 0 0.5em;
  height: calc(100% - 27px);
  background-color: #000000;
  text-align: center;
}

div.console > button {
  top: 1em;
  position: relative;
}

.close-icon {
  position: absolute;
  right: 10px;
}

div.panel-tabset {
  padding-left: 20px;
  background-color: #F5F5F5; 
}

div.panel-tabset-rtl {
  padding-right: 20px;
  background-color: #F5F5F5; 
}