p {
  font-size: 13px;
  padding: 3px 0 3px 15px;
  margin: 0;
}

p.problem-entry:hover {
  background-color: #e2e2e2;
}

.problems-container {
  padding-top: 5px;
  background-color: white;
  display: flow-root;
}

i.fa {
  font-size: 12px;
}

.contentSection {
	padding: 14px;
	width: 99% !important;
	height: 140px !important; 
	float:right !important;
	border-width:thin !important;
    border-style:solid !important;
    border-color:rgba(0, 0, 0, 0.2) !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    margin-top: 8px !important;
    border-radius: 8px !important;
    position: relative;
    background-color: white;

}

.deleteIcon {
  width: 13px;
  height: 13px;
  float: right;
}
