div.status-bar {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 25px;
	background: #374474;
	color: #EEE;
	padding: 2px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

div.status-bar-entry {
	float: left;
	height: 21px;
	padding-left: 15px;
	padding-right: 15px;
}

div.status-bar-entry-rtl {
	float: right;
	height: 21px;
	padding-left: 15px;
	padding-right: 15px;
}

div.status-bar-entry:hover {
	color: #e2e2e2;
}

div.status-bar-entry-rtl:hover {
	color: #e2e2e2;
}

div.separator {
	border-left: 1px solid #EEE;
	padding: 0px;
}

div.right {
	/* float: right;	 */
}