.outerDiv {
	border: 1px solid #d4c9c9;
    border-radius: 6px; height: 100%;
}

.headerDiv {
	font-size: large;
	background-color: #4B4F5D;
	height: 50px;
    border-radius: 5px;
    display: -webkit-box;
}

.headerDivIn {
	margin-left: 2%;
	margin-top: 1%;
}

.headerLabel {
	margin-left: 8px;
	margin-top: 10px;
    font-weight: 100;
    font-size: medium;
    color: white;
}

.headerLabel-rtl {
	margin-right: 8px;
	margin-top: 10px;
    font-weight: 100;
    font-size: medium;
    color: white;
}

.actionDiv {
	margin-left: 36%;
	margin-top: 12px;
}

.actionElement {
	margin-left: 15px;
}

.entryValue {
	padding-left: 10px;
	font-weight: 100;
	color: #34495e;
}

.rangeLabel {
	font-weight: 100;
}

.lValue{
	width: 80%;
	border-radius: 5px;
	padding-left: 10px;
}

.uValue {
	width: 80%;
	border-radius: 5px;
	padding-left: 10px;
}

.analyzePart {
	overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.valuePart {
	overflow-x: auto;
    overflow-y: auto;
    max-height: 420px;
}