<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="com.tibco.cep.studio.core.studioProjectMigrator">
      <studioProjectMigrator
            studioProjectMigrator="com.tibco.cep.studio.tester.core.migration.TestDataFileMigrator">
      </studioProjectMigrator>
   </extension>
   <extension
         point="com.tibco.cep.studio.core.studioProjectMigrator">
      <studioProjectMigrator
            studioProjectMigrator="com.tibco.cep.studio.tester.core.migration.TestResultDataFileMigrator">
      </studioProjectMigrator>
   </extension>
   <extension
         point="com.tibco.cep.studio.cli">
      <commandLineInterpreter
            class="com.tibco.cep.studio.tester.core.cli.GenerateTestDataTemplatesCLI">
      </commandLineInterpreter>
   </extension>
   <extension
         point="com.tibco.cep.studio.cli">
      <commandLineInterpreter
            class="com.tibco.cep.studio.tester.core.cli.ImportTestDataCLI">
      </commandLineInterpreter>
   </extension>
   <extension
         point="com.tibco.cep.studio.cli">
      <commandLineInterpreter
            class="com.tibco.cep.studio.tester.core.cli.AssertTestDataCLI">
      </commandLineInterpreter>
   </extension>

</plugin>
