.login-page {
  position: relative;
  top: -47px;
}

.left {
  position: absolute;
  height: 100%;
  width: 45vw;
  background-color: #FFF;

}

.left-rtl {
  position: absolute;
  height: 100%;
  width: 45vw;
  background-color: #FFF;
}

.right {
  position: absolute;
  height: 100%;
  left: 45vw;
  width: 55vw;
  background-color: #222b45;
  
}

.right > img {
  max-height: 100%;  
  max-width: 100%; 
  width: auto;
  height: auto;
  position: absolute;  
  top: -16%;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}

.right > div {
  position: relative;  
  top: 32%;
  text-align: center;
  color: #FFF;
  font-size: 32px;
  font-weight: 100;
  z-index: 10;
}

.right > .build-info {
  top: 39% !important;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Source Sans Pro';
  letter-spacing: 1.7px;
  color: white;
}

.right-rtl {
  position: absolute;
  height: 100%;
  right: 45vw;
  width: 55vw;
  background-color: #222b45;
}

.right-rtl > img {
  max-height: 100%;  
  max-width: 100%; 
  width: auto;
  height: auto;
  position: absolute;  
  top: -16%;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}

.right-rtl > div {
  position: relative;  
  top: 32%;
  text-align: center;
  color: #FFF;
  font-size: 32px;
  font-weight: 100;
  z-index: 10;
}

.right-rtl > .build-info {
  top: 39% !important;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Source Sans Pro';
  letter-spacing: 1.7px;
  color: white;
}

.ams-logo {
  top: -16% !important;
}

.login-form {
  position: relative;
  top: 17%;
  width: 100%;
}

.login-form h3 {
  font-size: 36px;
  font-weight: 300;
  color: #696969;
  margin-bottom: 30px;
}

.social-divider {
  font-size: 20px;
  font-weight: 200;
  color: #696969;
  margin-bottom: 30px;
}

.social-button {
  padding-bottom: 3px;
}

.social-button > a {
  font-weight: 300 !important;
}

