.login-or-signup {
  background-color: #FFF;
  left: 27vw;
  position: absolute;
  top: -47px;
  width: 45vw;
  height: calc(100vh - 99px);
  padding: 4vh 0em 0 0em;
}

.description {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 1em;
  color: #696969;
  font-size: 14px;
  font-weight: 200;
}

.signup-divider {
  font-size: 20px;
  font-weight: 200;
  color: #696969;
  margin-left: 30px;
  margin-right: 30px;
}

div.header {
  padding: 24px 0 24px 0;
}

div.header > span.switchHeader.notActive {
  padding: 1px 2px 1px 2px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
  width: 60px;
  text-decoration: underline;
}

div.header > span.switchHeader.notActive.signIn {
  background-color: #318dde;
}

div.header > span.switchHeader.notActive.signIn:hover {
  background-color: #4E9DE3;
}

div.header > span.switchHeader.notActive.signUp {
  background-color: #33d000;
}

div.header > span.switchHeader.notActive.signUp:hover {
  opacity: 0.8;
}

div.header > span.switchHeader:not(.notActive) {
  display:inline-block;
  font-size: 24px;
  font-weight: 400;
  background: none;
  padding: 0px;
  width: 95px;
  position: relative;
  top: 10px;
}

div.header > span.separator {
  font-size: 14px;
  font-weight: 300;
}