<form
  (ngSubmit)='onSignup()'
  #signupForm='ngForm'
  >
  <div class='row justify-content-center'>
    <div class="form-group col-sm-6">
        <input
          #usernameInput
          id="username"
          type="text"
          class="form-control"
          placeholder="{{i18n('Username')}}"
          i18n-placeholder
          autocomplete="off"
          [(ngModel)]="form.userName"
          name = 'username'
          #username='ngModel'
          >
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class="form-group col-sm-6">
        <input
          id="password"
          type="password"
          class="form-control"
          placeholder="{{i18n('Password')}}"
          i18n-placeholder
          autocomplete="off"
          [(ngModel)]="form.password"
          name = 'password'
          #password='ngModel'
          >
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class="form-group col-sm-6">
        <input
          id="confirmpPssword"
          type="password"
          class="form-control"
          placeholder="{{i18n('Confirm password')}}"
          i18n-placeholder
          autocomplete="off"
          [(ngModel)]="form.passwordRepeat"
          name = 'confirmPassword'
          #confirmPassword='ngModel'
          >
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class="col-sm-6">
      <button
      type="submit"
      class="submit-button"
      [disabled]="!signupForm.form.valid"
      >{{signupButton}}</button>
    </div>
  </div>
</form>