.submit-button {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  border-style: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  background-color: #33d000;
  font-weight: 300;
}

.submit-button:hover {
  opacity: 0.8;
}

/* input {
  border: 1px solid #318dde;
  font-size: 13px;
  color: #7c7c7c;
}
 */