<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tibco.cep.rt.addonContributor">
      <addon
            class="com.tibco.cep.liveview.LiveviewAddOnLoader">
      </addon>
   </extension>
   <extension
         point="com.tibco.cep.studio.core.lvProjectGenerator">
      <generator
            generator="com.tibco.cep.liveview.project.LiveViewProjectGenerator">
      </generator>
   </extension>
   <extension
         point="com.tibco.cep.studio.cli">
      <commandLineInterpreter
            class="com.tibco.cep.liveview.cli.LiveViewProjectGeneratorCLI">
      </commandLineInterpreter>
   </extension>
</plugin>
