<!-- Import Schemas -->
<!-- Condition and Action schema selection -->
<div>
    <!-- Prompt for condition schema -->
    <div class="btn-group">
        <button type="button" class="btn btn-primary btn-xs dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" i18n>{{i18n('
            Condition
            ')}}</button>
        <div class="dropdown-menu">
            <a (click)='selectCondition(0)' class="dropdown-item" href="#" i18n>{{i18n('Schema')}}</a>
            <br>
            <a (click)='selectCondition(1)' class="dropdown-item" href="#" i18n>{{i18n('Expression')}}</a>
            <br>
        </div>
    </div>

    <!-- Prompt for action schema -->
    <div class="btn-group">
        <button type="button" class="btn btn-primary btn-xs dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" i18n>{{i18n('
            Action
            ')}}</button>
        <div class="dropdown-menu">
            <a (click)='selectAction(0)' class="dropdown-item" href="#" i18n>{{i18n('Schema')}}</a>
            <br>
            <a (click)='selectAction(1)' class="dropdown-item" href="#" i18n>{{i18n('Expression')}}</a>
            <br>
        </div>
    </div>
</div>
