<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.tibco.cep.studio.debug.core.ApplicationLaunch">
<stringAttribute key="ATTR_BE_STUDIO_DEBUG.CDD_FILE" value="Q:\be\5.2\examples\ftl\publisher\HOMMsgs\Deployments\HOMmsgs.cdd"/>
<booleanAttribute key="ATTR_BE_STUDIO_DEBUG.CLASSPATH_CHANGE" value="false"/>
<stringAttribute key="ATTR_BE_STUDIO_DEBUG.CMD_STARTUP_OPTS" value=""/>
<listAttribute key="ATTR_BE_STUDIO_DEBUG.CUSTOM_FUNCTIONS_LIBRARIES">
<listEntry value="Default Custom Function Libraries"/>
</listAttribute>
<stringAttribute key="ATTR_BE_STUDIO_DEBUG.EAR_FILE" value="Q:\be\5.2\examples\ftl\publisher\HOMMsgs.ear"/>
<stringAttribute key="ATTR_BE_STUDIO_DEBUG.PROJECT_NAME" value="HOMMsgs"/>
<listAttribute key="ATTR_BE_STUDIO_DEBUG.THIRD_PARTY_LIBRARIES">
<listEntry value="Default Third Party Libraries"/>
</listAttribute>
<stringAttribute key="ATTR_BE_STUDIO_DEBUG.UNIT_NAME" value="default"/>
<stringAttribute key="ATTR_BE_STUDIO_DEBUG.VM_ARGS" value=""/>
<stringAttribute key="ATTR_BE_STUDIO_DEBUG.WORKING_DIR" value="Q:\be\5.2\examples\ftl\publisher"/>
<stringAttribute key="Studio Configuration file timestamp" value="1359498815551"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HOMMsgs"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="Path" value="C:/tibco/ftl/3.0/bin"/>
</mapAttribute>
</launchConfiguration>
