<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="functionCatalogProvider" name="Function Catalog Provider" schema="schema/functionCatalogProvider.exsd"/>
   <extension-point id="addonContributor" name="Addon Contributor" schema="schema/addonContributor.exsd"/>
   <extension
         point="com.tibco.cep.rt.functionCatalogProvider">
      <functionCatalog
            provider="com.tibco.cep.rt.functions.DefaultFunctionCatalogProvider">
      </functionCatalog>
   </extension>
   <extension
         point="com.tibco.cep.tpcl.runtimeBundleClasspathProvider">
      <RuntimeBundle
            classpathProvider="com.tibco.cep.rt.CEPRuntimeClasspathProvider">
      </RuntimeBundle>
   </extension>
   <extension
         point="com.tibco.cep.tpcl.driverXmlProvider">
      <driver
            class="com.tibco.cep.rt.CoreDriverXMLProvider">
      </driver>
   </extension>

</plugin>
