<!doctype html public "-//w3c//dtd html 3.2 final//en">
<html>
	<head>
	<title>Show Related Concepts Error</title>
	</head>
	<body>
		<table align="center" valign="top" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed">
			<tr align="center" valign="middle" height="98%">
				<td class="pageletbody" valign="top" height="100%" align="center">
					<font class="pageleterrortext">$errormessage</font>
				</td>
			</tr>  	
	</table>
	</body>
</html>

