<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tibco.cep.studio.core.metricConceptCodeGenerator">
      <metricConcept
            generator="com.tibco.cep.studio.dashboard.core.codegen.MetricCodeGenerator">
      </metricConcept>
   </extension>
     <extension
         point="com.tibco.cep.rt.addonContributor">
      <addon
            class="com.tibco.cep.studio.dashboard.core.ViewsAddOnLoader">
      </addon>
   </extension>
   <extension
       point="com.tibco.cep.studio.core.studioProjectMigrator">
       <studioProjectMigrator
             studioProjectMigrator="com.tibco.cep.studio.dashboard.migration.CoreDashboardMigrator">
       </studioProjectMigrator>
       <studioProjectMigrator
          	studioProjectMigrator="com.tibco.cep.studio.dashboard.migration.chartcomponent.ChartComponentMigrator">
    	</studioProjectMigrator>
     	<studioProjectMigrator
             studioProjectMigrator="com.tibco.cep.studio.dashboard.migration.statemachinecomponent.StateMachineComponentMigrator">
       	</studioProjectMigrator>
 	</extension>
</plugin>
