button.expander {
  margin-left: 0.5em;
}

div.invisible {
  display: none;
}
div.visible {
  display: block;
}

div.commit-msg {
  opacity: 0.8;
  font-size: 14px;
}
div.commit-changelist {
  opacity: 0.8;
}
div.item-heading {
  font-size: 14px;
}
div.item-footer{
  /*font-size:13px;*/
}

.approval-comment > textarea {
  margin-bottom: 1em;
}

.well {
  padding: 1em;
}

.deleteIcon {
  color: white;
  background-color: brown;
  border-color: brown;
}
