<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
	<extension-point id="ProjLibExportExtensions" name="Project Library Export Extensions" schema="schema/ProjLibExportExtensions.exsd"/>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///com/tibco/cep/studio/common/configuration/model/project_configuration.ecore" 
       class = "com.tibco.cep.studio.common.configuration.ConfigurationPackage"
       genModel = "model/project_configuration.genmodel" />
   </extension>

   <extension
         point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///com/tibco/cep/designer/index/core/model/ontology_index.ecore" 
       class = "com.tibco.cep.studio.core.index.model.IndexPackage"
       genModel = "model/ontology_index.genmodel" />
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ontology_index -->
      <package
            uri="http:///com/tibco/cep/designer/index/core/model/scope/ontology_index.ecore"
            class="com.tibco.cep.studio.core.index.model.scope.ScopePackage"
            genModel="model/ontology_index.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ontology_index -->
      <package
            uri="http:///com/tibco/cep/designer/index/core/model/search/ontology_index.ecore"
            class="com.tibco.cep.studio.core.index.model.search.SearchPackage"
            genModel="model/ontology_index.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated designtime_ontology -->
      <package
            uri="http:///com/tibco/cep/designtime/core/model/designtime_ontology.ecore"
            class="com.tibco.cep.designtime.core.model.ModelPackage"
            genModel="model/designtime_ontology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated designtime_ontology -->
      <package
            uri="http:///com/tibco/cep/designtime/core/model/element"
            class="com.tibco.cep.designtime.core.model.element.ElementPackage"
            genModel="model/designtime_ontology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated designtime_ontology -->
      <package
            uri="http:///com/tibco/cep/designtime/core/model/event"
            class="com.tibco.cep.designtime.core.model.event.EventPackage"
            genModel="model/designtime_ontology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated designtime_ontology -->
      <package
            uri="http:///com/tibco/cep/designtime/core/model/service/channel"
            class="com.tibco.cep.designtime.core.model.service.channel.ChannelPackage"
            genModel="model/designtime_ontology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated designtime_ontology -->
      <package
            uri="http:///com/tibco/cep/designtime/core/model/rule"
            class="com.tibco.cep.designtime.core.model.rule.RulePackage"
            genModel="model/designtime_ontology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated designtime_ontology -->
      <package
            uri="http:///com/tibco/cep/designtime/core/model/states"
            class="com.tibco.cep.designtime.core.model.states.StatesPackage"
            genModel="model/designtime_ontology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated designtime_ontology -->
      <package
            uri="http:///com/tibco/cep/designtime/core/model/archive"
            class="com.tibco.cep.designtime.core.model.archive.ArchivePackage"
            genModel="model/designtime_ontology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated designtime_ontology -->
      <package
            uri="http:///com/tibco/cep/designtime/core/model/archive/config"
            class="com.tibco.cep.designtime.core.model.archive.config.ConfigPackage"
            genModel="model/designtime_ontology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated designtime_ontology -->
      <package
            uri="http:///com/tibco/cep/designtime/core/model/domain"
            class="com.tibco.cep.designtime.core.model.domain.DomainPackage"
            genModel="model/designtime_ontology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated designtime_ontology -->
      <package
            uri="http:///com/tibco/cep/designtime/core/model/validation"
            class="com.tibco.cep.designtime.core.model.validation.ValidationPackage"
            genModel="model/designtime_ontology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated designtime_ontology -->
      <package
            uri="http:///com/tibco/cep/designtime/core/model/designtimelib"
            class="com.tibco.cep.designtime.core.model.designtimelib.DesigntimelibPackage"
            genModel="model/designtime_ontology.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated designtime_ontology -->
      <package
            uri="http:///com/tibco/cep/designtime/core/model/java"
            class="com.tibco.cep.designtime.core.model.java.JavaPackage"
            genModel="model/designtime_ontology.genmodel"/>
   </extension>
	<extension
           point="com.tibco.cep.studio.common.ProjLibExportExtensions">
        <exportLibraryExtensions
              extension="concept">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="event">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="time">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="domain">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="scorecard">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="channel">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="rule">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="ruletemplate">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="ruletemplateview">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="rulefunction">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="rulefunctionimpl">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="statemachine">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="dt">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="xsd">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="wsdl">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="xml">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="substvar">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="java">
        </exportLibraryExtensions>
        <sharedResourceExtensions
              extension="id">
        </sharedResourceExtensions>
        <sharedResourceExtensions
              extension="sharedjdbc">
        </sharedResourceExtensions>
        <sharedResourceExtensions
              extension="sharedjmsapp">
        </sharedResourceExtensions>
        <sharedResourceExtensions
              extension="sharedjmscon">
        </sharedResourceExtensions>
        <sharedResourceExtensions
              extension="sharedjndiconfig">
        </sharedResourceExtensions>
        <sharedResourceExtensions
              extension="sharedjndiconfig">
        </sharedResourceExtensions>
        <sharedResourceExtensions
              extension="sharedrsp">
        </sharedResourceExtensions>
        <sharedResourceExtensions
              extension="sharedtcp">
        </sharedResourceExtensions>
        <sharedResourceExtensions
              extension="sharedtcp">
        </sharedResourceExtensions>
        <sharedResourceExtensions
              extension="rvtransport">
        </sharedResourceExtensions>
        <sharedResourceExtensions
              extension="sharedascon">
        </sharedResourceExtensions>
        <sharedResourceExtensions
              extension="hawk">
        </sharedResourceExtensions>
        <testDataExtensions
              extension="concepttestdata">
        </testDataExtensions>
        <testDataExtensions
              extension="eventtestdata">
        </testDataExtensions>
        <testDataExtensions
              extension="scorecardtestdata">
        </testDataExtensions>
        <exportLibraryExtensions
              extension="beproject">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="properties">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="class">
        </exportLibraryExtensions>
        <sharedResourceExtensions
              extension="sharedhttp">
        </sharedResourceExtensions>
        <sharedResourceExtensions
              extension="sharedsb">
        </sharedResourceExtensions>
        <sharedResourceExtensions
              extension="ftl">
        </sharedResourceExtensions>
        <sharedResourceExtensions
              extension="as3">
        </sharedResourceExtensions>
        <sharedResourceExtensions
              extension="sharedmqttcon">
        </sharedResourceExtensions>
        <exportLibraryExtensions
              extension="der">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="pem">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="cer">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="crt">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="key">
        </exportLibraryExtensions>
        <exportLibraryExtensions
              extension="txt">
        </exportLibraryExtensions>
     </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated palette -->
      <package
            uri="http://www.tibco.com/cep/studio/common/palette"
            class="com.tibco.cep.studio.common.palette.PalettePackage"
            genModel="model/palette.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated palette -->
      <parser
            type="palette"
            class="com.tibco.cep.studio.common.palette.util.PaletteResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DecisionTable -->
      <package
            uri="http:///com/tibco/cep/decision/table/model/DecisionTable.ecore"
            class="com.tibco.cep.decision.table.model.dtmodel.DtmodelPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated DecisionTable -->
      <parser
            type="dtmodel"
            class="com.tibco.cep.decision.table.model.dtmodel.util.DtmodelResourceFactoryImpl"/>
   </extension>
</plugin>
