<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="contextMenu" name="Context Menu for Diagram Select Tool " schema="schema/contextMenu.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.tibco.cep.diagramming.category"
            name="Menu Commands">
      </category>
      <command
            categoryId="com.tibco.cep.diagramming.category"
            id="com.tibco.cep.diagramming.page.setup"
            name="Page Setup">
      </command>
      <command
            categoryId="com.tibco.cep.diagramming.category"
            id="com.tibco.cep.diagramming.print.preview"
            name="Print Preview">
      </command>
      <command
            categoryId="com.tibco.cep.diagramming.category"
            id="com.tibco.cep.diagramming.drawing.diagram.search"
            name="Search">
      </command>
      <command
            categoryId="com.tibco.cep.diagramming.category"
            id="com.tibco.cep.diagramming.drawing.diagram.layout"
            name="Diagram Layout">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.tibco.cep.diagramming.perspective.DiagramPerspective"
            icon="icons/diagram.gif"
            id="com.tibco.cep.diagramming.diagram.perspective"
            name="BusinessEvents Studio Diagram">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.tibco.cep.diagramming.preferences.DiagramPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.tibco.cep.studio.ui.preference.page.designer"
            class="com.tibco.cep.diagramming.preferences.DiagramPreferencePage"
            id="com.tibco.cep.studio.ui.editors.preference.page.diagram"
            name="Diagram">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.tibco.cep.studio.ui.category"
            class="com.tibco.cep.studio.ui.palette.views.PaletteView"
            icon="icons/palette.gif"
            id="com.tibco.cep.studio.palette.views.paletteview"
            name="Palette">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.tibco.cep.diagramming.DiagrammingPluginStartup"></startup>
   </extension>
</plugin>
