<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header panel-sm">
       <ng-container i18n>{{i18n('Synchronize External changes to Project ')}}</ng-container> {{project.projectName}}
      </div>
      <div class="card-body">
        <div class="form-group">
          <change-list
            [input]='candidatesObs | async'
            [mode]='"EXTERNAL_SYNC"'
            emptyMsg="{{i18n('No External Artifacts to synchronize.')}}" i18n-emptyMsg
          ></change-list>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row left-pad bottom-pad top-pad right-pad">
  <div class="col-sm-12">
    <button
      type="button"
      class='btn btn-outline-primary btn-sm btn-narrow'
      (click)='onCancel()' i18n
      >{{i18n('Cancel')}}</button>
    <button
      [disabled]='!canSubmit()'
      type="button"
      class='btn btn-primary btn-sm btn-narrow pull-right'
      (click)='onSubmit()' i18n
      >{{i18n('Confirm')}}</button>
  </div>
</div>
