<div class="project-summary-container">
        <mat-grid-list class="custom-mat-grid-list" cols="4" gutterSize='12.5px' rowHeight="2:1">
                <mat-grid-tile>
                        <h6 mat-subheader i18n>{{i18n('Project Details ')}}</h6>
                        <mat-divider></mat-divider>
                        <mat-nav-list role="navigation" style="width: 130%;">
                                <mat-list-item>
                                 <ng-container i18n>{{i18n('Number of Artifacts ')}}</ng-container>:&nbsp; <b> {{_artifactsCount }}</b>
                                </mat-list-item>
                                <mat-list-item>
                                 <ng-container i18n>{{i18n('Project Size ')}}</ng-container>:&nbsp; <b>{{_size}}</b>
                                </mat-list-item>
                                <mat-list-item>
                                 <ng-container i18n>{{i18n('Project Path ')}}</ng-container>:&nbsp;<b>{{_path}}</b>
                                </mat-list-item>
                        </mat-nav-list>
                </mat-grid-tile>
                <mat-grid-tile>
                        <h6 mat-subheader i18n>{{i18n('Latest Operation Performed (User)')}}</h6>
                        <mat-divider></mat-divider>
                        <mat-nav-list role="navigation">
                                <mat-list-item>
                                 <ng-container i18n>{{i18n('Checkout By ')}}</ng-container>:&nbsp;<b>{{_lastCheckoutBy}}</b>
                                </mat-list-item>
                                <mat-list-item>
                                 <ng-container i18n>{{i18n('Commit By ')}}</ng-container>:&nbsp;<b>{{_lastCommitBy}}</b>
                                </mat-list-item>
                                <mat-list-item>
                                 <ng-container i18n>{{i18n('Validate By ')}}</ng-container>:&nbsp;<b>{{_lastValidateBy}}</b>
                                </mat-list-item>
                                <mat-list-item>
                                 <ng-container i18n>{{i18n('Sync By ')}}</ng-container>:&nbsp;<b>{{_lastSyncBy}}</b>
                                </mat-list-item>
                                <mat-list-item>
                                 <ng-container i18n>{{i18n('Build By ')}}</ng-container>:&nbsp;<b>{{_lastGenerateDeployableBy}}</b>
                                 </mat-list-item>
                        </mat-nav-list>
                </mat-grid-tile>
                <mat-grid-tile>
                        <h6 mat-subheader i18n>{{i18n('Latest Operation Performed (Time)')}}</h6>
                        <mat-divider></mat-divider>
                        <mat-nav-list role="navigation">
                                <mat-list-item>
                                 <ng-container i18n>{{i18n('Checkout Time')}}</ng-container>:&nbsp;<b>{{_lastCheckoutTime}}</b>
                                </mat-list-item>
                                <mat-list-item>
                                 <ng-container i18n>{{i18n('Commit Time')}}</ng-container>:&nbsp;<b>{{_lastCommitTime}}</b>
                                </mat-list-item>
                                <mat-list-item>
                                 <ng-container i18n>{{i18n('Validate Time')}}</ng-container>:&nbsp;<b>{{_lastValidateTime}}</b>
                                </mat-list-item>
                                <mat-list-item>
                                 <ng-container i18n>{{i18n('Sync Time')}}</ng-container>:&nbsp;<b>{{_lastSyncTime}}</b>
                                </mat-list-item>
                                <mat-list-item>
                                 <ng-container i18n>{{i18n('Build Time')}}</ng-container>:&nbsp;<b>{{_lastGenerateDeployableTime}}</b>
                                 </mat-list-item>
                        </mat-nav-list>
                </mat-grid-tile>
                <mat-grid-tile>
                        <h6 mat-subheader i18n>{{i18n('Statistics')}}</h6>
                        <mat-divider></mat-divider>
                        <mat-nav-list role="navigation">
                                <mat-list-item>
                                 <ng-container i18n>{{i18n('Total Commits')}}</ng-container>:&nbsp;<b>{{_totalCommits}}</b>
                                </mat-list-item>
                                <mat-list-item>
                                 <ng-container i18n>{{i18n('Total Approvals')}}</ng-container>:&nbsp;<b>{{_totalApprovals}}</b>
                                </mat-list-item>
                                <mat-list-item>
                                 <ng-container i18n>{{i18n('Total Rejections')}}</ng-container>:&nbsp;<b>{{_totalRejections}}</b>
                                </mat-list-item>
                                <mat-list-item>
                                 <ng-container i18n>{{i18n('Total Deployments')}}</ng-container>:&nbsp;<b>{{_totalDeployments}}</b>
                                </mat-list-item>
                        </mat-nav-list>
                </mat-grid-tile> 
        </mat-grid-list>
</div>

<!-- <div>
        <div class="container">
                <div class="row">
                      <div class="col-sm-5">
                         <div class="row">
                            <label class="leftLabelFields">Number of Artifacts</label>
                         </div>
                         <div class="row">
                            <div class="leftValueField">{{_artifactsCount}}</div>
                         </div>
                         <div class="row">
                            <label class="leftLabelFields">Project Size</label>
                         </div>
                         <div class="row">
                            <div class="leftValueField">{{_size}}</div>
                         </div>
                         <div class="row">
                            <label class="leftLabelFields">Project Path</label>
                         </div>
                         <div class="row">
                            <div class="leftValueField">{{_path}}</div>
                         </div>
                         <br><br>
                         <div class="row">
                            <label class="leftLabelFields">Total Commits</label>
                         </div>
                         <div class="row">
                            <div class="rightValueField">{{_totalCommits}}</div>
                         </div>
                         <div class="row">
                            <div><label class="leftLabelFields">Total Approvals</label></div>
                         </div>
                         <div class="row">
                            <div class="rightValueField">{{_totalApprovals}}</div>
                         </div>
                         <div class="row">
                            <div><label class="leftLabelFields">Total Rejections</label></div>
                         </div>
                         <div class="row">
                            <div class="rightValueField">{{_totalRejections}}</div>
                         </div>
                         <div class="row">
                            <div><label class="leftLabelFields">Total Deployments</label></div>
                         </div>
                         <div class="row">
                            <div class="rightValueField">{{_totalDeployments}}</div>
                         </div>
                      </div>
                      <div class="col-sm-3">
                         <div class="row">
                            <label class="leftLabelFields">Last Checkout By</label>
                         </div>
                         <div class="row">
                            <div class="rightValueField">{{_lastCheckoutBy}}</div>
                         </div>
                         <div class="row">
                            <label class="leftLabelFields">Last Commit By</label>
                         </div>
                         <div class="row">
                             <div class="rightValueField">{{_lastCommitBy}}</div>
                        </div>
                         <div class="row">
                            <label class="leftLabelFields">Last Validate By</label>
                         </div>
                         <div class="row">
                            <div class="rightValueField">{{_lastValidateBy}}</div>
                         </div>
                         <div class="row">
                            <label class="leftLabelFields">Last Sync By</label>
                         </div>
                         <div class="row">
                            <div class="rightValueField">{{_lastSyncBy}}</div>
                         </div>
                         <div class="row">
                            <label class="leftLabelFields">Last Build By</label>
                         </div>
                         <div class="row">
                            <div class="rightValueField">{{_lastGenerateDeployableBy}}</div>
                         </div>
                      </div>
                      <div class="col-sm-3">
                         <div class="row">
                            <div><label class="leftLabelFields">Last Checkout Time</label></div>
                         </div>
                         <div class="row">
                            <div class="rightValueField">{{_lastCheckoutTime}}</div>
                         </div>
                         <div class="row">
                            <label class="leftLabelFields">Last Commit Time</label>
                         </div>
                         <div class="row">
                            <div class="rightValueField">{{_lastCommitTime}}</div>
                         </div>
                         <div class="row">
                            <label class="leftLabelFields">Last Validate Time</label>
                         </div>
                         <div class="row">
                            <div class="rightValueField">{{_lastValidateTime}}</div>
                         </div>
                         <div class="row">
                            <label class="leftLabelFields">Last Sync Time</label>
                         </div>
                         <div class="row">
                            <div class="rightValueField">{{_lastSyncTime}}</div>
                         </div>
                         <div class="row">
                            <label class="leftLabelFields">Last Build Time</label>
                         </div>
                         <div class="row">
                            <div class="rightValueField">{{_lastGenerateDeployableTime}}</div>
                         </div>
                      </div>
                </div>
        </div>
 </div> -->