.rightLabelFields {
    margin-bottom: 5px;
    color: gray !important;
}

.leftLabelFields {
    margin-bottom: -2px;
    color: gray !important;
}

.leftValueField {
    margin-bottom: 18px !important;
}

.rightValueField {
    margin-bottom: 10px !important;
}

.project-summary-container {
    height: calc(100vh - 140px);
}

.custom-mat-grid-list {
    padding-bottom: 0% !important;
    height: 79.3vh !important;
    display: block !important;
}

.mat-subheader {
    font-family: inherit;
    font-weight: bold;
    padding-bottom: 0px !important;
    color: #34495e !important;
}

.mat-grid-tile {
    background-color: white;
    height: 100% !important;
}
 