<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.importWizards">
  		<wizard
          category="com.tibco.cep.studio.ui.category"
          class="com.tibco.cep.studio.dbconcept.wizards.DBImportWizard"
          icon="icons/studio_project.gif"
          id="com.tibco.cep.studio.dbconcept.wizards.DBImportWizard"
          name="Database Concept">
       <description>
          Import a DATABASE to create TIBCO BusinessEvents artifacts.
       </description>
    </wizard> 
  	</extension>
</plugin>
