<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.importWizards">
  		<wizard
          category="com.tibco.cep.studio.ui.category"
          class="com.tibco.cep.ws.wizard.WsdlImportWizard"
          icon="icons/wsdlimport_16x16.gif"
          id="com.tibco.cep.wsdl.wizard.WsdlImportWizard"
          name="WSDL">
       <description>
          Import a WSDL file to create TIBCO BusinessEvents artifacts.
       </description>
    </wizard> 
  	</extension>
  	  	<extension point="org.eclipse.ui.exportWizards">
  		<wizard
          category="com.tibco.cep.studio.ui.export.category"
          class="com.tibco.cep.schema.wizard.GenerateSchemaWizard"
          icon="icons/studio_project.gif"
          id="com.tibco.cep.schema.wizard.GenerateSchemaWizard"
          name="Generate Schema">
       <description>
          Generate a Schema for existing events and concepts
       </description>
    </wizard> 
  	</extension>
  	 <extension point="org.eclipse.ui.exportWizards">
  		<wizard
          category="com.tibco.cep.studio.ui.export.category"
          class="com.tibco.cep.ws.Export.wizard.WsdlExportWizard"
          icon="icons/wsdlexport_16x16.gif"
          id="com.tibco.cep.wsdlExport.wizard.WsdlExportWizard"
          name="WSDL">
       <description>
          Creates WSDL based on TIBCO BusinessEvents artifacts
       </description>
    </wizard> 
  	</extension>

</plugin>
