<tr align="left" valign="middle" height="24px">
    <td class="paglettitleleft" valign="middle" nowrap align="left" height="24px">&nbsp;</td>
    <td class="paglettitle" valign="middle"  width="100%" nowrap align="left" height="24px">DrillDown Results</td>
    <td class="paglettitlelink" valign="middle" nowrap align="right" height="24px" onclick="exportresults('$exporturl');" id="wysiwygexportlink">Export Data</td>
    <td class="paglettitleright" valign="middle" nowrap align="left" height="24px">&nbsp;</td>    
</tr>
<tr align="center" valign="middle" height="98%">
    <td class="pageletbody" valign="top" height="100%" colspan="4">
	<iframe
		name="drilldown_loader"
		src=""
		border="0"
		frameborder="0"
		marginwidth="0"
		marginheight="0"
		allowtransparency="true"
		scrolling="yes"
		style="height:100%; width:100%"
		>
	</iframe>	
	<form name="downloadFrm"  action="$pullrequestbaseurl" method="post" target="hiddenframe">
		<input type="hidden" name="request" value="" id="request"/>
	</form>
    </td>
</tr>