<tr align="left" valign="middle" height="24px">
    <td class="paglettitleleft" valign="middle" nowrap align="left" height="24px">&nbsp;</td>
    <td class="paglettitle" valign="middle" width="100%" nowrap align="left" height="24px">DrillDown Results</td>
    <td class="paglettitleright" valign="middle" nowrap align="left" height="24px">&nbsp;</td>     
</tr>
<tr align="center" valign="middle" height="98%">
    <td class="pageletbody" valign="top" height="100%" align="center" colspan="3">
        <font class="pageleterrortext">$errormessage</font>
    </td>
</tr>