<!doctype html public "-//w3c//dtd html 3.2 final//en">
<html>
<head>

<script language="JavaScript">
	function runCommands()
	{
		#foreach( $runCommand in $runCommands )
		    $runCommand
		#end
	}
</script>
	<script language="javascript" src="/drilldown/js/tabletree.js"></script>
</head>
<body $bodyOnLoad>
	$tableTreeHtml
	$popupMenuHtml
</body>
</html>
