<!--
@Author: Rahil Khera
@Date:   2017-08-01T16:05:25+05:30
@Last modified by:   Rahil Khera
@Last modified time: 2017-08-02T17:01:38+05:30
-->

<div>
  <tabset #tabset [justified]="true">
    <!-- <tab heading="Operator" (select)="this.onTabSelection(0)">
       <operator-preference>
        Loading operator preferences...
      </operator-preference>
    </tab>
    <tab heading="Notification" (select)="this.onTabSelection(1)">
      <email-notifications>
        Loading email notification settings...
      </email-notifications>
    </tab> -->
  </tabset>
</div>
