<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.core.resources.markers">
      <attribute
            name="com.tibco.cep.studio.rms.core.attribute">
      </attribute>
   </extension>
   <!--extension
         point="com.tibco.cep.studio.cli">
      <commandLineInterpreter
            class="com.tibco.cep.studio.rms.cli.RMSCommitCLI">
      </commandLineInterpreter>
   </extension-->
   <!--extension
          point="com.tibco.cep.studio.cli">
       <commandLineInterpreter
             class="com.tibco.cep.studio.rms.cli.RMSProjectSetupCLI">
       </commandLineInterpreter>
    </extension-->
   <!--extension
         point="com.tibco.cep.studio.cli">
      <commandLineInterpreter
            class="com.tibco.cep.studio.rms.cli.RMSBuildEarCLI">
      </commandLineInterpreter>
   </extension>
   <extension
         point="com.tibco.cep.studio.cli">
      <commandLineInterpreter
            class="com.tibco.cep.studio.rms.cli.RMSGenerateClassesCLI">
      </commandLineInterpreter>
   </extension-->
</plugin>   
