.mat-card {
  height: inherit;
  display: flex !important;
}

.active {
  border-left: 5px rgb(0, 162, 255) solid;
}

.mat-nav-list .mat-list-item {
  outline: 0;
  font-family: inherit;
}

mat-list-item.active {
  background-color: #6c757d26;
}

.mat-expansion-panel.active {
  background-color: #6c757d26;
}

.material-icons.custom {
  color: #6c757d;
  position: absolute;
  right: 0px;
}

.material-icons.custom-rtl {
  color: #6c757d;
  position: absolute;
  left: 0px;
}

.material-icons.custom-roles {
  color: #6c757d;
  position: absolute;
  right: 11.5%;
}

.material-icons.custom-roles-rtl {
  color: #6c757d;
  position: absolute;
  left: 11.5%;
}

.material-icons.custom-left {
  color: #6c757d;
}

.material-icons.custom-left-red {
  color: #f43636;
  font-size: medium;
  position: absolute;
  left: 0px;
}

.material-icons.custom-roles-removal {
  color: #f43636;
  font-size: medium;
  position: absolute;
  right: 21%;
  line-height: 150%;
}

.material-icons.custom-roles-removal-rtl {
  color: #f43636;
  font-size: medium;
  position: absolute;
  left: 21%;
  line-height: 150%;
}

.material-icons.custom-user-removal {
  color: #f43636;
  font-size: medium;
  position: absolute;
  right: 8%;
  line-height: 150%;
}

.material-icons.custom-user-removal-rtl {
  color: #f43636;
  font-size: medium;
  position: absolute;
  left: 8%;
  line-height: 150%;
}
.custom-role-add-user {
  /* font-size: medium;
  position: absolute;
  right: 24%;
  line-height: 150%; */
  background-color: deepskyblue;
}

.material-icons.add {
  position: absolute;
  right: 0px;
  font-size: medium;
  color: deepskyblue;
}

.material-icons.add-rtl {
  position: absolute;
  left: 0px;
  font-size: medium;
  color: deepskyblue;
}

.material-icons.apply {
  position: absolute;
  right: 0px;
  font-size: medium;
  color: deepskyblue;
}


.material-icons.inactive {
  position: absolute;
  right: 0px;
  font-size: medium;
  color: rgb(157, 162, 163);
}

.mat-expansion-panel-header {
  padding-left: 5px !important;
}

.number-grey {
  background: #cccccc;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em;
  position: absolute;
  right: 0px;
}

.number-grey-rtl {
  background: #cccccc;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em;
  position: absolute;
  left: 2%;
}

.fa-minus.active {
  color: coral;
}

.fa-plus.active {
  color: green;
}

.list-group {
  height: 24vh;
  max-height: 24vh;
  overflow-y: auto;
}

.panel-body.empty-msg {
  height: 24vh;
  max-height: 24vh;
  overflow-y: auto;
}

.list-group>.list-group-item {
  padding: 4px 15px;
}

.panel-heading {
  padding: 6px 15px;
}

.toggle-switch {
  padding-right: 2% !important;
}

.ws-operatorpreferences-apply-button {
  margin-top: 1%;
  position: relative;
  margin-left: 26%;
  float: right;
}

.mat-raised-button.custom-save-button {
  background-color: #337ab7;
  color: white;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: deepskyblue;
}

::ng-deep .mat-checkbox-label-before .mat-checkbox-inner-container {
  position: absolute;
  right: 5%;
}

::ng-deep .mat-checkbox {
  font-family: inherit;
}

::ng-deep label.mat-checkbox-layout {
  color: black;
  margin-bottom: 0% !important;
}

::ng-deep mat-checkbox.unlock-all > label.mat-checkbox-layout {
  color: #6c757d;
  margin-bottom: 0% !important;
}