.pagebackgrd{
    background-image: url(../images/background_tile.jpg);
    background-repeat: repeat-x;
}

.paglettitleleft {
   background-image: url(../images/gadget_header_left.jpg); 
   padding-top: 5px;
   padding-bottom: 5px;
   font-family:  Arial, Verdana, Geneva, Helvetica, sans-serif;
   font-size: 11px;	
   font-weight: bold;
   width:10px;
}

.paglettitleright {
   background-image: url(../images/gadget_header_right.jpg); 
   padding-top: 5px;
   padding-bottom: 5px;   
   font-family:  Arial, Verdana, Geneva, Helvetica, sans-serif;
   font-size: 11px;	
   font-weight: bold;  
   width:10px;
}

.paglettitle {
	background-image: url(../images/gadget_header_background.jpg);
	font-family:  Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 11px;	
    font-weight: bold;
	color: #333333;
	padding-top: 5px;
	padding-bottom: 5px;
	/*padding-left: 10px;*/
}

.paglettitlelink {
	background-image: url(../images/gadget_header_background.jpg);
	font-family:  Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 11px;	
    font-weight: bold;
	color: #333333;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: hand;
}

.pageletbackground{
	background-color: #FFFFFF;
}

.pageletbody{
	background-color: #FFFFFF;
	border-left: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	border-right: 1px solid #D8D8D8;
}

.pagelettext{
	color: #353535;
	font-family:  Arial,Verdana, Geneva, Helvetica, sans-serif;
	font-size: 8pt;	
	padding-left: 3px
}

.pageleterrortext{
	font-family:  Arial,Verdana, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	color: red;	
}

.pageletinfotext{
	font-family:  Arial,Verdana, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	color: #353535;
}

.timefilterdiv {
position:absolute; width:215px; height:80px; z-index:50; left:633px; top:40px; background-color:#95a7bf; border:1px solid #565757; FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=95); opacity: .95; 
}

.fullpage {
position:absolute; z-index:0; left:10px;  top:16px; background-color:#B4B4B4; FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=01); opacity: .01; 
}

.timefilterinnerdiv{
float:left; margin:5px; margin-top:10px; width:225px; 
}

.timefilterlabel{
float:left; width:70px; text-align:left; font:Verdana, Arial, Geneva, Helvetica, sans-serif;
}

.timefilterstatuslabel{
float:left; text-align:left; font:Verdana, Arial, Geneva, Helvetica, sans-serif;
}

.timefiltercheck{
text-align:left;
}

.timefiltertext{
float:left; width:30px; text-align:left;
}

.timefilterselect{
float:left; margin-left:15px; width:80px; text-align:left; font-family:Arial,Verdana, Geneva, Helvetica, sans-serif; font-size:10px;
}

.timefilterbuttondiv{
float:left; margin:5px; margin-top:15px; width:215px;
}

.timefilterbutton_ok{
float:left; margin-left:25px; width:70px; text-align:left; 
}

.timefilterbutton_cancel{
float:left; padding-left:5px; width:70px; text-align:left; 
}

.timefilterlink{
font-size:12px; background:inherit; color: #FFFFFF; text-align:left; font-family:  Verdana, Geneva, Helvetica, sans-serif;
}

.exportpnl {
	background-color: #FFFFFF;
}
.exportbtnpnl {
    padding: 5px;
    background-color: #FFFFFF;
    height: 30px;
    text-align : center;
}

.inputtype {
    font-family:Arial, Verdana, Geneva, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333; 
}

.inputlabel {
    font-family:Arial, Verdana, Geneva, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333; 
}

a.button {
    background: transparent url('/drilldown/images/button_edges.jpg') no-repeat scroll top right;
    color: #444;
    display: block;
    /*float: left;*/
    font: bold 10px Arial,Verdana,Geneva,Helvetica, sans-serif;
    height: 18px;
    /*margin-right: 6px;*/
    padding-right: 10px; /* sliding doors padding */
    text-decoration: none;
}
a.button span {
    background: transparent url('/drilldown/images/button_spans.jpg') no-repeat;
    display: block;
    line-height: 14px;
    padding: 2px 0 2px 10px;
}

a.button:hover  {
    background-position: right center;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}
a.button:hover span {
    background-position: left center;
    padding: 2px 0 2px 10px; /* push text down 1px */
}

a.button:active {
    background-position: right bottom;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}
a.button:active span {
    background-position: left bottom;
    padding: 3px 0 1px 10px; /* push text down 1px */
}