DIV.clsMenuDiv{
    border-bottom: #6b6b6b 1px solid;
    border-left: #6b6b6b 1px solid;
    border-right: #6b6b6b 1px solid;
    border-top: #6b6b6b 1px solid;
    font-family: Verdana, 'MS Serif';
    position: absolute;
    background-color: #ffffff;
}

TABLE.clsMenuTable{
    border-bottom: medium none;
    border-left: medium none;
    border-right: medium none;
    border-top: medium none;
    margin: 0px;
    background-color: #ffffff
}

.clsMenuNormalTD{
	font-family: Verdana, Serif;
	font-size: 9;
	color: #000000;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #ffffff;
	background-color: #ffffff;
	cursor: pointer;
}

.clsMenuHighlightTD {
    font-family: Verdana, Serif;
    font-size: 9;
    color: #000000;
    background-color: #d8d8d8;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #d8d8d8;
	cursor: pointer;
}

.clsMenuImageTD {
    font-family: Verdana, Serif;
    font-size: 9;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #d1deee;
    background-image: url(../images/menuimg_bktile.gif);
    background-repeat: repeat-y;
}

TR.clsMenuRow {
    background-color: #ffffff;
}

.clsMenuSeparator {
    font-family: Verdana, Serif;
    font-size: 9;
    color: #000000;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #ffffff;
    background-color: #ffffff;
	height: 5px;
    background-image: url(../images/menu_separator.gif);
    background-repeat: repeat-x;
}

.clsMenuDisableTD
{
    font-family: Verdana, Serif;
    font-size: 9;
    color: #7f7f7f;
    background-color: #d8d8d8;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #d8d8d8;
	cursor: pointer;
}