/*
	StyleSheet for TableTreeWidget.
	these are the default styles	
*/


.tableStyle
{
	/* 
		effect the whole table tree widget
		Use for global attributes here like font. 
	*/

    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    TEXT-OVERFLOW: ellipsis;
}

.ttRightFillerCell
{
	width: 100%;
	background-image : url(../images/filler_bk_tile.gif)
}

.rowStyle
{
	/*
		Style for the table rows. used when we have set the  table.isAlternateRowStyle()= false;
		this is for styling all the node uniformally
	*/

}

.evenRowStyle
{
	/*
		Style for the table even rows. used when we have set the  table.isAlternateRowStyle()= true;
		this is for styling all the node uniformally
	*/
	COLOR: #4a4a4a;	
    TEXT-OVERFLOW: ellipsis;	
    BACKGROUND: #ebebeb
}

.oddRowStyle
{
	/*
		Style for the table odd rows. used when we have set the  table.isAlternateRowStyle()= true;
		this is for styling all the node uniformally
	*/
	COLOR: #4a4a4a;
    TEXT-OVERFLOW: ellipsis;
    BACKGROUND-COLOR: #ebebeb
}


.thcolumnHeader
{
	/*
		Style for the table column header TH Tag. 
	*/
    cursor: arrow;
    BORDER-RIGHT: #b7d9fb 1px solid
}

.columnHeader
{
	/*
		Style for the table column header. 
	*/

    HEIGHT: 12px
}

.tdHeader
{
	/*
		ColSpan Cell of the Group Row. 
	*/
	PADDING-LEFT: 0px
}

.trTableHeader
{
	/*
		Style for the table header. 
	*/
	
    BACKGROUND-IMAGE: url(../images/table_header_bk_tile.gif);
    BACKGROUND-REPEAT: repeat-x
}

.imageTableHeader
{
	/*
		For the image of the table header cell.
	*/
	width:16px
}

.textTableHeader
{
	/*
		Style for the table header text area. 
	*/
	
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    color: #4a4a4a;
	PADDING-LEFT: 2px
}

.tblTableHeader
{
	/*
		Style for the table header. 
	*/
    WIDTH: 100%
	
}
.cellExColl
{
	/*
		Style for the Expand Collapse cell. 
	*/
	width: 16px
}
.treeCellLine
{
	/*
		line image for the tree. 
	*/
    BACKGROUND-IMAGE: url(../images/treeLine.gif);
    BACKGROUND-REPEAT: repeat-y
}
.rowHeader
{
	/*
		Style for the row header cell.
		which shows the icon on row selection. 
	*/
	width:16px;
    BACKGROUND-IMAGE: url(../images/rowheader_bktile.gif);
    BACKGROUND-REPEAT: repeat-x
}

.colHeader
{
	/*
		Style for the column header cell (selection).
		which shows the icon on column selection. 
	*/

    BACKGROUND-IMAGE: url(../images/rowheader_bktile.gif);
    BACKGROUND-REPEAT: repeat-x
}

.expandCollapseColumn
{
	/*
		For the expand collapse column .
	*/
	width:16px
}

.rowheaderColumn
{
	/*
		For the Row Header column .
	*/
	width:16px
}

.normalColumnStyle
{
	/*
		normal Style for the column.
	*/
	COLOR: #b7d9fb;
    BACKGROUND: #565757;
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px



}

.ascendingColumnStyle
{
	/*
		Style for the column on ascending sorting .
	*/
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    COLOR: #b7d9fb;
    BACKGROUND: #757777
	
}
.descendingColumnStyle
{
	/*
		Style for the column on descending sorting .
	*/
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    COLOR: #b7d9fb;
    BACKGROUND: #757777

}
.columnStyle
{
	/*
		normal Style for the column .
	*/
	PADDING-LEFT: 5px;
	BACKGROUND-IMAGE: url(../images/rowtile.gif);
    BACKGROUND-REPEAT: repeat-x;
	OVERFLOW-X: hidden;
    TEXT-OVERFLOW: ellipsis
}


.filterRow
{
	/*
		Style for the row which has filter cells.
	*/
    BACKGROUND: #cfcfcf
}

.filterCell
{
	/*
		Style for the filter cells.
	*/
    BACKGROUND: #cfcfcf
}

.filterInput
{
	/*
		Style for the filter input cells.
	*/
    BORDER-BOTTOM: white 0px solid;
    BORDER-TOP: white 0px solid;
    BORDER-RIGHT: white 0px solid;
    BORDER-LEFT: white 0px solid;
    BACKGROUND: #d9d9d9;
	vertical-align: center
}

.filterImage
{
	/*
		Style for the filter image.
	*/
    BORDER-BOTTOM: white 0px solid;
    BORDER-TOP: white 0px solid;
    BORDER-RIGHT: white 0px solid;
    BORDER-LEFT: white 0px solid;
    MARGIN:0px;
    PADDING:0px;
	vertical-align: bottom;
	width:16px
}

.tbtr_groupByTextTD
{
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 3px;
	vertical-align: center;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8px;
	vertical-align: middle;
    COLOR: #747474
}

.tbtr_groupByFieldText
{
	PADDING-RIGHT: 3px;
	BACKGROUND-IMAGE: url(../images/groupbyfieldtile_up.gif);
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 9px;
	vertical-align: middle;
	white-space:nowrap;
	COLOR: #6a6a6a
}

.tbtr_footerinfocell
{
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    COLOR: #b7d9fb;
    BACKGROUND: #757777;
    width:100%
}

.tbtr_footernextcell
{
	BACKGROUND-IMAGE: url(../images/footer_button_tile.jpg);
    COLOR: #000000;
	cursor:hand
}

.tbtr_footerallcell_disable
{
	BACKGROUND-IMAGE: url(../images/footer_button_tile_d.gif);
    COLOR: #000000;
	cursor:auto
}

.tbtr_footerallcell_enable
{
	BACKGROUND-IMAGE: url(../images/footer_button_tile.gif);
    COLOR: #000000;
	cursor:hand
}

.tbtr_footertable
{
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    COLOR: #b7d9fb;
    BACKGROUND: #757777
}

.tbtr_footerrow
{
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    COLOR: #b7d9fb;
    BACKGROUND: #757777
}

.trtb_celltreeline
{
	/*
		line image for the tree. 
	*/
    BACKGROUND-IMAGE: url(../images/treeLine.gif);
    BACKGROUND-REPEAT: repeat-y
}