<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="imageContributor" name="Views Image Contributor" schema="schema/imageContributor.exsd"/>
   <extension-point id="com.tibco.cep.studio.dashboard.ui.componentcreationtoolbar" name="ComponentCreationToolbar" schema="schema/componentcreationtoolbar.exsd"/>

   <extension
         id="com.tibco.cep.studio.dashboard.ui.newwizards"
         point="org.eclipse.ui.newWizards">
      <category
            id="com.tibco.cep.studio.dashboard.ui.category"
            name="Views"
            parentCategory="com.tibco.cep.studio.ui.category">
      </category>
      <wizard
            canFinishEarly="false"
            category="com.tibco.cep.studio.ui.category/com.tibco.cep.studio.dashboard.ui.category"
            class="com.tibco.cep.studio.dashboard.ui.wizards.metric.MetricWizard"
            finalPerspective="com.tibco.cep.studio.application.perspective"
            icon="icons/metric_16x16.gif"
            id="com.tibco.cep.studio.dashboard.ui.wizards.metric"
            name="Metric">
         <description>
            Create a new Metric
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.tibco.cep.studio.ui.category/com.tibco.cep.studio.dashboard.ui.category"
            class="com.tibco.cep.studio.dashboard.ui.wizards.LoginWizard"
            finalPerspective="com.tibco.cep.studio.application.perspective"
            icon="icons/login_16x16.gif"
            id="com.tibco.cep.studio.dashboard.ui.wizards.login"
            name="Login">
         <description>
            Create a new Login
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.tibco.cep.studio.ui.category/com.tibco.cep.studio.dashboard.ui.category"
            class="com.tibco.cep.studio.dashboard.ui.wizards.HeaderWizard"
            finalPerspective="com.tibco.cep.studio.application.perspective"
            icon="icons/header_16x16.gif"
            id="com.tibco.cep.studio.dashboard.ui.wizards.header"
            name="Header">
         <description>
            Create a new Header
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.tibco.cep.studio.ui.category/com.tibco.cep.studio.dashboard.ui.category"
            class="com.tibco.cep.studio.dashboard.ui.wizards.skin.SeriesColorWizard"
            finalPerspective="com.tibco.cep.studio.application.perspective"
            icon="icons/seriescolor_16x16.gif"
            id="com.tibco.cep.studio.dashboard.ui.wizards.seriescolor"
            name="Series Color">
         <description>
            Create a new Series Color
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.tibco.cep.studio.ui.category/com.tibco.cep.studio.dashboard.ui.category"
            class="com.tibco.cep.studio.dashboard.ui.wizards.skin.ChartColorSetWizard"
            finalPerspective="com.tibco.cep.studio.application.perspective"
            icon="icons/chartcomponentcolorset_16x16.gif"
            id="com.tibco.cep.studio.dashboard.ui.wizards.chartcolorset"
            name="Chart Color Set">
         <description>
            Create a new Chart Color Set
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.tibco.cep.studio.ui.category/com.tibco.cep.studio.dashboard.ui.category"
            class="com.tibco.cep.studio.dashboard.ui.wizards.skin.TextColorSetWizard"
            finalPerspective="com.tibco.cep.studio.application.perspective"
            icon="icons/textcomponentcolorset_16x16.gif"
            id="com.tibco.cep.studio.dashboard.ui.wizards.textcolorset"
            name="Text Color Set">
         <description>
            Create a new Text Color Set
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.tibco.cep.studio.ui.category/com.tibco.cep.studio.dashboard.ui.category"
            class="com.tibco.cep.studio.dashboard.ui.wizards.page.dashboard.DashboardPageWizard"
            finalPerspective="com.tibco.cep.studio.application.perspective"
            icon="icons/dashboardpage_16x16.gif"
            id="com.tibco.cep.studio.dashboard.ui.wizards.dashboardpage"
            name="Dashboard Page">
         <description>
            Create a new Dashboard Page
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.tibco.cep.studio.ui.category/com.tibco.cep.studio.dashboard.ui.category"
            class="com.tibco.cep.studio.dashboard.ui.wizards.view.ViewWizard"
            finalPerspective="com.tibco.cep.studio.application.perspective"
            icon="icons/view_16x16.gif"
            id="com.tibco.cep.studio.dashboard.ui.wizards.view"
            name="View">
         <description>
            Create a new View
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.tibco.cep.studio.ui.category/com.tibco.cep.studio.dashboard.ui.category"
            class="com.tibco.cep.studio.dashboard.ui.wizards.skin.SkinWizard"
            finalPerspective="com.tibco.cep.studio.application.perspective"
            icon="icons/skin_16x16.gif"
            id="com.tibco.cep.studio.dashboard.ui.wizards.skin"
            name="Skin">
         <description>
            Create a new Skin
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.tibco.cep.studio.ui.category/com.tibco.cep.studio.dashboard.ui.category"
            class="com.tibco.cep.studio.dashboard.ui.wizards.components.PageSelectorWizard"
            finalPerspective="com.tibco.cep.studio.application.perspective"
            icon="icons/pageselectorcomponent_16x16.gif"
            id="com.tibco.cep.studio.dashboard.ui.wizards.pagesetselector"
            name="Page Selector">
         <description>
            Create a new Page Selector
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.tibco.cep.studio.ui.category/com.tibco.cep.studio.dashboard.ui.category"
            class="com.tibco.cep.studio.dashboard.ui.wizards.rolepreference.RolePreferenceWizard"
            finalPerspective="com.tibco.cep.studio.application.perspective"
            icon="icons/rolepreference_16x16.gif"
            id="com.tibco.cep.studio.dashboard.ui.wizards.rolepreference"
            name="Role Preference">
         <description>
            Create a new Role Preference
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.tibco.cep.studio.ui.category/com.tibco.cep.studio.dashboard.ui.category"
            class="com.tibco.cep.studio.dashboard.ui.wizards.skin.SystemElementWizard"
            icon="icons/system_16x16.png"
            id="com.tibco.cep.studio.dashboard.ui.wizards.systemelements"
            name="Dashboard System Skin">
         <description>
            Create a new Dashboard System Skin
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.tibco.cep.studio.ui.category/com.tibco.cep.studio.dashboard.ui.category"
            class="com.tibco.cep.studio.dashboard.ui.wizards.datasource.DataSourceWizard"
            finalPerspective="com.tibco.cep.studio.application.perspective"
            icon="icons/datasource_16x16.gif"
            id="com.tibco.cep.studio.dashboard.ui.wizards.datasource"
            name="Data Source">
         <description>
            Create a new Data Source
         </description>
      </wizard>
   </extension>
	<extension
	      point="com.tibco.cep.studio.core.projectResourceValidator">
	   <validator
	         Validator="com.tibco.cep.studio.dashboard.ui.validator.DashboardResourceValidator"
	         extensions="view, chartcolorset, dashboardpage, datasource, header, login, pageselector, rolepreference, seriescolor, skin, system, textcolorset, metric">
	   </validator>
	</extension>
   <extension
         point="com.tibco.cep.studio.core.searchParticipant">
      <searchParticipant
            participant="com.tibco.cep.studio.dashboard.ui.search.DashboardSearchParticipant">
      </searchParticipant>
    </extension>
   <extension
         point="com.tibco.cep.studio.core.refactoringParticipant">
      <refactoringParticipant
            participant="com.tibco.cep.studio.dashboard.ui.refactoring.MetricRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.dashboard.ui.refactoring.SystemElementsRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.dashboard.ui.refactoring.ChartColorSetRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.dashboard.ui.refactoring.ViewsSkinRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.dashboard.ui.refactoring.DataSourceRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.dashboard.ui.refactoring.DashboardPageRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.dashboard.ui.refactoring.ViewRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.dashboard.ui.refactoring.RolePreferenceRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.dashboard.ui.refactoring.DefaultRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.dashboard.ui.refactoring.HeaderRefactoringParticipant">
      </refactoringParticipant>
      <refactoringParticipant
            participant="com.tibco.cep.studio.dashboard.ui.refactoring.LoginRefactoringParticipant">
      </refactoringParticipant>
    </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            default-charset="UTF-8"
            file-extensions="view, chartcolorset, dashboardpage, datasource, header, login, pageselector, rolepreference, seriescolor, skin, system, textcolorset"
            id="com.tibco.cep.studio.core.be.views.content-type"
            name="BusinessEvent Views Resource"
            priority="normal">
      </content-type>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Metric Editor"
            extensions="metric"
            icon="icons/metric_16x16.gif"
            class="com.tibco.cep.studio.dashboard.ui.editors.metric.MetricEditor"
            id="com.tibco.cep.studio.dashboard.ui.editors.metric.MetricEditor">
      </editor>
      <editor
            name="Login Editor"
            extensions="login"
            icon="icons/login_16x16.gif"
            class="com.tibco.cep.studio.dashboard.ui.editors.views.login.LoginEditor"
            id="com.tibco.cep.studio.dashboard.ui.editors.insight.login.LoginEditor">
      </editor>
      <editor
            name="Header Editor"
            extensions="header"
            icon="icons/header_16x16.gif"
            class="com.tibco.cep.studio.dashboard.ui.editors.views.header.HeaderEditor"
            id="com.tibco.cep.studio.dashboard.ui.editors.insight.header.HeaderEditor">
      </editor>
      <editor
            name="Series Color Editor"
            extensions="seriescolor"
            icon="icons/seriescolor_16x16.gif"
            class="com.tibco.cep.studio.dashboard.ui.editors.views.seriescolor.SeriesColorEditor"
            id="com.tibco.cep.studio.dashboard.ui.editors.insight.seriescolor.SeriesColorEditor">
      </editor>
      <editor
            name="Chart Color Set Editor"
            extensions="chartcolorset"
            icon="icons/chartcomponentcolorset_16x16.gif"
            class="com.tibco.cep.studio.dashboard.ui.editors.views.chartcomponentcolorset.ChartComponentColorSetEditor"
            id="com.tibco.cep.studio.dashboard.ui.editors.insight.chartcomponentcolorset.ChartComponentColorSetEditor">
      </editor>
      <editor
            name="Text Color Set Editor"
            extensions="textcolorset"
            icon="icons/textcomponentcolorset_16x16.gif"
            class="com.tibco.cep.studio.dashboard.ui.editors.views.textcomponentcolorset.TextComponentColorSetEditor"
            id="com.tibco.cep.studio.dashboard.ui.editors.insight.textcomponentcolorset.TextComponentColorSetEditor">
      </editor>
      <editor
            name="Page Editor"
            extensions="dashboardpage"
            icon="icons/dashboardpage_16x16.gif"
            class="com.tibco.cep.studio.dashboard.ui.editors.views.page.PageEditor"
            id="com.tibco.cep.studio.dashboard.ui.editors.insight.page.PageEditor">
      </editor>
      <editor
            name="Page Selector Editor"
            extensions="pageselector"
            icon="icons/pageselectorcomponent_16x16.gif"
            class="com.tibco.cep.studio.dashboard.ui.editors.views.pageselector.PageSelectorEditor"
            id="com.tibco.cep.studio.dashboard.ui.editors.insight.pageselector.PageSelectorEditor">
      </editor>
      <editor
            name="View Editor"
            extensions="view"
            icon="icons/view_16x16.gif"
            class="com.tibco.cep.studio.dashboard.ui.editors.views.view.ViewEditor"
            id="com.tibco.cep.studio.dashboard.ui.editors.insight.beview.BEViewEditor">
      </editor>
      <editor
            name="Skin Editor"
            extensions="skin"
            icon="icons/skin_16x16.gif"
            class="com.tibco.cep.studio.dashboard.ui.editors.views.skin.SkinEditor"
            id="com.tibco.cep.studio.dashboard.ui.editors.insight.skin.SkinEditor">
      </editor>
      <editor
            name="Role Preference Editor"
            extensions="rolepreference"
            icon="icons/rolepreference_16x16.gif"
            class="com.tibco.cep.studio.dashboard.ui.editors.views.rolepreference.RolePreferenceEditor"
            id="com.tibco.cep.studio.dashboard.ui.editors.rolepreference.ExperimentalRolePreferenceEditor">
      </editor>
      <editor
            class="com.tibco.cep.studio.dashboard.ui.editors.views.datasource.DataSourceEditor"
            contributorClass="com.tibco.cep.studio.dashboard.ui.editors.views.datasource.DataSourceEditorActionBarContributor"
            extensions="datasource"
            icon="icons/datasource_16x16.gif"
            id="com.tibco.cep.studio.dashboard.ui.editors.datasource.DataSourceEditor"
            name="Data Source Editor">
      </editor>
      <editor
            name="System Skin Viewer"
            extensions="system"
            icon="icons/system_16x16.png"
            class="com.tibco.cep.studio.dashboard.ui.editors.views.system.SystemElementsEditor"
            id="com.tibco.cep.studio.dashboard.ui.editors.insight.system.SystemElementsEditor">
      </editor>
   </extension>
    <extension
         point="org.eclipse.ui.navigator.navigatorContent">
       <navigatorContent
            activeByDefault="true"
            contentProvider="com.tibco.cep.studio.dashboard.ui.navigator.providers.MetricContentProvider"
            id="com.tibco.cep.studio.projectexplorer.dashboard.metrictContent"
            labelProvider="com.tibco.cep.studio.dashboard.ui.navigator.providers.MetricAttributeLabelProvider"
            name="Metric attributes"
            priority="normal">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
            <or>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.extension"
                     value="metric">
               </test>
            </or>
         </triggerPoints>
          <possibleChildren>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
	</extension>
    <extension
          point="com.tibco.cep.studio.ui.editors.cddPropertyPresentation">
       <cddPropertyPresentation
             agentType="Dashboard"
             defaultValue="foo"
             propertyName="be.agent.dashboard.mal.storage.file.root"
             propertyType="string"
             uiName="Personalized Data Location">
       </cddPropertyPresentation>
       <cddPropertyPresentation
             agentType="Dashboard"
             defaultValue="false"
             propertyName="be.agent.dashboard.*.force.stacktrace"
             propertyType="boolean"
             uiName="Enable Stack Trace Logging">
       </cddPropertyPresentation>
    </extension>
    <extension
          point="org.eclipse.ui.activities">
       <activity
             description="Develop dashboard applications"
             id="com.tibco.cep.studio.dashboard.development"
             name="Dashboard Development">
       </activity>
       <categoryActivityBinding
             activityId="com.tibco.cep.studio.dashboard.development"
             categoryId="com.tibco.cep.standard.category">
       </categoryActivityBinding>
       <activityRequirementBinding
             activityId="com.tibco.cep.studio.dashboard.development"
             requiredActivityId="com.tibco.cep.standard.development">
       </activityRequirementBinding>
       <activityPatternBinding
             activityId="com.tibco.cep.studio.dashboard.development"
             pattern="com\.tibco\.cep\.studio\.dashboard\..*/.*">
       </activityPatternBinding>
       <defaultEnablement
             id="com.tibco.cep.studio.dashboard.development">
       </defaultEnablement>
    </extension>
    <extension
          point="org.eclipse.ui.actionSets">
       <actionSet
             description="This is Dashboard wizards toolbar action set"
             id="com.tibco.cep.studio.dashboard.ui.wizard.actionset"
             label="Dashboard UI Wizard Toolbar Action Set"
             visible="true">
          <menu
                id="com.tibco.cep.studio.dashboard.ui.wizard.menu"
                label="Dashboard wizard toolbar"
                path="additions">
             <groupMarker
                   name="content">
             </groupMarker>
             <separator
                   name="additions">
             </separator>
          </menu>
          <action
                class="com.tibco.cep.studio.dashboard.ui.actiondelegate.GlobalConfigurationWizardsAction"
                icon="icons/add_16x16.gif"
                id="com.tibco.cep.studio.dashboard.ui.globalconfigurationwizardsaction"
                label="Global Configurations"
                style="pulldown"
                toolbarPath="normal/additions"
                tooltip="New Global Configurations">
          </action>
          <action
                class="com.tibco.cep.studio.dashboard.ui.actiondelegate.SkinElementsWizardAction"
                disabledIcon="icons/seriescolor_new_disabled_16x16.png"
                icon="icons/seriescolor_new_16x16.png"
                id="com.tibco.cep.studio.dashboard.ui.skincolorwizardaction"
                label="New Skin Color"
                state="false"
                style="pulldown"
                toolbarPath="normal/additions"
                tooltip="New Skin Color">
          </action>
          <action
                class="com.tibco.cep.studio.dashboard.ui.actiondelegate.RolePreferenceWizardAction"
                disabledIcon="icons/rolepreference_new_disabled_16x16.png"
                icon="icons/rolepreference_new_16x16.png"
                id="com.tibco.cep.studio.dashboard.ui.roleprefwizardaction"
                label="New Role Preference"
                state="false"
                style="push"
                toolbarPath="normal/additions"
                tooltip="New Role Preference">
          </action>
          <action
                class="com.tibco.cep.studio.dashboard.ui.actiondelegate.ViewWizardAction"
                disabledIcon="icons/view_new_disabled_16x16.png"
                icon="icons/view_new_16x16.png"
                id="com.tibco.cep.studio.dashboard.ui.viewwizardaction"
                label="New View"
                state="false"
                style="push"
                toolbarPath="normal/additions"
                tooltip="New View">
          </action>
          <action
                class="com.tibco.cep.studio.dashboard.ui.actiondelegate.DashboardPageWizardAction"
                disabledIcon="icons/dashboardpage_new_disabled_16x16.png"
                icon="icons/dashboardpage_new_16x16.png"
                id="com.tibco.cep.studio.dashboard.ui.dashboardpagewizardaction"
                label="New Dashboard Page"
                state="false"
                style="push"
                toolbarPath="normal/additions"
                tooltip="New Dashboard Page">
          </action>
          <action
                class="com.tibco.cep.studio.dashboard.ui.actiondelegate.GenericComponentWizardAction"
                disabledIcon="icons/component_new_disabled_16x16.png"
                icon="icons/component_new_16x16.png"
                id="com.tibco.cep.studio.dashboard.ui.componentwizardaction"
                label="New Component"
                state="false"
                style="pulldown"
                toolbarPath="normal/additions"
                tooltip="New Component">
          </action>
          <action
                class="com.tibco.cep.studio.dashboard.ui.actiondelegate.DataSourceWizardAction"
                disabledIcon="icons/datasource_new_disabled_16x16.png"
                icon="icons/datasource_new_16x16.png"
                id="com.tibco.cep.studio.dashboard.ui.datasourcewizardaction"
                label="New Data Source"
                state="false"
                style="push"
                toolbarPath="normal/additions"
                tooltip="New Data Source">
          </action>
          <action
                class="com.tibco.cep.studio.dashboard.ui.actiondelegate.MetricWizardAction"
                disabledIcon="icons/metric_new_disabled_16x16.png"
                icon="icons/metric_new_16x16.png"
                id="com.tibco.cep.studio.dashboard.ui.metricwizardaction"
                label="New Metric"
                state="false"
                style="push"
                toolbarPath="normal/additions"
                tooltip="New Metric">
          </action>
       </actionSet>
    </extension>
    <extension
          point="org.eclipse.ui.startup">
       <startup
             class="com.tibco.cep.studio.dashboard.ui.DashboardUIPluginStartUp">
       </startup>
    </extension>

<!--
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.search.ui.category.search"
            description="Search for references"
            id="com.tibco.cep.studio.dashboard.ui.core.search.reference"
            name="Search for references">
      </command>
   </extension>



    <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.tibco.cep.studio.ui.search.references"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.tibco.cep.studio.dashboard.ui.core.popup.actions.SearchForReferencesAction"
               definitionId="com.tibco.cep.studio.dashboard.ui.core.search.reference"
               enablesFor="1"
               icon="icons/search.gif"
               id="com.tibco.cep.studio.dashboard.ui.core.search.reference"
               label="Search for references"
               menubarPath="group.search"
               overrideActionId="com.tibco.cep.studio.ui.search.reference"
               tooltip="Search for references of this element">
         </action>
   		</objectContribution>
   </extension>
   -->
</plugin>
