 <div class="modal fade box-sizing" id="aboutBETEA">
       <div class="modal-header box-sizing">
       	 	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<span class="lead">
				<h4>
					<i class="tibcoAbb24x24LogoIcon"></i>
      				 TIBCO BusinessEvents Enterprise Administrator Agent
				</h4>
			</span>
	   </div>
	   <div class="modal-body box-sizing">
			<div class="form-horizontal">
				<div class="control-group">
                 	<div><strong>Version : {{version}}</strong></div>
                 	<div style="margin-top:45px;">{{copyrights}}</div>
				</div>
			</div>
	  	</div>	
 </div>