 <div class="modal fade box-sizing" id="applicationCdd" style="width: 35%;left: 32%;">
       <div class="modal-header box-sizing">
       	 	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<span class="lead"><h4>Application CDD</h4></span>
	   </div>
	   
	   <div class="modal-body box-sizing">
			<div class="be_applicationCddPanel">
				<pre ng-bind-html="applicationCddContent"></pre>
			</div>
	  	</div>	
	  	<div class="modal-footer box-sizing">	    	
	    	<button type="button" data-dismiss="modal" aria-hidden="true" class="btn tbt-btn secondary-btn" ng-click="close()">
		   		 Cancel
	    	</button>
    	</div>
 </div>