 <div class="modal fade box-sizing" id="createApplication">
     <form  enctype="multipart/form-data" method="post" name="paramForm" novalidate>
       <div class="modal-header box-sizing">
       	 	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<span class="lead"><h4>{{$parent.operationTitle}}: {{$parent.applicationName}}</h4></span>
	   </div>
	   
	   <div class="modal-body box-sizing">
			<div class="form-horizontal">
				<div class="control-group">
                   	<div class="control-group">                   
                	<label class="control-label">Cluster Deployment Descriptor </label>
					<div class="controls"> 
						<input type="text"  id="cddfilepathforCreateApp" disabled="disabled" />                 	
						<button type="button" ng-class="{'tbt-btn':true, 'primary-btn':true}" ng-click="$parent.browseFile('cddfileforCreateApp')">Browse</button>
						<span ng-show="isFileExtensionCDD" class="fileuploadError">Only *.cdd file is accepted</span>
						<input type="file" accept=".cdd" on-read-file="validateFileExtension($parent.createData.CDDfilesCreateApp.name, 'cdd')"  multiple file-model="$parent.createData.CDDfilesCreateApp" style="visibility: hidden;" id="cddfileforCreateApp" onchange="angular.element(this).scope().setPathValue('cddfilepathforCreateApp','cddfileforCreateApp')" required/>					
					</div>					
					</div>
                   
                    <div class="control-group">                   
                	<label class="control-label">Enterprise Archive </label>
					<div class="controls">                    	
						<input type="text" id="earfilepathforCreateApp" disabled="disabled"/>						
						<button type="button" ng-class="{'tbt-btn':true,'primary-btn':true}" ng-click="$parent.browseFile('earfileforCreateApp')">Browse</button>
						<span ng-show="isFileExtensionEAR" class="fileuploadError">Only *.ear file is accepted</span>
						<input type="file"  accept=".ear" on-read-file="validateFileExtension($parent.createData.earfilesCreateApp.name, 'ear')" multiple file-model="$parent.createData.earfilesCreateApp" style="visibility: hidden;" id="earfileforCreateApp" onchange="angular.element(this).scope().setPathValue('earfilepathforCreateApp','earfileforCreateApp'), angular.element(this).scope().setDeploymentName()" required/>				
					</div>					
					</div>	
					
					<label class="control-label">Deployment Name </label>
                    <div class="controls">
                        <input name="appNameInput" type="text" placeholder="DeploymentName" id="appNameTextField" ng-disabled="isEdit"
                               ng-model="$parent.createData.applicationName"  required>
                    </div>  
				</div>
			</div>
	  	</div>	
	  	<div class="modal-footer box-sizing">
	  		<div ng-show="$parent.isError" class="pull-left">
				<span class="fileuploadError">*{{$parent.errorMessage}}</span>
			</div>
	    	<button type="button" ng-disabled="paramForm.$invalid || ($parent.isEdit && !$parent.isEditEnabled())" ng-click="!$parent.isEdit ? $parent.createApplication(createData.applicationName,createData.CDDfilesCreateApp,createData.earfilesCreateApp):$parent.doEditApplication(createData.CDDfilesCreateApp,createData.earfilesCreateApp)"               
                class="tbt-btn primary-btn" ng-class="{'button_disabled':paramForm.$invalid || (isEdit && !isEditEnabled() ) || isFileExtensionEAR || isFileExtensionCDD}">Save</button>
	    	<button type="button" data-dismiss="modal" aria-hidden="true" class="btn tbt-btn secondary-btn" ng-click="close()">
		   		 Cancel
	    	</button>
    	</div>
    </form>
 </div>
