 <div class="modal fade box-sizing" id="hotDeployInstance">
     <form  enctype="multipart/form-data" method="post" name="paramForm" novalidate>
       <div class="modal-header box-sizing">
       	 	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<span class="lead"><h4>EAR Hot Deploy</h4></span>
	   </div>
	   
	   <div class="modal-body box-sizing">
			<div class="form-horizontal">
				<div class="control-group">
                    <div class="control-group">                   
                	<label class="control-label">EAR : </label>
					<div class="controls">                    	
						<input type="text" id="earfilepathforHotDeploy" disabled="disabled"/>						
						<button type="button" ng-class="{'tbt-btn':true,'primary-btn':true}" ng-click="browseFile('earfileforHotDeploy')">Browse</button>
						<span ng-show="!hotDeploy.isFileUploaded" class="fileuploadError"> *upload EAR</span>
						<input type="file"  accept=".ear" file-model="hotDeploy.earfilesCreateApp" style="visibility: hidden;" id="earfileforHotDeploy" onchange="angular.element(this).scope().setPathValue('earfilepathforHotDeploy','earfileforHotDeploy')" required/>				
					</div>					
					</div>	
				</div>
			</div>
	  	</div>	
	  	<div class="modal-footer box-sizing">
	  		<div ng-show="$parent.isError" class="pull-left">
				<span class="fileuploadError">*{{$parent.errorMessage}}</span>
			</div>
	    	<button type="button" ng-disabled="paramForm.$invalid" ng-click="hotDeployApp(hotDeploy.earfilesCreateApp)"               
                class="tbt-btn primary-btn" ng-class="{'button_disabled':paramForm.$invalid}">OK</button>
	    	<button type="button" data-dismiss="modal" aria-hidden="true" class="btn tbt-btn secondary-btn" ng-click="close()">
		   		 Cancel
	    	</button>
    	</div>
    </form>
 </div>