 <div class="modal fade box-sizing" id="importMigratedAppWizard">
     <form  enctype="multipart/form-data" method="post" name="paramForm" novalidate>
       <div class="modal-header box-sizing">
       	 	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<span class="lead"><h4>Import TRA Deployments</h4></span>
	   </div>
	   
	   <div class="modal-body box-sizing">
			<div class="form-horizontal">
				<div class="control-group">
                    <div class="control-group">                   
                		<label class="control-label">Exported Zip File Location : </label>
						<div class="controls"> 
							<input type="text"  id="zipfilepathforMigrateApp" disabled="disabled" />                 	
							<button type="button" ng-class="{'tbt-btn':true, 'primary-btn':true}" ng-click="$parent.browseFile('zipfileforMigrateApp')">Browse</button>
							<span ng-show="isFileExtensionZIP" class="fileuploadError">Only *.zip file is accepted</span>
							<input type="file" accept=".zip" on-read-file="validateFileExtension($parent.exportedFileLocation.name, 'zip')" multiple file-model="$parent.exportedFileLocation" style="visibility: hidden;" id="zipfileforMigrateApp" onchange="angular.element(this).scope().setPathValue('zipfilepathforMigrateApp','zipfileforMigrateApp')" required/>					
						</div>	
					</div>	
				</div>
			</div>
	  	</div>	
	  	<div class="modal-footer box-sizing">
	  		<div ng-show="$parent.isError" class="pull-left">
				<span class="fileuploadError">*{{$parent.errorMessage}}</span>
			</div>
	    	<button type="button" ng-disabled="paramForm.$invalid" ng-click="$parent.importMigratedApplications($parent.exportedFileLocation)"               
                class="tbt-btn primary-btn" ng-class="{'button_disabled':paramForm.$invalid || isFileExtensionZIP}">Import</button>
	    	<button type="button" data-dismiss="modal" aria-hidden="true" class="btn tbt-btn secondary-btn" ng-click="close()">
		   		 Cancel
	    	</button>
    	</div>
    </form>
 </div>