<div ng-controller='IndexCtrl'
	class="appManagementPage tea-theme wrapper row-offcanvas row-offcanvas-left">
	<div ng-include src="'partials/templates/header.html'"></div>
	<div class="beTeaAgentView">
		<aside class="left-side sidebar-offcanvas" ng-class="">
			<div ng-include src="'partials/templates/leftNav.html'"></div>
		</aside>
		<div ng-controller="profilesViewCtrl">
			<div class="adminView row box-sizing">
				<div ng-show="notification.show">
					<div
						ng-include="'partials/templates/directive/showNotification.html'"></div>
				</div>

				<h3>Profiles</h3>
				<div ng-include="'partials/templates/aboutBETeaView.html'"></div>
				<div class="row" style="padding-bottom: 10px">
					<ul class="appBox clearfix">
						<li class="pull-left">
							<div ng-include="'partials/templates/addApplicationProfile.html'"></div>
							<div class="operation" ng-click="showAddProfileWizard()" ng-if="hasPermission(31)">
								<i class="fa fa-plus-circle fa-lg"></i> <span>Add Profile</span>
							</div>
						</li>
						<li class="pull-left" style="padding-left: 15px;">
							<div ng-include="'partials/templates/copyApplicationProfile.html'"></div>
							<div class="operation" ng-click="showCopyProfileWizard()" ng-if="hasPermission(31)" ng-class="showCopyProfile() ? 'disableOperation' : 'operation'">
								<i class="fa fa-clipboard fa-lg"></i> <span>Copy Profile</span>
							</div>
						</li>

					</ul>
				</div>
				<div class="be_operations_container container" style="max-height:800px;" ng-show="undefined!==profiles&&!null!=profiles&&profiles.length>0">
					<div
						ng-include="'partials/templates/deleteApplicationProfile.html'"></div>
						<div  ng-include="'partials/templates/actionConfirmation.html'"></div>
					<div class="instanceListView" style="max-height:800px;">
						<table tea-table class="tea-table" style="max-height: 100%;position: relative;">
							<thead>
								<tr>
								   <th></th>
									<th>Name <i title="sort" class="operation fa fa-sort"  ng-click="onSortCall('name')" ></i>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							    <tr>
								<td class="selection"><input type="radio" name="defultProfile" ng-click="setApplicationDefaultProfile($event)" ng-if="hasPermission(34)"
										ng-value="undefined===selectedAppName.config.defaultProfile || null===selectedAppName.config.defaultProfile||''===selectedAppName.config.defaultProfile"
										ng-checked="undefined===selectedAppName.config.defaultProfile || null===selectedAppName.config.defaultProfile||''===selectedAppName.config.defaultProfile">
								</td>
								<td>
								<div style="padding-top: 7px;">No Profile (default)</div>
								</td>
								<td></td>
								</tr>
								<tr ng-repeat-start="profile in profiles | orderBy:sort.column:sort.descending">
									<td style="width: 6%;"><input type="radio"
										style="margin-right: 5px;" name="defultProfile"
										ng-click="setApplicationDefaultProfile($event,profile)"
										ng-value="profile.name===selectedAppName.config.defaultProfile"
										ng-checked="profile.name===selectedAppName.config.defaultProfile" ng-if="hasPermission(34)">
										<a class="fa fa-minus-circle fa-lg" ng-if="profile.expanded"
										ng-click="profile.expanded = false"></a> <a
										class="fa fa-plus-circle fa-lg" ng-if="!profile.expanded"
										ng-click="getApplicationProfileDetails(profile);profile.expanded = true"></a>
									</td>
									<td >{{profile.name}}</td>
									<td style="float: right; padding-top: 15px;"><i title="Edit"
										class="fa fa-pencil operation"
										ng-click="showEditProfileWizard(profile)" ng-if="hasPermission(32)"></i> <i
										title="Delete" style="margin-left: 10px;"
										class="operation fa fa-trash-o"
										ng-click="showDeleteProfileWizard(profile)" ng-if="hasPermission(33)"></i></td>
								</tr>
								<tr ng-if="profile.expanded" ng-repeat-end="" 
									style="border: none; height: 300px" class="profileExpanded">
									<td colspan="4"
										style="position: absolute;width: 96%;le;left: 2%;right: 2%;">
										<div class="">
											<ul class="configNavTable">
												<li ng-class="{active:isSetConfigType('global',profile)}"
													ng-click="setConfigurationType('global'); setProfileConfigType('global', profile);"
													id="global"><a ng-class="{active:isSetConfigType('global',profile)}"> <i class="fa fa-globe"></i> <span>Global
															Variables</span>
												</a></li>
												<li
													ng-class="{active:isSetConfigType('systemProps',profile)}"
													ng-click="setConfigurationType('systemProps'); setProfileConfigType('systemProps', profile);"
													id="systemProps"><a ng-class="{active:isSetConfigType('systemProps',profile)}"><i class="fa fa-laptop"></i>
														<span>System Properties</span>
												</a></li>
												<li ng-class="{active:isSetConfigType('beProps',profile)}"
													ng-click="setConfigurationType('beProps'); setProfileConfigType('beProps', profile);"
													id="beProps"><a ng-class="{active:isSetConfigType('beProps',profile)}"> <i class="fa fa-laptop"></i> <span>BusinessEvents
															Properties</span>
												</a></li>
											</ul>
											<div>
												<div class="be_configurationDiv">
													<div ng-show="isSetConfigType('global',profile)">
														<div>
															<div
																ng-show="profileVariables[profile.name+'_gv']!= null && profileVariables[profile.name+'_gv'].length!==0"
																class="globalVariablesPanel"
																style="padding-top: 0px; min-height: 190px; padding-left: 0px;">
																<table class="be-table" style="margin-top: 6px;">
																	<thead>
																		<tr>
																			<th>Name</th>
																			<th>Value</th>
																		</tr>
																	</thead>
																</table>
																<div style="overflow: auto; height: 140px; width: 100%">
																	<table class="be-table" style="margin-top: 6px;">
																		<tbody>
																			<tr
																				ng-repeat="gv in profileVariables[profile.name+'_gv']">
																				<td title="{{gv.key}}" style="width:50%; padding-top:0px;">{{gv.key}}</td>
																				<td style="padding-top: 15px">
																					<div class="row" style="overflow: hidden;"
																						ng-if="'Password'!==gv.type">
																						{{gv.value}}</div>
																					<div class="row" style="overflow: hidden;"
																						ng-if="'Password'===gv.type">
																						******</div>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
															<div
																ng-show="profileVariables[profile.name+'_gv'] == null || profileVariables[profile.name+'_gv'].length==0"
																class="globalVariablesPanel"
																style="overflow: hidden; padding-top: 0px; min-height: 290px;">
																<span class="globalVariableNoRecords" style="top:60px;"> No Records
																	Found </span>
															</div>

														</div>
													</div>

													<!-- System properties -->
													<div ng-show="isSetConfigType('systemProps',profile)">
														<div>
															<div
																ng-show="profileVariables[profile.name+'_sysProps']!= null && profileVariables[profile.name+'_sysProps'].length!==0"
																class="globalVariablesPanel"
																style="padding-top: 0px; min-height: 290px; padding-left: 0px;">
																<table class="be-table" style="margin-top: 6px;">
																	<thead>
																		<tr>
																			<th>Name</th>
																			<th>Value</th>
																		</tr>
																	</thead>
																</table>
																<div style="overflow: auto; height: 140px; width: 100%">
																	<table class="be-table" style="margin-top: 6px;">
																		<tbody>
																			<tr
																				ng-repeat="sp in profileVariables[profile.name+'_sysProps']">
																				<td title="{{sp.key}}" style="width:50%; padding-top:0px;">{{sp.key}}
																				<td style="padding-top: 0px">{{sp.value}}</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
															<div
																ng-show="profileVariables[profile.name+'_sysProps'] == null || profileVariables[profile.name+'_sysProps'].length==0"
																class="globalVariablesPanel"
																style="overflow: hidden; padding-top: 0px; min-height: 290px;">
																<span class="globalVariableNoRecords" style="top:60px;"> No Records
																	Found </span>
															</div>
														</div>
													</div>

													<!-- BE Properties -->

													<div ng-show="isSetConfigType('beProps',profile)">
														<div>
															<div
																ng-show="profileVariables[profile.name+'_beProps']!= null && profileVariables[profile.name+'_beProps'].length!==0"
																class="globalVariablesPanel"
																style="padding-top: 0px; min-height: 290px; padding-left: 0px;">
																<table class="be-table" style="margin-top: 6px;">
																	<thead>
																		<tr>
																			<th>Name</th>
																			<th>Value</th>
																		</tr>
																	</thead>
																</table>
																<div style="overflow: auto; height: 140px; width: 100%">
																	<table class="be-table" style="margin-top: 6px;">
																		<tbody>
																			<tr
																				ng-repeat="beProp in profileVariables[profile.name+'_beProps']">
																				<td title="{{beProp.key}}" style="width:50%; padding-top:0px;">{{beProp.key}}</td>
																				<td style="padding-top: 0px">{{beProp.value}}</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
															<div
																ng-show="profileVariables[profile.name+'_beProps'] == null || profileVariables[profile.name+'_beProps'].length==0"
																class="globalVariablesPanel"
																style="overflow: hidden; padding-top: 0px; min-height: 290px; padding-left: 0px;">
																<span class="globalVariableNoRecords" style="top:60px;"> No Records
																	Found </span>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</td>
								</tr>
							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
