/*custom css rules here for the application. */
body{
	direction: rtl;
}	

div.historyButtonContainer{
	top: 432px !important;
}

td.calendarWeekendStyle,
td.dateChooserWeekday{
	height: 18px !important;
}

tr[role=listitem] td.dateChooserWeekendStyle:first-child,
tr[role=listitem] td.dateChooserDisabledWeekend:first-child,
tr[role=listitem] td.dateChooserWeekday:last-child,
tr[role=listitem] td.dateChooserDisabledWeekday:last-child {
  background-color: rgb(214, 232, 255);  
  border: 1px;
}

div.listGrid > div > div > div > div:first-child > div > table > tbody >tr > td,
div.listGrid > div > div > div > div:last-child > div > table > tbody >tr > td{
  background-color: rgb(214, 232, 255) !important;  
  border: 1px !important;
}

 div.customSC> div >div.windowBody > div > div:first-child > div > div:last-child > div > table > tbody > tr > td{
	text-align: left !important;
	padding-right: 100px !important;
}
 
 
.customSC{
  background: aliceblue;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjhmZiIvPjxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiNmMGY4ZmYiLz48c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZTdmMGZlIi8+PHN0b3Agb2Zmc2V0PSIxNSUiIHN0b3AtY29sb3I9IiNjNGRkZmQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNGRkZmQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f8ff), color-stop(1%, #f0f8ff), color-stop(1%, #e7f0fe), color-stop(15%, #c4ddfd), color-stop(100%, #c4ddfd));
  background-image: -webkit-linear-gradient(top, #f0f8ff 0%, #f0f8ff 1%, #e7f0fe 1%, #c4ddfd 15%, #c4ddfd 100%);
  background-image: -moz-linear-gradient(top, #f0f8ff 0%, #f0f8ff 1%, #e7f0fe 1%, #c4ddfd 15%, #c4ddfd 100%);
  background-image: -o-linear-gradient(top, #f0f8ff 0%, #f0f8ff 1%, #e7f0fe 1%, #c4ddfd 15%, #c4ddfd 100%);
  background-image: linear-gradient(top, #f0f8ff 0%, #f0f8ff 1%, #e7f0fe 1%, #c4ddfd 15%, #c4ddfd 100%);
  border: 1px solid #9cb2ce;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-shadow: inset #fafdff 0 1px 0, inset #dbeeff 0 -1px 0, inset #dbeeff 1px 0 0, inset #dbeeff -1px 0 0;
  -moz-box-shadow: inset #fafdff 0 1px 0, inset #dbeeff 0 -1px 0, inset #dbeeff 1px 0 0, inset #dbeeff -1px; 
	
} 
td.dateChooserDisabledWeekend,
td.dateChooserDisabledWeekendOver,
td.dateChooserWeekendButton{
	background-color: white;
	border: white;
}

div.historyWindowBody{
	height: 464px !important;
}	

@-moz-document url-prefix() {  
 div.historyWindow{
	background: -moz-linear-gradient(center top , rgb(240, 248, 255) 0%, rgb(240, 248, 255) 1%, rgb(231, 240, 254) 1%, rgb(196, 221, 253) 15%, rgb(196, 221, 253) 100%) repeat scroll 0% 0% / 100% auto aliceblue !important;
    height: 490px !important;
  }
  
div[role="columnheader"]:first-child > div > table > tbody >tr > td,
div[role="columnheader"]:last-child > div > table > tbody > tr > td{
  background-color: rgb(214, 232, 255) !important;  
  border: 1px !important;
}
}

div.historyWindow{
	background: -webkit-linear-gradient(top, #f0f8ff 0%, #f0f8ff 1%, #e7f0fe 1%, #c4ddfd 15%, #c4ddfd 100%) !important;
    height: 490px !important;
}

	
div.dateFromCalendar{
	top: 20px !important;
	background-color: rgb(189, 216, 255) !important;
	border: 1px solid rgb(143, 167, 199) !important;
	border-radius: 5px 5px 0px 0px !important;
} 

div.dateToCalendar{
	top: 20px !important;
/*	background-color: rgb(189, 216, 255) !important;*/
	border: 1px solid rgb(143, 167, 199) !important;
	background-color: rgb(214, 232, 255);
	border-radius: 5px 5px 0px 0px !important;
	right: 400px !important;
} 
	
.imageButtonDashBoard{	
	height: 16px !important ;
	width: 16px  !important ;
}	


 @-moz-document url-prefix(){
	div.webStudioAboutHeader > div > div:last-child{	
		left:375px !important;
	}
} 

div.imageButtonDashBoard > div > img{
	height: 16px !important ;
	width: 16px  !important ;	
}

td.ws-signout{
	align: left;
}
/* div.dateChooserBorder{
	left: 185px;
} */

.dcDTPropertyTab{
	left: 185px;
}

td.sectionHeaderopened{
     padding-right: 6px;
	 padding-left: 36px;
}

td.sectionHeaderclosed{
	padding-right: 6px;
	padding-left: 36px;
}

td.ws-MainMenu{
	padding: 0px 10px 0px 10px;
}

td.ws-MainMenu-rollover{
	padding: 0px 10px 0px 10px;
}

table.selectItemControl{
	border-left-style: groove;
	border-left-color: gray;
}

.ws-MainMenu-rollover {
  background-image: url(webstudio/images/mainmenu_gradient_rollover.jpg);
  background-repeat: repeat-x;
  /*height: 22px;*/
  padding-top: 0px;
  padding-left: 25px;
  border-top: 0px solid black;/*#34498E;*/ 
  border-bottom:1px solid black;/*#34498E;*/ 	
  border-left:1px solid black;/*#34498E;*/ 	
  border-right:1px solid black;/*#34498E;*/ 	
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size:14px;
  font-family: Tahoma, Verdana, sans-serif;
  font-style: normal;
  color: white;
  overflow: hidden;
  font-weight: bold;
}

.ws-MainMenu {
  background-image: url(webstudio/images/mainmenu_gradient.jpg);
  background-repeat: repeat-x;
  height: 22px;
  padding: 0px 0px 0px 10px;
  border-top: 0px solid black;/*#34498E;*/ 
  border-bottom:1px solid black;/*#34498E;*/ 	
  border-left:1px solid black;/*#34498E;*/ 	
  border-right:1px solid black;/*#34498E;*/ 	
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size:14px;
  font-family: Tahoma, Verdana, sans-serif;
  font-style: normal;
  color: white;
  overflow: hidden;
  font-weight: bold;
}

.ws-main-background {
  background-image: url(webstudio/images/main_background_gradient_lg.jpg);
  background-repeat: repeat-x;
  background-color: #7AADCC;
}

.ws-main-group-section-background {
  background-image: url(webstudio/images/main_background_gradient_lg.jpg);
  background-repeat: repeat-x;
  background-color: #34498E;
}

.ws-ApplicationMenu {
  background-image: url(webstudio/images/menu_navigation.gif);
  background-repeat: repeat-x;
  /*height: 30em;
  line-height: 2em;*/
  float: left;
  width: 9em;
  display: block;
  border: 0.1em solid #dcdce9;
  color: #0d2474; 
  text-decoration: none;
  text-align: center;
}

.ws-ApplicationTool {
  background-image: url(webstudio/images/menu_navigation.gif);
  background-repeat: repeat-x;
  /*height: 30em;
  line-height: 2em;*/
  float: left;
  border: 0.1em solid #dcdce9;
  color: #0d2474;
  margin-bottom: -3px; 
}

/*
 * Application Menu buttons
 */
*.menuButton,
.menuButtonOver,
.menuButtonDown,
.menuButtonDisabled,
.menuButtonSelected,
.menuButtonSelectedDown,
.menuButtonSelectedOver,
.menuButtonSelectedDisabled {
  border: transparent 1px solid;   
  background: none;
  color: #15428b;  
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: normal; 
  padding-left: 4px;
  padding-right: 4px;
}
  
.menuButtonOver {
  border: #ffdb6c 1px solid;  
 /* background-image: url(images/application_menu_button_over.png);*/
 /* background-repeat: repeat-x;*/   
  color: #15428b;  
  cursor: default;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: normal; 
  padding-left: 2px;
  padding-right: 2px;
}
 
.menuButtonDown,
.menuButtonSelected,
.menuButtonSelectedDown,
.menuButtonSelectedOver {
  border: #ffdb6c 1px solid;  
 /* background-image: url(images/application_menu_button_down.png);*/
  background-repeat: repeat-x;   
  color: #15428b;  
  cursor: default;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: normal; 
  padding-left: 2px; 
  padding-right: 2px;
}
 
.menu,
.menuSelected,
.menuOver,
.menuSelectedOver,
.menuDisabled,
.menuTitleField,
.menuTitleFieldSelected,
.menuTitleFieldOver,
.menuTitleFieldSelectedOver,
.menuTitleFieldDisabled,
.menuIconField,
.menuIconFieldOver,
.menuIconFieldSelected,
.menuIconFieldSelectedOver,
.menuIconFieldDisabled,
.treeMenuSelected,
.treeMenuSelectedOver,
.treeMenuSelectedSelected,
.treeMenuSelectedSelectedOver {
  color: #15428b;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: normal;     
  padding-top: 2px;
  padding-bottom: 2px;
}

.ws-Masthead {
  background-image: url(webstudio/images/header_bar.jpg);
  background-repeat: repeat-x;
  
/*background-image: url(webstudio/images/header_background.png);*/
}

.ws-Masthead-Logo {
  /* height: 48px;
  width: 48px; */
  padding-top: 20px;
  padding-left: 15px;
}
.ws-MastHead-Name {
  color: #FFFFFF;
  /*color:#0D0C0C;*/ 
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 25px;
  font-weight: bold;
  overflow: hidden;
  padding-top: 12px;
  padding-left: 10px;   
  text-align: left;
}
 
.ws-MastHead-SignedInUser {
  color: #FFFFFF; 
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding-right: 4px;
}

.ws-signout {
  color: #FFFFFF; 
  font-family: Tahoma, Verdana, sans-serif;
  font-size:14px;
  font-weight: normal;
  text-decoration:underline;
  cursor: pointer;
  font-style: normal;
  overflow: hidden;
  padding-right: 4px;
}

.ws-MastHead-middleHeader {
	background-color: #FFFFFF;
}

.ws-filterborder {
  border: 1px solid blue; 
  border-right: 0; 
  /*border-top: 0; 
  border-bottom: 0; */
}

.ws-portalcontentsborder {
  border: 1px solid darkGray; 
  border-right: 0; 
  border-top: 0; 
  border-bottom: 0;
  
}

.ws-portal {
  border: 0px solid darkGray; 
  border-left: 0; 
  background-color: #E6E6E6;
  padding-right: 0px;
  /*border-top: 0; 
  border-bottom: 0; */
}

.ws-portallayout {
  border: 0px solid darkGray; 
  background-color: #E6E6E6;
  margin: 15px;
  margin-right: 0px;
}

.ws-projecttile {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-color: #737373; 
  cursor: hand;
}

.ws-projecttile-hover {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: blue;
  color: green;
}

.ws-contentsstyle {
  color: #737373; 
  /*color:#737373;*/
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  cursor: hand;
  /*overflow: hidden;*/
  padding-left: 4px;
  text-align: left;
}

.ws-contentsstyle-hover {
  color: #ABABAB; 
  /*color:#0D0C0C;*/
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: hand;
  text-decoration:underline;
  /*overflow: hidden;*/
  padding-left: 4px;
  text-align: left;
}

.ws-filterlink {
  color: blue;
  font-size:12px;
  /*font-family:Arial, Helvetica, sans-serif;*/
  font-family: Tahoma, Verdana, sans-serif;
  text-decoration:underline;
  cursor: pointer;
  font-style: normal;
  overflow: hidden;
}

.ws-filtertext {
  font-size:12px;
  font-family: Tahoma, Verdana, sans-serif;
  font-style: normal;
  overflow: hidden;
}

.ws-filtertext-bold {
  font-size:12px;
  font-family: Tahoma, Verdana, sans-serif;
  font-style: normal;
  overflow: hidden;
  font-weight: bold;
  padding-right: 15px; 
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	div.ws-projecticon > div > img{
		padding-left: 10px;
	}	
}

.ws-portlet-header,
.ws-portletborder,
.ws-modularcontainerborder,
.ws-borderbase {
  background-color : #34498E;
  border-color : #34498E;
  font-size:24px;
  font-family: Tahoma, Verdana, sans-serif;
  font-style: normal;
}

.ws-portletborder {
  border-top: 10px solid #34498E; 
  border-bottom:10px solid #34498E; 	
  border-left:0px solid #34498E; 	
  border-right:10px solid #34498E; 	
  border-radius: 15px;
}

.ws-modularcontainerborder {
  border-top: 5px solid #34498E; 
  border-bottom:0px solid #34498E;	
  border-left:0px solid #34498E;
  border-right:0px solid #34498E;	
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.border_gradient {
border: 8px solid #000;
-webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21 repeat repeat;
}

.ws-gradient-label {
  font-size:16px;
  font-weight: bold;
  color: #F8F8F8; 
  font-family: Tahoma, Verdana, sans-serif;
  font-style: normal;
}

.ws-toolbar-group {
  background-image: url(webstudio/images/toolbar_background_lg.gif);
  background-repeat: repeat-x;
  border-top: 1px solid #34498E; 
  border-bottom:1px solid #34498E; 	
  border-left:1px solid #34498E; 	
  border-right:1px solid #34498E; 	
  border-radius: 5px;
  margin-top: -3px;  
}

.ws-toolbar-button {
  margin-top: -2px;	
}

.ws-portlet-header {
  font-size:16px;
  font-weight: bold;
  color: #F8F8F8; 
}

.ws-decisionContextArea {
/*  background-image: url(images/context_area.png);*/
  background-repeat: repeat-x; 
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px; 
}


.imgSectionHeaderTitleclosed,
.imgSectionHeaderTitleopened {
  color: #15428b;   
  cursor: pointer;
  cursor: hand;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;  
}

.imgSectionHeaderTitleOverclosed,
.imgSectionHeaderTitleOveropened {
  color: #15428b;   
  cursor: pointer;
  cursor: hand;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;  
}

.imgSectionHeaderTitleDisabledopened,
.imgSectionHeaderTitleDisabledclosed {
  color: #15428b;   
  cursor: pointer;
  cursor: hand;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold; 
}


/*
 * Navigation Pane Tree grid cells
 */
 
 .ws-NavigationPaneGridCell {
  color: black;
  cursor: pointer;
  cursor: hand;  
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
}

.ws-NavigationPaneGridCellDark {
  color: black;
  cursor: pointer;
  cursor: hand;  
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
}
  
.ws-NavigationPaneGridCellOver,
.ws-NavigationPaneGridCellOverDark {
  /*background: url(images/navigation_pane_gridcell_over.png) repeat-x bottom left scroll;*/  
  border-top: 1px solid #ffb74c; 
  border-bottom:1px solid #ffb74c; 	
  color: black;
  cursor: pointer;
  cursor: hand;  
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
}

.ws-NavigationPaneGridCellSelected,
.ws-NavigationPaneGridCellSelectedDark {
  border-top: 1px solid #ffb74c;
  border-bottom: 1px solid #ffb74c;
  background-color: #ffe6a0; 
  color: black;   
  cursor: pointer;
  cursor: hand;  
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
}

.ws-NavigationPaneGridCellSelectedOver,
.ws-NavigationPaneGridCellSelectedOverDark {
  border-top: 1px solid #ffb74c;
  border-bottom: 1px solid #ffb74c;
  background-color: #ffe6a0; 
  color: black;   
  cursor: pointer;
  cursor: hand;  
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
}

/*
 * Status Bar
 */
.ws-StatusBar {
  background-color: #f0f0f0;
  border-bottom: 1px solid #999999;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  color: black;   
  cursor: pointer;
  cursor: default;
}

.ws-StatusBar-Label {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  color: black;   
  cursor: pointer;
  cursor: default;
  padding-left: 8px;  	
  padding-right: 8px;  
}

/*
 * Jump Bar
 */

.ws-JumpBar {
  border-bottom: 1px solid #999999;
  background-color: #f0f0f0;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  color: black;   
  cursor: pointer;
  cursor: default;
  /*
  padding-left: 4px;  	
  padding-right: 4px; 
  */ 
}

.ws-JumpBar-Label {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  color: black;   
  cursor: pointer;
  cursor: default;
}

.ws-JumpBar-LabelOver,
.ws-JumpBar-LabelDown {
  font-weight: bold;  
}

.ws-generateDeployable-Label {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 14px;
  color: black;   
  cursor: pointer;
  cursor: default;
  font-weight: bold;
  padding-left: 8px;  	
  padding-right: 8px;  
}

.ws-myGroups {
  background-color: white;
  border-top: 1px solid #34498E;
  border-bottom:1px solid #34498E;
  border-left:1px solid #34498E;
  border-right:1px solid #34498E;
  border-radius: 10px;
}

.ws-myGroups-selected, .ws-myGroups-over {
  background-color: lightblue;
  border-top: 1px solid #34498E;
  border-bottom:1px solid #34498E;
  border-left:1px solid #34498E;
  border-right:1px solid #34498E;
  border-radius: 10px;
}

.ws-myGroups-Heading {
  background-image: url(webstudio/images/menu_navigation.gif);
  background-repeat: repeat-x;
  height: 1em;
  line-height: 1em;
  border: 0.1em solid #dcdce9;
  color: #0d2474;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 16px;
  font-weight: normal;
  overflow: hidden;
  padding-left: 4px;
}

.ws-myGroups-groupTitle {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 12px;
  font-weight: normal;
  overflow: hidden;
  padding-right: 2px;
}

.ws-myGroups-content-margin {
	margin-left:0px;
}

.ws-login-header-title {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.ws-login-error-message {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: red; 
}

.ws-commit-revision-message, .ws-note-message {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
}

.ws-response-message {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: red;
}

.ws-dt-toolstrip-addbutton-title {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  color: black;
}

.ws-dt-toolstrip-addbutton-title:hover {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  color: black;
}

.ws-dt-pageToolstrip-button-title,
.ws-dt-pageToolstrip-button-titleOver,
.ws-dt-pageToolstrip-button-titleDown {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  color: black;
}

.ws-dt-pageToolstrip-title-label,
.ws-dt-pageToolstrip-button-titleSelected,
.ws-dt-pageToolstrip-button-titleSelectedOver,
.ws-dt-pageToolstrip-button-titleSelectedDown {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  color: black;
  font-weight: bold;
}

.ws-dt-pageToolstrip-buttonOver,
.ws-dt-pageToolstrip-buttonSelected,
.ws-dt-pageToolstrip-buttonSelectedDown,
.ws-dt-pageToolstrip-buttonSelectedOver,
.ws-dt-pageToolstrip-buttonSelectedDisabled {
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	background-color: #0000ff;
}

.ws-dt-condition-grid-cell-style {
  border-bottom: #ffc0c0 1px solid;
  border-top: #ffc0c0 1px solid; 
  background-color: #ffc0c0; 
  text-overflow: ellipsis; 
  font-family: Verdana,Bitstream Vera Sans,sans-serif; 
  color: black; 
  font-size: 11px; 
}

.ws-dt-disable-grid-cell-style{
  background-color: #F0EEEE;
  border-bottom: #F0EEEE 1px solid;
  border-top: #F0EEEE 1px solid; 
  text-overflow: ellipsis; 
  font-family: Verdana,Bitstream Vera Sans,sans-serif; 
  color: gray; 
  font-size: 11px;
}

.ws-dt-coverage-row-style {
  background-color:#C6F7D0;
}

.ws-dt-id-header-style,
.ws-dt-id-header-styleOver,
.ws-dt-id-header-styleDown,
.ws-dt-id-header-styleDisabled,
.ws-dt-id-header-styleSelected,
.ws-dt-id-header-styleSelectedDown,
.ws-dt-id-header-styleSelectedOver,
.ws-dt-id-header-styleSelectedDisabled {
  font-size: 11px;
  color: gray;
}


.ws-dt-condition-header-style,
.ws-dt-condition-header-styleOver,
.ws-dt-condition-header-styleDown,
.ws-dt-condition-header-styleDisabled,
.ws-dt-condition-header-styleSelected,
.ws-dt-condition-header-styleSelectedDown,
.ws-dt-condition-header-styleSelectedOver,
.ws-dt-condition-header-styleSelectedDisabled {
  font-size: 11px;
  color: blue;
}

.ws-dt-warning-row-style {
  background-color:yellow;
}

.ws-dt-error-row-style {
  background-color:red;
}

.ws-about-header {
  cursor: default;
  font-family: Tahoma, Verdana, sans-serif;
}

.ws-about-detail-label {
  cursor: default;
  font-family: Tahoma, Verdana, sans-serif;
}

.ws-about-detail-value {
  cursor: default;
  font-family: Tahoma, Verdana, sans-serif;
}

/*Artifact diff mode.*/
.ws-diff-background-remove {
	color: #000000;
	background-color: #FA8072;
	border: 1px solid #BA4032;
}
.ws-diff-background-remove-faint {
	color: #000000;
	background-color: #FBE0C0;
	border: 1px solid #BA4032;
}

.ws-diff-background-add {
	color: #000000;
	background-color: #7FFF00;
	border: 1px solid #3FBF00;
}
.ws-diff-background-add-faint {
	color: #000000;
	background-color: #d0ffa0;
	border: 1px solid #3FBF00;
}

.ws-diff-background-modify {
	color: #000000;
	background-color: #FFFF00;
	border: 1px solid #CFAF00;
}
.ws-diff-background-modify-faint {
	color: #000000;
	background-color: #ffffa0;
	border: 1px solid #CFAF00;
}

.ws-dt-diff-remove-style,
.ws-dt-diff-remove-styleDark,
.ws-dt-diff-remove-styleOver,
.ws-dt-diff-remove-styleOverDark,
.ws-dt-diff-remove-styleSelected,
.ws-dt-diff-remove-styleSelectedDark,
.ws-dt-diff-remove-styleSelectedOver,
.ws-dt-diff-remove-styleSelectedOverDark,
.ws-dt-diff-remove-styleDown,
.ws-dt-diff-remove-styleDisabled,
.ws-dt-diff-remove-styleSelectedDown,
.ws-dt-diff-remove-styleSelectedDisabled {
	color: #000000;
	font-size: 11px;
	background-color: #FA8072;
}

.ws-dt-diff-add-style,
.ws-dt-diff-add-styleDark,
.ws-dt-diff-add-styleOver,
.ws-dt-diff-add-styleOverDark,
.ws-dt-diff-add-styleSelected,
.ws-dt-diff-add-styleSelectedDark,
.ws-dt-diff-add-styleSelectedOver,
.ws-dt-diff-add-styleSelectedOverDark,
.ws-dt-diff-add-styleDown,
.ws-dt-diff-add-styleDisabled,
.ws-dt-diff-add-styleSelectedDown,
.ws-dt-diff-add-styleSelectedDisabled {
	color: #000000;
	font-size: 11px;
	background-color: #7FFF00;
}

.ws-dt-diff-modify-style,
.ws-dt-diff-modify-styleDark,
.ws-dt-diff-modify-styleOver,
.ws-dt-diff-modify-styleOverDark,
.ws-dt-diff-modify-styleSelected,
.ws-dt-diff-modify-styleSelectedDark,
.ws-dt-diff-modify-styleSelectedOver,
.ws-dt-diff-modify-styleSelectedOverDark,
.ws-dt-diff-modify-styleDown,
.ws-dt-diff-modify-styleDisabled,
.ws-dt-diff-modify-styleSelectedDown,
.ws-dt-diff-modify-styleSelectedDisabled {
	color: #000000;
	font-size: 11px;
	background-color: #FFFF00;
}

.ws-dt-diff-modify-apply-style,
.ws-dt-diff-modify-apply-styleDark,
.ws-dt-diff-modify-apply-styleOver,
.ws-dt-diff-modify-apply-styleOverDark,
.ws-dt-diff-modify-apply-styleSelected,
.ws-dt-diff-modify-apply-styleSelectedDark,
.ws-dt-diff-modify-apply-styleSelectedOver,
.ws-dt-diff-modify-apply-styleSelectedOverDark,
.ws-dt-diff-modify-apply-styleDown,
.ws-dt-diff-modify-apply-styleDisabled,
.ws-dt-diff-modify-apply-styleSelectedDown,
.ws-dt-diff-modify-apply-styleSelectedDisabled {
	color: #000000;
	font-size: 11px;
	background-color: #FFFF76;
}

.ws-dt-diff-add-apply-style,
.ws-dt-diff-add-apply-styleDark,
.ws-dt-diff-add-apply-styleOver,
.ws-dt-diff-add-apply-styleOverDark,
.ws-dt-diff-add-apply-styleSelected,
.ws-dt-diff-add-apply-styleSelectedDark,
.ws-dt-diff-add-apply-styleSelectedOver,
.ws-dt-diff-add-apply-styleSelectedOverDark,
.ws-dt-diff-add-apply-styleDown,
.ws-dt-diff-add-apply-styleDisabled,
.ws-dt-diff-add-apply-styleSelectedDown,
.ws-dt-diff-add-apply-styleSelectedDisabled {
	color: #000000;
	font-size: 11px;
	background-color: #B0FF62;
}

.ws-dt-diff-remove-apply-style,
.ws-dt-diff-remove-apply-styleDark,
.ws-dt-diff-remove-apply-styleOver,
.ws-dt-diff-remove-apply-styleOverDark,
.ws-dt-diff-remove-apply-styleSelected,
.ws-dt-diff-remove-apply-styleSelectedDark,
.ws-dt-diff-remove-apply-styleSelectedOver,
.ws-dt-diff-remove-apply-styleSelectedOverDark,
.ws-dt-diff-remove-apply-styleDown,
.ws-dt-diff-remove-apply-styleDisabled,
.ws-dt-diff-remove-apply-styleSelectedDown,
.ws-dt-diff-remove-apply-styleSelectedDisabled {
	color: #000000;
	font-size: 11px;
	background-color: #FBA298;
}

.toolStripVertical {
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	/* background-image: url("images/ToolStrip/background_vertical.png"); */
	border: 1px solid #A7ABB4;
}

.ws-search-form{
	padding-top: 4px;
	left: -2px !important;
}

.stripBelowHeader {
	background-color: white;
}

.CompanyLogo, .CompanyLogoLogin {
	float: right;
}


.ws-app-pref-title {
	 color: #003168;
	 font-family: Arial,Verdana,sans-serif;
     font-size: 12px;
     font-weight: bold;
}

.ws-app-pref-commandop{
	
	margin-left: 10px;
	
}

.ws-app-pref-fieldtype{
	color: #000000;
    font-family: Arial,Verdana,sans-serif;
    text-decoration: none;
    padding: 5px;
    font-size:11px;
}

.ws-app-pref-fieldtype-onHover{
	color: #4285f4;
    font-family: Arial,Verdana,sans-serif;
    text-decoration: none;
    padding: 5px;
    font-size:11px;
}

.ws-app-pref-fieldtype-onclick{
	color: #003168;
    font-family: Arial,Verdana,sans-serif;
    text-decoration: none;
    padding: 5px;
    font-size:11px;
    font-weight: bold;
}

.ws-app-pref-fieldTypeStack{
	margin-left:10px;
	border: 1px solid #ABABAB;
}

.ws-app-pref-op-outerLayout {
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
}

.ws-app-pref-op-layout{
	border: 1px solid #ABABAB;
}

.ws-app-pref-portlet{
	margin-bottom: 20px;
}

.ws-app-pref-button{
	margin-top: 10px;
	margin-right: 30px;
}

.ws-app-pref-operators {
	font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
}

.ws-app-pref-arrow{
	color: #003168;
	font-size: 18px;
}

/*A title to a context menu.*/
.ws-context-menu-title, .ws-context-menu-titleDisabled {
	background-color: #aacefd;
    color: #4d4d4d;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
}
