
.gwt-DatePicker {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #999999 #CCCCCC #CCCCCC;
    border-image: none;
    border-right: 1px solid #CCCCCC;
    border-style: solid;
    border-width: 1px;
    cursor: default;
}
.gwt-DatePicker td, .datePickerMonthSelector td:focus {
    outline: medium none;
}
.datePickerDays {
    background: none repeat scroll 0 0 white;
    width: 100%;
}
.datePickerDay, .datePickerWeekdayLabel, .datePickerWeekendLabel {
    border-bottom: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    color: #333333;
    font-size: 85%;
    font-weight: bold;
    outline: medium none;
    padding: 4px;
    text-align: center;
}
.datePickerWeekdayLabel, .datePickerWeekendLabel {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #666666;
    cursor: default;
    font-size: 70%;
    font-weight: normal;
    padding: 0 4px 2px;
}
.datePickerDay {
    cursor: pointer;
    padding: 4px 7px;
}
.datePickerDayIsWeekend {
    background: none repeat scroll 0 0 #F7F7F7;
}
.datePickerDayIsFiller {
    color: #999999;
    font-weight: normal;
}
.datePickerDayIsValue {
    background: none repeat scroll 0 0 #D7DFE8;
}
.datePickerDayIsDisabled {
    color: #AAAAAA;
    font-style: italic;
}
.datePickerDayIsHighlighted {
    background: none repeat scroll 0 0 #F0E68C;
}
.datePickerDayIsValueAndHighlighted {
    background: none repeat scroll 0 0 #D7DFE8;
}
.datePickerDayIsToday {
    background-color: #3A69AB;
    color: #FFFFFF;
    padding: 3px;
}
.datePickerMonthSelector {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 1px 0 5px;
    width: 100%;
}
td.datePickerMonth {
    color: #333333;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.datePickerPreviousButton, .datePickerNextButton {
    color: #3A6AAD;
    cursor: pointer;
    font-size: 120%;
    font-weight: bold;
    line-height: 1em;
    outline: medium none;
    padding: 0 4px;
}

