<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.cep.rt.functionCatalogProvider">
      <functionCatalog
            provider="com.tibco.cep.thirdparty.ThirdPartyFunctionCatalogProvider">
      </functionCatalog>
   </extension>
   <extension
         point="com.tibco.cep.tpcl.driverXmlProvider">
      <driver
            class="com.tibco.cep.thirdparty.ThirdPartyDriverXmlProvider">
      </driver>
   </extension>

</plugin>
