/* .be-user-container {
  overflow-y: scroll;
  height: calc(100vh - 121px);
} */

.fa-minus.active {
  color: coral;
}

.fa-plus.active {
  color: green;
}

::ng-deep .mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
  background-color: deepskyblue !important;
}

mat-list-item.active {
  background-color: #6c757d26;
}

.material-icons.custom-roles {
  color: #6c757d;
  position: absolute;
  right: 1.5%;
}

.material-icons.custom-roles-rtl {
  color: #6c757d;
  position: absolute;
  left: 1.5%;
}

.material-icons.custom {
  color: #6c757d;
  position: absolute;
  right: 0px;
}

.material-icons.custom-rtl {
  color: #6c757d;
  position: absolute;
  left: 0px;
}

.material-icons.custom-edit {
  color: #6c757d;
  position: absolute;
  right: 7% !important;
}

.material-icons.custom-edit-rtl {
  color: #6c757d;
  position: absolute;
  left: 7% !important;
}


.material-icons.add {
  position: absolute;
  right: 5px;
  font-size: medium;
  color: deepskyblue;
}

.material-icons.add-rtl {
  position: absolute;
  left: 5px;
  font-size: medium;
  color: deepskyblue;
}

.material-icons.custom-user-removal {
  color: #f43636;
  font-size: medium;
  position: absolute;
  right: 15%;
  line-height: 150%;
}

.material-icons.custom-user-removal-rtl {
  color: #f43636;
  font-size: medium;
  position: absolute;
  left: 15%;
  line-height: 150%;
}

.mat-raised-button.custom-save-button {
  background-color: #337ab7;
  color: white;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.mat-subheader {
  width: 100%;
  font-family: inherit;
  padding-bottom: 0px !important;
  color: #34495e !important;
}

.active {
  border-left: 5px rgb(0, 162, 255) solid;
}