<h1 mat-dialog-title i18n>{{i18n('Change Password')}}</h1>
<div mat-dialog-content>
    <form>
        <div class='row justify-content-center'>
            <div class="col-sm-10">
                <mat-form-field class="full-width">
                    <input 
                        matInput 
                        #usernameInput
                        name="userName" 
                        type="text" 
                        placeholder="{{i18n('Username')}}"
                        i18n-placeholder  
                        [(ngModel)]="this.currentUser.newUsername"
                        [readonly]='!this.currentUser.user.newUser'
                    >
                </mat-form-field>
            </div>
        </div>
        <div class='row justify-content-center'>
            <div class="col-sm-10">
                <mat-form-field class="full-width">
                    <input 
                        matInput
                        #passwordInput
                        name="password"  
                        type="password" 
                        placeholder="{{i18n('Password')}}"
                        i18n-placeholder  
                        [(ngModel)]="this.currentUser.newPassword"
                        [formControl]="passwordFormControl"
                        [errorStateMatcher]="this.errorStateMatcher" 
                        autofocus   
                    >
                    <mat-error *ngIf="passwordFormControl.hasError('minlength')">
                       <ng-container i18n>{{i18n('Minimum length: 4')}}</ng-container> 
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('required')" [innerHTML]="getMessage('PassReq')">
                        
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('forbiddenSpaces') && !passwordFormControl.hasError('minlength')" [innerHTML]="getMessage(PassforbiddenSpaces)">
                       
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class='row justify-content-center'>
            <div class="col-sm-10">
                <mat-form-field class="full-width">
                    <input 
                        matInput
                        #passwordInput
                        name="confirmPassword"  
                        type="password" 
                        placeholder="{{i18n('Confirm Password')}}"
                        i18n-placeholder  
                        [(ngModel)]="this.confirmPassword"
                        [formControl]="confirmPasswordFormControl"
                        [errorStateMatcher]="this.errorStateMatcher"    
                    >
                    <mat-error *ngIf="confirmPasswordFormControl.hasError('notMatchingPassword')">
                        <ng-container i18n>{{i18n('Passwords are not same.')}}</ng-container>.
                    </mat-error>
                   
                </mat-form-field>
                <small class="mat-error" *ngIf="this.passwordFormControl.errors === null 
                                && this.confirmPasswordFormControl.errors === null 
                                && this.currentUser.newPassword !== this.confirmPassword">
                                <ng-container i18n>{{i18n('Passwords are not same.')}}</ng-container>
                </small>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button class="mat-icon-button custom-button"  mat-dialog-close>
        <i class="material-icons custom-clear" matTooltip="{{i18n('Cancel')}}" aria-label="clear" i18n-matTooltip>clear</i>
    </button>
    <button class="mat-icon-button custom-button" [disabled]='!canConfirm()' [mat-dialog-close]="this.currentUser">
        <i class="material-icons" [ngClass]="{'custom-check': canConfirm()}" matTooltip="{{i18n('Confirm')}}" aria-label="check" i18n-matTooltip>check</i>
    </button>
</div>