/* from parent component */
.tree-view-root:hover span.tree-view-node-expander {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

/* from parent component */
.tree-view-root:not(:hover) span.tree-view-node-expander {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s 0s linear;
}

div.tree-view-node-content {
  font-size: 13px;
  /* prevents the contents from wrapping to a new line: */
  white-space: nowrap;
  background-clip: border-box;
  /* disable double click text selection */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}

div.tree-view-node:hover {
  background-color: #f5f5f5;
}

div.tree-view-node-selected:hover {
  background-color: #3c87c8;
}

span.tree-view-node-expander:hover {
  color: cyan;
}

div.tree-view-node {
  padding-left: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border: 0px solid transparent;
  border-radius: 3px;
}

div.tree-view-node-rtl {
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border: 0px solid transparent;
  border-radius: 3px;
}

div.tree-view-node-selected {
  background-color: #5094ce;
  border-color: #80c780;
  color: #fff;
}

ul.tree-view-children {
  list-style-position: outside;
  overflow-y: visible;
  overflow-x: visible;
  padding-left:0em;
}

ul.tree-view-children-rtl {
  list-style-position: outside;
  overflow-y: visible;
  overflow-x: visible;
  padding-right:0em;
}

ul.tree-view-expanded {
  max-height: 800px;
  transition: max-height 0.2s linear;
}

ul.tree-view-collapsed {
  max-height: 0;
  display: none;
  transition: max-height 0.2s linear;
}

span.tree-view-non-expandable {
  padding-left:1em;
}

span.tree-view-node-element {
  padding-right:0.5em;
}
