 <div class="ruleCreationContainer">
 	<form name="setConditionsForm" style="height : 92%;" novalidate>
 		<div class="expressionTreeContainer">
 			<div id="ruleSetOnce" ng-if="ruleObj.setOnce"></div>
 			<expression-tree attributes="attributeList" operators="operatorsList" conditions="clearConditionExpArray"></expression-tree>
 		</div>
 		<div class="ruleCreationFooter" >
 			<div ng-show="$parent.isError" class="pull-left">
				<span class="fileuploadError">*{{$parent.errorMessage}}</span>
			</div>
 			<button class="btn btn-primary"  ng-click="prevStep()">Previous</button>
         	<button ng-class="{'tbt-btn':true, 'primary-btn':true,'button_disabled':!isConditionsValid(clearConditionExpArray)}"  ng-disabled="!isConditionsValid(clearConditionExpArray)" ng-click="nextStep()">Next</button>
         	<button type="button" data-dismiss="modal" aria-hidden="true" class="btn tbt-btn secondary-btn" ng-click="close()">
		  	 	Cancel
	    	</button>
   		</div>
 	</form>
 </div>