.ag-popup-editor {
            border: 1px solid grey;
            background-color: #fff;
            padding: 10px;
            padding-top: 0px;
            text-align:center;
            display:inline-block;
            outline:none;
            max-height: 200px;
            /* width: 250px; */
            overflow-y: auto;
}

.selectField {
	        padding-right: 10px;
}

.valueField {
	        text-align: left;
}