div.artifacts {
  height: 50vh;
  border-radius: 3px;
  padding-top: 1em;
}

div.artifact-list {
  max-height: calc(50vh - 110px);
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #eee;
  margin-bottom: 1em;
}

div.artifact-entry {
  border-radius: 3px;
  height: 32px;
  vertical-align: middle;
}

div.checkbox {
  margin: 0;
  padding-top: 5px;
}

div.artifact-entry > label {
  position: relative;
  left: 10px;
}

div.artifact-entry:hover {
  background-color: #E6E6E6;
}
div.artifact-filter {
  padding-bottom: 1em;
}

.artifact-filter-addon {
  border-right: 0;
  cursor: default;
}

.artifact-filter-addon:hover:active:focus {
  cursor: default;
  background-color: #FFFFFF;
}
