<table id="detailTable" class="table notification-detail">
  <thead>
    <tr>
      <th i18n>{{i18n('Property')}}</th>
      <th i18n>{{i18n('Value')}}</th>
    </tr>
  </thead>
    <tbody>
    <tr>
      <td i18n>{{i18n('Message')}}</td>
      <td>{{notification.content}}</td>
    </tr>
    <tr>
      <td i18n>{{i18n('Severity')}}</td>
      <td>{{severity}}</td>
    </tr>
    <tr>
      <td i18n>{{i18n('Time Stamp')}}</td>
      <td>{{notification.timestamp | date : 'short'}}</td>
    </tr>
    <tr>
      <td i18n>{{i18n('Details')}}</td>
	  <td>
		<div style="max-height: 150px; overflow: auto">
			{{notification.details}}
		</div>
	  </td>
	</tr>
    <tr>
      <td i18n>{{i18n('Build version')}}</td>
      <td>{{buildVersion}}</td>
    </tr>
    <tr>
      <td i18n>{{i18n('Build date')}}</td>
      <td>{{buildDate}}</td>
    </tr>
    <tr>
      <td i18n>{{i18n('Commit info')}}</td>
      <td>{{commitInfo}}</td>
    </tr>
    </tbody>
</table>

<button role="button" (click)="copyToClipboard()" style="float: right" class="btn btn-primary btn-sm" i18n>{{i18n('Copy notification details to clipboard')}}</button><br><br>
