div.heading {
  padding-top: 4px;
  padding-bottom: 4px;
  background: #f5f5f5;
  color: gray;
  opacity: 50%;
}

div.center-container {
  width: 480px;
  padding: 0;
}

div.body {
  padding: 4px;
}

div.message {
  font-size: 13px;
  opacity: 80%;
  right: 5%;
}

div.messages {
  height: calc(100vh - 75px);
  overflow-y: auto;
  overflow-x: auto;
}

div.message-container {
  padding-right: 0em;
  padding-left: 1em;
  padding-bottom: 1em;
  margin: 0px;
}

div.message-container.alert {
  position: relative;
  margin-bottom: 7px;  
  padding-top: 6px;
  padding-bottom: 6px;
}

div.message-container:hover {
  background: #f5f5f5;
}

div.message-container.alert-danger:hover {
  background:#f5CeCe;
}

div.message-container.alert-warning:hover {
  background: #f9f1c8;
}

div.message-container.alert-success:hover {
  background: #d4ebcc;
}

.notification-icon {
	position: absolute;
	top: 0;
	left: 0;
}

div > i {
	padding-top: 10px;
}

div > small {
  padding-left: 40%;
}

li {
  border-radius: 0px;
}

hr {
  margin: 0px;
}
