@font-face {
	  font-size: 'Source Sans Pro';
	  font-family: 'Source Sans Pro';
	font-style: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon {
  font-size: 'Source Sans Pro';
  font-family: 'Source Sans Pro';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-transform: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
}

.longGroupNames {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display:block;
	font-size: .9em;
	/* width : 100px; */
}
/* 
.icon--arrow-left:before {
	content: '\e901';
}

.icon--menu:before {
	content: '\e903';
}

.icon--cross:before {
	content: '\e117';
}
 */
.sidebar-footer {
	border-top: 1px solid transparent;
	/* overflow: visible; */
}

/* Content Groups Pane */
.content-groups {
	padding: 1.15em;
	min-width: 100px;
	min-height: 50px;
}

.content-group {
  font-size: 'Source Sans Pro';
  font-family: 'Source Sans Pro';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	min-height: 50px;
	height: 100%;
	width: 100%;
	text-align: right;
}

/* Menu styles */
.menu {
	position: relative;
	top: 0;
	left: 0;
	flex-grow: 1; 
	overflow: auto;
	/* background: #222B46; */
}

.menu__wrap {
	position: absolute;
	top: .5em;
	left: 0;
	bottom: 0;
	overflow: auto;
	overflow-x: hidden;
	width: 100%;
	border: none;
}

.menu__level {
	font-size: .9em;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	/* overflow-y: scroll; */
	width: 100%;
	height: 50%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.menu__level--current {
	font-size: 1.0em;
	/* overflow: scroll; */
	/* padding-bottom: 40px; */
	height: auto;
	padding-left: 10px;
	visibility: visible;
	margin: 0;
	/* margin-top: 3px; */
}

.menu__link-selected::after {
	content: '\f00c';
	right: .25em;
    position: absolute;
}

.access-menu-link {
	font-size: .9em;
	color: #374474;
	/* border-left: 2px solid transparent; */
}

/* .access-menu-link:hover {
 	background: none; 
 	border-left: 2px solid #2694D3;
} */

.menu__link--current::before {
	content: '\00B7';
	font-size: .9em;
	line-height: 0;
	position: absolute;
	top: 50%;
	left: 0.5em;
	height: 4px;
}

.menu__breadcrumbs {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	/* font-size: 0.85em; */
	margin-left: 24px;
	line-height: 1;
	position: relative;
	padding: .75em .75em 1.5em 1.5em;
	/* background: #2a2c36; */
}

.menu__breadcrumbs a {
	color: white;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.menu__breadcrumbs a:last-child {
	pointer-events: none;
}

.menu__breadcrumbs a:hover {
	color: #2a78bb;
	text-decoration: none;
}

.menu__breadcrumbs a:not(:last-child)::after {
	content: ' -> ';
	font-size: 'Source Sans Pro';
  	font-family: 'Source Sans Pro';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-decoration: none;
	display: inline-block;
	padding: 0 0.5em;
}

.menu__back {
	font-size: 1.05em;
	position: absolute;
	z-index: 100;
	top: 0;
	right: 2.25em;
	margin: 0;
	padding: 1.365em 0.65em 0 0;
	cursor: pointer;
	color: #2a2b30;
	border: none;
	background: none;
}

.sidebar {
 	color: #062E79;
	background: FFF;
 	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	overflow: hidden;
}

.sidebar .sidebar-header {
	/* padding: 5px;
	height: 20px;
	color: inherit;
	text-align: right;
	display: block;
	height: 56px;
	position: relative; */
	background: #062f79;
    color: white;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.sidebar-header-toggle {
	border: none;
	height: 30px;
	padding: 6px;
	margin-left: 0;
	margin-right: auto;
	position: relative;
}

.access-menu {
	vertical-align: top;
	width: auto;
	opacity: .95;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.access-menu-filter {
	width: calc(80% - 50px);
}

.access-menu-options {
	/* margin: 6px; */
	height: 100%;
	width: 40px;
	float: right;
}

.sidebar-header-button, .sidebar-filter-button {
	background: inherit;
	/* border: none; */
	min-width: 20px;
	/* height: 30px; */
	width: 24px;
	padding-left: 0;
	padding-right: 0;
	/* float: right; */
}

.sidebar-filter-button {
	float: left;
}

.input-group-btn open {
	background: #2a78bb;
	color: #2a78bb;
}

.access-btn-group {
	width: 90px;
}

.dropdown-header {
	color: #4B4F5D;
	text-align: center;
	font-weight: 600;
}
/* .btn-default.active, .btn-default:active, */ 
.dropdown-toggle.btn-default:active, open {
	background: #2a78bb;
	color: #2a78bb;
}

.sidebar .sidebar-menu {
	overflow-x: hidden;
	overflow-y: auto;
	width: 270px
}

.sidebar .sidebar-main {
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.sidebar .sidebar-main .filter {
	margin-left: 48px;
	display: flex;
}

.filter-rtl{
	margin-right: 48px;
	display: flex;
}

/*.sidebar .sidebar-footer {
	/* background: #2a2c36; */
	/* height: 100%; */
	/* width: 100%;
	border-top: 1px solid #062f79;
	overflow-x: hidden;
	overflow-y: hidden; */
/*}*/

.sidebar-footer-header {
	font-size: 0.85em;
	line-height: 1;
	height: 3.5em;
	position: relative;
	padding: 0;
	padding-top: .25em;
	padding-bottom: .25em;
	padding-right: 1em;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 1px;
	/* background: #2a2c36; */
	/* border-bottom: 1px solid #062f79; */
	width: 100%;
}

.sidebar-footer-span {
	width: 100%;
	padding: 1.0em 1.75em 1.5em 1.5em;
	position: absolute;
}

/* .sidebar .sidebar-footer a {
	color: #575b6f
} */

.sidebar-actions {
	height: calc(100% - 3.5em);
	max-height: calc(25vh - 3.5em);
	overflow-y: auto;
	/* display: flex;
	margin: 0 -20px; */
	padding: 2px 5px 5px 20px;
}

.sidebar-actions ul {
	padding: 0px;
}

.sidebar-actions li.action {
	/* display: inline-block;
	width: 32%; */
	margin: 2px 0px;
	text-align: center
}

.sidebar-actions li.action button {
	width: 90%;
	line-height: 1.2em;
	min-height: 4em;
}

/* .sidebar .sidebar-footer ul.sidebar-actions {
	margin: 0 -20px;
	padding: 2px 5px 5px 20px;
	position: relative
}

.sidebar .sidebar-footer ul.sidebar-actions li.action {
	display: inline-block;
	width: 32%;
	margin: 2px 0px;
	text-align: center
}

.sidebar .sidebar-footer ul.sidebar-actions li.action button {
	width: 90%;
	line-height: 1.2em;
} */

.toggle {
	padding: 12px;
	color: #062f79;
	background: inherit;
	transition: all 200ms ease-in;
	border: 1px solid transparent;
	border-left: 1px solid #F9F9F9;
	border-radius: 50%;
	/* padding-left: 12; */
}

.toggle-rtl {
	padding: 12px;
	color: #062f79;
	background: inherit;
	transition: all 200ms ease-in;
	border: 1px solid transparent;
	border-right: 1px solid #F9F9F9;
	border-radius: 50%;
	/* padding-left: 12; */
}

.toggleActive {
	padding: 12px;
	background: inherit;
	color: #062f79;
	border: 1px solid #062f79;
	border-left: 6px solid #062f79;
	padding-left: 7px;
	transition: all 200ms ease-in;
	font-weight: bold;
    border-radius: 50%;
    background-color: #fff;
		box-shadow: 0 0 2px 1px #062f79;
}

.toggleActive-rtl {
	padding: 12px;
	background: inherit;
	color: #062f79;
	border: 1px solid #062f79;
	border-right: 6px solid #062f79;
	padding-right: 7px;
	transition: all 200ms ease-in;
	font-weight: bold;
    border-radius: 50%;
    background-color: #fff;
		box-shadow: 0 0 2px 1px #062f79;
}

.addGroup {
	/* background: #2a2c36; */
	border: 1px solid transparent;
	border-left: 1px solid #062f79;
	padding-left: 8px;
	margin-left: -6px;
}

/* .addGroup:hover {
	background: #4f4b5c;
	border-left: 6px solid #062f79;
	padding-left: 3px;
} */

.toggle:hover {
	/* font-weight: bold; */
	border: 1px solid #062f79;
	border-left: 6px solid #062f79;
	padding-left: 7px;
}

.toggle-rtl:hover {
	/* font-weight: bold; */
	border: 1px solid #062f79;
	border-right: 6px solid #062f79;
	padding-right: 7px;
}

.sidebar .sidebar-footer ul.sidebar-actions li.action button i {
	display: block;
	font-size: 2.2vh;
	padding-bottom: 5px;
	color: #2B4D8D;
}

.sidebar .sidebar-footer ul.sidebar-actions li.action button span {
	font-size: 10px
}

/* tooltips */
.animated {
   padding:5px;
   -webkit-animation-duration: .3s;
   animation-duration: .3s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
   0% {opacity: 0;}
   75% {opacity: 0;}
   100% {opacity: .8;}
}

@keyframes fadeIn {
   0% {opacity: 0;}
   75% {opacity: 0;}
   100% {opacity: .8;}
}

.fadeIn {
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}

@-webkit-keyframes grow {
	0% {height: 0px;}
	75% {height: 50%;}
	100% {height: 100%;}
}

@keyframes grow {
	0% {height: 0px;}
	75% {height: 50%;}
	100% {height: 100%;}
}

.grow {
	-webkit-animation-name: grow;
	animation-name: grow;
}

@-webkit-keyframes shrink {
	0% {height: 100%;}
	75% {height: 50%;}
	100% {height: 0px;}
}

@keyframes shrink {
	0% {height: 100%;}
	75% {height: 50%;}
	100% {height: 0px;}
}

.shrink {
	-webkit-animation-name: shrink;
	animation-name: shrink;
}

.docked {
	padding-left: 0px;
}

.docked {
	padding-right: 0px;
}

.button-row {
	float: right;
}


::ng-deep .mat-tooltip.my-tooltip {
	word-wrap: break-word;
	background: black;
}

.custom-btn { 
	white-space: normal;
	}

.historyitem::after {
		content: "\200E";
  }