.adminView{	
  	width: 100%;
  	padding-left: 132px;
  	padding-right: 5%;
}
.adminView .appBox{	
	position: relative;	
	padding-top: 15px;
}
.adminView .adminViewTitle{	
  color: #267fad;
  font-weight: 400;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
}
.adminView .appBox .button{	
	margin-left: 30px;
	cursor: default;
	margin-bottom: 20px;
}
.adminView .appBox .firstButton{	
	cursor: default;
	margin-bottom: 20px;
}