.tibcoAbb24x24LogoIcon {
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-image: url("../images/icons/Tibco_Logo_Abb_Blue_24x24.png");
}

.tea-theme .tbt-top-nav .title {
	cursor: pointer;
	margin-top: 6px !important;
	vertical-align: text-bottom;
}

.tea-theme .tbt-top-nav select {
	margin: 0 0 10px 40px;
	padding: 2px;
	background-color: #fdfdfd;
	border-color: #c4c4c4;
}

.tea-theme .tbt-box .box-header.with-subtitle .box-title {
	width: 100%;
}

.appManagement_appList {
	margin-top: 25px;
	margin-left: 1px;
}

.appManagement_appItem {
	float: left;
	margin-right: 42px;
	width: 345px;
	height: 345px;
	border: 1px solid #cccfd5;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	color: #000;
	margin-bottom: 15px;
	padding-bottom: 18px;
	cursor: pointer;
	position: relative;
}

.appManagement_appItem_overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
	opacity: 0.03;
	width: 345px;
	height: 345px;
	background: #000;
	border-radius: 5px;
}

.appManagement_appItem:hover .appManagement_appItem_overlay {
	display: none;
}

.appManagement_appItem_title {
	font-size: 18px;
	line-height: 18px;
	color: #000;
	margin-top: 10px;
	margin-left: 18px;
	font-weight: normal;
	width: 210px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.appManagement_appItem_dropdown {
	padding-right: 15px;
	padding-top: 18px;
	color: #686868;
}

.appManagement_appItem_title:HOVER {
	color: #72afd2;
}

.appManagement_appItem_funcList {
	margin-top: 13px;
	margin-left: 12px;
}

.appManagementPage .main-frame {
	padding: 10px 40px 10px 40px;
}

.appManagementPage .main-frame>.col-md-4:first-child {
	padding-left: 0px;
}

.appManagementPage .main-frame .col-md-12 {
	padding: 0 0 0 0;
}

.appManage {
	position: relative;
	margin: 30px 42px auto;
}

.appSearch .add-on {
	position: absolute;
	top: 3px;
	left: 8px;
	z-index: 100;
}

.appSearch .add-on i {
	width: 17px;
	height: 17px;
}

.appSearch .appSearchInput {
	width: 100%;
	height: 30px;
	background: #e6e6e6;
	border: 0;
	box-shadow: 0 1px rgba(255, 255, 255, 0.4), inset 1px 1px 1px
		rgba(0, 0, 0, 0.3);
	font-size: 14px;
	color: #5f5f5f;
	padding-left: 33px;
	border-radius: 5px;
}

.input-prepend-inner {
	width: 100%;
	position: relative;
}

.createButton {
	margin-left: 12px;
	position: relative;
}

.importButton {
	margin-left: 12px;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

#updateTRAandLog {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 54%;
	height: 650px;
	top: 14%;
	left: 24%;
}

#updateTRAandLog .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 65px;
	background-color: #e2e2e2 !important;
	color: #0a6493;
	padding: 5px 15px 5px 15px !important;
}

#updateTRAandLog .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 500px;
	overflow: auto;
}

#updateTRAandLog .modal-footer {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 85px;
	border-top: 1px solid #cdcdcc;
}

#createApplication {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 37%;
	height: 380px;
	top: 17%;
	left: 28%;
}

#createApplication .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 13%;
	background-color: #e2e2e2 !important;
	color: #0a6493;
	padding: 5px 15px 5px 15px !important;
}

#createApplication .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 69%;
	padding-top: 40px;
}

#createApplication .modal-footer {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 18%;
	border-top: 1px solid #cdcdcc;
}

#importApplication {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 35%;
	height: 440px;
	top: 17%;
	left: 28%;
}

#importApplication .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 20%;
	background-color: #e2e2e2 !important;
	color: #0a6493;
	padding: 5px 15px 5px 15px !important;
}

#importApplication .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 55%;
	padding-top: 40px;
}

#importApplication .modal-footer {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 25%;
	border-top: 1px solid #cdcdcc;
}

#importExportedApplication {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 35%;
	height: 250px;
	top: 17%;
	left: 28%;
}

#importExportedApplication .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 20%;
	background-color: #e2e2e2 !important;
	color: #0a6493;
	padding: 5px 15px 5px 15px !important;
}

#importExportedApplication .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 55%;
	padding-top: 40px;
}

#importExportedApplication .modal-footer {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 25%;
	border-top: 1px solid #cdcdcc;
}

#createInstance {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 45%;
	height: 550px;
	top: 17%;
	left: 28%;
}

#createInstance .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 15%;
	background-color: #e2e2e2 !important;
	color: #0a6493;
	padding: 5px 15px 5px 15px !important;
}

#createInstance .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 70%;
	margin-right: 15px;
	overflow-x: auto;
	overflow-y: hidden;
}

#createInstance .modal-footer {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 15%;
	border-top: 1px solid #cdcdcc;
}

#hotDeployInstance, #importMigratedAppWizard {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 38%;
	height: 265px;
	top: 17%;
	left: 28%;
}

#hotDeployInstance .modal-header, #importMigratedAppWizard .modal-header
	{
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 15%;
	background-color: #e2e2e2 !important;
	color: #0a6493;
	padding: 5px 15px 5px 15px !important;
}

#hotDeployInstance .modal-body, #importMigratedAppWizard .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 55%;
	padding-top: 40px;
}

#hotDeployInstance .modal-footer, #importMigratedAppWizard .modal-footer
	{
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 13%;
	border-top: 1px solid #cdcdcc;
}

#threadDump, #tailLogPanel {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 50%;
	height: 600px;
	top: 17%;
	left: 25%;
}

#threadDump .modal-header, #tailLogPanel .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 10%;
	background-color: #e2e2e2 !important;
	color: #0a6493;
	padding: 5px 15px 5px 15px !important;
}

#threadDump .modal-body, #tailLogPanel .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 80%;
}

#threadDump .modal-footer, #tailLogPanel .modal-footer {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 10%;
	border-top: 1px solid #cdcdcc;
}

#newRulePanel {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 64%;
	height: 650px;
	top: 13%;
	left: 18%;
}

#newRulePanel .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 10%;
	background-color: #e2e2e2 !important;
	color: #0a6493;
	padding: 5px 15px 5px 15px !important;
}

#newRulePanel .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 90%;
}

#newRulePanel .modal-footer {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 10%;
	border-top: 1px solid #cdcdcc;
}

#copyInstance {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 35%;
	height: 500px;
	top: 17%;
	left: 28%;
}

#copyInstance .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 20%;
	background-color: #e2e2e2 !important;
	color: #0a6493;
	padding: 5px 15px 5px 15px !important;
}

#copyInstance .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 60%;
}

#copyInstance .modal-footer {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 20%;
	border-top: 1px solid #cdcdcc;
}

#groupVariables, #applicationCdd, #groupSystemVariables, #groupLogLevel,
	#jvmProperties, #groupBusinessProp {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 55%;
	height: 650px;
	top: 17%;
	left: 23%;
}

#groupVariables .modal-header, #applicationCdd .modal-header,
	#groupSystemVariables .modal-header, #groupLogLevel .modal-header,
	#jvmProperties .modal-header, #groupBusinessProp .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 9%;
	background-color: #e2e2e2 !important;
	color: #0a6493;
	padding: 5px 15px 5px 15px !important;
}

#groupVariables .modal-body, #applicationCdd .modal-body,
	#groupSystemVariables .modal-body, #groupLogLevel .modal-body,
	#jvmProperties .modal-body, #groupBusinessProp .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 81%;
}

#groupVariables .modal-footer, #applicationCdd .modal-footer,
	#groupSystemVariables .modal-footer, #groupLogLevel .modal-footer,
	#jvmProperties .modal-footer, #groupBusinessProp .modal-footer {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 10%;
	border-top: 1px solid #cdcdcc;
}

#invokeOperations {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 35%;
	height: 450px;
	top: 17%;
	left: 28%;
}

#invokeOperations .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 12%;
	background-color: #e2e2e2 !important;
	color: #0a6493;
	padding: 5px 15px 5px 15px !important;
}

#invokeOperations .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 73%;
}

#invokeOperations .modal-footer {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 15%;
	border-top: 1px solid #cdcdcc;
}

#createHost {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 35%;
	height: 650px;
	top: 17%;
	left: 28%;
}

#createHost .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 10%;
	background-color: #e2e2e2 !important;
	color: #0a6493;
	padding: 5px 15px 5px 15px !important;
}

#createHost .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 75%;
	margin-right: 15px;
	overflow-x: auto;
	overflow-y: hidden;
}

#createHost .modal-footer {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 15%;
}

.form-horizontal .controls {
	/* margin-left: 180px; */
	margin-bottom: 8px;
}

.grid-lv1 {
	position: relative;
	margin: 20px 20px 50px 20px;
	min-width: 1024px;
	min-height: 514px;
}

.highcharts-container svg {
	font-family: 'Open Sans', 'Arial', sans-serif !important;
}

ul {
	list-style-type: none;
}

.instanceManagement_instanceItem {
	float: left;
	margin-left: 42px;
	width: 350px;
	height: 200px;
	border: 1px solid #cccfd5;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	color: #000;
	margin-bottom: 15px;
	padding-bottom: 18px;
	position: relative;
}

.instanceManagement_instanceItem_overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
	opacity: 0.03;
	width: 350px;
	height: 200px;
	background: #000;
	border-radius: 5px;
}

.instanceManagement_instanceItem_title {
	font-size: 18px;
	line-height: 23px;
	color: #ffffff;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 18px;
	font-weight: bold;
	width: 210px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
}

.instanceTitleDiv {
	background-color: #0081cb;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	height: 43px;
}

.instanceManagement_instanceItem_title:HOVER {
	color: #72afd2;
}

.instanceManagement_instanceItem:hover .instanceManagement_instanceItem_overlay
	{
	display: none;
}

.status_label {
	display: inline-block;
	width: 78px;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 3px;
	min-height: 20px;
	max-height: 40px;
	line-height: 16px;
	text-align: center;
	color: #FFF;
	font-size: 12px;
	font-weight: 700;
	vertical-align: baseline;
	background-color: green;
}

.label-stopped {
	background-color: gray;
}

.tr_style {
	height: 32px;
}

.td_style {
	padding-left: 20px;
	padding-right: 10px;
}

.td_style_column2 {
	padding-left: 300px;
	padding-right: 10px;
}

.instanceViewPanel1 {
	/* 	padding-bottom: 10px;
	padding-top: 10px; */
	
}

.instanceViewPanel2 {
	border-top: 1px solid #cdcdcc;
	border-bottom: 1px solid #cdcdcc;
	background-color: white;
}

.instanceConfigurationItem {
	float: left;
	margin-left: 42px;
	margin-top: 40px;
	width: 46%;
	min-height: 30px;
	border: 1px solid #cccfd5;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	color: #000;
	margin-bottom: 15px;
	padding-bottom: 18px;
	position: relative;
}

.instanceConfigurationItem_title {
	font-size: 18px;
	line-height: 23px;
	color: #000;
	margin-top: 10px;
	margin-left: 20px;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
}

.instanceConfigurationItem_title :HOVER {
	color: #72afd2;
}

.panel-heading a:after {
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: right;
	color: grey;
}

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
	font-weight: bold;
}

.panel-heading a.collapsed:after {
	content: "\e080";
}

.operation {
	cursor: pointer;
	color: #000;
}

.disableOperation {
	color: gray;
	cursor: not-allowed;
}

.operation:HOVER {
	color: #72afd2;
}

p.tea-notification {
	box-sizing: border-box;
	position: fixed;
	left: 50%;
	margin-left: -342px;
	z-index: 900;
	top: -1px;
	width: 685px;
	height: 50px;
	font: 12px "Open Sans", sans-serif;
	text-align: center;
	padding: 16px 0 20px 0;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	-webkit-box-shadow: 1px 2px 0px 0px #eaeaea;
	-moz-box-shadow: 1px 2px 0px 0px #eaeaea;
	box-shadow: 1px 2px 0px 0px #eaeaea;
	display: none;
}

.globalVariablesPanel {
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
	min-height: 320px;
	max-height: 600px;
	overflow: auto;
}

.systemVariablesPanel {
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 320px;
	overflow-y: auto;
	margin: auto;
	max-height: 600px;
}

.globalVariableHeadingRow {
	border-bottom: 1px solid #cdcdcc;
	height: 40px;
	font-weight: bold;
}

.globalVariableNoRecords {
	position: absolute;
	top: 60%;
	left: 42%;
	font-weight: bold;
	color: grey;
}

.inputStyle {
	margin-top: 10px;
	width: 90%;
}

.variablePanelFooter {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 15px;
	font-weight: bold;
}

.panelLabel {
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 300px;
	overflow-x: hidden;
	font-weight: normal;
}

.selectStyle {
	margin-top: 5px;
	margin-bottom: 0px;
	width: 180px;
}

.link {
	color: black;
	cursor: pointer;
}

.link :HOVER {
	color: #72afd2;
}

.SearhcItem {
	float: left;
	margin-left: 12px;
	margin-top: 20px;
	width: 150px;
	min-height: 30px;
	cursor: pointer;
	position: relative;
}

.SearhcItemFirst {
	float: left;
	margin-left: 42px;
	margin-top: 20px;
	width: 150px;
	min-height: 30px;
	position: relative;
	cursor: pointer;
}

#aboutBETEA {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 40%;
	height: 200px;
	top: 17%;
	left: 28%;
}

#aboutBETEA .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 30%;
	color: #930A0A;
	padding: 5px 15px 5px 15px !important;
}

#aboutBETEA .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 70%;
	padding-top: 40px;
}

#actionConfirmation, #copyApplicationProfile, #beHomesView {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 40%;
	height: 200px;
	top: 17%;
	left: 28%;
}

#actionConfirmation .modal-header, #copyApplicationProfile .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 25%;
	color: #930A0A;
	padding: 5px 15px 5px 15px !important;
}

#actionConfirmation .modal-body, #copyApplicationProfile .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 47%;
	padding-top: 40px;
}

#actionConfirmation .modal-footer, #copyApplicationProfile .modal-footer {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 28%;
}

h5 {
	position: relative;
	margin-left: 30px;
	margin-bottom: 0px;
}

h5 span {
	background: #fff;
	position: relative;
	z-index: 1;
}

h5:before {
	background: #ddd;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	top: 50%;
	width: 100%;
}

h5:before {
	left: 0;
}

.cardListView {
	margin-top: 10px;
	margin-right: 40px;
	cursor: pointer;
}

.cardListView_selected {
	margin-top: 10px;
	margin-right: 40px;
	cursor: pointer;
	background-color: #ddd;
}

.instanceListView {
	padding-left: 10px;
	padding-top: 25px;
	overflow-x: auto;
}

.beTeaAgentView {
	position: absolute;
	min-height: inherit;
	width: 100%;
}

#loaderdiv {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1100;
	background-color: gray;
	opacity: .6;
}

#modalDiv {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1100;
	background-color: white;
	opacity: .6;
}

.ajax-loader {
	position: absolute;
	left: 48%;
	top: 40%;
	margin-left: -32px; /* -1 * image width / 2 */
	margin-top: -32px; /* -1 * image height / 2 */
	display: block;
}

.operationsTree {
	float: left;
	margin-left: 30px;
	padding-left: 20px;
	margin-right: 20px;
	margin-top: 40px;
	padding-top: 25px;
	width: 20%;
	min-height: 500px;
	background-color: #e7e7e7;
	border-radius: 5px;
	color: #000;
	margin-bottom: 15px;
	padding-bottom: 18px;
	position: relative;
}

.invokeMethodPanel {
	float: left;
	margin-top: 40px;
	padding-top: 0px;
	padding: 20px;
	width: 73%;
	min-height: 30px;
	border: 1px solid #cccfd5;
	border-radius: 5px;
	/* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08); */
	background-color: #ffffff;
	color: #000;
	margin-bottom: 15px;
	padding-bottom: 18px;
	position: relative;
}

.monitoringPanel {
	padding-top: 35px;
	padding-left: 15px;
	padding-bottom: 15px;
	max-height: 320px;
	min-height: 320px;
	overflow: hidden;
}

.groupName {
	/*  font-weight: bold; */
	font-size: 15px;
}

.resultPanel {
	padding-top: 40px;
	padding-left: 10px;
	width: 98%;
}

.methoadInvokation {
	padding-left: 10px;
	width: 98%;
}

.invokePanelTitles {
	background-color: #e7e7e7;
	line-height: 40px;
	padding-left: 10px;
	width: 98%;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.invokePanelButton {
	float: left;
	margin-left: 300px;
}

.resultTable {
	overflow: auto;
	width: 99%;
	max-height: 500px;
}

.loggerHeader {
	width: 50%;
	border-bottom: 1px solid #cdcdcc;
	padding-top: 12px;
	padding-bottom: 7px;
	font-weight: bold;
}

.logger {
	padding-top: 20px;
	padding-left: 10px;
	width: 40%;
}

.loggerMultiSelect {
	padding-top: 20px;
	width: 60%;
}

table.be-table {
	width: 98%;
	table-layout: auto;
	margin-top: 15px;
	margin-left: 5px;
	display: table;
}

table.be-table thead {
	display: table-header-group;
	width: 100%;
	table-layout: fixed;
}

table.be-table tbody tr {
	display: table-row;
	width: 100%;
	table-layout: fixed;
}

table.be-table tbody {
	max-height: 500px;
	overflow-y: auto;
	display: block;
	width: 100%;
	margin-top: 10px;
	display: table-row-group;
}

table.be-table th {
	border-bottom: 1px solid #B0B0B0;
	text-align: left;
	font-family: 'Open Sans Bold', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #474747;
	max-width: 120px;
	line-height: 20px;
	padding-bottom: 10px;
	padding-left: 7px;
	display: table-cell;
}

table.be-table td {
	height: 42px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 13px;
	overflow: hidden;
	color: #2D2D2D;
	padding-left: 7px;
	padding-right: 15px;
	display: table-cell;
}

.be_groupVariablesPanel {
	max-height: 400px;
	min-height: 400px;
	overflow: auto;
	width: 100%;
}

.be_applicationCddPanel {
	max-height: 500px;
	overflow: auto;
}

.be_VariablesContainer {
	margin: 20px 0px 42px;
	background: #fff;
	border: solid 1px #cfd4d7;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(119, 119, 119, .08);
	min-width: 30%;
	padding: 0px;
	height: 95%;
}

.be_instanceConfigurationPanel {
	display: table;
	width: 100%;
	vertical-align: middle;
	padding-top: 10px;
}

.be_instanceConfigurationPanel_mainPanel {
	width: 85%;
	display: table-cell;
	vertical-align: top;
	padding: 20px 15px 25px 20px;
}

.be_configurationDiv {
	margin: 25px;
}

.be_filter_input {
	margin-top: 5px;
	height: 25px;
	max-width: 87px;
}

.be_notif_error {
	text-align: center;
	background-color: rgba(254, 98, 78, 0.77);
	height: 21px;
	color: white !important;
}

.be_instance_breadcrump {
	cursor: pointer;
}

.be_operations_instances_bar {
	width: 100%;
	background-color: #2197DD;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	color: white;
	min-height: 40px;
}

.be_operations_title {
	text-align: left;
	font-family: 'Open Sans Bold', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 15px;
	/* color: #FFFFFF; */
	min-width: 174px;
	line-height: 20px;
	padding: 15px;
	margin-left: 10px;
	margin-bottom: 10px;
	/* background-color: #2197DD; */
}

.be_operations_instances_col {
	float: left;
	width: 18%;
	min-height: 500px;
	background-color: #FFFFFF;
	position: relative;
	display: inline-block;
}

.be_operations_methods_col {
	float: left;
	width: 20%;
	height: 100%;
	background-color: #FFFFFF;
	position: relative;
	padding-bottom: 10px;
}

.be_operations_results_col {
	float: left;
	width: 80%;
	height: 100%;
	position: relative;
	padding-bottom: 10px;
}

.be_instances_operations_col a:link {
	color: #FFFFFF;
}

.be_operations_container {
	margin: 20px 0px 42px;
	background: #fff;
	border: solid 1px #cfd4d7;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(119, 119, 119, .08);
	padding: 0px;
	width: 100%;
	box-sizing: border-box;
}

.be_operations_instances_col input[type=checkbox] {
	margin: 2px 0px 0px !important;
}

.be_operations_method_list {
	padding-left: 15px;
	overflow: auto;
}

.be_operations_result_panel {
	padding-left: 15px;
	width: 100%;
	clear: left;
}

.be_operations_instance_list>.multiSelect>button {
	max-width: 600px !important;
}

.be_operations_method_list li {
	cursor: pointer;
}

.be_method_form_element {
	padding: 18px;
	padding-left: 0px;
	vertical-align: middle;
	float: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-top: 5px;
	text-align: left;
	display: inline-flex;
	min-width: 170px;
}

.be_vertical_divider  [class*='_col']:not (:last-child ):after {
	background: #e0e0e0;
	width: 1px;
	content: "";
	display: block;
	position: absolute;
	top: 9%;
	bottom: 3%;
	right: 0;
}

.be_horizontal_seperator {
	border-bottom: 1px solid #E0E0E0;
	margin-right: 20px;
}

.be_breadCrumbs {
	cursor: pointer;
	padding-right: 5px;
	color: gray;
}

.be_Info_table {
	margin-bottom: 0;
	margin-left: 42px;
	width: 90%;
}

.be_agentType_div {
	font-size: 16px;
	font-weight: bold;
	color: #0081cb;
	margin-top: 5px;
	display: inline-block;
}

.be_operationsTree {
	height: auto;
	margin: 5px;
	margin-left: 0px;
	padding: 5px;
	width: 85%;
	border-radius: 5px;
	background-color: #71BCE9;
	cursor: pointer;
}

.be_operationsTree:HOVER {
	font-weight: bold;
}

.be_operationsPanel {
	min-height: 500px;
	width: 100%;
	background: linear-gradient(to right, #ffffff 0%, #ffffff 20%, #f9f9f9 20%, #f9f9f9
		100%);
	overflow: hidden;
}

.be_breadCrumbs_div {
	font-size: 19px;
	margin-top: 20px;
}

.button_disabled {
	cursor: not-allowed !important;
	background: #8FCDEC !important;
	border: 1px solid #8FCDEC !important;
}

table.tea-table th {
	border-bottom: 1px solid #B0B0B0;
	text-align: left;
	font-family: 'Open Sans Bold', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #474747;
	line-height: 20px;
	padding-bottom: 5px;
	vertical-align: initial;
	min-width: 120px;
}

table.tea-table td .status.tea-status-error, table.tea-table td .tea-status.tea-status-error
	{
	background: #E01F13 !important;
}

.be_search_icon {
	margin-left: -30px;
	color: gray;
}

.cpuAndMemoryDiv {
	height: 50px !important;
	min-width: 120px;
	padding-top: 10px;
}

table.tea-table td div {
	height: 28px;
	line-height: 14px;
	overflow: inherit;
}

table.tea-table td .status, table.tea-table td .tea-status {
	width: 107px;
	display: inline-block;
	font-size: 11px;
	font-family: 'Open Sans Bold', 'Arial', sans-serif;
	font-weight: 400;
	color: #FFF;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	padding: 0;
	margin: 0;
	height: 16px;
	line-height: 16px;
	text-transform: capitalize;
}

.fileuploadError {
	color: red;
}

.be_startingSpinner {
	color: #ffab2e;
}

.threadDumpPanel {
	max-height: 450px;
	overflow: auto;
}

.ruleCreationFooter {
	height: 6%;
	width: 100%;
	padding: 15px;
	text-align: right;
	margin-top: 5px;
}

.ruleCreationContainer {
	height: 77%;
	top: 20%;
	position: absolute;
	width: 97%;
}

.ruleListItem {
	width: 18%;
	text-align: center;
}

.ruleSelectedStep {
	height: 35px;
	width: 20%;
	text-align: center;
	border-radius: 50%;
	background-color: #449A44;
	padding-top: 4%;
	margin-bottom: 5px;
}

.ruleSelectedErrorStep {
	height: 35px;
	width: 20%;
	text-align: center;
	border-radius: 50%;
	background-color: #FB5555;
	padding-top: 4%;
	margin-bottom: 5px;
}

.ruleNormalStep {
	height: 35px;
	width: 20%;
	text-align: center;
	border-radius: 50%;
	background-color: gray;
	padding-top: 4%;
	margin-bottom: 5px;
}

.ruleLabelConnector {
	height: 5px;
	width: 40%;
	background-color: gray;
	margin-top: 14px;
}

.ruleSelectedLabelConnector {
	height: 5px;
	width: 40%;
	background-color: #449A44;
	margin-top: 14px;
}

.ruleGeneralInfoPanel {
	height: 94%;
	margin-left: 16%;
	padding-top: 40px;
}

.setConditionsPanel {
	height: 45%;
	border: 1px solid #cccfd5;
	border-radius: 5px;
}

.setConditionAndOrPanel {
	text-align: center;
	padding-top: 65px;
	width: 10%;
}

.setConditionTablePanel {
	width: 85%;
	padding: 10px;
	padding-left: 20px;
	max-height: 100%;
	min-height: 100%;
	overflow: auto;
}

.setActionsTablePanel {
	border: 1px solid #cccfd5;
	border-radius: 5px;
	max-height: 90%;
	min-height: 90%;
	padding: 10px;
	overflow: auto;
}

.setActionsTable {
	width: 85%;
	padding: 10px;
	padding-left: 20px;
	max-height: 100%;
	min-height: 100%;
	overflow: auto;
}

.addNewActionPanel {
	padding-top: 5px;
	padding-bottom: 5px;
	height: 90%;
	width: 100%
}

.createActionPanel {
	border: 1px solid #cccfd5;
	border-radius: 5px;
	width: 77%;
	height: 100%;
	background-color: #F9F9F9;
}

.createNewActionElement {
	max-height: 100%;
	overflow: auto;
	padding: 10px;
}

.expressionBuilderTreeItem {
	width: 300px;
	height: 55px;
	padding-left: 15px;
	vertical-align: middle;
	background-color: #2197DD;
	border-radius: 5px;
	margin-top: 5px;
	margin-left: 30px;
}

.expressionBuilderTreeDeleteItem {
	display: inline-block;
	vertical-align: top;
	width: 10%;
	text-align: center;
	height: 100%;
	opacity: 0.7;
}

.expressionTreeContainer {
	max-height: 92%;
	min-height: 92%;
	overflow: auto;
}

.expressionBuilderNode {
	background-color: #005E96;
	padding-left: 20px;
	border-radius: 5px;
	width: 150px;
	height: 55px;
}

.expressionBuilderNodePanel {
	position: absolute;
	height: 55px;
	top: 40%;
	width: 223px;
}

.expressionBuilderConnector {
	width: 30px;
	border-top: 1px solid black;
}

.expressionBuilderConnectorStart {
	width: 30px;
	border-top: 1px solid white;
}

.expressionBuilderChild {
	padding-left: 221px;
}

.expressionBuilderDiv {
	border-left: 1px solid gray;
}

.be_loglevelPanel {
	height: 680px;
	width: 100%;
	overflow: auto;
	padding: 10px;
}

.be_loglevelInnerPanel {
	width: 50%;
	height: 100%;
	/*  background-color: #F9F9F9; */
	position: relative;
	display: table-cell;
	padding: 10px;
}

.be_loglevelDeployTable {
	height: 570px;
	max-height: 570px;
	margin-left: 20px;
	padding-left: 20px;
	margin-right: 20px;
	padding-right: 20px;
	overflow-y: auto;
}

.be_loglevelTableSeperator {
	width: 2px;
	height: 100%;
	border-left: 1px dotted black;
	position: relative;
	display: table-cell;
}

.be_loglevelDeployTableFooter {
	font-weight: bold;
	padding-right: 20px;
	padding-left: 40px;
	padding-top: 15px;
}

.be_loglevelRuntimeLoggerTable {
	padding: 20px;
	margin: 20px;
	border: 1px solid gray;
	border-radius: 10px;
}

.be_loglevelRuntimePatternTable {
	margin-left: 20px;
	padding-left: 20px;
	margin-right: 20px;
	padding-right: 20px;
}

.be_groupVariablesPanel .be-table tbody {
	display: table-row-group;
	width: 100%;
	margin-top: 10px;
	max-height: 100%;
}

#updateTRAandLog .be-table tbody {
	display: table-row-group;
	width: 100%;
	margin-top: 10px;
	max-height: 100%;
}

#uploadClassesModal {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 38%;
	height: 330px;
	top: 17%;
	left: 28%;
}

#uploadClassesModal .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 100px;
	background-color: #e2e2e2 !important;
	color: #0a6493;
	padding: 5px 15px 5px 15px !important;
}

#uploadClassesModal .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 160px;
}

#uploadClassesModal .modal-footer {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 70px;
	border-top: 1px solid #cdcdcc;
}

#loadAndDeployClassesDiv {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 40%;
	height: 250px;
	top: 17%;
	left: 28%;
}

#loadAndDeployClassesDiv .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 15%;
	background-color: #e2e2e2 !important;
	color: #0a6493;
	padding: 5px 15px 5px 15px !important;
}

#loadAndDeployClassesDiv .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 72%;
}

#loadAndDeployClassesDiv .modal-footer {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 13%;
	border-top: 1px solid #cdcdcc;
}

.dropdown-menu>li>a {
	padding: 0 20px;
	height: 32px;
	font: 14px 'Open Sans';
	text-align: left;
	white-space: nowrap;
	line-height: 32px;
	color: #484848;
	cursor: pointer;
}

.dropdown-menu>li>a:hover {
	background-image: none !important;
}

.confirmDeletePanel {
	border: 1px solid black;
	border-radius: 5px;
	height: 60% !important;
	width: 50%;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	background-color: gainsboro;
	font-weight: bold;
}

.instanceStateIndicator_other {
	height: 23px !important;
	width: 23px;
	text-align: center;
	border-radius: 50%;
	border: 0.5px solid gray;
	padding: 2px;
	background-clip: content-box;
	background-color: gray;
}

.instanceStateIndicator_stopped {
	height: 23px !important;
	width: 23px;
	text-align: center;
	border-radius: 50%;
	border: 0.5px solid gray;
	padding: 2px;
	background-clip: content-box;
	background-color: #FDFD6A;
}

.instanceStateIndicator_critical {
	height: 23px !important;
	width: 23px;
	text-align: center;
	border-radius: 50%;
	border: 0.5px solid gray;
	padding: 2px;
	background-clip: content-box;
	background-color: #FB5555;
}

.instanceStateIndicator_ok {
	height: 23px !important;
	width: 23px;
	text-align: center;
	border-radius: 50%;
	border: 0.5px solid gray;
	padding: 2px;
	background-clip: content-box;
	background-color: #449A44;
}

.instanceStateIndicator_warning {
	height: 23px !important;
	width: 23px;
	text-align: center;
	border-radius: 50%;
	border: 0.5px solid gray;
	padding: 2px;
	background-clip: content-box;
	background-color: orange;
}

.ruleDisabled {
	background-color: #F9F9F9;
}

.ruleDisabled td {
	color: burlywood !important;
}

input[disabled], select[disabled] {
	background-color: lightgray;
}

.chartsSection {
	margin-left: 45px;
	margin-top: 30px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
	background-color: #e7e7e7;
	border-radius: 5px;
	padding: 10px;
	display: inline-block;
}

table .alertView .tea-table tbody tr:hover td, table .alertView .tea-table tbody .tea-row-highlight td
	{
	border-color: #f8f8f8 !important;
}

#ruleSetOnce {
	max-height: 86%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1100;
	background-color: white;
	opacity: .6;
	cursor: not-allowed;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[disabled]:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px lightgray inset;
}

.noDeploymentsFoundError {
	position: absolute;
	top: 40%;
	left: 42%;
	font-weight: bold;
	color: grey;
}

.staticInfoDiv {
	width: 50%;
	min-height: 30px;
}

#createMigratedApplicationWizard {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 64%;
	height: 650px;
	top: 13%;
	left: 18%;
}

#createMigratedApplicationWizard .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 10%;
	background-color: #e2e2e2 !important;
	color: #0a6493;
	padding: 5px 15px 5px 15px !important;
}

#createMigratedApplicationWizard .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	max-height: 90%;
	min-height: 90%;
	overflow: auto;
}

#createMigratedApplicationWizard .modal-footer {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 10%;
	border-top: 1px solid #cdcdcc;
}

#addApplicationProfile {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 37%;
	height: 590px;
	top: 10%;
	left: 25%;
}

#addApplicationProfile .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 12%;
	background-color: #e2e2e2 !important;
	color: #0a6493;
	padding: 5px 15px 5px 15px !important;
}

#addApplicationProfile .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 76%;
	padding-top: 40px;
}

#addApplicationProfile .modal-footer {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 12%;
	border-top: 1px solid #cdcdcc;
}

#deleteApplicationProfile {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 40%;
	height: 200px;
	top: 17%;
	left: 28%;
}

#deleteApplicationProfile .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 25%;
	color: #930A0A;
	padding: 5px 15px 5px 15px !important;
}

#deleteApplicationProfile .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 47%;
	padding-top: 40px;
}

#deleteApplicationProfile .modal-footer {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 28%;
}

#uploadExternalJarsModal {
	border: none !important;
	padding: 0 0 0 0 !important;
	background-color: #ffffff !important;
	width: 38%;
	height: 330px;
	top: 17%;
	left: 28%;
}

#uploadExternalJarsModal .modal-header {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 50px;
	background-color: #e2e2e2 !important;
	color: #0a6493;
	padding: 5px 15px 5px 15px !important;
}

#uploadExternalJarsModal .modal-body {
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 160px;
}

#uploadExternalJarsModal .modal-footer {
	background-color: #ffffff !important;
	/* IE, Opera and Chrome */
	/* Firefox */
	/* Safari */
	box-sizing: border-box;
	/* IE, Opera and Chrome */
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	height: 70px;
	border-top: 1px solid #cdcdcc;
}

.authenticatedHost {
	height: 16px;
	padding: 0 5px;
	font-family: 'Open Sans Bold', 'Arial', sans-serif;
	border-radius: .25em;
	background: #58a959 !important;
	font-weight: 400;
	font-size: 11px;
	color: #FFF !important;
}
.unauthenticatedHost {
	height: 16px;
	padding: 0 5px;
	font-family: 'Open Sans Bold', 'Arial', sans-serif;
	border-radius: .25em;
	background: red !important;
	font-weight: 400;
	font-size: 11px;
	color:  #FFF !important;
}
table.tea-table tbody tr.profileExpanded:hover{
  background-color: white !important;	
}

.input-dropdown {
    display: inline-block;
    padding: 4px 6px;
    font-size: 14px;
    border-radius: 4px;
    color: #555555;
	box-sizing: border-box;
    width: 100%;
}

.input-dropdown .appPropdropdown-menu {
  position: absolute !important;
  display: none;  
  top: auto;
  left: auto !important;
  float: left;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  max-height: 120px !important;
  height: auto !important;
  overflow: auto !important;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  z-index: 1000000;
   
}
.appPropdropdown-menu li {
    cursor: pointer;
    padding: 5px 5px;
	margin: 5px;
}
.input-dropdown input:focus + .appPropdropdown-menu {
    display: block;
}
.appPropdropdown-menu li:hover{
	background: #3c8dbc;
}
