<section>  				     
    <div class="appManagement_appItem_overlay"></div>
    <div class="row">    	
    	<h4 ng-click="showHost()" ng-class="{'tea-status-error' : hostObj.status.state=='Unreachable','tea-status-ok':hostObj.status.state=='Reachable'}" class="appManagement_appItem_title pull-left">{{hostObj.name}}</h4>
		<span class="operation pull-right" style="padding-right:10px;padding-top:10px;">
      		<a ng-click="showMasterHost()" title="MasterHost Link" style="color:black !important">
      			<i class="fa fa-external-link"></i>
      		</a>
    	</span>
   </div>						
	<div class="appManagement_appItem_funcList">
		<div high-chart chart_object-path="chartoptions"></div>					
	</div>
</section>