* {
	padding: 0;
	border: 0;
	margin: 0;
	}

body, table {
	background: white;
	color: black;
	font-family: "Times New Roman", "Times", serif;
	font-size: 12pt;
	line-height: 16pt;
	}


h1, h2, h3, h4, h5, h6,
th,
.header, .footer,
ul.methods li,
.Parameters .Name {
	font-family: "helvetica", "arial", sans-serif;
	font-size: 11pt;
	line-height: 16pt;
	}

h1 {
	font-size: 16pt;
	line-height: 20pt;
	border-bottom: solid 1px #069;
	padding-bottom: 2px;
	}

h1 .name {
	font-style: italic;
	}

p {
	margin: 8pt 0;
	}


.header {
	float: left;
	width: 100%;
	background: #ebe9db;
	}

.header .ancestors {
	float: left;
	margin: 8px 12px 0 12px;
	}

.header .ancestors li {
	margin: 1px 1px 0 1px;
	padding: 0;
	list-style: none;
	float: left;
	font-size: 11px;
	border-top:    solid 1px #dbd9cb;
	border-right:  solid 1px #bbb9ab;
	border-bottom: solid 1px #ebe9db;
	border-left  : solid 1px #dbd9cb;
	background: #fbf9eb url(bgtab.png) top left repeat-x;
	}

.header .ancestors li.current {
	border-bottom: solid 1px white;
	background: white;
	}

.header .ancestors a {
	text-decoration: none;
	color: black;
	padding: 1px 15px 0px 15px;
	float: left;
	}

.header .ancestors a:hover {
    text-decoration: underline;
    color: #069;
    padding: 1px 15px 0 15px;
    float: left;
	}

.footer {
	clear: both;
	float: left;
	font-size: 10px;
	line-height: 12px;
    margin: 30pt 20pt 2pt 0;
	padding: 1px;
	color: #ccc;
	border-top: solid 1px #eee;
	}

.footer a {
	color: #ccc;
	text-decoration: none;
	}
.footer a:hover {
	color: #069;
	text-decoration: underline;
	}

.pageBody {
	padding: 25pt 20pt;
	clear: both;
}


.item {
	position: relative;
	top: 0;
	left: 0;
	margin-top: 20pt;
	}

.item h2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 18%;
	padding: 0% 1%;
	text-align: right;
	}

.item .content {
	position: relative;
	top: 0;
	left: 20%;
	width: 78%;
	min-height: 1em;
	padding: 0 1%;
	}

.item table.Parameters {
	border-bottom: solid 1px #069;
	width: 100%;
	}


.item table.Parameters th {
	background: #069;
	color: white;
	text-align: left;
	}

.item table.Parameters th.Name,
.item table.Parameters th.Type {
	width: 15%;
	}

.item table.Parameters th.Signature {
	width: 30%;
	}

.item table.Parameters td {
	border-bottom: solid 1px #069;
	}

.item table.Parameters th,
.item table.Parameters td {
    vertical-align: text-top;
	padding: 3pt 10pt 2pt 10pt;
	margin: 0;
	}

ul.methods {
	margin: 8pt 0;
	list-style: none;
	}

ul.methods li {
	font-size: 10pt;
	}


.content code,
.content pre {
	font-family: "lucida console", monaco, monospace;
	font-size: 9pt;
	line-height: 19pt;
	}

.content code.Signature {
	display: block;
	border-bottom: solid 1px #eee;
	margin-bottom: -3pt;
	}

.item table.Parameters td.Signature {
	font-size: 9pt;
	}
