table {
  width: 100%;
  display: block;
}

thead, tbody, tr, th, td {
  display: block;
}

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

tbody {
  overflow-y: auto;
  height: 200px;
}

tbody > tr > td,
thead > tr > th {
  float: left;
}

.column-sm {
  width: 20%;
  overflow-x: auto;
}

.column-lg {
  width: 60%;
  overflow-x: auto;
}

.file-drop-zone { 
  border: dotted 3px lightgray;
}

.file-over-success { 
  border: dotted 3px lightgreen;
}

.file-over-danger { 
  border: dotted 3px red;
}
