<div class='bottom-pad top-pad divider-bottom'>
  <ng-select *ngIf='allowSwitchProject'
    [allowClear]="true"
    [options]="projectCandidates"
    (selected)="onProjectSelect($event)"
    (deselected)="onProjectUnselect($event)"
    placeholder="{{i18n('No project selected')}}" i18n-placeholder></ng-select> 
  <div *ngIf='!allowSwitchProject'>{{input.projectName}}</div>
</div>
<div class='artifacts'>
  <div *ngIf='!input.projectId'>
    <p i18n>{{i18n('Please select a project to view its artifacts.')}}</p>
  </div>
  <div *ngIf='input.projectId'>
    <div *ngIf='artifactCandidates; then artifactList; else loading'></div>
    <ng-template #loading>
      <p>    
        <i class='fa fa-refresh fa-spin'></i><ng-container i18n>{{i18n(' Loading... ')}}</ng-container> 
      </p>
    </ng-template>
    <ng-template #artifactList>
      <div class='artifact-filter'>
        <div class="input-group input-group-sm">
          <span class="input-group-btn">
            <button class="btn btn-outline-primary artifact-filter-addon">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </span>
          <input type="text" class="form-control" placeholder="{{i18n('Search for...')}}" i18n-placeholder [(ngModel)]='artifactFilter'>
        </div>
      </div>
      <div *ngIf='artifactCandidates.length === 0; then noArtifacts; else hasArtifacts'></div>
      <ng-template #noArtifacts>
        <p i18n>{{i18n('No accessible artifacts in this project.')}}</p>
      </ng-template>
      <ng-template #hasArtifacts>
        <div *ngIf='visibleArtifacts.length === 0; then noMatches; else visibleList'></div>
        <ng-template #noMatches>
          <p i18n>{{i18n('No Artifact matches the search criteria.')}}</p>
        </ng-template>
        <ng-template #visibleList>
          <div class="list-group artifact-list">
            <a class='list-group-item' *ngFor='let c of visibleArtifacts'>
              <div class="row">
                <div class="col-sm-9">
                  <div class='no-decoration'>
                    <a [class.clickable]='!c.isCheckedOutArtifact' [class.disabled-candidate]='c.isCheckedOutArtifact'>
                      <input type="checkbox" [disabled]='c.isCheckedOutArtifact' 
                        [ngModel]='isSelected(c)' (ngModelChange)='selectArtifact(c, $event)'>
                      <span class='item-title' (click)='onToggleSelection($event, c)' > {{description(c)}}</span>
                    </a>
                  </div>
                </div>
                <div class="col-sm-3" *ngIf='showViewContent()'>
                  <button class='btn btn-outline-primary btn-xs' (click)='onViewContent(c)' i18n>{{i18n('View Content')}}</button>
                </div>
              </div>
            </a>
          </div>
          <mat-slide-toggle [(ngModel)]="selectAll" color="primary">
            {{getMessage()}}
          </mat-slide-toggle> 
          <!-- <toggle-switch [size]='"mini"' [(value)]='selectAll'></toggle-switch> -->
        </ng-template>
      </ng-template>
    </ng-template>
  </div>
</div>