<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tibco.cep.studio.core.projectResourceValidator">
		<validator
			Validator="com.tibco.cep.decision.tree.core.DecisionTreeValidator"
			extensions="dtree">
		</validator>
   </extension>
</plugin>
