.role-list {
}

.user-list {
}


.list-group {
  height: 24vh;
  max-height: 24vh;
  overflow-y: auto;
}

.panel-body.empty-msg {
  height: 24vh;
  max-height: 24vh;
  overflow-y: auto;
}

.list-group > .list-group-item {
  padding: 4px 15px; 
}

.panel-heading {
  padding: 6px 15px;
}

.fa-minus, .fa-plus {
  color: lightgrey;
}

.fa-minus.active {
  color: coral;
}

.fa-plus.active {
  color: green;
}

.instance-all-toggle {

}

.instance-input {
  position: relative;
  top:-18px;
  left: 36px;
  width: calc(100% - 36px);
}