<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tibco.cep.studio.dashboard.ui.chartcomponent.editor.ChartEditor"
            default="true"
            extensions="chart"
            icon="icons/chart_16x16.gif"
            id="com.tibco.cep.studio.dashboard.ui.chartcomponent.editor.ChartEditor"
            name="Chart Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="com.tibco.cep.studio.ui.category/com.tibco.cep.studio.dashboard.ui.category"
            class="com.tibco.cep.studio.dashboard.ui.chartcomponent.wizard.ChartWizard"
            hasPages="true"
            icon="icons/chart_16x16.gif"
            id="com.tibco.cep.studio.dashboard.ui.chartcomponent.wizard.NewChartWizard"
            name="Chart"
            preferredPerspectives="com.tibco.cep.studio.application.perspective">
         <description>
            Create a new Chart
         </description>
      </wizard>
   </extension>
   	<extension
	      point="com.tibco.cep.studio.core.projectResourceValidator">
	   <validator
	         Validator="com.tibco.cep.studio.dashboard.ui.validator.DashboardResourceValidator"
	         extensions="chart">
	   </validator>
	</extension>  
	   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            default-charset="UTF-8"
            file-extensions="chart"
            id="com.tibco.cep.studio.core.be.views.content-type"
            name="BusinessEvent Views Resource"
            priority="normal">
      </content-type>
   </extension> 
   <extension
         point="com.tibco.cep.studio.core.refactoringParticipant">
      <refactoringParticipant
            participant="com.tibco.cep.studio.dashboard.ui.chartcomponent.refactor.ChartComponentRefactoringParticipant">
      </refactoringParticipant>
    </extension>   
	<extension
	      point="com.tibco.cep.studio.dashboard.ui.imageContributor">
	   <imageContributor
	         contributor="com.tibco.cep.studio.dashboard.ui.chartcomponent.ChartComponentImageContributor">
	   </imageContributor>
	</extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          category="com.tibco.cep.studio.ui.category"
          class="com.tibco.cep.studio.dashboard.ui.chartcomponent.preview.ChartPreviewView"
          fastViewWidthRatio="0.25"
          icon="icons/chart_16x16.gif"
          id="com.tibco.cep.studio.dashboard.ui.chartcomponent.preview.ChartPreviewView"
          name="Chart Preview"
          restorable="true">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="com.tibco.cep.studio.application.perspective">
       <view
             closeable="true"
             id="com.tibco.cep.studio.dashboard.ui.chartcomponent.preview.ChartPreviewView"
             minimized="false"
             moveable="true"
             ratio="0.75"
             relationship="bottom"
             relative="com.tibco.cep.studio.projectexplorer.view"
             showTitle="true"
             standalone="false"
             visible="false">
       </view>
    </perspectiveExtension>
 </extension>
 <extension
       point="com.tibco.cep.studio.dashboard.ui.componentcreationtoolbar">
    <componentcreator
          contributor="com.tibco.cep.studio.dashboard.ui.chartcomponent.toolbar.contributor.ChartToolbarContributor"
          priority="0"></componentcreator>
 </extension>
</plugin>
