<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="com.tibco.cep.studio.ui.category/com.tibco.cep.studio.dashboard.ui.category"
            class="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.wizard.NewStateMachineComponentWizard"
            icon="icons/statemachinecomponent_16x16.png"
            id="com.tibco.cep.studio.dashboard.ui.insight.newstatemachinecomponentwizard"
            name="State Model Component"
            preferredPerspectives="com.tibco.cep.studio.application.perspective">
         <description>
            Create a new State Model Component
         </description>
      </wizard>         
   </extension>
	<extension
	      point="com.tibco.cep.studio.core.projectResourceValidator">
	   <validator
	         Validator="com.tibco.cep.studio.dashboard.ui.validator.DashboardResourceValidator"
	         extensions="smcomponent">
	   </validator>
	</extension>   
   <extension
         point="com.tibco.cep.studio.core.refactoringParticipant">
      <refactoringParticipant
            participant="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.refactor.StateMachineComponentRefactoringParticipant">
      </refactoringParticipant>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            default-charset="UTF-8"
            file-extensions="smcomponent"
            id="com.tibco.cep.studio.core.be.views.content-type"
            name="BusinessEvent Views Resource"
            priority="normal">
      </content-type>
   </extension>      
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="State Model Component Editor"
            extensions="smcomponent"
            icon="icons/statemachinecomponent_16x16.png"
            class="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor"
            contributorClass="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentActionBarContributor"
            id="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor"
            >
      </editor> 
   </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
       <propertyContributor
             contributorId="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor">
          <propertyCategory
                category="smcomponentproperties"></propertyCategory>
       </propertyContributor>
    </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
       <propertyTabs
             contributorId="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor">
          <propertyTab
                category="smcomponentproperties"
                id="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.SMCompGeneralTab"
                image="icons/generalsettings_16x16.gif"
                label="General">
          </propertyTab>
          <propertyTab
                category="smcomponentproperties"
                id="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.SMVizGeneralTab"
                image="icons/generalsettings_16x16.gif"
                label="General">
          </propertyTab>
          <propertyTab
                afterTab="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.GeneralTab"
                category="smcomponentproperties"
                id="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.ContentData"
                image="icons/contentdatasettings_16x16.gif"
                label="Content Data">
          </propertyTab>
          <propertyTab
                afterTab="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.ContentData"
                category="smcomponentproperties"
                id="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.ContentAlerts"
                image="icons/contentalertsettings_16x16.gif"
                label="Content Alerts">
          </propertyTab>
          <propertyTab
                afterTab="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.ContentAlerts"
                category="smcomponentproperties"
                id="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.IndicatorData"
                image="icons/indicatordatasettings_16x16.gif"
                label="Indicator Data">
          </propertyTab>
          <propertyTab
                afterTab="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.IndicatorData"
                category="smcomponentproperties"
                id="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.IndicatorAlerts"
                image="icons/indicatoralertsettings_16x16.gif"
                label="Indicator Alerts">
          </propertyTab>
          <propertyTab
                afterTab="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.IndicatorAlerts"
                category="smcomponentproperties"
                id="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.RelatedCharts"
                image="icons/relatedchartssettings_16x16.gif"
                label="Related Charts">
          </propertyTab>
       </propertyTabs>
    </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections
             contributorId="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor">
          <propertySection
                class="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.properties.GeneralSection"
                enablesFor="1"
                id="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.properties.SMCompGeneralSection"
                tab="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.SMCompGeneralTab">
             <input
                   type="com.tibco.cep.studio.dashboard.core.insight.model.configs.LocalStateMachineComponent">
             </input>
          </propertySection>
          <propertySection
                class="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.properties.StateVisualizationGeneralSection"
                id="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.properties.SMVizGeneralSection"
                tab="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.SMVizGeneralTab">
             <input
                   type="com.tibco.cep.studio.dashboard.core.insight.model.configs.LocalStateVisualization">
             </input>
          </propertySection>
          <propertySection
                class="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.properties.ContentDataSection"
                enablesFor="1"
                filter="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.properties.ContentSettingsFilter"
                id="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.properties.ContentDataSection"
                tab="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.ContentData">
             <input
                   type="com.tibco.cep.studio.dashboard.core.insight.model.configs.LocalStateVisualization">
             </input>
          </propertySection>
          <propertySection
                class="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.properties.ContentAlertsSection"
                enablesFor="1"
                filter="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.properties.ContentSettingsFilter"
                id="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.properties.ContentAlertsSection"
                tab="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.ContentAlerts">
             <input
                   type="com.tibco.cep.studio.dashboard.core.insight.model.configs.LocalStateVisualization">
             </input>
          </propertySection>
          <propertySection
                class="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.properties.IndicatorDataSection"
                enablesFor="1"
                filter="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.properties.IndicatorSettingsFilter"
                id="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.properties.IndicatorDataSection"
                tab="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.IndicatorData">
             <input
                   type="com.tibco.cep.studio.dashboard.core.insight.model.configs.LocalStateVisualization">
             </input>
          </propertySection>
          <propertySection
                class="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.properties.IndicatorAlertsSection"
                enablesFor="1"
                filter="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.properties.IndicatorSettingsFilter"
                id="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.properties.IndicatorAlertsSection"
                tab="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.IndicatorAlerts">
             <input
                   type="com.tibco.cep.studio.dashboard.core.insight.model.configs.LocalStateVisualization">
             </input>
          </propertySection>
          <propertySection
                class="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.properties.RelatedChartsSection"
                enablesFor="1"
                id="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.properties.RelatedChartsSection"
                tab="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.editor.StateMachineComponentEditor.RelatedCharts">
             <input
                   type="com.tibco.cep.studio.dashboard.core.insight.model.configs.LocalStateVisualization">
             </input>
          </propertySection>
       </propertySections>
    </extension>
    <extension
          point="com.tibco.cep.studio.dashboard.ui.imageContributor">
       <imageContributor
             contributor="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.StateMachineComponentImageContributor">
       </imageContributor>
    </extension>
    <extension
          point="com.tibco.cep.studio.dashboard.ui.componentcreationtoolbar">
       <componentcreator
             contributor="com.tibco.cep.studio.dashboard.ui.statemachinecomponent.toolbar.contributor.StateMachineComponentToolbarContributor"
             priority="1">
       </componentcreator>
    </extension>
</plugin>
