<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" verbose="5">
  <test name="ESP-Tests">
    <groups>
      <run>
       <include name="init" />
       <include name="runtime" />
      </run>
    </groups>

    <classes>

      <class name="com.tibco.cep.query.stream.core.AggrDistinctPartitionedStreamTest" />
      <class name="com.tibco.cep.query.stream.core.AggrPartitionedStreamTest" />        
      <class name="com.tibco.cep.query.stream.core.DistinctFilteredStreamTest" />
      <class name="com.tibco.cep.query.stream.core.FilteredStreamTest" />
      <class name="com.tibco.cep.query.stream.core.JoinedOrWithInStreamTest" />
      <class name="com.tibco.cep.query.stream.core.JoinedOrWithInStreamTrackerTest" />
      <class name="com.tibco.cep.query.stream.core.JoinedOrWithNotInStreamTest" />
      <class name="com.tibco.cep.query.stream.core.JoinedStreamTest" />
      <class name="com.tibco.cep.query.stream.core.JoinedWithExists2StreamTest" />
      <class name="com.tibco.cep.query.stream.core.JoinedWithExistsStreamTest" />
      <class name="com.tibco.cep.query.stream.core.JoinedWithInStreamTest" />
      <class name="com.tibco.cep.query.stream.core.JoinedWithNotExistsStreamTest" />
      <class name="com.tibco.cep.query.stream.core.JoinedWithNotInStreamTest" />
      <class name="com.tibco.cep.query.stream.core.PartitionedStreamTest" />
      <class name="com.tibco.cep.query.stream.core.SelfJoinedStreamTest" />
      <class name="com.tibco.cep.query.stream.core.SlidingWindowPurgeTest" />
      <class name="com.tibco.cep.query.stream.core.SlidingWindowTest" />
      <class name="com.tibco.cep.query.stream.core.SortedStreamDecoratorTest" />
      <class name="com.tibco.cep.query.stream.core.SortedStreamTest" />
      <class name="com.tibco.cep.query.stream.core.StaticQueryAggSortTruncTest" />
      <class name="com.tibco.cep.query.stream.core.StaticQueryDistinctTest" />
      <class name="com.tibco.cep.query.stream.core.StaticQueryTruncTest" />
      <class name="com.tibco.cep.query.stream.core.TimeWindowLoopTest" />
      <class name="com.tibco.cep.query.stream.core.TimeWindowPurge2Test" />
      <class name="com.tibco.cep.query.stream.core.TimeWindowPurgeTest" />
      <class name="com.tibco.cep.query.stream.core.TimeWindowTest" />
      <class name="com.tibco.cep.query.stream.core.TruncatedStreamTest" />
      <class name="com.tibco.cep.query.stream.core.TumblingWindowTest" />

      <!-- Non TestNG tests -->
      <!--
      <class name="com.tibco.cep.query.stream.core.perf.RawCQAddEvtSlidWinAggrPerfTest" />
      <class name="com.tibco.cep.query.stream.core.perf.RawCQAddEvtTumWinAggrPerfTest" />      
      <class name="com.tibco.cep.query.stream.core.perf.SlidingWindowPerfTest" />
      <class name="com.tibco.cep.query.stream.core.perf.VWAPTest" />
      -->

      <class name="com.tibco.cep.query.stream.rete.PrimaryLocalCacheTest" />
      <class name="com.tibco.cep.query.stream.rete.QueryMonitorTest" />
      <class name="com.tibco.cep.query.stream.rete.ReteBothAddDelEvtAggrTest" />
      <class name="com.tibco.cep.query.stream.rete.ReteCQAddDelEvtAggrTest" />
      <class name="com.tibco.cep.query.stream.rete.ReteCQAddDelEvtSlidingWAggrTest" />
      <class name="com.tibco.cep.query.stream.rete.ReteCQAddModConTest" />
      <class name="com.tibco.cep.query.stream.rete.ReteCQClassHierarchyTest" />
      <class name="com.tibco.cep.query.stream.rete.ReteCQJoinConTest" />
      <class name="com.tibco.cep.query.stream.rete.ReteSSAddEvtAggrTest" />
      <class name="com.tibco.cep.query.stream.rete.ReteSSAddEvtPassThruBridgeTest" />
      <class name="com.tibco.cep.query.stream.rete.ReteSSEvtTruncBridgeTest" />

      <class name="com.tibco.cep.query.stream.rete.perf.LocalCachePerfTest" />
      <class name="com.tibco.cep.query.stream.rete.perf.ReteCQAddEvtSlidWinAggrPerfTest" />
      <class name="com.tibco.cep.query.stream.rete.perf.ReteSSAddEvtPassThruBridgePerfTest" />

      <!-- Continuous Query V2 tests (uses above continuous query tests) -->

      <class name="com.tibco.cep.query.stream.rete.impl_v2.ReteBoth_V2_AddDelEvtAggrTest" />
      <class name="com.tibco.cep.query.stream.rete.impl_v2.ReteCQ_V2_AddDelEvtAggrTest" />
      <class name="com.tibco.cep.query.stream.rete.impl_v2.ReteCQ_V2_AddDelEvtSlidingWAggrTest" />
      <class name="com.tibco.cep.query.stream.rete.impl_v2.ReteCQ_V2_AddModConTest" />
      <class name="com.tibco.cep.query.stream.rete.impl_v2.ReteCQ_V2_ClassHierarchyTest" />
      <class name="com.tibco.cep.query.stream.rete.impl_v2.ReteCQ_V2_JoinConTest" />
      <class name="com.tibco.cep.query.stream.rete.impl_v2.ReteSS_V2_AddEvtAggrTest" />
      <class name="com.tibco.cep.query.stream.rete.impl_v2.ReteSS_V2_AddEvtPassThruBridgeTest" />
      <class name="com.tibco.cep.query.stream.rete.impl_v2.ReteSS_V2_EvtTruncBridgeTest" />

      <!--
      <class name="com.tibco.cep.query.stream.util.AppendOnlyQueuePerfTest" />
      <class name="com.tibco.cep.query.stream.util.AppendOnlyQueuePoolTest" />
      <class name="com.tibco.cep.query.stream.util.AppendOnlyQueueTest" />
      <class name="com.tibco.cep.query.stream.util.ArrayPoolTest" />
      <class name="com.tibco.cep.query.stream.util.CopyOnWriteArrayHolderTest" />
      <class name="com.tibco.cep.query.stream.util.CustomHashSetPerfTest" />
      <class name="com.tibco.cep.query.stream.util.CustomHashSetTest" />
      <class name="com.tibco.cep.query.stream.util.FixedKeyHashMapTest" />
      <class name="com.tibco.cep.query.stream.util.FixedKeyHashMapPerfTest" />
      <class name="com.tibco.cep.query.stream.util.LazyContainerTreeMapTest" />
      <class name="com.tibco.cep.query.stream.util.SimplePoolTest" />
	  <class name="com.tibco.cep.query.stream.util.SingleElementCollectionTest" />
	  -->

    </classes>
  </test>
</suite>