<?xml version="1.0" encoding="UTF-8"?>
<menu:Menu command="" icon="" id="" isSubMenu="" name="" visible="" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:menu="http://www.tibco.com/cep/diagramming/menu" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.tibco.com/cep/diagramming/menu menu.xsd ">
  <pattern pattern=""/>
  <items command="" icon="" id="" name="" visible="" xsi:type="menu:Item">
    <pattern pattern=""/>
  </items>
</menu:Menu>
