<table border="0" cellspacing="0" cellpadding="0" width="100%" height="100%">
    <tr height="150px">
        <td id="contentpanel" align="center" class="conditionpnl" colspan="3">
            <table border="0" cellspacing="0" cellpadding="0" width="90%">
                <form name="actualinputform" action="" onsubmit="return false;">
                    <td align="left">
                        #set ($boolvalue = "false")
                        #if ($values.size() != 0)
                            #set ($boolvalue = $values.get(0).value)
                        #end
                        #if ($boolvalue == "true")    
                            <input type="radio" id="radiotrue" name="value0field" value="true" checked><font class="inputlabel" color="#FFFFFF">True</font>
                        #else
                            <input type="radio" id="radiotrue" name="value0field" value="true"><font class="inputlabel" color="#FFFFFF">True</font>
                        #end
                        <br>
                        <br>
                        #if ($boolvalue == "false")    
                            <input type="radio" id="radiofalse" name="value0field" value="false" checked><font class="inputlabel" color="#FFFFFF">False</font>
                        #else
                            <input type="radio" id="radiofalse" name="value0field" value="false"><font class="inputlabel" color="#FFFFFF">False</font>
                        #end
                    </td>
                </form>
            </table>
        </td>
    </tr>
    <tr id="buttonPanel" class="conditionbtnpnl">
        <td valign="middle">
            <a class="button" href="#" onclick="this.blur();okClicked();" style="width:100px"><span>Ok</span></a>
        </td>
        <td>    
            <a class="button" href="#" onclick="this.blur();cancelClicked();" style="width:100px"><span>Cancel</span></a>
        </td>
        <td width="100%">
            &nbsp;
        </td>
    </tr>
</table>