<table border="1" cellspacing="0" cellpadding="0" width="100%" height="100%">
    <tr height="150px">
        <td id="contentpanel" align="center" class="conditionpnl">
            <font class="pageleterrortext">$errormessage</font>
        </td>
    </tr>
    <tr id="buttonPanel" class="conditionbtnpnl">
        <td valign="middle" align="left">
            <a class="button" href="#" onclick="this.blur();cancelClicked();"><span>Ok</span></a>
        </td>
    </tr>
</table>