<div dir="{{dirValue}}">
	<app-nav-bar class="toppane"></app-nav-bar>
<!-- 	<div *ngIf='isLoggedIn' class="tc-navigation-primary tce-sub-header">
		<ul class="nav center-align">
			<li class="nav-item"><a class="nav-link"
				routerLinkActive='active' [routerLink]="['/workspace']">Workspace
			</a></li>
			<li class="nav-item"><a class="last-nav nav-link"
				routerLinkActive='active' [routerLink]="['/dashboard']">Dashboard
			</a></li>
		</ul>
	</div> -->
	<div id="main-body" [ngStyle]= "{'max-height' : dirValue == 'ltr' ? 'bodyMaxHeight' : '100%'}" class="content">
		<router-outlet></router-outlet>
	</div>
	<div class='ams-footer 	ams-footer-content'>
		<img class='ams-footer-logo' src="assets/img/ams-footer-logo.png" class="{{isRtl() ? 'pull-right' : 'pull-left'}}"
			alt="TIBCO"> <span class="{{isRtl() ? 'pull-right' : 'pull-left'}} copyright"><ng-container i18n>{{i18n('TIBCO')}}</ng-container>
			{{productName}}<ng-container i18n>{{i18n(' Copyright')}}</ng-container> © {{copyRightYear}}<ng-container i18n>{{i18n(' TIBCO Software Inc.
			All rights reserved. Proprietary and Confidential.')}}</ng-container></span> <span
			class="{{isRtl() ? 'pull-left' : 'pull-right'}} build-info"> {{buildInfo}} |
			{{buildTimestamp | date : 'shortDate'}}</span>
	</div>
</div>



