.timeline {
	position: relative;
  padding-top: 24px;
  padding-left: 0px;
  padding-right: 0px;
}

.timeline:before {
	content: '';
	position: absolute;
	top: 30px;
	bottom: 0;
	left: 50%;
	margin-left: -2px;
	width: 3px;
/* 	background: #eeeeee; */
	background: #23527c;
}

.timeline-right {
  text-align: right;
}

.timeline-left:before {
  left: 0%;
  background: #727272;
  width: 2px;
  top: 100px;
}

.timeline-right:before {
  right: 0%;
  background: #727272;
  width: 2px;
  top: 100px;
}

.timelineitem {
  margin-bottom: 20px;
  position: relative;
}

.timelineitemflip {
	margin-bottom: 20px;
	position: relative;
	/* margin-left: 50%; */
	/* padding-left: 40px; */
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.timelineitem:before,
.timelineitem:after {
  content: " ";
  display: table;
}

.timelineitem:after {
  clear: both;
}

.timelineitemflip:before,
.timelineitemflip:after {
  content: " ";
  display: table;
}

.timelineitemflip:after {
  clear: both;
}

.timeline-panel {
  /* width: calc(50% - 40px); */
  background: #FFF;
  float: left;
  position: relative;
  border: 1px solid #d4d4d4;
  max-width: calc(100% - 40px);
  overflow-x: auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline-body {
  padding: 10px;
  padding-top: 15px;
  overflow: auto;
}

.header-img {
  width: 24px;
  height: 24px;
  float: left;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 9px;
}

.header-img-rtl {
  width: 24px;
  height: 24px;
  float: right;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 9px;
}

.header {
  font-size: 24px;
  font-weight: 600;
}

.timeline-search {
  font-size: 16px;
  font-weight: normal;
  padding-top: 26px;
  height: 26px;
}

.timeline-header-button {
  font-size: 14px;
  font-weight: normal;
  color: #212121;
  padding-top: 8px;
}

.timeline-header {
  width: 100%;
  font-family: SourceSansPro;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #727272;
  line-height: 1.5;
}

div {
  font-family: 'Source Sans Pro';
}

div > .timeline-panel:after {
    position: absolute;
    top: 16px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

div > .timeline-panel:before {
    position: absolute;
    top: 15px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timelineitemflip > .item-placeholder > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timelineitemflip > .item-placeholder > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timelineitemflip > .item-placeholder > .timeline-panel {
	margin-left: calc(50% + 40px);
/* 	padding-left: 40px; */
}

.timeline-badge-date {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 24px;
  margin-left: -8px;
  margin-bottom: 24px;
  color: #727272;
}

.timeline-badge-date-left {
  left: 0%;
}

.timeline-badge-date-right {
  /* float: right; */
  text-align: right;
}

.timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
/*   background-color: #999999; */
  z-index: 1;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline-badge-left {
  left: 0%;
  background: #f8f8f8;
  -webkit-box-shadow: 0;
  box-shadow: 0 0;
}

.timeline-badge-right {
  right: 0%;
  margin-right: -25px;
  background: #f8f8f8;
  -webkit-box-shadow: 0;
  box-shadow: 0 0;
}

/* .timeline-badge-rtl {
  right: 50%;
} */

.item-placeholder {
	display: inline-block;
  position: relative;
  width: 100%;
  margin: 5px 0;
}

.timestamp-inline {
  position: relative;
  width: 100%;
  align-items: end;
  text-align: end;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 2px;
  font-size: 12px;
  color: #727272;  
}

.timestamp {
	position: absolute;
	top: 25px;
	line-height: 1.6em;
	left: 50%;
	padding: 5px 10px 5px 40px;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timelineitemflip > .timestamp {
	left: auto;
	right: 50%;
	padding: 5px 40px 5px 10px;
}

.timeline-panel-header {
	font-weight: 600;
	font-size: 1.4em;
  padding-top: 15px;
  /* border-bottom: 1px solid lightgray; */
}

.timeline-panel-summary {
	font-weight: 200;
	font-size: 1.15em;
  padding-top: 5px;
  /* border-bottom: 1px solid lightgray; */
}

.timeline-actions {
	padding: 20px;
}

.timeline-spacer {
  height: 16px;
  overflow: hidden;
  background: #f8f8f8;
  top: 20px;
  width: 12px;
  margin-left: -8px;
  position: absolute;
}

.timeline-spacer-btm {
  top: 50px;
}

.userProfile {
  padding-right: .5em;
}

.btn-filter {
  border-radius: 50%;
  position: absolute;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
}

.scrollable-content {
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: -16px; /* equal to the container margin to keep the scrollbar on the right side of the card */
  margin-top: 0px;
  margin-bottom: -16px;
  padding: 24px;
}

.scrollable-content:hover {
  overflow-y: scroll;
  padding-right: 8px;
}

.scrollable-content-right:hover {
  overflow-y: scroll;
  padding-left: 8px;
  padding-right: 24px;
  margin-left: 0px;
}

.faded-container {
  position: relative;
  height: calc(100% - 103px); /* the size of the search/filter area */
}

.faded-content {
  height: 100%;
}

.faded-content-sm {
  height: calc(100% - 165px); /* the height of the filter section */
}

.fade-opacity {
  pointer-events: none;
  position:absolute;
  z-index:50;
  right:0; left:0;
  height:60px;
}

.fade-up {
  /* top:0;  */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
  background: linear-gradient(to top, rgba(248, 248, 248,0) 0%,rgba(248, 248, 248,1) 70%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

.fade-down {
  bottom:0; 
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
  background: linear-gradient(to bottom, rgba(248, 248, 248,0) 0%,rgba(248, 248, 248,1) 70%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

.timelineitem {
	margin-bottom: 20px;
	position: relative;
	/* margin-left: 50%; */
	/* padding-left: 40px; */
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.timelineitem:before,
.timelineitem:after {
  content: " ";
  display: table;
}

.timelineitem:after {
  clear: both;
}

.timelineitem-left > .item-placeholder > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timelineitem-left > .item-placeholder > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timelineitem-left > .item-placeholder > .timeline-panel {
	margin-left: 40px;
/* 	padding-left: 40px; */
}

.timelineitem-right > .item-placeholder > .timeline-panel:before {
  border-right-width: 0;
  border-left-width: 15px;
  right: -15px;
  left: auto;
}

.timelineitem-right > .item-placeholder > .timeline-panel:after {
  border-right-width: 0;
  border-left-width: 14px;
  right: -14px;
  left: auto;
}

.timelineitem-right > .item-placeholder > .timeline-panel {
  margin-right: 40px;
  float: right;
/* 	padding-left: 40px; */
}