/**
 * @description %DESCRIPTION%
 * @author %AUTHOR%
 */
rule %RULE_NAME% {
	attribute {%RANK_FUNCTION%
		priority = %PRIORITY%;
		forwardChain = %FORWARD_CHAIN%;
	}
	declare {
		%DECLARATIONS%
	}
	when {
		%CONDITIONS%
	}
	then {
		%ACTIONS%
	}
}