/**
 * @description %DESCRIPTION%
 */
virtual %RETURN_TYPE% rulefunction %RULE_NAME% {
	attribute {%ALIAS_STATEMENT%
		validity = %VALIDITY%;
	}
	scope {
		%SCOPE%
	}
	body {
		%BODY%
	}
}