<div [@sidebarState]='sidebarState' 
	class='navigator navigator-container'>
	<!-- <span class="full-width">
		<button class="btn btn-primary-outline" (click)='toggleSidebarState()'>
			<i class="fa fa-2x fa-bars pull-right"></i>
		</button>
	</span>
	<div class='divider'></div> -->
	<!-- 
		<span *ngIf='minimizedState'><button class="btn btn-primary-outline" [routerLink]="['/dashboard']"><i class="fa fa-2x fa-dashboard"></i></button></span>
		<span *ngIf='!minimizedState'><button class="btn btn-primary-outline" [routerLink]="['/dashboard']"><i class="fa fa-2x fa-dashboard"></i></button>Dashboard</span>
	 -->
	<!-- <div class='divider'></div> -->
		<!-- <div class="open-editor-container">
	</div> -->
	<div class="navigation-container">
		<content-group [docked]='minimizedState'></content-group>
	</div>

</div>