.sidebar {
	background: #FFF;
	z-index: 100;
}

.navigator-container {
  /* background-color: #FFF; */
  border-radius: 0 3px 3px 3px;
  overflow-x: hidden;
  overflow-y: auto;
}

.navigator {
	height: 100%;
}

.open-editor-container {
  margin-bottom: 2%;
}

.navigation-container {
  /* height: 60vh; */
  height: 100%;
}