<section> 
	<div class="instanceConfigurationItem">					  		
        <div class="row">
  			<span class="instanceConfigurationItem_title ng-binding pull-left operation" data-toggle="collapse" data-target="#{{beChartConfig.id}}">
  				<i class="fa fa-chevron-down" style="padding-right: 10px;"></i>
  				{{beChartConfig.displayName}}
  			</span>
  			<!-- <span ng-if="beChartConfig.isBucketed" class="pull-right" style="padding-top: 10px;padding-right: 15px;">
  				<select style="width:110px;" ng-model="dimension" ng-change="changeThresholdDimension(dimension)">
            		<option value="minutes">5 Minutes</option>
            		<option value="hours" selected>Hourly</option>    
         		</select>
			</span> -->
        </div>
		<div id="{{beChartConfig.id}}" class="panel-collapse collapse in">
			<div class="monitoringPanel">
				<div high-chart chart_object-path="chartoptions"></div>	
			</div>
		</div>
		<div>
		</div>
	</div>
</section>