<div class='datetime-picker'>
  <div class='row'>
    <div class='col-sm-12'>
      <div style='display:inline-block;'>
        <!-- <datepicker id='date' name='date' [(ngModel)]="date" [showWeeks]="false"></datepicker> -->
        <bs-datepicker-inline  name='date' (bsValueChange)="onDateChange($event)" [bsConfig]="{ showWeekNumbers : false, containerClass : 'theme-dark-blue', selectFromOtherMonth: true }"></bs-datepicker-inline>
        <!-- <mat-datepicker id='date' name='date' [(ngModel)]="date" ></mat-datepicker> -->
      </div>
    </div>
  </div>
  <div class='row vertical-align'>
    <div class='col-sm-3 text-right'>
      <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
    </div>
    <div class='col-sm-9'>
      <timepicker [(ngModel)]="time" [showMeridian]="false" [showSeconds]="true" [showSpinners]='true' [readonlyInput]="false"></timepicker>
    </div>
  </div>
</div>