<div class="input-group input-group-sm">
  <span class="input-group-addon" *ngIf='checkbox'>
    <input 
      type="checkbox" 
      [(ngModel)]='checked'
      > {{ checkboxLabel }}
  </span>
  <input 
    #inputEle 
    #inputModel='ngModel' 
    type="text" 
    class="form-control form-control-sm" 
    [disabled]='checkbox && checked'
    [(ngModel)]='value' 
    [required]='required' 
    [placeholder]="placeholder">
  <span class="input-group-btn">
    <!-- <button class="btn btn-outline-primary" type="button" (click)='onCancel()'><i class="fa fa-times" aria-hidden="true"></i></button>
    <button 
      class="btn btn-primary" type="button" 
      [disabled]='!canConfirm()'
      (click)='onConfirm()'
      ><i class="fa fa-check" aria-hidden="true"></i></button> -->
    <button class="mat-icon-button custom-button"  (click)='onCancel()'>
      <i class="material-icons custom-clear" matTooltip="{{i18n('Cancel')}}" aria-label="clear" i18n-matTooltip>clear</i>
    </button>
    <button class="mat-icon-button custom-button" [disabled]='!canConfirm()' (click)='onConfirm()'>
      <i class="material-icons" [ngClass]="{'custom-check': canConfirm()}" matTooltip="{{i18n('Confirm')}}" aria-label="check" i18n-matTooltip>check</i>
    </button>
  </span>
</div>