<div class='card panel-sm'>
  <div class='card-header'>
    {{title}}
  </div>
  <div class='card-body'>
    <div class="customCard card">
      {{description}}
    </div><br>
    <div class="row" *ngFor='let choice of choices; let i = index;'>
      <div class="col-sm-9">
        <label class='control-label control-label-normal'>{{choice}}</label>
      </div>
      <div class="col-sm-3">
        <mat-slide-toggle [checked]="isSelected(i)" (change)='onSelect(i, $event)' color="primary">
        </mat-slide-toggle> 
        <!-- <toggle-switch
          [value]='isSelected(i)'
          (valueChange)='onSelect(i, $event)'
          [size]='"mini"'
        ></toggle-switch> -->
    </div>
  </div>
</div>
