.custom-mat-card.mat-card {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 150px;
    overflow-y: auto;
}

.overlayIconBase {
    font-size: 1.15em;
    line-height: 1.15em;
    height: 1.15em;
    width: 1.15em;
    margin-right: .75em;
}

.entry_label {
    font-size: 'Source Sans Pro';
    font-family: 'Source Sans Pro';
    font-stretch: ultra-condensed;
    font-weight: 500;
    font-size: calc(8px + .5vh);
    color: #062E79; 
    padding-top: 0.65em;
    padding-bottom: 0.65em;
    position: relative;
    padding-right: 1em;
    padding-left: 1em;
}

.fa-stack-small {
    height: 1.5em;
    color: #062E79; 
}

.custom-list {
    padding: 12px;
    /* margin-left: 4%;
    margin-top: 2%; */
    overflow-y: auto;
    height: calc(100% - 3.5em);
    max-height: calc(20vh - 3.5em);
    /* height: 10vh;
    overflow-y: auto; */
}

.mat-card-content>:first-child, .mat-card>:first-child {
    margin-top: 2%;
}

.custom-clear {
    color: #062E79; 
    float: right;
}

::ng-deep .mat-expansion-panel-body {
    min-height: 10vh !important;
    max-height: 70vh !important;
    overflow: auto !important;
}

.sidebar-header {
    font-size: 0.85em;
    line-height: 1;
    height: 3.5em;
	position: relative;
	padding: 0;
	padding-top: .25em;
	padding-bottom: .25em;
	padding-right: 1em;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 1px;
	/* background: #2a2c36; */
	/* border-bottom: 1px solid #062f79; */
	background: #062f79;
    color: white;

    width: 100%;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.sidebar-header-span {
    padding: 1.0em 1.75em 1.5em 1.5em;
    width: 100%;
}