.wrapper {
  height: 65vh;
  position: relative;
  padding: 15px;
}

.editor-wrapper {
  height: 100%;
}

.editor-body {
  height: calc(100% - 31px);
  max-height: calc(100% - 31px);
  overflow: auto;
  padding-top: 10px;
}

.uploader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background:rgba(0,0,0,0.5); 
  height: 100%;
  width: 100%;
  justify-content: center;
  z-index: 99;
}

.uploader {
  width: 400px;
}