@import url("assets/font/ams-icon.css");

.mat-grid-tile {
  background-color: white;
  overflow-y: auto !important;
  height: 100%;
}

.full-top {
  height: 100%;
  width: 100%; 
  top: 0px;
}

.slide-content {
  margin-left: 1% !important;
  height: 100%;
  overflow: hidden;
}

.save-button {
  position: absolute;
  right: 16px;
  bottom: 12px;
}

.mat-grid-tile .mat-figure {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flow-root !important;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.mat-card {
  font-family: inherit !important;
  min-height: max-content;
}

.mat-grid-list {
  height: calc(100vh - 182px);
}

/* Material Icons*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/font/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* Material Icons*/


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("assets/uxpl/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

body {
  font-family: 'Source Sans Pro';
  -webkit-font-smoothing: antialiased;
}

.full-width {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
label {
    /* color: #34495e; */
    color: #062E79;
}

ul{
  list-style-type: none;
}

div.modal-body {
  font-size: 14px;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
  color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}

.content-subhead i {
    margin-right: 7px;
}

.toast-top-center {
  top: -6px !important;
}

#toast-container > div {
  /* height: 65px !important; */
  width: 33vw !important;
  /* display: table !important; */
  /* padding: 5px 5px 5px 40px !important; */
}

.toast-close-button {
  position: absolute !important;
  right: 0.2em !important;
  top: 0.0em !important;
}
.toast-content {
  vertical-align: middle !important;
  display: table-cell !important;
} 

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.opague {
  opacity: 0.68;
}

.lightgray {
  color: lightgray!important;
}

.gray {
  color: gray!important;
}

div.round-background {
  border-radius: 4px;
}

div.panel-heading-sm {
  font-size: 14px;
}

div.panel-body-sm {
  font-size: 14px;
}


div.panel-sm {
  font-size: 14px;
}

div.panel-xs {
  font-size: 13px;
}

.list-group-sm {
  font-size:14px;
}

.control-label {
  font-size: 14px;
  font-style: normal;
}

.control-label-normal {
  font-weight: normal;
}

.line-cross {
  text-decoration: line-through;
}

.list-group-scroll {
  max-height: 500px;
  overflow: auto;
}

/**
 * Grid
 */

#main-body {
  font-size: 14px;
  background-color: #f8f8f8;
}

body {
  font-size: 14px;
  overflow: hidden!important;
}

div.diff-edit {
  background-color: lightsalmon;
}
div.diff-edit-lhs {
  background-color: #ffc700;
}
div.diff-new {
  background-color: lightgreen;
}
div.diff-new-lhs {
  background-color: #00d2b9
}
div.diff-delete {
  background-color: lightcoral;
}
div.diff-delete-lhs {
  background-color: #ffa4a4;
}
div.diff-conflict {
  background-color: lightgrey;
}
div.table-cell {
  background: repeating-linear-gradient(
    -45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
label.prop-label {
  border: 0px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
label.diff-new {
  border-left-color: lightgreen;
}

label.diff-edit {
  border-left-color: lightsalmon;
}

label.diff-delete {
  border-left-color: lightcoral;
}

label.diff-new-lhs {
  border-left-color: #00d2b9;
}

label.diff-edit-lhs {
  border-left-color: #ffc700;
}

label.diff-delete-lhs {
  border-left-color: #ffa4a4;
}

label.diff-conflict {
  border-left-color: gray;
}

.diff-oldvalue {
  font-size: 12px;
  opacity: 0.6;
}

.candidate-select {
  display: inline-block;
}
.candidate-select a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.no-decoration a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.clickable:hover {
  cursor: pointer;
}

.clickable-forbid{
  cursor: not-allowed;
  opacity: 0.5;
}

.inactive {
  cursor: not-allowed;
  opacity: 0.7;
}

.clickable:hover, .clickable:visited, .clickable:link, .clickable:active {
  text-decoration: none;
}

.view-diff {
  display: inline-block;
}

.disabled-candidate {
  cursor: not-allowed;
  opacity: 0.5;
}

div.padded-container {
  padding-top: 10px;
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

.context-menu-item {
  font-size: 14px;
}

.context-menu-list {
  z-index: 1008 !important;
}

.btn:focus,
.btn:active,
.ui-select-container:focus,
.ui-select-container:active,
.accordion-toggle:focus,
.accordion-toggle:active
{
   outline: none !important;
}

.btn-narrow {
  width: 6em;
}

.btn-short {
  line-height: .8em;
}

.btn-wide {
  width: 8em;
}

.label-as-badge {
    border-radius: 1em !important;
}
.label-as-indicator {
    font-size: 13px !important;
    font-weight: lighter !important;
    border-radius: 1em !important;
}

.modal-editor {
  width: 80% !important;
  max-height: 90vh;
}

.modal-editor-sm {
  width: 70% !important;
}

.modal-wide {
  width: 700px !important;
}

.modal-extra-wide {
  width: 900px !important;
}

.modal-maximize {
  width: 90% !important;
  height: 90% !important;
}

div.btn-area {
  padding-bottom: 1em;
}

.left-pad {
  padding-left: 1em !important;
}
.right-pad {
  padding-right: 1em !important;
}
.top-pad {
  padding-top: 1em !important;
}
.bottom-pad {
  padding-bottom: 1em !important;
}

.bottom-pad-sm {
  padding-bottom: 0.5em !important;
}

.bootstrap-switch-container{
  white-space:nowrap;
}

.divider-bottom {
  border-bottom: 1px solid lightgray;
}

.divider-top {
  border-top: 1px solid lightgray;
}

.divider-left {
  border-left: 1px solid lightgray;
}
.divider-right{
  border-right: 1px solid lightgray;
}

.monospace {
  font-family: 'Inconsolata', Consolas, monaco, Lucida Console, monospace !important;
}

.alert {
  padding: 5px 35px 5px 15px;
  margin-bottom: 10px;
  position: absolute;
}

.cursor-progress {
  cursor: progress;
}

.context-menu-item {
  font-family: Arial, Helvetica, sans-serif !important;
}

.request-progress .progress {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999999;
  height: 3px!important;
  background-color: #FFFFFF !important;
  opacity: 0.618;
}

div.page {
  height: 450px;
}

div.page-lg {
  height: 500px;
}

div.page-body {
  max-height: 410px;
  overflow: auto;
}

div.page-col {
  height: 380px;
}

div.page-col-xs {
  height: 430px;
}

div.page-col-xs {
  height: 350px;
}

div.scroll-y {
  overflow-y: auto;
}

div.scroll-x {
  overflow-x: auto;
}

.no-overflow {
  overflow: hidden !important;
}

/**
 * Controls how much space below and above the tab text
 */
.nav-pills > li > a {
  padding: 5px 10px !important;
}

.nav-tabs > li > a {
  padding: 5px 10px !important;
  background-color: #F5F5F5 !important;
  border-radius: 2px 2px 0 0 !important;
  margin-left: -1px;
  border-left: 1px solid #E6E8EA !important;
  border-top: 1px solid #E6E8EA !important;
  border-right: 1px solid #E6E8EA !important;
  border-bottom: 0 !important;
}

.nav-tabs > li.active > a {
  background-color: #FFF !important;
}

.custom-tab > a.active {
  background-color: transparent!important;
  color: #337ab7 !important;
}

.custom-tab > a.active::after {
  content:"";
  background: lightgray;
  position: absolute;
  bottom: 0;
  left: 3%;
  height: 2px;
  width: 94%;
}

.custom-tab > a {
  position: relative;
  padding-left: 1px !important;
  border-bottom: 3px solid transparent;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.callout::before {
  content:"";
  background: #EEEEEE;
  position: absolute;
  left: 0;
  bottom: 15%;
  height: 70%;
  width: 4px;
  z-index: 100;
}

.callout-lg::before {
  width: 6px;
  top: 0%;
  bottom: 0%;
  height: 75%;
}

.callout-info::before {
  background: #a0dfff;
}

.callout-success::before {
  background: #35a550;
}

.callout-warning::before {
  background: #ffe950;
}

.callout-danger::before {
  background: #ff6868;
}

.text-success {
  color: #35a550;
}

.text-default {
  color: #000000;
}

.text-info {
  color: #a0dfff;
}

.text-warning {
  color: #ffe950;
}

.text-danger {
  color: #ff6868;
}

i.error {
  color: #E51400;
}

i.warning {
  color: #FFBB00;
}

a.selected {
  font-weight: bold;
  background-color: #337ab7 !important;
  color: #ffffff !important;
}

.success-tab::before {
  content:"";
  background: #35a550;
  position: absolute;
  bottom: 15%;
  left: 0;
  height: 70%;
  width: 4px;
  z-index: 100;
}

.info-tab::before {
  content:"";
  background: #a0dfff;
  position: absolute;
  bottom: 15%;
  left: 0;
  height: 70%;
  width: 4px;
  z-index: 100;
}

.warning-tab::before {
  content:"";
  background: #ffe950;
  position: absolute;
  bottom: 15%;
  left: 0;
  height: 70%;
  width: 4px;
  z-index: 100;
}

.danger-tab::before {
  content:"";
  background: #ff6868;
  position: absolute;
  bottom: 15%;
  left: 0;
  height: 70%;
  width: 4px;
  z-index: 100;
}

.max-height {
  overflow-y: auto;
}

.max-height-sm {
  max-height: 128px;
}

.text-editor > .CodeMirror {
  height: calc(100%) !important;
}

.CodeMirror {
	height: auto;
}

.terminal {
  font-family: 'Inconsolata', Consolas, monaco, Lucida Console, monospace !important;
}

.terminal .xterm-viewport {
  overflow: auto !important;
}

.btn-social.btn-simple {
  background-color: #318dde;
  color: #FFFFFF;
}

.btn-social.btn-simple:hover {
  background-color: #4E9DE3;
  color: #FFFFFF;
}

.btn-social > span.fa-simple {
  border: 0;
}

ul.nav-tabs {
  border-bottom: 1px solid transparent !important;
}

.nav-tabs > li.panel-tab > a {
  height: 20px;
  width: 64px;
  font-size: 13px;
  font-weight: 200;
  text-align: center;
  padding: 0px 5px 0px 5px !important;
}

/**
 * Make the refresh glyphicon to spin
 */
.glyphicon-refresh-spin {
    animation: spin 1s infinite linear;
    -animation: spin 1s infinite linear;
    -ms-animation: spin 1s infinite linear;
    -webkit-animation: spinw 1s infinite linear;
    -moz-animation: spinm 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@keyframes spinm {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

.bg-default {
  background-color: #E6E8EA!important;
}

ag-grid-ng2 {
  font-size: 13px !important;
}

/*
 * -- tablet (and up) media queries --
 * on tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* we increase the body font size */
    body {
        font-size: 16px;
        padding-top:0;
        background-color: #E6E8EA!important;
    }

    /*.pull-right {
      float: right;
    }*/
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
}
.popover {
  max-width: 100% !important;
}

.popover-content {
  display: inline-flex;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.SingleFilter {
  position: relative;
  left: -15px !important;
  padding: 10px 10px 10px 0px;
  margin-bottom: 5px;
  height: 52px !important;
}

div.MultiFilterClient {
  padding : 10px 10px 10px 5px !important;
}
div.removeFilter {
  position: relative!important;
  top: 4px!important;
}

div.removeMultiFilter {
  position: relative!important;
  left: 4px!important;
}

div.addMultiFilterClient {
  position: relative!important;
  left: -10px!important;
  padding: 10px 10px 10px 0px;
}

.form-control.ui-select-search {
  font-size: 12px;
  padding-left: 5px !important;
}

.ui-select-choices-row > a {
  font-size: 12px !important;
}

.ui-select-choices-row > a > div {
  pointer-events: none;
}

.ui-select-toggle {
  font-size: 12px !important;
  padding: 8px 5px !important;
}

.ws-diff-legend {
  /*width: 10px;
  height: 10px;
  padding: 0 10px 0 0;
  border: 1px solid #888;*/
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 12px;
  border: 1px solid #888;
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
}

.ws-diff-legend-descrip {
  padding: 0 5px 0 1px;
  margin: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  display:inline;
  position: relative;
  bottom: 2px;
}

.ws-diff-background-delete {
	color: #000000;
  background-color: lightcoral;
}

.ws-diff-background-add {
	color: #000000;
  background-color: lightgreen;
}

.ws-diff-background-modify {
	color: #000000;
  background-color: rgba(255, 215, 0, 0.7);

}

.ws-regular-background-disabled {
	color: #000000;
  background-color: lightgray;
}

.ws-diff-background-conflict {
    /*background-color: #ffff00*/
  /*background-color: lightsalmon;*/
  /*background-color: #daa671;*/
  background-color: rgba(255, 166, 0, 0.8)
}

.editor-loader-panel-body {
  height: calc(100vh - 185px);
}

.legend-well {
    min-height: 40px;
    margin-left: -15px;
    padding: 1px 5px 16px 0px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    width: max-content;
    position: sticky;
    left: 74%;
}

.pull-right-legends{
  float: right !important;
  right: 0;
  top: 10px !important;
}

/*  drag and drop styling */
/* Draggable*/

.drag-border {
    border: #ff525b dashed 2px;
}

.drag-handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.drag-handle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* Droppable */

.drag-hint-border {
    border: #3c763d dashed 2px;
}

.drag-over-border {
    border: #fbbc05 dashed 2px;
}

/* Misc Animations */
.animation {
   -webkit-animation-duration: .75s;
   animation-duration: .75s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}
.scale {
   -webkit-animation-duration: .75s;
   animation-duration: .75s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-name: scale;
   animation-name: scale;
   -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
 }
.bounce-grow {
   -webkit-animation-duration: .75s;
   animation-duration: .75s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-name: bounce-grow;
   animation-name: bounce-grow;
     -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
 }
@keyframes bounce-grow {
   0% {transform: scale(1) translateY(0px);}
   50% {transform: scale(2.5) translateY(-15px);}
   100% {transform: scale(1) translateY(0px);}
}
@keyframes scale {
   0% {transform: scale(1);}
   25% {transform: scale(3);}
   100% {transform: scale(1);}
}
@keyframes leftarrow {
  0% { -webkit-transform: translateX(0); opacity: 0.4 }
  100% { -webkit-transform: translateX(-0.4em); opacity: 0.9 }
}
@keyframes uparrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(-0.4em); opacity: 0.9 }
}
@keyframes downarrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}
.arrow {
  border-color:transparent;
  border-style:solid;
  border-width:0 3em;
  display:block;
  height:0;
  margin:10em auto;
  opacity:0.4;
  text-indent:-9999px;
  transform-origin: 50% 50%;
  width:0;
}
.bounceup {
  -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
  animation: uparrow 0.6s infinite alternate ease-in-out;
  border-bottom:3em solid #fd7821;
}
.bouncedown {
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
  animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top:3em solid #fd7821;
}
.bounceleft {
  -webkit-animation: leftarrow 0.6s infinite alternate ease-in-out;
  animation: leftarrow 0.6s infinite alternate ease-in-out;
  border-width: 3em 0;
  border-right:3em solid #fd7821;
  /* border-right:3em solid #00b6f1; */
}

.bounceright {
  -webkit-animation: leftarrow 0.6s infinite alternate ease-in-out;
  animation: leftarrow 0.6s infinite alternate ease-in-out;
  border-width: 3em 0;
  border-left:3em solid #fd7821;
  /* border-right:3em solid #00b6f1; */
}
/* tooltips */
.animated {
   padding:5px;
   -webkit-animation-duration: .3s;
   animation-duration: .3s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
   0% {opacity: 0;}
   75% {opacity: 0;}
   100% {opacity: .8;}
}

@keyframes fadeIn {
   0% {opacity: 0;}
   75% {opacity: 0;}
   100% {opacity: .8;}
}

.fadeIn {
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}

 .parentDiv {
  display: inline !important;
}

.notification-overlay {
  position: absolute;
  left: 30px;
  top: 10px;
}

.btn-xs {
    padding: .25rem .5rem;
    font-size: .75rem;
    line-height: 1.0;
    border-radius: .2rem;
}

.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop.in {
  opacity: 0.5;
}

@media (min-width: 1292px) {
  .modal-extra-wide {
    max-width: 1200px;
  }
  .modal-maximize {
    max-width: 90%;
  }
}

.form-control-short {
	height: calc(1.5rem + 2px);
}

.history-entries{
	font-size: .875em;
}

.sidebar-header .button-primary-call {
  float: left;
  margin-bottom: -2.5em;
  margin-left: .5em;
}

.button-primary-call {
  background-color: #fd7821;
  border-color: #fd7821;
  color: #ffffff;
}
.ams-button-primary-call {
    padding: 12px 36px;
    line-height: 1.3333333;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    color: #ffffff;
    background-color: #fd7821;
    border-color: #fd7821;
    border-width: 0;
    border-style: solid;
    cursor: pointer;
    font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    outline: none;
}
.ams-main {
  min-height: 100%;
  width: 100%;
  position: absolute;
}

.ams-welcome {
  padding-top: 10vh;
  padding-bottom: 10vh;
  /* padding-top: 48px; */
  margin-top: 4%;
  text-align: center;
  color: #b5b5b5;
  width: 500px;
  display: table;
  margin: 0 auto;
}

.image-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.app-empty-space .app-empty-label {
  margin-top: 24px;
  font-family: 'Source Sans Pro';
  font-size: 24px;
  color: #9b9b9b
}

.app-empty-space .app-empty-message {
  margin-top: 20px;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  color: #000
}

.welcome-push-cloud {
  background: url('assets/img/push-cloud.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 32px;
  height: 27px
}

.welcome-app-create {
  background: url('assets/img/emptylist.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 430px;
  height: 328px;
  margin: 0px auto 0 auto;
  cursor: default
}

/* Override giant red 'X' on tabs */
.bs-remove-tab {
    position: relative;
    font-size: 0em;
}

.bs-remove-tab::after {
    content: "\f00d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*     color: #F44336; */
    font-size: 13px;
    padding-right: 0.3em;
    left: 0.3em;
    position: relative;
    top: -4px;
}

/* Override blue as inactive and grey as active */
.nav-tabs > li.active {
  color: #062e79;
  border-bottom: 2px solid #062e79;
}

.nav-tabs > li.active > a{
	color: #062e79 !important;
/* 	color: #007bff !important; */
}

.mat-tab-label-active {
	color: #062e79 !important;
}

.nav-tabs > li {
	margin-left: 3px;
	margin-right: 3px;
}

.nav-tabs > li > a{
	color: #6c757d !important;
}

/* .nav-tabs > li > a:hover{
  background-color: #6c757d !important;
}
 */

 .navbar-backdrop {
	position: fixed;
    z-index: 9998;
    background-color: hsla(0,0%,44%,.75);
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
    width: calc(100% - 480px);
 }

 .hide-navbar-menu {
	/* width: 480px; */
	height: calc(100% - 74px);
	-webkit-animation-name: slideOutRight;
          animation-name: slideOutRight;
    -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.hide-navbar-menu-rtl {
	/* width: 480px; */
	height: calc(100% - 74px);
	-webkit-animation-name: slideOutLeft;
          animation-name: slideOutLeft;
    -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.show-navbar-menu {
	/* width: 480px; */
	height: calc(100% - 74px);
  -webkit-animation-name: slideInFromRight;
          animation-name: slideInFromRight;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.show-navbar-menu-rtl {
	/* width: 480px; */
	height: calc(100% - 74px);
  -webkit-animation-name: slideInFromLeft;
          animation-name: slideInFromLeft;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

@-webkit-keyframes slideInFromRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInFromRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
	display: none;
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
	visibility: hidden;
	display: none;
  }
}

/*  cloud */
.tc-icon-tray {
  right: 0;
  width: 394px;
  min-width: 20%;
  height: 40px;
  top: 0;
  float: right;
  z-index: -9999;
  background-color: #062e79;
}
.tc-icon-trayrtl {
  left: 0;
  width: 394px;
  min-width: 20%;
  margin-left: 2%;
  height: 40px;
  top: 0;
  float: left;
  z-index: -9999;
  background-color: #062e79;
}

.tc-icon-tray.active,
.tc-icon-trayrtl.active {
  background-color: #fff;
  border-bottom: #052662 1px solid;
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item {
  position: relative;
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.active:before {
  content: "";
  display: block;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #062e78;
  position: absolute;
  bottom: -22%;
  left: 9%;
}
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.active:before {
  content: "";
  display: block;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #062e78;
  position: absolute;
  bottom: -22%;
  right: 9%;
}

.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.profile,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.profile {
  background-image: url('assets/uxpl/img/ic-profile-inactive.svg');
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.profile:hover,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.profile:hover {
  background-image: url('assets/uxpl/img/ic-profile-hover.svg');
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.profile:hover .tc-profile-name,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.profile:hover .tc-profile-name {
  color: #0081cb;
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.profile .tc-profile-name,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.profile .tc-profile-name {
  color: #8197c0;
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.profile.active,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.profile.active {
  background-image: url('assets/uxpl/img/ic-profile-active.svg');
  opacity: 1;
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.profile.active .tc-profile-name,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.profile.active .tc-profile-name {
  color: #062e79;
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.profile :after,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.profile :after {
  content: url('assets/uxpl/img/ic-profile-hover.svg') url('assets/uxpl/img/ic-profile-active.svg');
  width: 0;
  height: 0;
  display: none;
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.notifications,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.notifications {
  background-image: url('assets/uxpl/img/ic-notifications-inactive.svg');
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.notifications:hover,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.notifications:hover {
  background-image: url('assets/uxpl/img/ic-notifications-hover.svg');
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.notifications.active,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.notifications.active {
  background-image: url('assets/uxpl/img/ic-notifications-active.svg');
  opacity: 1;
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.notifications:after,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.notifications:after {
  content: url('assets/uxpl/img/ic-notifications-hover.svg') url('assets/uxpl/img/ic-notifications-active.svg');
  width: 0;
  height: 0;
  display: none;
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.picker,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.picker {
  background-image: url('assets/uxpl/img/ic-product-picker-inactive.svg');
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.picker:hover,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.picker:hover {
  background-image: url('assets/uxpl/img/ic-product-picker-hover.svg');
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.picker.active,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.picker.active {
  background-image: url('assets/uxpl/img/ic-product-picker-active.svg');
  opacity: 1;
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.picker:after,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.picker:after {
  content: url('assets/uxpl/img/ic-product-picker-hover.svg') url('assets/uxpl/img/ic-product-picker-active.svg');
  width: 0;
  height: 0;
  display: none;
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.help,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.help {
  background-image: url('assets/uxpl/img/ic-help-inactive.svg');
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.help:hover,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.help:hover {
  background-image: url('assets/uxpl/img/ic-help-hover.svg');
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.help.active,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.help.active {
  background-image: url('assets/uxpl/img/ic-help-active.svg');
  opacity: 1;
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.help:after,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.help:after {
  content: url('assets/uxpl/img/ic-help-hover.svg') url('assets/uxpl/img/ic-help-active.svg');
  width: 0;
  height: 0;
  display: none;
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.search,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.search {
  background-image: url('assets/uxpl/img/ic-search-inactive.svg');
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.search:hover,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.search:hover {
  background-image: url('assets/uxpl/img/ic-search-hover.svg');
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.search.active,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.search.active {
  background-image: url('assets/uxpl/img/ic-search-active.svg');
  opacity: 1;
}
.tc-icon-tray.active .tc-global-header-nav .tc-header-nav-item.search:after,
.tc-icon-trayrtl.active .tc-global-header-nav .tc-header-nav-item.search:after {
  content: url('assets/uxpl/img/ic-search-hover.svg') url('assets/uxpl/img/ic-search-active.svg');
  width: 0;
  height: 0;
  display: none;
}
.tc-icon-tray .tc-global-header-nav {
  margin: 0 3em 0 1.5em;
  list-style-type: none !important;
  cursor: pointer;
  display: table-row;
  position: relative;
  float: right;
}
.tc-icon-trayrtl .tc-global-header-nav {
  margin: 0 3em 0 1.5em;
  list-style-type: none !important;
  cursor: pointer;
  display: table-row;
  position: relative;
  float: left;
}
.tc-icon-tray .tc-global-header-nav .tc-header-nav-item {
  display: table-cell;
  background-repeat: no-repeat;
  height: 2em;
  width: 2em;
  padding: 0.8em 3.2em 0 0;
  background-position: left 0.5em;
  opacity: 0.75;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.3px;
  color: #fff;
  white-space: nowrap;
  position: relative;
  float: right;
}
.tc-icon-trayrtl .tc-global-header-nav .tc-header-nav-item {
  display: table-cell;
  background-repeat: no-repeat;
  height: 2em;
  width: 2em;
  padding: 0.8em 3.2em 0 0;
  background-position: left 0.5em;
  opacity: 0.75;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.3px;
  color: #fff;
  white-space: nowrap;
  position: relative;
  float: left;
}
.tc-icon-tray .tc-global-header-nav .tc-header-nav-item.profile,
.tc-icon-trayrtl .tc-global-header-nav .tc-header-nav-item.profile {
  margin-right: 4em;
  background-image: url('assets/uxpl/img/ic-profile.svg');
}
.tc-icon-tray .tc-global-header-nav .tc-header-nav-item.notifications,
.tc-icon-trayrtl .tc-global-header-nav .tc-header-nav-item.notifications {
  background-image: url('assets/uxpl/img/ic-notifications.svg');
}
.tc-icon-tray .tc-global-header-nav .tc-header-nav-item.picker,
.tc-icon-trayrtl .tc-global-header-nav .tc-header-nav-item.picker {
  background-image: url('assets/uxpl/img/ic-product-picker.svg');
}
.tc-icon-tray .tc-global-header-nav .tc-header-nav-item.help,
.tc-icon-trayrtl .tc-global-header-nav .tc-header-nav-item.help {
  background-image: url('assets/uxpl/img/ic-help.svg');
}
.tc-icon-tray .tc-global-header-nav .tc-header-nav-item.search,
.tc-icon-trayrtl .tc-global-header-nav .tc-header-nav-item.search {
  background-image: url('assets/uxpl/img/ic-search-header.svg');
}
.tc-icon-tray .tc-global-header-nav .tc-header-nav-item .tc-profile-name,
.tc-icon-trayrtl .tc-global-header-nav .tc-header-nav-item .tc-profile-name {
  padding-left: 2em;
}
.tc-navigation-primary {
  width: 700px;
  height: 40px;
  background-color: #ffffff;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.tc-navigation-primary .tab {
  padding: 12px 0px;
  display: inline-block;
  width: 54px;
  height: 40px;
  /*font-family: SourceSansPro;*/
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.3px;
  text-align: center;
  color: #0081cb;
  margin: 0 12px;
  cursor: pointer;
}
.tc-navigation-primary .active {
  /*width: 54px;
    height: 4px;
    background-color: #062e79;*/
  color: #062e79;
  border-bottom: 4px solid #062e79;
}

.tc-global-header {
  height: 40px;
  background-color: #062e79;
  top: 0;
  position: fixed;
  z-index: 9999;
  width: 100%;
}
.tc-global-header .header-logo {
  padding-left: 24px;
  float: left;
  background: url('assets/img/tibco-cloud-logo-white.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 20%;
}

.tc-global-header .webstudio-logo {
  padding-left: 24px;
  float: left;
  background: url('assets/img/webstudio-logo.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 20%;
  margin-left: 2%;
}
.tc-global-header .webstudio-logo-rtl {
  padding-left: 24px;
  float: right;
  background: url('assets/img/webstudio-logo.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 20%;
  margin-right: 2%;
}
.tc-global-header .header-title {
	color: #FFF;
	height: 100%;
	float: left;
	font-weight: 500;
	padding-top: 4px;
}

.tc-global-header .header-icon {
  padding-left: 24px;
  float: right;
  padding-top: 8px;
}
.tc-global-header .profile-name {
  width: 92px;
  height: 14px;
  opacity: 0.75;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
  float: right;
  margin-right: 14px;
  margin-left: 14px;
  padding-top: 12px;
}
.tc-global-header .profile-namertl {
  width: 92px;
  height: 14px;
  opacity: 0.75;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
  float: left;
  margin-right: 14px;
  margin-left: 14px;
  padding-top: 12px;
}
.tc-container-background {
  display: none;
  height: 100%;
  width: 80%;
  left: 0;
  position: fixed;
  z-index: -9999;
  background-color: rgba(112, 112, 112, 0.75);
  top: 0;
  cursor: pointer;
}

.call-to-action {
	background-color: #ff7800;
  border-color: #ff7800;
}

.audit-trail-model .mat-dialog-container {
    overflow: hidden !important;
}

.right-margin {
  margin-right: 5px;
}